@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanGuarantorDTO

@{
    ViewBag.Title = "Attach Guarantor";
}

<!-- _Layout.cshtml or individual views -->
<link href="~/Scripts/css/tabbing2.css" rel="stylesheet" />

<!--<style>
        /* Styling the HR tag */
    hr {
        border: 0; /* Remove the default border */
        height: 2px; /* Set the height of the line */
        background-image: linear-gradient(to right, #4d4d4d, #333333, #4d4d4d); /* Use darker gradient as the background */
        margin: 20px 0; /* Add some spacing above and below the line */
    }

        /* Adding a fancy animation on hover */
        hr:hover {
            animation: pulse 1s infinite; /* Apply the pulse animation on hover */
        }-->
@*@keyframes pulse {s
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }*@
<!--</style>-->


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Loaning</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AttachGuarantor", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Attach Guarantor</h2>
                    <hr />

                    @Html.ActionLink("Back to Loan Registrationn", "Create", "LoanRegistration", new { Area = "Loaning" }, new { @class = "btn btn-secondary" })

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success">
                        <strong>Failed !</strong> @TempData["AlertMessage"]

                        <button type="button" class="close" data-dismiss="alert">
                            <span>
                                &times;
                            </span>
                        </button>
                    </div>
                }

                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "AttachGuarantor", new { Area = "Loaning" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h1>Loan Guarantor Attachment</h1>
                        <fieldset>
                            <center title="Link a loanee"><h3><u> Loanee Linkage</u></h3></center>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    @Html.LabelFor(model => model.LoanCaseCaseNumber, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.LoanCaseCaseNumber)
                                        @Html.TextBoxFor(model => model.LoanCaseCaseNumber, new { @id = "LoanCaseCaseNumber", @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Loan..." })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#companyLookupModal" @*onclick="captureDetails();"*@><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-9 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoaneeCustomerId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoaneeCustomerId)
                                        @Html.EditorFor(model => model.CustomerFullName, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerFullName",
                                                @class = "form-control required",
                                                @placeholder = "Loanee",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoaneeCustomerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCaseAmountApplied, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.LoanCaseAmountApplied, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.LoanCaseAmountApplied, new { htmlAttributes = new { @id = "LoanCaseAmountApplied", @class = "form-control required", @placeholder = "Kshs.0.00", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerReference1, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.CustomerReference1)
                                        @Html.EditorFor(model => model.CustomerReference1, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Account number",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.CustomerReference1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerReference2, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerReference2, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @id = "CustomerReference2",
                                           @class = "form-control",
                                           @placeholder = "Membership Number",
                                           disabled = "disabled"
                                       }
                                   })
                                        @Html.ValidationMessageFor(model => model.CustomerReference2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <center title="Link a Guarantor"><h3><u>Guarantor Linkage</u></h3></center>


                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(model => model.CustomerId, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.TextBoxFor(model => model.GuarantorCustomerFullName, new { @id = "GuarantorCustomerFullName",  @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Guarantor..." })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#GuarantorLookupModal" onclick="captureDetails();"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.GuarantorIndividualPayrollNumbers, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.GuarantorIndividualPayrollNumbers, new { htmlAttributes = new { @id = "GuarantorIndividualPayrollNumbers", @class = "form-control required", @placeholder = "Payroll Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.GuarantorIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CommittedShares, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.CommittedShares, new { htmlAttributes = new { @id = "CommittedShares", @class = "form-control required", @placeholder = "Kshs.0.00", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CommittedShares, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.GuarantorCustomerSerialNumber, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.GuarantorCustomerSerialNumber, new { htmlAttributes = new { @id = "GuarantorCustomerSerialNumber", @class = "form-control", @placeholder = "Serial Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.GuarantorCustomerSerialNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerPersonalIdentificationNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerPersonalIdentificationNumber, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @id = "CustomerPersonalIdentificationNumber",
                                           @class = "form-control required",
                                           @placeholder = "Personal Identification Number",
                                           @readonly = "readonly"
                                       }
                                   })
                                        @Html.ValidationMessageFor(model => model.CustomerPersonalIdentificationNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="col-md-9 form-group">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.GuarantorEmployerId, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.GuarantorEmployerId, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control required",
                                        @placeholder = "Employer",
                                        @readonly = "readonly"
                                    }
                                })
                                @Html.ValidationMessageFor(model => model.GuarantorEmployerDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TotalShares, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.TotalShares, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Kshs.0.00", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.TotalShares, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AmountGuaranteed, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.AmountGuaranteed)
                                        @Html.ValidationMessageFor(model => model.AmountGuaranteed, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.AmountGuaranteed, new { htmlAttributes = new { @id = "AmountGuaranteed", @class = "LoanPurposesLookup form-control required", @placeholder = "Kshs.0.00" } })
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                @*<div class="col-md-9 form-group">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.GuarantorStationId, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.GuarantorStationId, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Station", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.GuarantorStationDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                            </div>
                        </fieldset>
                    
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="companyLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Loanee Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="companiesGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="GuarantorLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Guarantor Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="guarantorsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });




            $('#companiesGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "LoanRegistration", new { Area = "Loaning" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Loaning/AttachGuarantor/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(5)', nRow).html(dt_Created);
                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [
                    { "mDataProp": "CaseNumber", "sTitle": "Loan Number", "sWidth": "15%" },
                    { "mDataProp": "CustomerFullName", "sTitle": "Loanee" },
                    { "mDataProp": "CustomerReference1", "sTitle": "Account Number" },
                    { "mDataProp": "CustomerReference2", "sTitle": "Membership Number" },
                    { "mDataProp": "AmountApplied", "sTitle": "Amount Applied" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "bSortable": false },
                    { "mDataProp": "CreatedDate", "sTitle": "Actions", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#CustomerId').val(data.Id);
        $('#GuarantorByCustomerId').val(data.Id);
        $('input[name=CustomerId]').val(data.Id);
        $('input[name=CustomerIdCustomerId]').val(data.Id);
        $('input[name=CustomerFullName]').val(data.FullName);
        //$('input[name=ChartOfAccountAccountCode]').val(data.AccountCode);
        $('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationZoneDivisionEmployerDescription);
        $('#CustomerStationDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerSerialNumber').val(CustomersMap[item].SerialNumber);
        $('#CustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        $('#CustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#CompanyId').val(CompanyId);
                    $('#GuarantorByCustomerId').val(CompanyId);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });




                                    //Guarantors

            $('#guarantorsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "Customer", new { Area = "Registry" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Loaning/AttachGuarantor/Search/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
                "aoColumns": [
                    { "mDataProp": "FullName", "sTitle": "Name", "sWidth": "20%" },
                    { "mDataProp": "Reference1", "sTitle": "Account Number", "sWidth": "15%" },
                    { "mDataProp": "Reference2", "sTitle": "Membership  Number", "sWidth": "4%" },
                    //{ "mDataProp": "CustomerAddressMobileLine", "sTitle": "Mobile Line Number", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#CustomerId').val(data.Id);
        $('#GuarantorByCustomerId').val(data.Id);
        $('input[name=CustomerId]').val(data.Id);
        $('input[name=CustomerIdCustomerId]').val(data.Id);
        $('input[name=CustomerFullName]').val(data.FullName);
        //$('input[name=ChartOfAccountAccountCode]').val(data.AccountCode);
        $('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationZoneDivisionEmployerDescription);
        $('#CustomerStationDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerSerialNumber').val(CustomersMap[item].SerialNumber);
        $('#CustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        $('#CustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#CompanyId').val(CompanyId);
                    $('#GuarantorByCustomerId').val(CompanyId);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });



            $('.GuarantorCustomersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCustomersAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Customers) {
                            var newCustomersData = [];
                            CustomersMap = {};
                            $.each(Customers, function (i,Customer) {
                                newCustomersData.push(Customer.FullName);
                                CustomersMap[Customer.FullName] = Customer;
                            });
                            process(newCustomersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var customerId = "";
                    CustomerId = CustomersMap[item].Id;
                    $('#LoanGuarantors[0].CustomerId').val(CustomerId);
                    //console.log(CustomerId)
                    return item;
                }
            });
            //Branch typehead starts here
    $       ('.LoanGuarantorsBranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var BranchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#LoanGuarantors[0].LoanCaseBranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
            //LoanPurpose typehead starts here
            $('.LoanPurposesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetLoanPurposesAsync", "LoanPurpose", new { Area = "Loaning" })',
                        { query: query },
                        function (LoanPurposes) {
                            var newLoanPurposesData = [];
                            LoanPurposesMap = {};
                            $.each(LoanPurposes, function (i, LoanPurpose) {
                                newLoanPurposesData.push(LoanPurpose.Description);
                                LoanPurposesMap[LoanPurpose.Description] = LoanPurpose;
                            });
                            process(newLoanPurposesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var loanPurposeId = "";
                    LoanPurposeId = LoanPurposesMap[item].Id;
                    $('#LoanPurposeId').val(LoanPurposeId);
                    //console.log(LoanPurposeId)
                    return item;
                }
            });
            //LoanProduct typehead starts here
            $('.LoanProductsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetLoanProductsAsync", "LoanProduct", new { Area = "Accounts" })',
                        { query: query },
                        function (LoanProducts) {
                            var newLoanProductsData = [];
                            LoanProductsMap = {};
                            $.each(LoanProducts, function (i, LoanProduct) {
                                newLoanProductsData.push(LoanProduct.Description);
                                LoanProductsMap[LoanProduct.Description] = LoanProduct;
                            });
                            process(newLoanProductsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var loanProductId = "";
                    LoanProductId = LoanProductsMap[item].Id;
                    $('#LoanProductId').val(LoanProductId);

                    $('#LoanRegistrationTermInMonths').val(LoanProductsMap[item].LoanRegistrationTermInMonths);
                    $('#LoanRegistrationLoanProductSection').val(LoanProductsMap[item].LoanRegistrationLoanProductSection);
                    $('#LoanInterestAnnualPercentageRate').val(LoanProductsMap[item].LoanInterestAnnualPercentageRate);
                    $('#LoanRegistrationMaximumAmount').val(LoanProductsMap[item].LoanRegistrationMaximumAmount);
                    $('#LoanInterestCalculationMode').val(LoanProductsMap[item].LoanInterestCalculationMode);
                    //console.log(LoanProductId)
                    return item;
                }
            });
            //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var BranchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
            //SavingsProduct typehead starts here
            $('.SavingsProductsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetSavingsProductsAsync", "SavingsProduct", new { Area = "Accounts" })',
                        { query: query },
                        function (SavingsProducts) {
                            var newSavingsProductsData = [];
                            SavingsProductsMap = {};
                            $.each(SavingsProducts, function (i, SavingsProduct) {
                                newSavingsProductsData.push(SavingsProduct.Description);
                                SavingsProductsMap[SavingsProduct.Description] = SavingsProduct;
                            });
                            process(newSavingsProductsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var savingsProductId = "";
                    SavingsProductId = SavingsProductsMap[item].Id;
                    $('#SavingsProductId').val(SavingsProductId);
                    //console.log(SavingsProductId)
                    return item;
                }
            });

            //GuarantorEmployer typehead starts here
    $       ('.LoanGuarantorsEmployersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetEmployersAsync", "Employer", new { Area = "Registry" })',
                        { query: query },
                        function (Employers) {
                            var newEmployersData = [];
                            EmployersMap = {};
                            $.each(Employers, function (i, Employer) {
                                newEmployersData.push(Employer.Description);
                                EmployersMap[Employer.Description] = Employer;
                            });
                            process(newEmployersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var employerId = "";
                    EmployerId = EmployersMap[item].Id;
                    $('#LoanGuarantors[0].EmployerId').val(EmployerId);
                    //console.log(EmployerId)
                    return item;
                }
            });
            //Station typehead starts here
            $('.StationsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetStationsAsync", "Station", new { Area = "Registry" })',
                        { query: query },
                        function (Stations) {
                            var newStationsData = [];
                            StationsMap = {};
                            $.each(Stations, function (i, Station) {
                                newStationsData.push(Station.Description);
                                StationsMap[Station.Description] = Station;
                            });
                            process(newStationsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var StationId = "";
                    StationId = StationsMap[item].Id;
                    $('#StationId').val(StationId);
                    //console.log(StationId)
                    return item;
                }
            });
            //GuarantorStation typehead starts here
    $       ('.LoanGuarantorStationsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetStationsAsync", "Station", new { Area = "Registry" })',
                        { query: query },
                        function (Stations) {
                            var newStationsData = [];
                            StationsMap = {};
                            $.each(Stations, function (i, Station) {
                                newStationsData.push(Station.Description);
                                StationsMap[Station.Description] = Station;
                            });
                            process(newStationsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var StationId = "";
                    StationId = StationsMap[item].Id;
                    $('#LoanGuarantors[0].StationId').val(StationId);
                    //console.log(StationId)
                    return item;
                }
    });

                   });


                // Capture Data to prevent data loss during Lookup
        function captureDetails() {
            var LoancaseNumber = document.getElementById('LoanCaseCaseNumber').value;
            var CustomerFullName = document.getElementById('CustomerFullName').value;
            var LoanCaseAmountApplied = document.getElementById('LoanCaseAmountApplied').value;
            var CustomerReference1 = document.getElementById('CustomerReference1').value;
            var CustomerReference2 = document.getElementById('CustomerReference2').value;

            alert(LoancaseNumber);

            $.ajax({
                url: "/loaning/attachguarantor/LoaneeData",
                type: "POST",
                data: {
                    "LoanCaseCaseNumber": LoancaseNumber,
                    "CustomerFullName": CustomerFullName,
                    "LoanCaseAmountApplied": LoanCaseAmountApplied,
                    "CustomerReference1": CustomerReference1,
                    "CustomerReference2": CustomerReference2,
                },
                success: function (mydata) {
                    alert("Saved");
                },
                error: function (error) {
                    alert('Failed');
                    alert(error.responseText); // Display the error responseText in the alert
                }
            });
        }




        //function captureDetails2() {
        //    var LoancaseNumber = document.getElementById('LoanCaseCaseNumber').value;
        //    var CustomerFullName = document.getElementById('CustomerFullName').value; // Uncommented this line

        //    alert(LoancaseNumber);

        //    $.ajax({
        //        url: "/loaning/attachguarantor/GuarantorData",
        //        type: "POST",
        //        data: {
        //            "LoanCaseCaseNumber": LoancaseNumber,
        //            "CustomerFullName": CustomerFullName
        //        },
        //        //success: function (mydata) {
        //        //    alert("Saved");
        //        //},
        //        //error: function (error) {
        //        //    alert('Failed');
        //        //    alert(error);
        //        //}
        //    });
        //}

       

    </script>
}