@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanGuarantorDTO

@{
    ViewBag.Title = "Attach Guarantor";
}

<!-- _Layout.cshtml or individual views -->
<link href="~/Scripts/css/tabbing2.css" rel="stylesheet" />

<link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Back Office</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AttachGuarantor", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Attach Guarantor</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                @if (TempData["status"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Attempt Failed !</strong> @TempData["status"]
                    </div>
                }

                @if (TempData["ErrorMsg"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Attempt Failed !</strong> @TempData["ErrorMsg"]
                    </div>
                }


                @if (TempData["failedErrorMsg"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Failed !</strong> @TempData["failedErrorMsg"]
                    </div>
                }


                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success">
                        <strong>Success !</strong> @TempData["AlertMessage"]
                    </div>
                }


                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "AttachGuarantor", new { Area = "Loaning" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <h3>Loanee Details</h3>

                            <br />
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CaseNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.Id)
                                        @Html.EditorFor(model => model.LoanCase.CaseNumber, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @id = "CustomerFullName",
                                           @class = "form-control required",
                                           @placeholder = "Account Status",
                                           @readonly = "readonly"
                                       }
    })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerFullName, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerId)
                                        @Html.EditorFor(model => model.LoanCase.CustomerFullName, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @id = "CustomerFullName",
                                           @class = "form-control required",
                                           @placeholder = "Account Status",
                                           @readonly = "readonly"
                                       }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.CustomerFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.LoanProductDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.LoanProductId)
                                        @Html.EditorFor(model => model.LoanCase.LoanProductDescription, new { htmlAttributes = new { @id = "LoanCaseAmountApplied", @class = "form-control required", @placeholder = "Account Remarks", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.LoanCase.LoanProductId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.AmountApplied, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.AmountApplied)
                                        @Html.EditorFor(model => model.LoanCase.AmountApplied, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.AmountApplied, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.SavingsProductDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.SavingsProductId)
                                        @Html.EditorFor(model => model.LoanCase.SavingsProductDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.SavingsProductDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription)
                                        @Html.EditorFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.LoanPurposeDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.LoanPurposeDescription)
                                        @Html.EditorFor(model => model.LoanCase.LoanPurposeDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.LoanPurposeDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.Remarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.Remarks)
                                        @Html.EditorFor(model => model.LoanCase.Remarks, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <hr title="Guarantor linkage" />

                        @*<section id="section2" class="section">*@
                        <fieldset>
                            <h3>Link Guarantor</h3>
                            <br />
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    @Html.LabelFor(model => model.Customer.FullName, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.Customer.Id)
                                        @Html.TextBoxFor(model => model.Customer.FullName, new { @id = "LoanCaseCaseNumber", @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Customer Account..." })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#GuarantorLookupModal" onclick="captureDetails();"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer.StationZoneDivisionEmployerId, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer.StationZoneDivisionEmployerDescription, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.StationZoneDivisionEmployerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer.StationId, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer.StationZoneDivisionEmployerDescription, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.StationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer.IdentificationNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer.IdentificationNumber, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.IdentificationNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer.Reference1, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer.Reference1, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Reference1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer.Reference2, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer.Reference2, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Reference2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer.Reference3, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer.Reference3, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer.Reference3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TotalShares, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.TotalShares, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.TotalShares, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CommittedShares, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CommittedShares, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Personal File Number", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CommittedShares, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AppraisalFactor, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AppraisalFactor, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "" } })
                                        @Html.ValidationMessageFor(model => model.AppraisalFactor, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AmountGuaranteed, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AmountGuaranteed, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required", @placeholder = "Kshs.0.00" } })
                                        @Html.ValidationMessageFor(model => model.AmountGuaranteed, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    @using (Html.BeginForm("Create", "AttachGuarantor", new { Area = "Loaning" }, FormMethod.Post, new { @class = "btn btn-primary" }))
                                    {
                                        <input type="submit" style="width:150px;" class="btn btn-primary" value="Add" />
                                    }
                                </div>
                            </div>

                            <br />

                            <row>
                                <h3>Loan Guarantors</h3>

                                <table id="ChargeSplits" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap: normal; color: black; width: 100%;">
                                    <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                        <tr>
                                            <th>Guarantor Name</th>
                                            <th>Identity Card Type</th>
                                            <th>Identity Card Number</th>
                                            <th>Total shares</th>
                                            <th>Committed shares</th>
                                            <th>Amount Guaranteed</th>
                                            <th>Appraisal Factor</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.LoanGuarantors != null)
                                        {
                                            foreach (var loanGuarantors in ViewBag.LoanGuarantors)
                                            {
                                                <tr data-id="@loanGuarantors.Customer.Id">
                                                    <td>@loanGuarantors.Customer.FullName</td>
                                                    <td>@loanGuarantors.Customer.IndividualIdentityCardTypeDescription</td>
                                                    <td>@loanGuarantors.Customer.IdentificationNumber</td>
                                                    <td>@loanGuarantors.TotalShares</td>
                                                    <td>@loanGuarantors.CommittedShares</td>
                                                    <td>@loanGuarantors.AmountGuaranteed</td>
                                                    <td>@loanGuarantors.AppraisalFactor</td>
                                                    <td><button type="button" class="btn btn-danger remove-btn">Remove</button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </row>

                        </fieldset>
                    }

                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @using (Html.BeginForm("Finish", "AttachGuarantor", new { Area = "Loaning" }, FormMethod.Post, new { @class = "btn btn-primary" }))
                            {
                                <input type="submit" style="width:150px;" class="btn btn-primary" value="Add" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="companyLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customer's Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="companiesGrid" class="table table-striped table-bordered table-hover" style="width:100%">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="GuarantorLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Guarantor Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="guarantorsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")



    <script src="~/Scripts/js/GuarantorsModalPopUp.js"></script>

    <script src="~/Scripts/js/handleTogglingTheSectionAndButtonText.js"></script>

    <script>
        $(document).ready(function () {
            $('#companiesGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "LoanRegistration", new { Area = "Loaning" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Loaning/AttachGuarantor/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(4)', nRow).html(dt_Created);
                    $('td:eq(5)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [
            { "mDataProp": "CaseNumber", "sTitle": "Loan Number", "sWidth": "3%" },
            { "mDataProp": "LoanProductDescription", "sTitle": "Loan Product", "sWidth": "5%" },
            { "mDataProp": "CustomerIndividualSalutationDescription", "sTitle": "Salutation", "sWidth": "5%" },
            { "mDataProp": "CustomerFullName", "sTitle": "Customer Full Name", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "bSortable": false },
            { "mDataProp": "CreatedDate", "sTitle": "Actions", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#CustomerId').val(data.Id);
        $('input[name=CustomerId]').val(data.Id);
        $('input[name=CustomerFullName]').val(data.CustomerFullName);

        $('#CustomerAccount.FullAccountNumber').val(LoanProductsMap[item].CustomerAccount.FullAccountNumber);
        $('#CustomerAccount.CustomerFullName').val(LoanProductsMap[item].CustomerAccount.CustomerFullName);
        //$('input[name=ChartOfAccountAccountCode]').val(data.AccountCode);
        //$('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationZoneDivisionEmployerDescription);
        //$('#CustomerStationDescription').val(CustomersMap[item].StationDescription);
        //$('#CustomerSerialNumber').val(CustomersMap[item].SerialNumber);
        //$('#CustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        //$('#CustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#CustomerId').val(CustomerId);
                    $('#CustomerFullName').val(CustomerFullName);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });
                                    //Guarantors

            $('#guarantorsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "Customer", new { Area = "Registry" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Loaning/AttachGuarantor/Search/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(2)', nRow).html(dt_Created);
                    $('td:eq(3)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
                "aoColumns": [
                    { "mDataProp": "FullName", "sTitle": "Name", "sWidth": "10%" },
                    { "mDataProp": "Reference1", "sTitle": "Account Number", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#CustomerId').val(data.Id);
        $('input[name=CustomerId]').val(data.Id);
        $('#CustomerFullName').val(LoanProductsMap[item].CustomerFullName);
        //$('input[name=ChartOfAccountAccountCode]').val(data.AccountCode);
        $('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationZoneDivisionEmployerDescription);
        $('#CustomerStationDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerSerialNumber').val(CustomersMap[item].SerialNumber);
        $('#CustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        $('#CustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#CompanyId').val(CompanyId);
                    $('#GuarantorByCustomerId').val(CompanyId);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });



            $('.GuarantorCustomersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCustomersAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Customers) {
                            var newCustomersData = [];
                            CustomersMap = {};
                            $.each(Customers, function (i,Customer) {
                                newCustomersData.push(Customer.FullName);
                                CustomersMap[Customer.FullName] = Customer;
                            });
                            process(newCustomersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var customerId = "";
                    CustomerId = CustomersMap[item].Id;
                    $('#LoanGuarantors[0].CustomerId').val(CustomerId);
                    //console.log(CustomerId)
                    return item;
                }
            });

                   });


                // Capture Data to prevent data loss during Lookup
        function captureDetails() {
            /*var CustomerAccountFullAccountNumber = document.getElementById('CustomerAccount.FullAccountNumber').value;*/
            var CustomerAccountStatus = document.getElementById('CustomerAccount.Status').value;
            var CustomerAccountRemarks = document.getElementById('CustomerAccount.Remarks').value;
            var CustomerAccountBookBalance = document.getElementById('CustomerAccount.BookBalance').value;
            var CustomerAccountCustomerFullName = document.getElementById('CustomerAccount.CustomerFullName').value;
            var CustomerAccountTypeDescription = document.getElementById('CustomerAccount.TypeDescription').value;
            var CustomerAccountCustomerIndividualPayrollNumbers = document.getElementById('CustomerAccount.CustomerIndividualPayrollNumbers').value;
            var CustomerAccountCustomerReference3 = document.getElementById('CustomerAccount.CustomerReference3').value;
            var CustomerAccountCustomerReference2 = document.getElementById('CustomerAccount.CustomerReference2').value;
            var CustomerAccountCustomerReference1 = document.getElementById('CustomerAccount.CustomerReference1').value;

            alert(LoancaseNumber);

            $.ajax({
                url: "/loaning/attachguarantor/CustomerAccountsData",
                type: "POST",
                data: {
                    /*"CustomerAccount.FullAccountNumber": CustomerAccountFullAccountNumber,*/
                    "CustomerAccount.Status": CustomerAccountStatus,
                    "CustomerAccount.Remarks": CustomerAccountRemarks,
                    "CustomerAccount.BookBalance": CustomerAccountBookBalance,
                    //"CustomerAccount.CustomerFullName": CustomerAccountCustomerFullName,
                    //"CustomerAccount.TypeDescription": CustomerAccountTypeDescription,
                    "CustomerAccount.CustomerIndividualPayrollNumbers": CustomerAccountCustomerIndividualPayrollNumbers,
                    "CustomerAccount.CustomerReference3": CustomerAccountCustomerReference3,
                    "CustomerAccount.CustomerReference2": CustomerAccountCustomerReference2,
                    "CustomerAccount.CustomerReference1": CustomerAccountCustomerReference1,
                },
                //success: function (mydata) {
                //    alert("Saved");
                //},
                //error: function (error) {
                //    alert('Failed');
                //    alert(error.responseText); // Display the error responseText in the alert
                //}
            });
        }




         // Remove row data
        $(document).ready(function () {
            $('.remove-btn').click(function () {
                var row = $(this).closest('tr');
                var id = row.data('id');


                $.ajax({
                    url: '@Url.Action("removeGuarantors", "AttachGuarantor")',
                    type: 'POST',
                    data: { id: id },
                    success: function () {
                        row.remove();
                    },
                    error: function () {
                        alert('Error removing row.');
                    }
                });
            });
        });
    </script>

    <style>
        .table-container {
            display: none;
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        table {
            border-collapse: collapse;
            white-space: nowrap; /* Prevent line breaks in table cells */
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        #Guarantors {
            table-layout: fixed; /* Forces the table to use the fixed layout algorithm */
        }

            #Guarantors th, #Guarantors td {
                white-space: nowrap; /* Prevents wrapping of text within cells */
                overflow: hidden; /* Hides any content that exceeds the cell dimensions */
                text-overflow: ellipsis; /* Displays an ellipsis (...) when content overflows */
                padding: 8px; /* Adjust padding as needed */
            }


        /* Styling for the button */
        .toggle-button {
            cursor: pointer;
            padding: 10px 20px;
            background-color: darkgreen;
            color: #fff;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        /* Styling for the section */
        .section {
            display: none;
            margin-top: 20px;
        }

            .section.open {
                display: block;
            }
    </style>


    <script>
        $(document).ready(function () {
            $('#Guarantors').DataTable({
                scrollX: true // Enable horizontal scrolling
            });
        });

    </script>
}