@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO

@{
    ViewBag.Title = "Create";
}


<div class="col-md-12 form-group">
    @Html.LabelFor(model => model.GuarantorByCustomerId, new { @class = "control-label" })
    <div class="input-group" data-autoclose="true">
        @Html.TextBoxFor(model => model.GuarantorByCustomerId, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Customer..." })
        <span class="input-group-addon">
            <a data-toggle="modal" data-target="#companyLookupModal"><span class="fa fa-search"></span></a>
        </span>
    </div>
</div>


<div class="col-md-4 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.CustomerSerialNumber, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.CustomerSerialNumber, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                @placeholder = "Identification Number",disabled = "disabled"
}
})
        @Html.ValidationMessageFor(model => model.CustomerSerialNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-4 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.CustomerPersonalIdentificationNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CustomerPersonalIdentificationNumber, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                @placeholder = "Personal File Number",@readonly = "readonly"
}
})
        @Html.ValidationMessageFor(model => model.CustomerPersonalIdentificationNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-4 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.CustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.CustomerIndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.CustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-6 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.TotalAmountGuaranteed, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.TotalAmountGuaranteed, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                @placeholder = "Kshs.0.00",
                @readonly = "readonly"
            }
})
        @Html.ValidationMessageFor(model => model.TotalAmountGuaranteed, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-6 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.LoanProductTotalSharesInvestmentsBalance, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.LoanProductTotalSharesInvestmentsBalance, new
        {
            htmlAttributes = new
            {
                @class = "form-control",
                @placeholder = "Kshs.0.00",
                disabled = "disabled"
            }
})
        @Html.ValidationMessageFor(model => model.LoanProductTotalSharesInvestmentsBalance, "", new { @class = "text-danger" })
    </div>
</div>





<div class="col-md-12 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.GuarantorCustomerStationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "control-label" })
        @Html.HiddenFor(model => model.GuarantorCustomerStationZoneDivisionEmployerDescription)
        @Html.EditorFor(model => model.GuarantorCustomerStationZoneDivisionEmployerDescription, new
        {
            htmlAttributes = new
            {
                @class = "form-control required",
                @placeholder = "Account number",
                @readonly = "readonly"
}
})
        @Html.ValidationMessageFor(model => model.GuarantorCustomerStationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-12 form-group">
    <div class="form-group form-group-lg">
        @Html.LabelFor(model => model.GuarantorCustomerStation, htmlAttributes: new { @class = "control-label" })
        @Html.HiddenFor(model => model.GuarantorCustomerStation)
        @Html.EditorFor(model => model.GuarantorCustomerStation, new
        {
            htmlAttributes = new
            {
                @class = "form-control required",
                @placeholder = "Membership number",
                @readonly = "readonly"
}
})
        @Html.ValidationMessageFor(model => model.GuarantorCustomerStation, "", new { @class = "text-danger" })
    </div>
</div>
