@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanGuarantorDTO

@{
    ViewBag.Title = "Attach Guarantor";


    var CustomerFilter = ViewBag.CustomerFilter as List<SelectListItem>;



    var recordStatus = ViewBag.recordStatus as List<SelectListItem>;
    var customerFilter = ViewBag.customerFilter as List<SelectListItem>;
    var loanProductSection = ViewBag.LoanProductSection as List<SelectListItem>;
}


<link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />


<style>
    #dataTableEntries {
        width: 100%;
        border-collapse: collapse;
    }

        #dataTableEntries th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            transition: background 0.3s, transform 0.3s;
        }

        #dataTableEntries th {
            background: linear-gradient(to bottom, #4a90e2, #003366);
            color: white;
            text-transform: uppercase;
            font-size: 1.1em;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #dataTableEntries tr:hover td {
            background: rgba(74, 144, 226, 0.2);
            transform: translateY(-2px);
        }

        #dataTableEntries td {
            background: #f9f9f9;
            color: #333;
        }

        #dataTableEntries tr:nth-child(even) td {
            background: #f2f2f2;
        }

        #dataTableEntries tr:nth-child(odd) td {
            background: #ffffff;
        }

        #dataTableEntries tr:last-child td {
            border-bottom: none;
        }


    #guarantorEntries {
        width: 100%;
        border-collapse: collapse;
    }

        #guarantorEntries th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            transition: background 0.3s, transform 0.3s;
        }

        #guarantorEntries th {
            background: linear-gradient(to bottom, #4a90e2, #003366);
            color: white;
            text-transform: uppercase;
            font-size: 1.1em;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #guarantorEntries tr:hover td {
            background: rgba(74, 144, 226, 0.2);
            transform: translateY(-2px);
        }

        #guarantorEntries td {
            background: #f9f9f9;
            color: #333;
        }

        #guarantorEntries tr:nth-child(even) td {
            background: #f2f2f2;
        }

        #guarantorEntries tr:nth-child(odd) td {
            background: #ffffff;
        }

        #guarantorEntries tr:last-child td {
            border-bottom: none;
        }

    .blue-section {
        margin-top: 20px;
        background-color: #e0f0ff;
        padding: 15px;
        border-radius: 8px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Back Office</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AttachGuarantor", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Attach Loan Guarantors</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Add", "AttachGuarantor", new { Area = "Loaning" }, FormMethod.Post, new { @class = "wizard-big", @id = "addLoanGuarantorsform" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <h2>Loanee Details</h2>

                            <br />
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CaseNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.Id)
                                        @Html.EditorFor(model => model.LoanCase.CaseNumber, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @id = "CustomerFullName",
                                           @class = "form-control required",
                                           @placeholder = "Account Status",
                                           @readonly = "readonly"
                                       }
    })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerFullName, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerId)
                                        @Html.EditorFor(model => model.LoanCase.CustomerFullName, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @id = "CustomerFullName",
                                           @class = "form-control required",
                                           @placeholder = "Account Status",
                                           @readonly = "readonly"
                                       }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.CustomerFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.LoanProductDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.LoanProductId)
                                        @Html.EditorFor(model => model.LoanCase.LoanProductDescription, new { htmlAttributes = new { @id = "LoanCaseAmountApplied", @class = "form-control required", @placeholder = "Account Remarks", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.LoanCase.LoanProductId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.AmountApplied, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.AmountApplied)
                                        @Html.EditorFor(model => model.LoanCase.AmountApplied, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.AmountApplied, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.SavingsProductDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.SavingsProductId)
                                        @Html.EditorFor(model => model.LoanCase.SavingsProductDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.SavingsProductDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription)
                                        @Html.EditorFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.CustomerStationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.LoanPurposeDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.LoanPurposeDescription)
                                        @Html.EditorFor(model => model.LoanCase.LoanPurposeDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.LoanPurposeDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.Remarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.Remarks)
                                        @Html.EditorFor(model => model.LoanCase.Remarks, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                        @Html.ValidationMessageFor(model => model.LoanCase.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.SavingsProductDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.SavingsProductDescription)
                                        @Html.EditorFor(model => model.LoanCase.SavingsProductDescription, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerReference1, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerReference1)
                                        @Html.EditorFor(model => model.LoanCase.CustomerReference1, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerReference2, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerReference2)
                                        @Html.EditorFor(model => model.LoanCase.CustomerReference2, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCase.CustomerReference3, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanCase.CustomerReference3)
                                        @Html.EditorFor(model => model.LoanCase.CustomerReference3, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "CustomerReference1",
                                                @class = "form-control required",
                                                @placeholder = "Kshs.0.00",
                                                @readonly = "readonly"
    }
    })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <hr title="Guarantor linkage" />

                        @*<section id="section2" class="section">*@
                        <fieldset>
                            <h2>Link Guarantor</h2>

                            <br />
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    @Html.LabelFor(model => model.Customer[0].GuarantorFullName, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.Customer[0].GuarantorId, new { @id = "GuarantorId" })
                                        @Html.TextBoxFor(model => model.Customer[0].GuarantorFullName, new { @id = "Guarantor", @class = "form-control input-md alpha alphaspace required entry-field", @readonly = "readonly", @placeholder = "Link Customer..." })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#customerLookupModal" onclick="captureDetails();"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].GuarantorEmployerDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].GuarantorEmployerDescription, new { htmlAttributes = new { @id = "GuarantorEmployer", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].GuarantorEmployerDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].GuarantorStationDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].GuarantorStationDescription, new { htmlAttributes = new { @id = "GuarantorStation", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].GuarantorStationDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].GuarantorSerialNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].GuarantorSerialNumber, new { htmlAttributes = new { @id = "GuarantorSerialNumber", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].GuarantorSerialNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].GuarantorIdentificationNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].GuarantorIdentificationNumber, new { htmlAttributes = new { @id = "GuarantorIndividualIdentityCardNumber", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].GuarantorIdentificationNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].GuarantorPayrollNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].GuarantorPayrollNumber, new { htmlAttributes = new { @id = "GuarantorPayrollNumber", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].GuarantorPayrollNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].TotalShares, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].TotalShares, new { htmlAttributes = new { @id = "TotalShares", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].TotalShares, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].CommittedShares, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].CommittedShares, new { htmlAttributes = new { @id = "CommittedShares", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].CommittedShares, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].AppraisalFactor, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].AppraisalFactor, new { htmlAttributes = new { @id = "AppraisalFactor", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].AppraisalFactor, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].AmountPledged, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].AmountPledged, new { htmlAttributes = new { @id = "AmountPledged", @class = "form-control required entry-field", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Customer[0].AmountPledged, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customer[0].AmountGuaranteed, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Customer[0].AmountGuaranteed, new { htmlAttributes = new { @id = "AmountGuaranteed", @class = "form-control required entry-field", @placeholder = "Kshs 0.00" } })
                                        <span id="guarantee-error" class="text-danger" style="display:none;">Total shares not enough to guarantee this amount.</span>
                                        @Html.ValidationMessageFor(model => model.Customer[0].AmountGuaranteed, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="text-align: right;">
                                    <input type="submit" id="addEntryBtn" style="width:150px;" class="btn btn-primary" value="Add" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="table-container">
                                        <h3 style="font-size: 1.9rem; text-align: center;">New Loan Guarantors</h3>
                                        <table id="dataTableEntries" class="footable table table-striped toggle-arrow-tiny grey-table">
                                            <thead>
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Identity Card Number</th>
                                                    <th>Appraisal Factor</th>
                                                    <th>Total shares</th>
                                                    <th>Committed shares</th>
                                                    <th>Amount Guaranteed</th>
                                                    <th>Amount Pledged</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="table-container">
                                        <h3 style="font-size: 1.9rem; text-align: center;">Existing Loan Guarantors</h3>
                                        <table id="guarantorEntries" class="footable table table-striped toggle-arrow-tiny grey-table">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Identity Card Number</th>
                                                    <th>Appraisal Factor</th>
                                                    <th>Total shares</th>
                                                    <th>Committed shares</th>
                                                    <th>Amount Guaranteed</th>
                                                    <th>Amount Pledged</th>
                                                    <th>Date Guaranteed</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.LoanGuarantors != null)
                                                {
                                                    foreach (var guarantors in ViewBag.LoanGuarantors)
                                                    {
                                                        <tr>
                                                            <td>@guarantors.CustomerIndividualFirstName @guarantors.CustomerIndividualLastName</td>
                                                            <td>@guarantors.CustomerIndividualIdentityCardNumber</td>
                                                            <td>@guarantors.AppraisalFactor</td>
                                                            <td style="text-align: right;">@guarantors.TotalShares</td>
                                                            <td style="text-align: right;">@guarantors.CommittedShares</td>
                                                            <td style="text-align: right;">@guarantors.AmountGuaranteed</td>
                                                            <td style="text-align: right;">@guarantors.AmountPledged</td>
                                                            <td>@guarantors.CreatedDate</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @using (Html.BeginForm("Create", "AttachGuarantor", new { Area = "Loaning" }, FormMethod.Post, new { @class = "" }))
                            {
                                <input type="submit" style="width:150px;" class="btn btn-primary" value="Submit" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customers Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="blue-section">
                <form id="filterForm">
                    <div class="row" style="display: flex; justify-content: flex-start; align-content:center;">
                        <div class="col-lg-3" hidden>
                            <div class="form-group form-group-lg">
                                <label for="filterType">Record Status</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    @Html.DropDownListFor(model => model.RecordStatus, recordStatus,
                                    new { @class = "form-control input-md", @id = "recordStatus" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                <label for="filterType">Customer Filter</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    @Html.DropDownListFor(model => model.CustomerFilter, customerFilter,
                                    new { @class = "form-control input-md", @id = "customerFilter" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" style="margin-top: 27px;">
                            <div class="form-group spacing-form-group">
                                <div class="input-group text-box">
                                    @Html.TextBox("text", null, new { @class = "form-control", @placeholder = "Enter filter value...", @id = "text" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1" style="margin-top:20px;">
                            <div class="form-group form-group-sm">
                                <input type="submit" value="Refresh" id="applyFilter" class="btn btn-primary" style="width: 80px; height: auto; " />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br />


            <style>
                #customersGrid thead {
                    background-color: #007bff;
                    color: white;
                }
            </style>

            <table id="customersGrid" class="table table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        document.getElementById('openModalBtn').addEventListener('click', function (event) {
            event.preventDefault();

            document.getElementById('stunningModal').style.display = 'block';
        });

        document.getElementById('closeModalBtn').addEventListener('click', function () {
            document.getElementById('stunningModal').style.display = 'none';
        });

        window.addEventListener('click', function (e) {
            if (e.target === document.getElementById('stunningModal')) {
                document.getElementById('stunningModal').style.display = 'none';
            }
        });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("addLoanGuarantorsForm");
            const addEntryBtn = document.getElementById("addEntryBtn");

            addEntryBtn.addEventListener("click", function () {
                form.submit();
            });
        });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const amountGuaranteedInput = document.getElementById("AmountGuaranteed");
            const amountPledgedInput = document.getElementById("AmountPledged");

            amountGuaranteedInput.addEventListener("input", function () {
                const guaranteedValue = amountGuaranteedInput.value;
                amountPledgedInput.value = guaranteedValue;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#AmountGuaranteed').on('input', function () {
                var totalShares = parseFloat($('#TotalShares').val()) || 0;
                var amountGuaranteed = parseFloat($(this).val()) || 0;

                if (amountGuaranteed > totalShares) {
                    $('#guarantee-error').show();
                    $(this).val('');
                } else {
                    $('#guarantee-error').hide();
                }
            });
        });
    </script>



    <script>
        var defaultCustomerFilter = $('#customerFilter').val();
        var defaultRecordStatus = $('#recordStatus').val();
        var defaulText = $('#text').val();

            $('#customersGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("CustomerIndex", "LoanRegistration", new { Area = "Loaning"}))",
                "sServerMethod": "POST",
                "fnServerParams": function (aoData) {
                    aoData.push(
                        { "name": "customerFilter", "value": $('#customerFilter').val() || defaultCustomerFilter },
                        { "name": "recordStatus", "value": $('#recordStatus').val() || defaultRecordStatus },
                        { "name": "text", "value": $('#text').val() || defaulText }
                    );
                },

                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<button class="btn btn-outline-info" onclick="selectCustomer(\'' + aData.Id + '\')">Select</button>';

                    $('td:eq(5)', nRow).html(dt_Created);
                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "RecordStatusDescription", "sTitle": "Record Status", "sWidth": "5%" },
                    { "mDataProp": "Reference1", "sTitle": "Account Number", "sWidth": "5%" },
                    { "mDataProp": "Reference2", "sTitle": "Membership Number", "sWidth": "5%" },
                    { "mDataProp": "FullName", "sTitle": "Name", "sWidth": "20%" },
                    { "mDataProp": "IndividualIdentityCardNumber", "sTitle": "Identity Card Number", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });

                $('#filterForm').on('submit', function (e) {
                    e.preventDefault();
                    $('#customersGrid').DataTable().ajax.reload();
                });


        function selectCustomer(id) {
            console.log("Selected ID:", id);
            $.ajax({
                url: '/Loaning/AttachGuarantor/LoanGuarantorLookUp',
                type: 'POST',
                data: { Id: id },
                success: function (response) {
                    if (response.success) {
                        $('#GuarantorId').val(response.data.GuarantorId);
                        $('#Guarantor').val(response.data.GuarantorFullName);
                        $('#GuarantorEmployer').val(response.data.GuarantorEmployerDescription);
                        $('#GuarantorStation').val(response.data.GuarantorStationDescription);
                        $('#GuarantorSerialNumber').val(response.data.GuarantorSerialNumber);
                        $('#GuarantorIndividualIdentityCardNumber').val(response.data.GuarantorIdentificationNumber);
                        $('#GuarantorPayrollNumber').val(response.data.GuarantorPayrollNumber);
                        $('#TotalShares').val(response.data.TotalShares);
                        $('#AppraisalFactor').val(response.data.AppraisalFactor);
                        $('#CommittedShares').val(response.data.CommittedShares);

                        $('#customerLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
    </script>






    <script type="text/javascript">
    $(document).ready(function () {
        $('#addEntryBtn').click(function (event) {
            event.preventDefault();

            var formData = $('#addLoanGuarantorsform').serialize();

        $.ajax({
            url: '@Url.Action("Add", "AttachGuarantor", new { Area = "Loaning" })',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    updateEntriesTable(response.entries);

                    console.log('Swal is loaded:', typeof Swal !== 'undefined');

                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Guarantor added successfully.',
                        timer: 1000,
                        showConfirmButton: false
                    });

                    // Clear specific form fields
                    $('#GuarantorId').val('');
                    $('#Guarantor').val('');
                    $('#GuarantorEmployer').val('');
                    $('#GuarantorStation').val('');
                    $('#GuarantorSerialNumber').val('');
                    $('#GuarantorIndividualIdentityCardNumber').val('');
                    $('#GuarantorPayrollNumber').val('');
                    $('#TotalShares').val('');
                    $('#CommittedShares').val('');
                    $('#AppraisalFactor').val('');
                    $('#AmountPledged').val('');
                    $('#AmountGuaranteed').val('');

                    console.log('Form fields cleared');

                } else {
                    // Display error message
                    Swal.fire({
                        icon: 'error',
                        title: 'Could not Add Guarantor to List',
                        text: response.message,
                        timer: 8000,
                        showConfirmButton: true
                    });
                }
            },
            error: function () {
                alert('An error occurred while processing your request.');
            }
        });
    });
});

        function updateEntriesTable(entries) {
            var tableBody = $("#dataTableEntries tbody");
            tableBody.empty(); // Clear existing entries

            $.each(entries, function (index, entry) {
                var row = `<tr data-id="${entry.GuarantorId}">
                               <td>${entry.GuarantorFullName}</td>
                               <td>${entry.GuarantorIdentificationNumber}</td>
                               <td>${entry.AppraisalFactor}</td>
                               <td style="text-align: right:">${entry.TotalShares}</td>
                               <td style="text-align: right:">${entry.CommittedShares}</td>
                               <td style="text-align: right:">${entry.AmountGuaranteed}</td>
                               <td style="text-align: right:">${entry.AmountPledged}</td>
                               <td><button type="button" class="btn btn-danger remove-entry" data-id="${entry.GuarantorId}" style="background-color: red; color: white;">Remove</button></td>
                           </tr>`;
                tableBody.append(row);
            });
        }



        // Attach click event to remove buttons
        $(document).on("click", ".remove-entry", function (event) {
            event.preventDefault(); // Prevent default behavior
            var entryId = $(this).data("id"); // Get the GUID from the button's data-id
            removeEntry(entryId);
        });



        function removeEntry(id) {
            $.ajax({
                url: '@Url.Action("Remove", "AttachGuarantor")',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        updateEntriesTable(response.data);
                    } else {
                        alert("An error occurred while removing the entry.");
                    }
                },
                error: function () {
                    alert("An error occurred while processing the request.");
                }
            });
        }


    </script>

}