@model  Application.MainBoundedContext.DTO.FrontOfficeModule.CashWithdrawalRequestDTO
@{
    /**/

    ViewBag.Title = "Create Cash Withdrawal";

    var withdrawalNotificationCategories = ViewBag.WithdrawalNotificationCategorySelectList as List<SelectListItem>;

    var customerTypes = ViewBag.CustomerTypeSelectList as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cash Withdrawal</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "CashWithdrawal", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "CashWithdrawal", new { Area = "FrontOffice" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="col-md-13 form-group">
                                            @Html.LabelFor(model => model.CustomerAccountId, new { @class = "control-label" })
                                            <div class="input-group" data-autoclose="true">
                                                @Html.HiddenFor(model => model.CustomerAccountId)
                                                @Html.TextBoxFor(model => model.CustomerAccountCustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>


                                        <div class="form-group form-group-sm">
                                            @Html.LabelFor(model => model.CustomerAccountRemarks, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.CustomerAccountRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.CustomerAccountRemarks, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Description.." } })
                                        </div>

                                        <div class="form-group form-group-sm">
                                            <div class="col-md-offset-2">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6">



                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CustomerAccountCustomerSerialNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CustomerAccountCustomerSerialNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer SerialNumber", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.CustomerAccountCustomerSerialNumber, "", new { @class = "text-danger" })
                                        </div>


                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CustomerAccountCustomerReference3, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CustomerAccountCustomerReference3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer File Number" } })
                                            @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference3, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CustomerAccountCustomerReference2, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CustomerAccountCustomerReference2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer membership  Number" } })
                                            @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference2, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                        </div>


                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CustomerAccountCustomerAccountTypeProductCode, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CustomerAccountCustomerAccountTypeProductCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "product code" } })
                                            @Html.ValidationMessageFor(model => model.CustomerAccountCustomerAccountTypeProductCode, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks" } })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>


                                        @*denominations form starts from here *@

                                        <meta charset="UTF-8">
                                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                        <style>
                                            label {
                                                display: block;
                                                margin-bottom: 8px;
                                            }

                                            #denominationForm {
                                                display: none; /* Hide the form by default */
                                            }
                                        </style>


                                        <script>
                                            function toggleForm() {
                                                var form = document.getElementById('denominationForm');
                                                form.style.display = form.style.display === 'none' ? 'block' : 'none';
                                            }

                                            function calculateTotal() {
                                                // Get values from input fields
                                                var thousands = parseInt(document.getElementById('thousands').value) || 0;
                                                var fiveHundreds = parseInt(document.getElementById('five_hundreds').value) || 0;
                                                var twoHundreds = parseInt(document.getElementById('two_hundreds').value) || 0;
                                                var hundreds = parseInt(document.getElementById('hundreds').value) || 0;
                                                var shillings20 = parseInt(document.getElementById('shillings_20').value) || 0;
                                                var shillings10 = parseInt(document.getElementById('shillings_10').value) || 0;
                                                var shillings5 = parseInt(document.getElementById('shillings_5').value) || 0;
                                                var shilling = parseInt(document.getElementById('shilling').value) || 0;

                                                // Calculate total
                                                var total = thousands * 1000 + fiveHundreds * 500 + twoHundreds * 200 +
                                                    hundreds * 100 + shillings20 * 20 + shillings10 * 10 + shillings5 * 5 + shilling;

                                                // Update breakdown
                                                document.getElementById('totalBreakdown').innerHTML = "Total: " + total + " KES";
                                            }
                                        </script>

                                        <button onclick="toggleForm()">Denominations Form</button>
                                        <div class="col-lg-6" id="denominationForm">
                                            <h2>Enter Amount in Kenyan Shillings</h2>

                                            <form action="#" method="post">
                                                <!-- Your form content here the textboxes for the Denominations  -->
                                                <label for="thousands">Thousands:</label>
                                                <input type="number" id="thousands" name="thousands" min="0" step="1" oninput="calculateTotal()">

                                                <label for="five_hundreds">Five Hundreds:</label>
                                                <input type="number" id="five_hundreds" name="five_hundreds" min="0" step="1" oninput="calculateTotal()">

                                                <label for="two_hundreds">Two Hundreds:</label>
                                                <input type="number" id="two_hundreds" name="two_hundreds" min="0" step="1" oninput="calculateTotal()">

                                                <label for="hundreds">Hundreds:</label>
                                                <input type="number" id="hundreds" name="hundreds" min="0" step="1" oninput="calculateTotal()">


                                                <label for="shillings_20">20 Shillings:</label>
                                                <input type="number" id="shillings_20" name="shillings_20" min="0" step="1" oninput="calculateTotal()">

                                                <label for="shillings_10">10 Shillings:</label>
                                                <input type="number" id="shillings_10" name="shillings_10" min="0" step="1" oninput="calculateTotal()">

                                                <label for="shillings_5">5 Shillings:</label>
                                                <input type="number" id="shillings_5" name="shillings_5" min="0" step="1" oninput="calculateTotal()">

                                                <label for="shilling">1 Shilling:</label>
                                                <input type="number" id="shilling" name="shilling" min="0" step="1" oninput="calculateTotal()">


                                                <h3>Total Currency</h3>
                                                <p id="totalBreakdown">Total: 0 KES</p>
                                            </form>
                                        </div>
                                        @*The lookup ends here *@


                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="CustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>

                //Station typehead starts here
            $('.StationsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetStationsAsync", "Station", new { Area = "Registry" })',
                        { query: query },
                        function (Stations) {
                            var newStationsData = [];
                            StationsMap = {};
                            $.each(Stations, function (i, Station) {
                                newStationsData.push(Station.Description);
                                StationsMap[Station.Description] = Station;
                            });
                            process(newStationsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var stationId = "";
                    StationId = StationsMap[item].Id;
                    $('#StationId').val(StationId);
                    $('#StationZoneDivisionEmployerDescription').val(StationsMap[item].ZoneDivisionEmployerDescription);
                    $('#StationZoneDescription').val(StationsMap[item].ZoneDescription);
                    $('#StationZoneDivisionDescription').val(StationsMap[item].ZoneDivisionDescription);
                    //console.log(StationId)
                    return item;
                }
            });



        $('#CustomerAccountsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                 "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/FrontOffice/CashWithdrawal/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [

            { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
            { "mDataProp": "CustomerIndividualGenderDescription", "sTitle": "Customer Gender", "sWidth": "4%" },
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
             });

    $("#s tbody").on("click", "tr", function () {
        var data = CustomerAccountsGrid.row(this).data();
        $('#CustomerAccountId').val(data.Id);
        $('input[name=CustomerAccountId]').val(data.Id);
        $('input[name=CustomerAccountCustomerFullName]').val(data.Fullname);

        var CustomerId = "";
        CustomerId = CustomersMap[item].Id;

        $('#CustomerAccountId').val(CustomersMap[item].CustomerAccountId);
        $('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerAccountCustomerAccountTypeProductCode').val(CustomersMap[item].ProductDescription);
        $('#CustomerAccountCustomerSerialNumber').val(CustomersMap[item].SerialNumber);
        $('#CustomerAccountCustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        $('#CustomerAccountCustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CustomerAccountTypeTargetProductDescription').val(CustomersMap[item].ProductDescription);
        $('#customerLookupModal').modal('hide');
    });

         //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });



    </script>
}
