@model  Application.MainBoundedContext.DTO.AccountsModule.StandingOrderDTO
@{
    /**/

    ViewBag.Title = "Create Standing order execution";

    var withdrawalNotificationCategories = ViewBag.WithdrawalNotificationCategorySelectList as List<SelectListItem>;
    var Months = ViewBag.MonthsSelectList as List<SelectListItem>;
    var ChargeType = ViewBag.ChargeTypeSelectList as List<SelectListItem>;
    var customerTypes = ViewBag.CustomerTypeSelectList as List<SelectListItem>;
    var StandingOrderTriggers = ViewBag.loanRegistrationStandingOrderTriggers as List<SelectListItem>;
    //// Setting values in session
    var id = ViewBag.BenefactorCustomerAccountId;
    var BenefactorCustomerAccountCustomerFullName = ViewBag.BenefactorCustomerAccountCustomerFullName;
    Session["BenefactorProductDescription"] = Model?.BenefactorProductDescription;
}

@using (Html.BeginForm("Create", "CustomerAccountstandingorder", new { Area = "Accounts" }, FormMethod.Get))
{


    if (Session["BenefactorCustomerAccountId"] != null)
    {
        id = (Guid)Session["BenefactorCustomerAccountId"];
        // Make use of the id here
    }

    Session["BenefactorCustomerAccountCustomerFullName"] = BenefactorCustomerAccountCustomerFullName;
    Session["BenefactorCustomerAccountId"] = id;

    // Retrieving values from session
    var idFromSession = Session["BenefactorCustomerAccountId"];
    var firstNameFromSession = Session["BeneficiaryCustomerAccountCustomerFullName"];
    var accountIdFromSession = Session["BenefactorCustomerAccountId"];

    TempData.Keep("BenefactorCustomerAccountId");
    TempData.Keep("BenefactorCustomerAccountCustomerFullName");
    TempData.Keep("BenefactorProductDescription");
    // When updating the data, store it in both session and localStorage
    Session["BenefactorCustomerAccountId"] = Model?.BenefactorCustomerAccountId;
    Session["BenefactorCustomerAccountCustomerFullName"] = Model?.BenefactorCustomerAccountCustomerFullName;
    Session["BenefactorCustomerAccountCustomerIndividualLastName"] = Model?.BenefactorCustomerAccountCustomerIndividualLastName;
    Session["BenefactorCustomerAccountCustomerSerialNumber"] = Model?.BenefactorCustomerAccountCustomerSerialNumber;
    Session["BenefactorProductDescription"] = Model?.BenefactorProductDescription;
    <script>
        // Function to save data to localStorage whenever it's updated
        function saveData() {
            localStorage.setItem("BenefactorCustomerAccountId", document.getElementById("BenefactorCustomerAccountId").value);
            localStorage.setItem("BenefactorCustomerAccountCustomerFullName", document.getElementById("BenefactorCustomerAccountCustomerFullName").value);
            localStorage.setItem("BenefactorCustomerAccountCustomerIndividualLastName", document.getElementById("BenefactorCustomerAccountCustomerIndividualLastName").value);
            localStorage.setItem("BenefactorCustomerAccountCustomerSerialNumber", document.getElementById("BenefactorCustomerAccountCustomerSerialNumber").value);
            localStorage.setItem("BenefactorProductDescription", document.getElementById("BenefactorProductDescription").value);
        }

        // Add event listeners to form fields to save data on change
        document.getElementById("BenefactorCustomerAccountId").addEventListener("change", saveData);
        document.getElementById("BenefactorCustomerAccountCustomerFullName").addEventListener("change", saveData);
        document.getElementById("BenefactorCustomerAccountCustomerIndividualLastName").addEventListener("change", saveData);
        document.getElementById("BenefactorCustomerAccountCustomerSerialNumber").addEventListener("change", saveData);
        document.getElementById("BenefactorProductDescription").addEventListener("change", saveData);

        // Retrieve data from localStorage on window load
        window.onload = function () {
            var BenefactorCustomerAccountId = localStorage.getItem("BenefactorCustomerAccountId");
            var BenefactorCustomerAccountCustomerFullName = localStorage.getItem("BenefactorCustomerAccountCustomerFullName");
            var BenefactorCustomerAccountCustomerIndividualLastName = localStorage.getItem("BenefactorCustomerAccountCustomerIndividualLastName");
            var BenefactorCustomerAccountCustomerSerialNumber = localStorage.getItem("BenefactorCustomerAccountCustomerSerialNumber");
            var BenefactorProductDescription = localStorage.getItem("BenefactorProductDescription");

            // Set values in the form
            document.getElementById("BenefactorCustomerAccountId").value = BenefactorCustomerAccountId || "";
            document.getElementById("BenefactorCustomerAccountCustomerFullName").value = BenefactorCustomerAccountCustomerFullName || "";
            document.getElementById("BenefactorCustomerAccountCustomerIndividualLastName").value = BenefactorCustomerAccountCustomerIndividualLastName || "";
            document.getElementById("BenefactorCustomerAccountCustomerSerialNumber").value = BenefactorCustomerAccountCustomerSerialNumber || "";
            document.getElementById("BenefactorProductDescription").value = BenefactorProductDescription || "";
        }
    </script>



}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Customer Standing order </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Create", "CustomerAccountstandingorder", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}


<style>
    .select-btn.active {
        background-color: #007bff; /* Blue background color */
        color: #fff; /* White text color */
    }
</style>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "CustomerAccountstandingorder", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Benefactor -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.BenefactorCustomerAccountId, new { @class = "control-label" })
                                                <div class="input-group" data-autoclose="true">
                                                    @Html.HiddenFor(model => model.BenefactorCustomerAccountId)
                                                    @Html.TextBoxFor(model => model.BenefactorCustomerAccountCustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                                    <span class="input-group-addon">
                                                        <a data-toggle="modal" data-target="#BenefactorcustomerLookupModal"><span class="fa fa-search"></span></a>
                                                    </span>
                                                </div>
                                            </div>



                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BenefactorCustomerAccountCustomerFullName, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.BenefactorCustomerAccountCustomerFullName, new { htmlAttributes = new { @id = "BenefactorCustomerAccountCustomerFullName", @class = "form-control", @placeholder = "FullName", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.BenefactorCustomerAccountCustomerFullName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BenefactorProductDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.BenefactorProductDescription, new { htmlAttributes = new { @id = "BenefactorProductDescription", @class = "form-control", @placeholder = "BenefactorProductDescription", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.BenefactorProductDescription, "", new { @id = "BenefactorProductDescription", @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Beneficiary -->

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.BeneficiaryCustomerAccountId, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.BeneficiaryCustomerAccountId)
                                            @Html.TextBoxFor(model => model.BeneficiaryCustomerAccountCustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#BeneficiarycustomerLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>

                                    @*<script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            // Select the search button element
                                            var searchButton = document.getElementById("searchButton");

                                            // Add event listener to the search button
                                            searchButton.addEventListener("click", function () {
                                                // Call your function here if needed
                                                captureDetails2();
                                            });
                                        });
                                    </script>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            // Select the search button element
                                            var searchButton = document.getElementById("searchButton2");

                                            // Add event listener to the search button
                                            searchButton.addEventListener("click", function () {
                                                // Call your function here if needed
                                                captureDetails3();
                                            });
                                        });
                                    </script>*@

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BeneficiaryCustomerAccountCustomerFullName, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.BeneficiaryCustomerAccountCustomerFullName, new { htmlAttributes = new { @id = "BeneficiaryCustomerAccountCustomerFullName", @class = "form-control", @placeholder = "FullName", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.BeneficiaryCustomerAccountCustomerFullName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BeneficiaryProductDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.BeneficiaryProductDescription, new { htmlAttributes = new { @id = "BeneficiaryProductDescription", @class = "form-control", @placeholder = "ProductDescription", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.BeneficiaryProductDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>





                                <!-- Rest of the Data -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PaymentPerPeriod, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.PaymentPerPeriod, new { htmlAttributes = new { @id = "PaymentPerPeriod", @class = "form-control", @placeholder = "PaymentPerPeriod" } })
                                            @Html.ValidationMessageFor(model => model.PaymentPerPeriod, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.LoanAmount, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "LoanAmount" } })
                                            @Html.ValidationMessageFor(model => model.LoanAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.ChargeFixedAmount, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.ChargeFixedAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "ChargeFixedAmount" } })
                                            @Html.ValidationMessageFor(model => model.ChargeFixedAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>




                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group" id="data_3">
                                                    @Html.LabelFor(model => model.DurationStartDate, htmlAttributes: new { @class = "" })
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input type="text" name="employmentdate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group" id="data_3">
                                                    @Html.LabelFor(model => model.DurationEndDate, htmlAttributes: new { @class = "" })
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input type="text" name="employmentdate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.Interest, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.Interest, new { htmlAttributes = new { @class = "form-control", @placeholder = "Interest" } })
                                                    @Html.ValidationMessageFor(model => model.Interest, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="row">

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ChargeType, new { @class = "control-label" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                        @Html.DropDownListFor(model => model.ChargeType, ChargeType, new { @class = "form-control input-md" })
                                                        @Html.ValidationMessageFor(model => model.ChargeType)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.TriggerDescription, new { @class = "control-label" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                        @Html.DropDownListFor(model => model.Trigger, StandingOrderTriggers, new { @class = "form-control input-md" })
                                                        @Html.ValidationMessageFor(model => model.Trigger)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ScheduleFrequencyDescription, new { @class = "control-label" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                        @Html.DropDownListFor(model => model.ScheduleFrequency, Months, new { @class = "form-control input-md" })
                                                        @Html.ValidationMessageFor(model => model.ScheduleFrequency)
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Interest, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @id = "Remarks", @class = "form-control", @placeholder = "Remarks" } })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.BeneficiaryCustomerAccountId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.HiddenFor(model => model.BeneficiaryCustomerAccountId)
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryCustomerAccountId, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(model => model.BeneficiaryCustomerAccountCustomerFullName, new { htmlAttributes = new { @id = "BeneficiaryGrid", @class = "BeneficiaryGrid form-control required", placeholder = "Description.." } })
                                                </div>*@


                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-md-offset-2">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </fieldset>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>




    <!-- BenefactorCustomerLookupModal.cshtml -->
    <div class="modal fade" id="BenefactorcustomerLookupModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h3 class="font-bold">Benefactor Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
                </div>
                <table id="BenefactorCustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                    <tbody>
                        <tr>
                            <td class="dataTables_empty">
                                Loading data from server
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>






</div>



<div class="modal  fade" id="BeneficiarycustomerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Beneficiary Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="BeneficiaryCustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input type='hidden' id='h' name='h' />
<!-- Add these scripts in your HTML file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="script.js"></script>
@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")





    <script>

  


    // Benefactor Customer Accounts lookup

    $('#BenefactorCustomerAccountsGrid').DataTable({
       // Ajax settings
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts"}))",
        "sServerMethod": "POST",
        // Callback settings
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);

            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            // var selectButton = '<button type="button" data-id="' + aData.Id + '" class="btn btn-outline-info select-btn">Select</button>';
            var selectButton = '<a href="/Accounts/CustomerAccountstandingorder/Create/' + aData.Id + '" class="btn btn-outline-info select-link">' + 'Select</a>';

            // Assuming you are using jQuery
            $(document).ready(function () {
                // Attach click event handler to the link
                $('.select-link').click(function (event) {
                    // Prevent default action (page reload)
                    event.preventDefault();
                    // You can add additional logic here if needed

                    // Optionally, if you want to navigate programmatically after preventing default action:
                    window.location.href = $(this).attr('href');
                });
            });

            $('td:eq(4)', nRow).html(dt_Created);
            $('td:eq(5)', nRow).html(selectButton);

            return nRow;
        },
        // Display settings
        "aoColumns": [
            { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
            { "mDataProp": "CustomerId", "sTitle": "Customer Id", "sWidth": "4%" },
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
            { "mDataProp": "CustomerReference1", "sTitle": "customer number", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }
        ],
        "aaSorting": [[0, "desc"]]
    });

    //// Click event handler for Beneficiary select button
    //$('#BenefactorCustomerAccountsGrid').on('click', '.select-btn', function (event) {
    //    event.isDefaultPrevented();
    //    var id = $(this).data('id');
    //    console.log("BeneBenefactor Button clicked. ID: " + id);
    //}).on("click", "tr", function () {
    //    var data = $('#BenefactorCustomerAccountsGrid').DataTable().row(this).data();

    //    // Populate fields with selected data
    //    $('#BenefactorCustomerAccountCustomerId').val(data.Id);
    //    $('#BenefactorCustomerAccountCustomerId').val(data.BenefactorCustomerAccountCustomerId);
    //    $('#BenefactorCustomerAccountId').val(data.BenefactorCustomerAccountId);
    //    $('input[name=BenefactorCustomerAccountCustomerFullName]').val(data.BenefactorCustomerAccountCustomerFullName);
    //    $('input[name=BenefactorCustomerAccountCustomerId]').val(data.BenefactorCustomerAccountCustomerId);

    //    // Assuming CustomersMap is defined and contains appropriate data
    //    if (CustomersMap[data.Id]) {
    //        $('#BenefactorCustomerAccountId').val(CustomersMap[data.Id].BenefactorCustomerAccountId);
    //        $('#BenefactorCustomerAccountCustomerFullName').val(CustomersMap[data.Id].BenefactorCustomerAccountCustomerFullName);
    //    }

    //    $('#BenefactorProductDescription').val(data.BenefactorProductDescription);

    //    // Hide modal
    //    $('#BenefactorcustomerLookupModal').modal('hide');
    //});
    //$('#BenefactorCustomerAccountsGrid').on('click', '.select-btn', function (event) {
    //    event.preventDefault();
    //    var id = $(this).data('id');
    //    console.log("Benefactor Button clicked. ID: " + id);

    //    // Modify the URL to navigate to the specified path
    //    var selectButton = '/Accounts/CustomerAccountstandingorder/create/' + id;
    //    window.location.href = selectButton;
    //});





    // Beneficiary Customer Accounts lookup
    $('#BeneficiaryCustomerAccountsGrid').DataTable({
        // Ajax settings
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts"}))",
        "sServerMethod": "POST",
        // Callback settings
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);

            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            var selectButton = '<a href=  "/Accounts/CustomerAccountstandingorder/Search/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';
            $('td:eq(4)', nRow).html(dt_Created);
            $('td:eq(5)', nRow).html(selectButton);

            return nRow;
        },
        // Display settings
        "aoColumns": [
            { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
            { "mDataProp": "CustomerId", "sTitle": "Customer Id", "sWidth": "4%" },
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
            { "mDataProp": "CustomerReference1", "sTitle": "customer number", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }
        ],
        "aaSorting": [[0, "desc"]]
    });

    // Click event handler for Beneficiary select button
    $('#BeneficiaryCustomerAccountsGrid').on('click', '.select-btn', function(event) {
        event.isDefaultPrevented();
        var id = $(this).data('id');
        console.log("Beneficiary Button clicked. ID: " + id);
    }).on("click", "tr", function () {
        var data = $('#BeneficiaryCustomerAccountsGrid').DataTable().row(this).data();

        // Populate fields with selected data
        $('#BeneficiaryCustomerAccountCustomerId').val(data.Id);
        $('#BeneficiaryCustomerAccountCustomerId').val(data.BeneficiaryCustomerAccountId);
        $('#BeneficiaryCustomerAccountId').val(data.BeneficiaryCustomerAccountId);
        $('input[name=BeneficiaryCustomerAccountCustomerFullName]').val(data.BeneficiaryCustomerAccountCustomerFullName);
        $('input[name=BeneficiaryCustomerAccountCustomerId]').val(data.BeneficiaryCustomerAccountId);

        // Assuming CustomersMap is defined and contains appropriate data
        if (CustomersMap[data.Id]) {
            $('#BeneficiaryCustomerAccountId').val(CustomersMap[data.Id].BeneficiaryCustomerAccountId);
            $('#BeneficiaryCustomerAccountCustomerFullName').val(CustomersMap[data.Id].BeneficiaryCustomerAccountCustomerFullName);
        }

        $('#BeneficiaryProductDescription').val(data.BeneficiaryProductDescription);

        // Hide modal
        $('#BeneficiarycustomerLookupModal').modal('hide');
    });
    //$('#BeneficiaryCustomerAccountsGrid').on('click', '.select-btn', function (event) {
    //    event.isDefaultPrevented();
    //    var id = $(this).data('id');
    //    console.log("Beneficiary Button clicked. ID: " + id);

    //    // Modify the URL to navigate to the specified path
    //    var selectButton = '/Accounts/CustomerAccountstandingorder/Search/' + id;
    //    window.location.href = selectButton;
    //});
    // Prevent form submission reload




                $('#data_3 .input-group.date').datepicker({
                    startView: 2,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                });


        //$(document).ready(function () {
        //    // Make an AJAX request to your Create action
        //    $.ajax({
        //        url: '/CustomerAccountstandingorder/Create',
        //        type: 'GET',
        //        success: function (data) {
        //            // Check if there is an error in the response
        //            if (data.error) {
        //                // Display the error message to the user
        //                alert(data.error); // You can use a more sophisticated UI for showing errors
        //            } else {
        //                // Render the received data on the page
        //                // Assuming you have a function to render the data in the appropriate HTML elements
        //                renderData(data);
        //            }
        //        },
        //        error: function () {
        //            // Handle errors if the AJAX request fails
        //            alert('Error occurred while fetching data');
        //        }
        //    });
        //});



        //document.addEventListener("BenefactorcustomerLookupModal", function () {
        //    var inputField = document.getElementById('benefactorCustomerFullName');

        //    // Retrieve the value from localStorage if available
        //    try {
        //        var benefactorCustomerFullName = localStorage.getItem('benefactorCustomerFullName');
        //        if (benefactorCustomerFullName) {
        //            inputField.value = benefactorCustomerFullName;
        //            // Alert that data has been retrieved from localStorage
        //            alert('Data has been retrieved from localStorage.');
        //        }
        //    } catch (error) {
        //        // Alert if data retrieval fails
        //        alert('Failed to retrieve data from localStorage.');
        //        console.error(error);
        //    }

        //    // Listen for changes in the input field
        //    inputField.addEventListener('input', function () {
        //        // Save the value to localStorage
        //        try {
        //            localStorage.setItem('benefactorCustomerFullName', this.value);
        //            alert('Data has been saved to localStorage.');
        //        } catch (error) {
        //            // Alert if data saving fails
        //            alert('Failed to save data to localStorage.');
        //            console.error(error);
        //        }
        //    });

        //    // Call captureDetails2 function
        //    captureDetails2();
        //});

        @*function captureDetails2() {
            var BenefactorCustomerAccountCustomerFullName = BenefactorCustomerAccountId.localStorage; // Replace with actual value obtained from lookup
            var BenefactorCustomerAccountId = "BenefactorCustomerAccountId"; // Replace with actual value obtained from lookup

            // Assign captured data to the appropriate input fields
            document.getElementById('BenefactorCustomerAccountCustomerFullName').value = BenefactorCustomerAccountCustomerFullName;
            document.getElementById('BenefactorCustomerAccountId').value = BenefactorCustomerAccountId;

            // Save data to session storage
            sessionStorage.setItem('BenefactorCustomerAccountCustomerFullName', BenefactorCustomerAccountCustomerFullName);
            sessionStorage.setItem('BenefactorCustomerAccountId', BenefactorCustomerAccountId);

            // Save data to local storage
            localStorage.setItem('BenefactorCustomerAccountCustomerFullName', BenefactorCustomerAccountCustomerFullName);
            localStorage.setItem('BenefactorCustomerAccountId', BenefactorCustomerAccountId);
            cache.setItem["BenefactorCustomerAccountId"] = BenefactorCustomerAccountId;
            // Perform AJAX request to load partial view and pass data to controller
            $.ajax({
                url: "/CustomerAccountstandingorder/AssignText",
                type: "POST",
                data: { "BenefactorCustomerAccountCustomerFullName": BenefactorCustomerAccountCustomerFullName, "BenefactorCustomerAccountId": BenefactorCustomerAccountId },
                success: function (response) {
                    // Load the partial view content to your desired location
                    alert("Saved");
                },
                error: function (error) {
                    alert('Failed to save');
                    console.error(error);
                }
            });
        }


        function captureDetails3() {
            var BeneficiaryCustomerAccountCustomerFullName = "BeneficiaryCustomerAccountCustomerFullName".preventDefault(arguments.BeneficiaryCustomerAccountId); // Replace with actual value obtained from lookup
            var BeneficiaryCustomerAccountId = "BeneficiaryCustomerAccountId"; // Replace with actual value obtained from lookup

            // Assign captured data to the appropriate input fields
            document.getElementById('BeneficiaryCustomerAccountCustomerFullName').value = BeneficiaryCustomerAccountCustomerFullName;
            document.getElementById('BeneficiaryCustomerAccountId').value = BeneficiaryCustomerAccountId;

            // Save data to session storage
            sessionStorage.setItem('BeneficiaryCustomerAccountCustomerFullName', BeneficiaryCustomerAccountCustomerFullName);
            sessionStorage.setItem('BeneficiaryCustomerAccountId', BeneficiaryCustomerAccountId);

            // Save data to local storage
            localStorage.setItem('BeneficiaryCustomerAccountCustomerFullName', BeneficiaryCustomerAccountCustomerFullName);
            localStorage.setItem('BeneficiaryCustomerAccountId', BeneficiaryCustomerAccountId);
            cache.setItem["BeneficiaryCustomerAccountId"] = BeneficiaryCustomerAccountId;
            // Perform AJAX request to load partial view and pass data to controller
            $.ajax({
                url: "/CustomerAccountstandingorder/AssignText2",
                type: "POST",
                data: { "BeneficiaryCustomerAccountCustomerFullName": BeneficiaryCustomerAccountCustomerFullName, "BeneficiaryCustomerAccountId": BeneficiaryCustomerAccountId },
                success: function (response) {
                    // Load the partial view content to your desired location
                    alert("Saved");
                },
                error: function (error) {
                    alert('Failed to save');
                    console.error(error);
                }
            });
        }




          //Company typehead starts here
    $('.BeneficiaryGrid').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetLoanProductsAsync", "CustomerAccountstandingorder", new { Area = "Accounts" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#BeneficiaryCustomerAccountCustomerId').val(data.Id);
                    $('#BeneficiaryCustomerAccountCustomerId').val(data.BeneficiaryCustomerAccountId);
                    $('#BeneficiaryCustomerAccountId').val(data.BeneficiaryCustomerAccountId);
                    $('input[name=BeneficiaryCustomerAccountCustomerFullName]').val(data.BeneficiaryCustomerAccountCustomerFullName);
                    $('input[name=BeneficiaryCustomerAccountCustomerId]').val(data.BeneficiaryCustomerAccountId);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });*@




    </script>
}
