@model Application.MainBoundedContext.DTO.HumanResourcesModule.SalaryProcessingDTO

@{
    ViewBag.Title = "Salary Periods";
    var monthDescription = ViewBag.MonthTypeSelectList as List<SelectListItem>;
    var employeeType = ViewBag.EmployeeTypeSelectList as List<SelectListItem>;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Salary Period</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "SalaryPeriods", new { Area = "HumanResource" }, null)
            </li>
            <li class="breadcrumb-item active">
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>View Salary Period</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Details", "SalaryPeriods", new { Area = "HumanResource" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4">

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.PostingPeriodDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.PostingPeriodId, new { id = "PostingPeriodId" })
                                        @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required", placeholder = "Enter space to autofill...", id = "PostingPeriodDescription" } })
                                        @Html.ValidationMessageFor(model => model.PostingPeriodDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.Month, monthDescription, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.Month)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.EmployeeCategory, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.EmployeeCategory, employeeType, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.EmployeeCategory)
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TaxReliefAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.TaxReliefAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                        @Html.ValidationMessageFor(model => model.TaxReliefAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumProvidentFundReliefAmount, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.MaximumProvidentFundReliefAmount, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.MaximumProvidentFundReliefAmount, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Kshs.0.00" } })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumInsuranceReliefAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.MaximumInsuranceReliefAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                        @Html.ValidationMessageFor(model => model.MaximumInsuranceReliefAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Remarks..." } })
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <div class="ibox-content m-b-sm border-bottom">
                            @using (Html.BeginForm("Create", "SalaryPeriods", new { Area = "HumanResource" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                            {
                            <div class="bottom-button row mt-3" style="display: flex; justify-content: flex-end; padding-right:50px; margin-top:20px;">
                                <p>
                                    @Html.ActionLink("Edit", "Edit", "SalaryPeriods", new { id = Model.Id, Area = "HumanResource" }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("Back to List", "Index", "SalaryPeriods", new { Area = "HumanResource" }, new { @class = "btn btn-success" })
                                </p>
                            </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")





    <script>
    $(document).ready(function () {
        initTypeahead('.PostingPeriodsLookup', '@Url.Action("GetPostingPeriodsAsync", "PostingPeriod", new { Area = "Accounts" })', 'PostingPeriodId');

        function initTypeahead(selector, url, hiddenFieldId) {
            var dataMap = {};
            $(selector).typeahead({
                source: function (query, process) {
                    return $.getJSON(url, { query: query }, function (data) {
                        var newData = [];
                        dataMap = {};
                        $.each(data, function (i, item) {
                            newData.push(item.Description);
                            dataMap[item.Description] = item;
                        });
                        process(newData);
                    });
                },
                matcher: function (item) {
                    return item.toLowerCase().indexOf(this.query.trim().toLowerCase()) !== -1;
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var data = dataMap[item];
                    if (data) {
                        $('#' + hiddenFieldId).val(data.Id);
                    }
                    return item;
                }
            });
        }

        $('#lookupPostingPeriod').click(function () {
        });
    });
    </script>

}

