@model  Application.MainBoundedContext.DTO.AccountsModule.CreditBatchDTO

@{
    /**/
    ViewBag.Title = "Verify Credit Batch ";
    var batchAuthOptions = ViewBag.BatchAuthOptionSelectList as List<SelectListItem>;
    var creditBatchType = ViewBag.CreditBatchTypeTypeSelectList as List<SelectListItem>;
    var QueuePriority = ViewBag.QueuePriorityTypeSelectList as List<SelectListItem>;
    var Monthtype = ViewBag.MonthsSelectList as List<SelectListItem>;
    var Months = ViewBag.MonthsSelectList as List<SelectListItem>;
    var ChargeType = ViewBag.ChargeTypeSelectList as List<SelectListItem>;
    var ConcessionType = ViewBag.ConcessionTypeSelectList as List<SelectListItem>;

}

<style>
    .custom-container {
        border: 2px solid gray; /* Border color set to gray */
        padding: 10px; /* Padding inside the border */
        border-radius: 5px; /* Rounded corners (optional) */

        display: flex; /* Enable Flexbox */
        align-items: center; /* Center content vertically */
        justify-content: center; /* Center content horizontally */
        font-size: 15px; /* Set font size to 15px */
        text-align: center; /* Center text within elements */
        margin-top: 30px;
        font-weight: bold;
        background-color: #00e0ff;
    }

   @* Batch Entries table Styling*@

    #ChargeSplits {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        #ChargeSplits thead {
            background-color: white;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        #ChargeSplits th, #ChargeSplits td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #ChargeSplits th {
            font-weight: bold;
        }

        #ChargeSplits tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #ChargeSplits tbody tr:hover {
            background-color: #f1f1f1;
        }

    /* Ensure that any child elements that need to be centered don't affect the container alignment */
    .row {
        width: 100%; /* Make sure row takes full width */
        font-size: 16px;
    }

    .combined-container {
        padding: 20px; /* Padding inside the container */
        border-radius: 5px; /* Rounded corners (optional) */
        margin: 20px 0; /* Margin above and below the container */
        font-size: 15px; /* Set font size to 15px */
        display: flex; /* Enable Flexbox for alignment */
        flex-direction: column; /* Stack rows vertically */
        font-weight: bold;
        border: 2px solid #00ffff;
    }

    .row {
        margin-bottom: 20px; /* Space between rows */
    }

    .form-group {
        margin-bottom: 15px; /* Space between form groups */
    }

    .input-group-addon {
        padding: 10px; /* Padding inside the input group addon */
    }

    .form-control {
        margin-top: 5px; /* Space above input controls */
    }

    .btn-primary {
        border-radius: 10px;
    }

    #policies {
        color: black;
    }

    .main1 {
        border: 1px solid black;
        border-radius: 12px;
        padding: 10px;
        background-color: #f1f1f1;
    }
    .control-label {
        color: #333; /* Replace with your desired color */
    }
    .checkbox-label{
        color:#333;
    }

    .form-control {
        color: #007bff; /* Replace with your desired color */
    }
    .style1 {
        color: #007bff; /* Replace with your desired color */
    }
    .button-container {
        display: inline-block;
        position: relative;
    }

    .custom-dropdown {
        display: flex;
        align-items: center;
        border: 1px solid #ccc; /* Border around the button */
        border-radius: 4px;
        padding: 5px 10px;
        background-color: #f9f9f9; /* Background color of the button */
        cursor: pointer;
        white-space: nowrap;
        font-size: 16px;
        position: relative;
        min-width: 150px; /* Minimum width to prevent overlap */
        width: auto; /* Adjust width based on content */
        margin-top:20px;
    }

    .custom-select {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 16px;
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        width: 100%; /* Make the dropdown take full width of the container */
        -webkit-appearance: none; /* Remove default dropdown styles in WebKit browsers */
        -moz-appearance: none; /* Remove default dropdown styles in Firefox */
        font-weight: bold;
        text-align: left;
        line-height: 1.5; /* Adjust line height for better vertical alignment */
        color: #007bff; /* Blue color for the text */
    }

    .custom-dropdown::after {
        content: '\f078'; /* Unicode for down arrow */
        font-family: FontAwesome; /* FontAwesome for the down arrow */
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none; /* Allow clicks to pass through the arrow */
    }


</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BatchOrigination_Credit", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Verify</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2 style="font-weight: bold;">Verify Batch</h2>
                    <hr />
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Verify", "BatchOrigination_Credit", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            
                            <div class="main1">
                                <div class="combined-container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.PostingPeriodId, htmlAttributes: new { @class = "control-label" })
                                                @Html.HiddenFor(model => model.PostingPeriodId)
                                                @Html.ValidationMessageFor(model => model.PostingPeriodId, "", new { @class = "text-danger" })
                                                @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required", placeholder = "Posting Period Description", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.ConcessionFixedAmount, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.ConcessionFixedAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "ConcessionFixedAmount", @required = "", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.ConcessionFixedAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.CreditTypeId, htmlAttributes: new { @class = "control-label" })
                                                @Html.HiddenFor(model => model.CreditTypeId)
                                                @Html.ValidationMessageFor(model => model.CreditTypeId, "", new { @class = "text-danger" })
                                                @Html.EditorFor(model => model.CreditTypeDescription, new { htmlAttributes = new { @class = "CreditTypesLookup form-control required", placeholder = "Credit Type Description", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">


                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.TypeDescription, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon style1"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.TypeDescription, creditBatchType, new { @class = "form-control input-md", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.TypeDescription)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                                @Html.HiddenFor(model => model.BranchId)
                                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                                @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Description..", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.Priority, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon style1"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.Priority, QueuePriority, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Priority)
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.Month, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon style1"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.Month, Monthtype, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Month)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.ConcessionType, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon style1"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.ConcessionType, ChargeType, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.ConcessionType)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.PreserveAccountBalance, new { @disabled = "disabled" })
                                                @Html.LabelFor(model => model.PreserveAccountBalance, new { @class = "checkbox-label" })
                                            </div>
                                        </div>





                                        <div class="col-lg-2">
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.RecoverArrearages, new { @disabled = "disabled" })
                                                @Html.LabelFor(model => model.RecoverArrearages, new { @class = "checkbox-label" })
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">


                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "TotalValue", @required = "", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @required = "", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.RecoverIndefiniteCharges, new { @disabled = "disabled" })
                                                @Html.LabelFor(model => model.RecoverIndefiniteCharges, new { @class = "checkbox-label" })
                                            </div>
                                        </div>
                                        

                                        <div class="col-lg-2">
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.RecoverCarryForwards, new { @disabled = "disabled" })
                                                @Html.LabelFor(model => model.RecoverCarryForwards, new { @class = "checkbox-label" })
                                            </div>
                                        </div>

                                            
                                    </div>
                                </div>


                                <br />
                                <br />

                                <div style="border: 1px solid gray; padding: 20px; margin: 20px; position: relative; border-radius:12px;">
                                    <h2 style="position: absolute; top: -20px; left: 20px; background: white; padding: 0 10px; color: #333;font-weight:bold;">Credit Batch Entries</h2>

                                    <row>
                                        <table id="ChargeSplits" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap: normal; color: black; width: 100%; margin-bottom: 50px;">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th style="width: 15%;">Credit BatchId</th>
                                                    <th style="width: 10%;">Beneficiary</th>
                                                    <th style="width: 5%;">Principal</th>
                                                    <th style="width: 5%;">Interest</th>
                                                    <th style="width: 5%;">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.CreditBatchEntryDTOs != null)
                                                {
                                                    foreach (var CreditBatchEntries in ViewBag.CreditBatchEntryDTOs)
                                                    {
                                                        <tr data-id="@CreditBatchEntries.Id">
                                                            <td>@CreditBatchEntries.CreditBatchId</td>
                                                            <td>@CreditBatchEntries.Beneficiary</td>
                                                            <td>@CreditBatchEntries.Principal</td>
                                                            <td>@CreditBatchEntries.Interest</td>
                                                            <td><button type="button" class="btn btn-danger remove-btn">Remove</button></td>


                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </row>
                                </div>

                                <div class="custom-container">
                                    <div class="row" id="policies">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        <div class="form-group-container">
                                                            Remarks:
                                                            @Html.EditorFor(model => model.AuditRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks", @required = "" } })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.AuditRemarks, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">




                                                    <div class="form-group form-group-lg">
                                                        <div class="button-container">
                                                            <div class="custom-dropdown">
                                                                @Html.DropDownListFor(model => model.CreditAuthOption, batchAuthOptions, new { @class = "custom-select" })
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>

                                        </div>



                                        <div class="col-lg-2">
                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <div class="style-button" style="text-align: right;">
                                                        <input type="submit" value="Verify" style="width: 150px; margin-top:20px;" class="btn btn-primary" />
                                                    </div>


                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>




                            
                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>
        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });


        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });



               //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });
             //PostingPeriod typehead starts here
            $('.PostingPeriodsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetPostingPeriodsAsync", "PostingPeriod", new { Area = "Accounts" })',
                        { query: query },
                        function (PostingPeriods) {
                            var newPostingPeriodsData = [];
                            PostingPeriodsMap = {};
                            $.each(PostingPeriods, function (i, PostingPeriod) {
                                newPostingPeriodsData.push(PostingPeriod.Description);
                                PostingPeriodsMap[PostingPeriod.Description] = PostingPeriod;
                            });
                            process(newPostingPeriodsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var postingPeriodId = "";
                    PostingPeriodId = PostingPeriodsMap[item].Id;
                    $('#PostingPeriodId').val(PostingPeriodId);
                    //console.log(PostingPeriodId)
                    return item;
                }
            });




              //CreditTypes typehead starts here
            $('.CreditTypesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCreditTypesAsync", "CreditType", new { Area = "Accounts" })',
                        { query: query },
                        function (CreditTypes) {
                            var newCreditTypesData = [];
                            CreditTypesMap = {};
                            $.each(CreditTypes, function (i, CreditType) {
                                newCreditTypesData.push(CreditType.Description);
                                CreditTypesMap[CreditType.Description] = CreditType;
                            });
                            process(newCreditTypesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CreditTyped = "";
                    CreditTypeId = CreditTypesMap[item].Id;
                    $('#CreditTypeId').val(CreditTypeId);
                    //console.log(PostingPeriodId)
                    return item;
                }
            });

        });</script>
}

