

@model Application.MainBoundedContext.DTO.AccountsModule.InvestmentProductDTO

@{
    ViewBag.Title = "Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "InvestmentProduct", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Investment Product Details</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.ChartOfAccountAccountName, htmlAttributes: new { @class = "control-label" })
                                @Html.HiddenFor(model => model.ChartOfAccountId)
                                @Html.ValidationMessageFor(model => model.ChartOfAccountAccountName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", @placeholder = "Enter space to autofill G/L Account..", @disabled = "Disabled" } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.ParentChartOfAccountNameDescription, htmlAttributes: new { @class = "control-label" })
                                @Html.HiddenFor(model => model.ParentId)
                                @Html.ValidationMessageFor(model => model.ParentChartOfAccountNameDescription, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ParentChartOfAccountNameDescription, new { htmlAttributes = new { @class = "InvestmentProductsLookup form-control required", @placeholder = "Enter space to autofill Parent G/L Account..", @disabled = "Disabled" } })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Priority, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @placeholder = "Modify Recovery Priority", @disabled = "Disabled" } })
                                @Html.ValidationMessageFor(model => model.Priority)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.MaturityPeriod, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.MaturityPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maturity Period (Days)", @disabled = "Disabled" } })
                                @Html.ValidationMessageFor(model => model.MaturityPeriod, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.MaximumBalance, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.MaximumBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "MaximumBalance", @disabled = "Disabled" } })
                                @Html.ValidationMessageFor(model => model.MaximumBalance, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.MinimumBalance, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.MinimumBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Minimum Balance", @disabled = "Disabled" } })
                                @Html.ValidationMessageFor(model => model.MinimumBalance, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.AnnualPercentageYield, htmlAttributes: new { @class = "" });
                                @Html.EditorFor(model => model.AnnualPercentageYield, new { htmlAttributes = new { @class = "form-control", @placeholder = "Annual Percentage Yield", @disabled = "Disabled" } })
                                @Html.ValidationMessageFor(model => model.AnnualPercentageYield, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-lg-1">
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.IsRefundable, htmlAttributes: new { @class = "rowCheckbox" })
                                @Html.LabelFor(model => model.IsRefundable, new { htmlAttributes = new { @class = "form-control rowCheckbox", @placeholder = "Is Refundable?" } })
                                @Html.ValidationMessageFor(model => model.IsRefundable, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.TrackArrears, htmlAttributes: new { @class = "rowCheckbox" })
                                @Html.LabelFor(model => model.TrackArrears, new { htmlAttributes = new { @class = "form-control rowCheckbox", @placeholder = "Is Pooled?" } })
                                @Html.ValidationMessageFor(model => model.TrackArrears, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "rowCheckbox" })
                                @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control rowCheckbox", @placeholder = "Is Pooled?" } })
                                @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.IsPooled, htmlAttributes: new { @class = "rowCheckbox" })
                                @Html.LabelFor(model => model.IsPooled, new { htmlAttributes = new { @class = "form-control rowCheckbox", @placeholder = "Is Pooled?" } })
                                @Html.ValidationMessageFor(model => model.IsPooled, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.TransferBalanceToParentOnMembershipTermination, htmlAttributes: new { @class = "rowCheckbox" })
                                @Html.LabelFor(model => model.TransferBalanceToParentOnMembershipTermination, new { htmlAttributes = new { @class = "form-control rowCheckbox", @placeholder = "Is Pooled?" } })
                                @Html.ValidationMessageFor(model => model.TransferBalanceToParentOnMembershipTermination, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>
        $(document).ready(function () {
            $('.rowCheckbox').on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
}