

@model Application.MainBoundedContext.DTO.AccountsModule.InvestmentProductDTO

@{
    ViewBag.Title = "Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "InvestmentProduct", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Investment Product Details</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.Description)
                            @Html.DisplayFor(model => model.Description)
                        </div>

                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.MinimumBalance)
                            @Html.DisplayFor(model => model.MinimumBalance)
                        </div>

                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.MaximumBalance)
                            @Html.DisplayFor(model => model.MaximumBalance)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.Priority)
                            @Html.DisplayFor(model => model.Priority)
                        </div>

                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.IsLocked)
                            @Html.DisplayFor(model => model.IsLocked)
                        </div>

                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.IsPooled)
                            @Html.DisplayFor(model => model.IsPooled)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.MaturityPeriod)
                            @Html.DisplayFor(model => model.MaturityPeriod)
                        </div>

                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.ChartOfAccountAccountName)
                            @Html.DisplayFor(model => model.ChartOfAccountAccountName)
                        </div>

                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.AnnualPercentageYield)
                            @Html.DisplayFor(model => model.AnnualPercentageYield)
                        </div>

                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.IsRefundable)
                            @Html.DisplayFor(model => model.IsRefundable)
                        </div>

                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.TrackArrears)
                            @Html.DisplayFor(model => model.TrackArrears)
                        </div>

                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.IsMandatory)
                            @Html.DisplayFor(model => model.IsMandatory)
                        </div>

                        <div class="col-lg-6">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            @Html.ActionLink("Edit", "Edit", "InvestmentProduct", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Back to List", "Index", "InvestmentProduct", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>