
@model Application.MainBoundedContext.DTO.RegistryModule.FileMovementHistoryDTO
@{
    ViewBag.Title = "Receive File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Receive File</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" id="refreshBtn">
                                <i class="fas fa-sync-alt"></i> Refresh
                            </button>
                            <button type="submit" form="receiveForm" class="btn btn-primary">
                                <i class="fas fa-check"></i> Receive
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-12">
                       <div class="form-inline">
                            @*<div class="form-group mr-3">
                                <label class="mr-2">File Status</label>
                                @Html.DropDownList("recordStatus",Model.SourceDepartmentId."Select", new { @class = "form-control form-control-sm" })
                            </div>
                            <div class="form-group mr-3">
                                <label class="mr-2">Customer Type</label>
                                @Html.DropDownList("CustomerTypeSelectList",)ViewBag.CustomerTypeSelectList, "Select", new { @class = "form-control form-control-sm" })
                            </div>*@
                            <div class="form-group mr-3">
                                <label class="mr-2">Account Number</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Enter Text..." />
                            </div>
                            <button type="button" class="btn btn-sm btn-secondary">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="30px"><input type="checkbox" id="selectAll" /></th>
                                        <th>Serial Number</th>
                                        <th>Full Account Number</th>
                                        <th>Membership Number</th>
                                        <th>Personal File Number</th>
                                        <th>Customer Name</th>
                                        <th>Gender</th>
                                        <th>Marital Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.customers != null)
                                    {
                                        foreach (var customer in ViewBag.customers)
                                        {
                                            <tr>
                                                <td><input type="checkbox" class="file-checkbox" data-id="@customer.Id" /></td>
                                                <td>@customer.SerialNumber</td>
                                                <td>@customer.AccountNumber</td>
                                                <td>@customer.MembershipNumber</td>
                                                <td>@customer.PersonalFileNumber</td>
                                                <td>@customer.IndividualFirstName @customer.IndividualLastName</td>
                                                <td>@customer.Gender</td>
                                                <td>@customer.MaritalStatus</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="mr-2">Items per page:</label>
                                    <select class="form-control form-control-sm">
                                        <option>15</option>
                                        <option>30</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pagination-sm justify-content-end">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model != null && Model.FileRegisterId != Guid.Empty)
                {
                    <hr />
                    <h5 class="mb-3">File Movement History</h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    <th>Remarks</th>
                                    <th>Carrier</th>
                                    <th>Sender</th>
                                    <th>Dispatch Date</th>
                                    <th>Recipient</th>
                                    <th>Receive Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>@Model.SourceDepartmentDescription</td>
                                    <td>@Model.DestinationDepartmentDescription</td>
                                    <td>@Model.Remarks</td>
                                    <td> </td>
                                    <td>A</td>
                                    <td>@DateTime.Now.AddDays(-3).ToString("dd/MM/yyyy")</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    <script>
        $(document).ready(function () {
          
            $('#selectAll').change(function () {
                $('.file-checkbox').prop('checked', $(this).prop('checked'));
            });

          
            $('#refreshBtn').click(function () {
                location.reload();
            });

         
            $('.file-checkbox').change(function () {
                var anyChecked = $('.file-checkbox:checked').length > 0;
                $('#receiveBtn').prop('disabled', !anyChecked);
            });
        });
    </script>
}