@model Application.MainBoundedContext.DTO.InventoryCatalogDTO

@{
    ViewBag.Title = "View Inventory Item";
}

<h2>Inventory Item Details</h2>

<div class="form-horizontal">
    <hr />

    @* Text fields *@
    <div class="form-group">
        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.Name</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Category, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.Category</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BaseUOM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.BaseUOM</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.PackageType</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GLAccount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.GLAccount</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MainSupplier, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.MainSupplier</p>
        </div>
    </div>

    @* Integer fields *@
    <div class="form-group">
        @Html.LabelFor(m => m.ReorderPoint, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.ReorderPoint</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MaximumOrder, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.MaximumOrder</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UnitsPerPack, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.UnitsPerPack</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PaletteTI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.PaletteTI</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PaletteHI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.PaletteHI</p>
        </div>
    </div>

    @* Decimal fields *@
    <div class="form-group">
        @Html.LabelFor(m => m.UnitNetWeight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.UnitNetWeight</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UnitGrossWeight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.UnitGrossWeight</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LeadDays, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.LeadDays</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EconomicOrder, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.EconomicOrder</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UnitCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.UnitCost</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.UnitPrice</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MonthlyDemand, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.MonthlyDemand</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="form-control-static">@Model.Remarks</p>
        </div>
    </div>

    @* Navigation Buttons *@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
