

@model  Application.MainBoundedContext.DTO.AccountsModule.InsuranceCompanyDTO

@{
    /**/

    ViewBag.Title = "Create Insurance Company";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Insurers", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Insurers</h2>

                    @if (TempData["CreateError"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: '@TempData["CreateError"]',
                                    confirmButtonColor: '#FF0000',
                                });
                            });
                        </script>
                    }
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Create", "Insurers", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter text...", @required = "required" } })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressAddressLine1)
                                        @Html.EditorFor(model => model.AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressAddressLine1, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressStreet)
                                        @Html.EditorFor(model => model.AddressStreet, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressLandLine)
                                        @Html.EditorFor(model => model.AddressLandLine, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressLandLine, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressCity)
                                        @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ChartOfAccountId, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.ChartOfAccountId, new { @id = "ChartOfAccountId" })
                                            @Html.TextBoxFor(model => model.ChartOfAccountAccountName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @required = "required", @placeholder = "", @id = "ChartOfAccountAccountName" })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#chartofAccountLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressAddressLine2)
                                        @Html.EditorFor(model => model.AddressAddressLine2, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressAddressLine2, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressPostalCode)
                                        @Html.EditorFor(model => model.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressPostalCode, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressEmail)
                                        @Html.EditorFor(model => model.AddressEmail, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressEmail, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AddressMobileLine)
                                        @Html.EditorFor(model => model.AddressMobileLine, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AddressMobileLine, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "", @required = "required" })
                                        @Html.LabelFor(model => model.IsLocked)
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <button type="submit" id="submitButton" style="width: 150px;" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal  fade" id="chartofAccountLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">G/L Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>

            <br />
            <style>
                #chartsofAccountGrid thead {
                    background-color: #007bff;
                    color: white;
                }
            </style>
            <table id="chartsofAccountGrid" class="table table-hover" style="width:100%">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")



    <script src="~/Scripts/js/GuarantorsModalPopUp.js"></script>

    <script src="~/Scripts/js/handleTogglingTheSectionAndButtonText.js"></script>


    <script>
        $('#chartsofAccountGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("ChartOfAccountsIndex", "CreditType", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<button class="btn btn-outline-info" onclick="selectCoA(\'' + aData.Id + '\')">Select</button>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "AccountName", "sTitle": "G/L Account Name", "sWidth": "10%" },
                    { "mDataProp": "CostCenterDescription", "sTitle": "Cost Center", "sWidth": "10%" },
                    { "mDataProp": "AccountCode", "sTitle": "Code", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });

         function selectCoA(id) {
            console.log("Selected ID:", id);
            $.ajax({
                url: '/Accounts/Insurers/ChartOfAccountLookUp',
                type: 'POST',
                data: { Id: id },
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        $('#ChartOfAccountId').val(response.data.ChartOfAccountId);
                        $('#ChartOfAccountAccountName').val(response.data.ChartOfAccountAccountName);

                        $('#chartofAccountLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
    </script>


    <script>
        document.getElementById('submitButton').addEventListener('click', function (event) {
            const inputs = document.querySelectorAll('.form-control[required]');
            let isValid = true;
            inputs.forEach(input => {
                if (!input.value.trim()) {
                    isValid = false;
                    input.classList.add('is-invalid'); 
                } else {
                    input.classList.remove('is-invalid');
                }
            });
            if (!isValid) {
                event.preventDefault(); 
                alert('Please fill in all required fields.');
            }
        });
    </script>

}
