@model  Application.MainBoundedContext.DTO.AccountsModule.InsuranceCompanyDTO
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{
    ViewBag.Title = "Insurance Company Details";
}

<!-- _Layout.cshtml or individual views -->
<link href="~/Scripts/css/tabbing2.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Insurers", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>


<div>
    <h3>View insurance Company</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChartOfAccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChartOfAccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressAddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressAddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressAddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressAddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLandLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLandLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressMobileLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressMobileLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsLocked)
        </dd>
       
    </dl>
</div>
<div>

    @{
        var url = Url.Action("Index", "Insurers", new { Area = "Accounts" });
    }
    <a href="@url" class="btn btn-primary">Return To List</a>

</div>

