@model Application.MainBoundedContext.DTO.AdministrationModule.CompanyBindingModel

@{
    ViewBag.Title = "View Company";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Companies</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Company", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>
<style>

    .myfooter .btn {
        margin-left: 10px; /* Adds space between buttons */
        margin-right: 10px; /* Optional for equal padding on both sides */
        min-width: 120px; /* Ensures consistent button width */
    }

    .myfooter .form-group {
        display: flex; /* Align items horizontally */
        justify-content: flex-end; /* Align buttons to the right */
        gap: 10px; /* Adds consistent spacing between buttons */
    }

    .myfooter a.btn {
        text-align: center; /* Ensures the button content is centered */
    }


    input[type="checkbox"]:disabled {
        cursor: not-allowed;
        opacity: 0.6; /* Makes it look greyed-out */
    }
</style>
<div class="wrapper wrapper-content" style="padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white " style="padding: 20px;">
                    @using (Html.BeginForm("Details", "Company", new { Area = "Admin" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RegistrationNumber, htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PersonalIdentificationNumber, htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.PersonalIdentificationNumber, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.PersonalIdentificationNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MembershipTerminationNoticePeriod, "Termination Notice Period", htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.MembershipTerminationNoticePeriod, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.MembershipTerminationNoticePeriod, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        @*<script>
                                document.getElementById('logoInput').addEventListener('change', function (event) {
                                    const file = event.target.files[0];
                                    const reader = new FileReader();

                                    reader.onload = function (e) {
                                        document.getElementById('logoPreview').src = e.target.result;
                                    };

                                    if (file) {
                                        reader.readAsDataURL(file);
                                    }
                                });
                            </script>*@



                        <!-- Vision, Mission, and Motto Section -->
                        <br />
                        <h>Vision, Mission, and Motto</h>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.Vision, htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.Vision, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.Vision, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.Mission, htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.Mission, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.Mission, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    @Html.LabelFor(model => model.Motto, htmlAttributes: new { @class = "font-bold" })
                                    @Html.EditorFor(model => model.Motto, new { htmlAttributes = new { @class = "form-control", @required = "", @style = "border-radius: 5px;" } })
                                    @Html.ValidationMessageFor(model => model.Motto, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RecoveryPriority, htmlAttributes: new { @class = "font-bold" })
                                    @Html.DropDownListFor(model => model.RecoveryPriority, new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "DirectDebits", Value = "DirectDebits" },
                                        new SelectListItem { Text = "Investments", Value = "Investments" },
                                        new SelectListItem { Text = "Loans", Value = "Loans" },
                                        new SelectListItem { Text = "Savings", Value = "Savings" }
                                    }, new { @class = "form-control", @style = "border-radius: 5px;" })
                                    @Html.ValidationMessageFor(model => model.RecoveryPriority, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                            <li class="nav-item">
                                <a class="nav-link active" href="#address">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mandatoryDebitTypes">Debit Types</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mandatoryInvestmentProducts">Investment Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mandatorySavingsProducts">Savings Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#flags">Flags</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="address" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressAddressLine1, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 1", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressAddressLine1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressAddressLine2, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressAddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 2", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressAddressLine2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressStreet, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressCity, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressPostalCode, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postal code", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressPostalCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressEmail, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @required = "", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressLandLine, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressLandLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Land line", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressLandLine, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AddressMobileLine, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.AddressMobileLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile line", @required = "", @style = "border-radius: 5px;", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.AddressMobileLine, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="mandatoryDebitTypes" class="tab-pane">
                                    <div class="ibox-content m-b-sm border-bottom text-dark" style="background-color: #f0f8ff; border-color: #e3e6e8;">
                                        <table class="footable table table-striped toggle-arrow-tiny grey-table" style="color: #333;">
                                            <thead style="background-color: #4682b4; color: #fff;">
                                                <tr>
                                                    <th data-toggle="true">Description</th>
                                                    <th data-hide="phone"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.debit != null)
                                                {
                                                    var selectedDebitTypes = ViewBag.SelectedDebitTypes as List<Guid> ?? new List<Guid>();

                                                    foreach (var debit in ViewBag.debit)
                                                    {
                                                        <tr style="background-color: #f5f5f5;">
                                                            <td>
                                                                <input type="checkbox"
                                                                       class="debit-checkbox"
                                                                       name="debittypes"
                                                                       value="@debit.Id"
                                                                       @(selectedDebitTypes.Contains(debit.Id) ? "checked" : "") />
                                                                @debit.Description
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="mandatoryInvestmentProducts" class="tab-pane">
                                    <div class="ibox-content m-b-sm border-bottom text-dark" style="background-color: #f0f8ff; border-color: #e3e6e8;">
                                        <table class="footable table table-striped toggle-arrow-tiny grey-table" style="color: #333;">
                                            <thead style="background-color: #4682b4; color: #fff;">
                                                <tr>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.allInvestments != null)
                                                {
                                                    var selectedInvestmentProducts = ViewBag.SelectedInvestmentProducts as List<Guid> ?? new List<Guid>();

                                                    foreach (var invest in ViewBag.allInvestments)
                                                    {
                                                        <tr style="background-color: #f5f5f5;">
                                                            <td>
                                                                <input type="checkbox"
                                                                       class="investment-checkbox"
                                                                       name="investmentproducts"
                                                                       value="@invest.Id"
                                                                       @(selectedInvestmentProducts.Contains(invest.Id) ? "checked" : "") />
                                                                @invest.Description
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="mandatorySavingsProducts" class="tab-pane">
                                    <div class="ibox-content m-b-sm border-bottom text-dark" style="background-color: #f0f8ff; border-color: #e3e6e8;">
                                        <table class="footable table table-striped toggle-arrow-tiny grey-table" style="color: #333;">
                                            <thead style="background-color: #4682b4; color: #fff;">
                                                <tr>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.allSavings != null)
                                                {
                                                    var selectedSavingsProducts = ViewBag.SelectedSavingsProducts as List<Guid> ?? new List<Guid>();

                                                    foreach (var save in ViewBag.allSavings)
                                                    {
                                                        <tr style="background-color: #f5f5f5;">
                                                            <td>
                                                                <input type="checkbox"
                                                                       class="savings-checkbox"
                                                                       name="savingsproducts"
                                                                       value="@save.Id"
                                                                       @(selectedSavingsProducts.Contains(save.Id) ? "checked" : "") />
                                                                @save.Description
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>




                            <div id="flags" class="tab-pane" style="margin-left: 20px;">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-4">

                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.EnforceCustomerAccountMakerChecker, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.EnforceCustomerAccountMakerChecker, "Enforce customer account maker/checker?", new { @class = "font-bold", @style = "color: #1ab394;", @disabled = "disabled" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.BypassRefundBatchAudit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.BypassRefundBatchAudit, "Bypass refund batch verification?", new { @class = "font-bold", @style = "color: #1ab394;", @disabled = "disabled" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.BypassInterAccountTransferBatchAudit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.BypassInterAccountTransferBatchAudit, "Bypass inter-account transfer batch verification?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.RecoverArrearsOnCashDeposit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.RecoverArrearsOnCashDeposit, "Recover arrears on cash deposit?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.IsFileTrackingEnforced, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.IsFileTrackingEnforced, "Enforce file tracking?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.BypassJournalVoucherAudit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.BypassJournalVoucherAudit, "Bypass journal voucher verification?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.BypassWireTransferBatchAudit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.BypassWireTransferBatchAudit, "Bypass wire transfer batch verification?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.RecoverArrearsOnExternalChequeClearance, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.RecoverArrearsOnExternalChequeClearance, "Recover arrears on external cheque clearance?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.ApplicationMembershipTextAlertsEnabled, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.ApplicationMembershipTextAlertsEnabled, "Membership text alerts enabled?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.BypassCreditBatchAudit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.BypassCreditBatchAudit, "Bypass credit batch verification?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.BypassExpensePayableAudit, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.BypassExpensePayableAudit, "Bypass expense payable verification?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.CheckBoxFor(model => model.RecoverArrearsOnFixedDepositPayment, new { @class = "form-check-input" })
                                                @Html.LabelFor(model => model.RecoverArrearsOnFixedDepositPayment, "Recover arrears on fixed deposit payment?", new { @class = "font-bold", @style = "color: #1ab394;" })
                                            </div>
                                        </div>
                                    </div>


                                </fieldset>
                            </div>
                        </div>
                        <div class="myfooter">
                            <div class="form-group col-md-12 d-flex justify-content-end">
                                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">
                                    <i class="fa fa-edit"></i> Edit
                                </a>

                                <a href="@Url.Action("Index")" class="btn btn-primary">
                                    <i class="fa fa-arrow-left"></i> Back to List
                                </a>
                            </div>
                        </div>





                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.disabled = true;
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('input[type="text"]').forEach(textbox => {
                textbox.disabled = true;
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('input[type="numbers"]').forEach(textbox => {
                textbox.disabled = true;
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('select').forEach(dropdown => {
                dropdown.disabled = true;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.nav-link').on('click', function (e) {
                e.preventDefault();

                console.log(this);

                var target = $(this).attr('href');

                console.log(target);

                $('.tab-pane').removeClass('active');
                $(target).addClass('active');

                $('.nav-link').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
    <script>
    $(document).ready(function () {
        // Make checkboxes readonly by preventing them from being clicked
        $('.debit-checkbox, .investment-checkbox, .savings-checkbox').on('click', function (e) {
            e.preventDefault();
        });

        $('#submitButton').on('click', function () {
            var debitTypes = [];
            var investmentProducts = [];
            var savingsProducts = [];

            // Gather selected debit types
            $('.debit-checkbox:checked').each(function () {
                debitTypes.push($(this).val());
            });

            // Gather selected investment products
            $('.investment-checkbox:checked').each(function () {
                investmentProducts.push($(this).val());
            });

            // Gather selected savings products
            $('.savings-checkbox:checked').each(function () {
                savingsProducts.push($(this).val());
            });

            $.ajax({
                url: '@Url.Action("Edit", "Company")', // Update with your controller name
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    debittypes: debitTypes,
                    investmentproducts: investmentProducts,
                    savingsproducts: savingsProducts
                }),
                success: function (response) {
                    // Handle success
                    alert("Data submitted successfully!");
                },
                error: function (xhr, status, error) {
                    // Handle error
                    alert("An error occurred: " + error);
                }
            });
        });
    });
    </script>


}
