@model  Application.MainBoundedContext.DTO.MessagingModule.MessageGroupDTO

@{
    ViewBag.Title = "Create Charges";

    var target = ViewBag.target as List<SelectListItem>;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Dashboard Module</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "MessagingGroups", new { Area = "Dashboard" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Message Group</h2>

                    @if (TempData["CreateError"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Failed !</strong> @TempData["CreateError"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }


                    @if (TempData["ErrorMsg"] != null)
                    {
                        <div class="alert alert-warning">
                            <strong>Warning !</strong> @TempData["ErrorMsg"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }


                    @if (TempData["chargeSplit"] != null)
                    {
                        <div class="alert alert-info">
                            <strong>Attempt failed !</strong> @TempData["chargeSplit"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }



                    @if (TempData["splitPercentage"] != null)
                    {
                        <div class="alert alert-warning">
                            <strong>Attempt failed !</strong> @TempData["splitPercentage"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Add", "MessagingGroups", new { Area = "Dashboard" }, FormMethod.Post, new { id = "messageGroupForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter message group name..." } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Target, htmlAttributes: new { @class = "" })
                                        @Html.DropDownListFor(model => model.Target, target, "-- Select group target --", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Target)
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />

                            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#custom"><i class="fa fa-table" aria-hidden="true"></i> Custom</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="#tips"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Tips</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                @*applicationDetails*@
                                <div id="custom" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Customer</label>
                                            <div class="input-group" data-autoclose="true">
                                                @Html.HiddenFor(model => model.messageGroupCustomerDTO[0].CustomerID, new { @Id = "CustomerID" })
                                                @Html.TextBoxFor(model => model.messageGroupCustomerDTO[0].Customer, new { @Id = "Customer", @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Customer..." })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.messageGroupCustomerDTO[0].CustomerMobileNumber, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.messageGroupCustomerDTO[0].CustomerMobileNumber, new { htmlAttributes = new { @Id = "CustomerMobileNumber", @class = "form-control", @disabled = "disabled" } })
                                                @Html.ValidationMessageFor(model => model.messageGroupCustomerDTO[0].CustomerMobileNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.messageGroupCustomerDTO[0].CustomerEmailAddress, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.messageGroupCustomerDTO[0].CustomerEmailAddress, new { htmlAttributes = new { @Id = "CustomerEmailAddress", @class = "form-control", @disabled = "disabled" } })
                                                @Html.ValidationMessageFor(model => model.messageGroupCustomerDTO[0].CustomerEmailAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-1" style="margin-top: 25px;">
                                            <div class="form-group form-group-sm">
                                                <input type="submit" value="Add" style="width: 150px;" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="customersData" name="CustomersJson" />

                                    <div class="table-container mt-5">
                                        <h3 style="font-size: 1.9rem; text-align: center;">Customers</h3>

                                        <div class="no-data-message mt-2">No data available to be displayed in table</div>
                                        <table id="dataTable" class="footable table table-striped toggle-arrow-tiny grey-table">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Serial Number</th>
                                                    <th>Account Number</th>
                                                    <th>Membership Number</th>
                                                    <th>Name</th>
                                                    <th>Payroll Numbers</th>
                                                    <th>Gender</th>
                                                    <th>Marital Status</th>
                                                    <th>Identity Card Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Dynamic data will be inserted here -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="tips" class="tab-pane" style="margin-left: 20px;">
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>

                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "MessagingGroups", new { Area = "Dashboard" }, FormMethod.Post))
                    {
                        <div class="col-lg-3">
                            <input type="submit" style="width: 150px;" value="Create" @*onclick="sendFormData()"*@ class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true" style="width: auto;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customers Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>

            <br />
            <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")



    <link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />
    <script src="~/Scripts/js/navlink.js"></script>


    <script>
        $('#customersGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("CustomerIndex", "MessagingGroups", new { Area = "Dashboard"}))",
        "sServerMethod": "POST",
       
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);

            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            var selectUrl = '<button class="btn btn-outline-info" onclick="selectCustomer(\'' + aData.Id + '\')">Select</button>';
            console.log(aData.Id);

            $('td:eq(5)', nRow).html(dt_Created);
            $('td:eq(6)', nRow).html(selectUrl);

            return nRow;
        },
        "aoColumns": [
            { "mDataProp": "TypeDescription", "sTitle": "Customer Type", "sWidth": "6%" },
            { "mDataProp": "FullName", "sTitle": "Customer", "sWidth": "15%" },
            { "mDataProp": "IndividualIdentityCardNumber", "sTitle": "Identity Card Number", "sWidth": "15%" },
            { "mDataProp": "IndividualGenderDescription", "sTitle": "Gender", "sWidth": "4%" },
            { "mDataProp": "IndividualMaritalStatusDescription", "sTitle": "Marital Status", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });




        function selectCustomer(id) {
            console.log("Customer ID passed to selectCustomer:", id);
            alert("ID Passed:", id);
            if (!id) {
                console.error("Invalid or missing ID");
                return;
            }

            $.ajax({
                url: '/Dashboard/MessagingGroups/CustomerLookUp',
                type: 'POST',
                data: { Id: id },
                success: function (response) {
                    if (response.success) {
                        // Populate fields with the returned data
                        $('#CustomerEmailAddress').val(response.data.Email);
                        $('#CustomerMobileNumber').val(response.data.Phone);
                        $('#Customer').val(response.data.Name);
                        $('#CustomerID').val(response.data.ID);


                        // Close the modal
                        $('#customerLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
    </script>
}


