@model  Application.MainBoundedContext.DTO.MessagingModule.MessageGroupDTO

@{
    ViewBag.Title = "Create Charges";

    var target = ViewBag.target as List<SelectListItem>;
    var recordStatus = ViewBag.recordStatus as List<SelectListItem>;
    var customerFilter = ViewBag.customerFilter as List<SelectListItem>;


    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .blue-section {
        margin-top: 20px;
        background-color: #e0f0ff;
        padding: 15px;
        border-radius: 8px;
    }


    #dataTable {
        width: 100%;
        border-collapse: collapse;
    }

        #dataTable th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            transition: background 0.3s, transform 0.3s;
        }

        #dataTable th {
            background: linear-gradient(to bottom, #4a90e2, #003366);
            color: white;
            text-transform: uppercase;
            font-size: 1.1em;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #dataTable tr:hover td {
            background: rgba(74, 144, 226, 0.2);
            transform: translateY(-2px);
        }

        #dataTable td {
            background: #f9f9f9;
            color: #333;
        }

        #dataTable tr:nth-child(even) td {
            background: #f2f2f2;
        }

        #dataTable tr:nth-child(odd) td {
            background: #ffffff;
        }

        #dataTable tr:last-child td {
            border-bottom: none;
        }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Command Hub</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "MessagingGroups", new { Area = "Dashboard" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>View Message Group</h2>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    <div class="main">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TargetDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.TargetDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />

                            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#custom"><i class="fa fa-table" aria-hidden="true"></i> Custom</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="#tips"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Tips</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                <div id="custom" class="tab-pane active">
                                    <div class="table-container mt-5">
                                        <h3 style="font-size: 1.9rem; text-align: center;">Messaging Group Members</h3>
                                        <table id="dataTable" class="footable table table-striped toggle-arrow-tiny grey-table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Mobile Number</th>
                                                    <th>Email Address</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.TargetValues != null)
                                                {
                                                    foreach (var targetValues in ViewBag.TargetValues)
                                                    {
                                                        <tr>
                                                            <td>@targetValues.Customer</td>
                                                            <td>@targetValues.CustomerMobileNumber</td>
                                                            <td>@targetValues.CustomerEmailAddress</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="tips" class="tab-pane" style="margin-left: 20px;">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script src="~/Scripts/js/navlink.js"></script>
    }