
@model  Application.MainBoundedContext.DTO.AccountsModule.FixedDepositTypeDTO
@{
    ViewBag.Title = "Fixed Deposit Type";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Fixed Deposit Type</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "FixedDepositType", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Description)</strong><br>

                                @Html.DisplayFor(model => model.Description)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Months)</strong><br>

                                @Html.DisplayFor(model => model.Months)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsLocked)</strong><br>

                                @Html.DisplayFor(model => model.IsLocked)<br>
                            </p>
                            <p>
                                <strong> @Html.DisplayNameFor(model => model.CreatedDate)</strong><br>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>c
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "FixedDepositType", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "FixedDepositType", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

