@model  Application.MainBoundedContext.DTO.AccountsModule.CommissionDTO


@{
    /**/

    ViewBag.Title = "Create Charges";

    var chargeType = ViewBag.chargeType as List<SelectListItem>;

}


<style>
    #tabs-container {
        background-color: none;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        margin-bottom: 20px;
        overflow-x: auto; /* Allow horizontal scrolling if necessary */
        width: 50%;
    }

    .nav-tabs {
        padding: 10px 0; /* Adjusted padding */
        list-style: none;
        margin: 0;
        white-space: nowrap; /* Prevent line breaks */
    }

        .nav-tabs li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-tabs a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
            font-weight: bold; /* Set font weight to bold */
            padding: 10px 15px;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.3s ease-in-out;
        }

            .nav-tabs a:hover {
                border-bottom-color: #007bff;
                color: #007bff;
            }

            .nav-tabs a:active {
                border-bottom-color: #007bff;
                color: #007bff;
            }


    .bordered-fieldset {
        border: 1px solid #000; /* black border with a width of 2px */
        padding: 10px; /* optional: add some padding inside the fieldset */
        border-radius: 5px; /* optional: add rounded corners */
    }
</style>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially activate the first tab
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        // Handle tab click event
        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            // Deactivate all tabs
            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            // Activate the clicked tab
            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });
    });
</script>





<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Charges_Levies", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Levies</h2>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Failed !</strong> @TempData["Error"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "Charges_Levies", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        var leviesJson = TempData["Levies"].ToString();
                        //var levies = JsonConvert.DeserializeObject<List<Application.MainBoundedContext.DTO.AccountsModule.LevyDTO>>(leviesJson); // Adjust type according to your data


                        @if (TempData["Levies"] != null)
                        {
                            <ul>
                                @foreach (var levy in levies)
                                {
                                    <li>@levy.SomeProperty</li>
                                    <!-- Adjust according to your model properties -->
                                }
                            </ul>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>

        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });


    $('#customersGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "ChartOfAccount", new { Area = "Accounts" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Accounts/Charges/create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [
            { "mDataProp": "AccountName", "sTitle": "Name", "sWidth": "10%" },
            { "mDataProp": "IsLockedDescription", "sTitle": "Is Locked?", "sWidth": "2%" },
            { "mDataProp": "CostCenterDescription", "sTitle": "Cost Center", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = customersGrid.row(this).data();

        $('#CommissionSplit.ChartOfAccountId').val(data.Id);
        $('input[name=CommissionSplit.ChartOfAccountId]').val(data.Id);
        $('input[name=CommissionSplit.ChartOfAccountAccountName]').val(data.ChartOfAccountAccountName);

        var CustomerId = "";
        CustomerId = CustomersMap[item].Id;
        $('#CommissionSplit.ChartOfAccountAccountName').val(CustomersMap[item].ChartOfAccountAccountName);
    });

    </script>




    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#BankGrid').DataTable({
                    // Ajax settings
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "@(Url.Action("Index", "BankLinkage", new { Area = "Accounts"}))",
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                       var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                        var h = ("0" + createdDate.getHours()).slice(-2);
                        var m = ("0" + createdDate.getMinutes()).slice(-2);
                        var s = ("0" + createdDate.getSeconds()).slice(-2);

                        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                        aData.CreatedDate = dt_Created;

                        var editUrl = '<a  href="/accounts/BankLinkage/edit/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Edit</a>';
                        var viewUrl = '<a  href="/accounts/BankLinkage/details/' + aData.Id + '" class = "btn btn-outline-info"">' + 'View</a>';

                        $('td:eq(5)', nRow).html(dt_Created);
                        $('td:eq(6)', nRow).html(viewUrl + '&nbsp;' + editUrl);

                        return nRow;
                    },
                    // Display settings
                    "aoColumns": [
                        { "mDataProp": "BankBranchName", "sTitle": "Branch Name", "sWidth": "10%" },
                        { "mDataProp": "ChartOfAccountAccountName", "sTitle": "G/L Account", "sWidth": "20%" },
                        { "mDataProp": "ChartOfAccountCostCenterDescription", "sTitle": "G/L Account Cost Center", "sWidth": "10%" },
                        { "mDataProp": "BankName", "sTitle": "Bank Name", "sWidth": "10%" },
                        { "mDataProp": "BankAccountNumber", "sTitle": "Bank Account Number", "sWidth": "10%" },

                        { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%"},
                        { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "15%", "bSortable": false }],
                    "aaSorting": [[0, "desc"]]
            });
            });

            $(document).ajaxStart(function () {
                $('.ibox').children('.ibox-content').toggleClass('sk-loading');
            });
            $(document).ajaxStop(function () {
                $('.ibox').children('.ibox-content').toggleClass('sk-loading');
            });
        </script>*@
}
