@model Application.MainBoundedContext.DTO.RegistryModule.DirectorDTO

@{
    ViewBag.Title = "Directors";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Director</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    @Html.ActionLink("Create Director", "Create", "Director", new { Area = "Registry" }, new { @class = "btn btn-primary" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="directorsGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#directorsGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "Director", new { Area = "Registry" }))",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);
                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var dropdownHtml = `
                        <div class="dropdown">
                            <button style="width: 150px;" class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">`;

                    var viewButton = `<a class="dropdown-item" href="/Registry/Director/details/${aData.Id}">View</a>`;
                    var editButton = `<a class="dropdown-item" href="/Registry/Director/edit/${aData.Id}">Edit</a>`;

                    switch (aData.Status) {
                        case 1: // Pending
                            dropdownHtml += viewButton + editButton;
                            break;
                        default:
                            dropdownHtml += viewButton + editButton;
                            break;
                    }

                    dropdownHtml += `</div></div>`;

                    $('td:eq(4)', nRow).html(dt_Created);
                    $('td:eq(5)', nRow).html(dropdownHtml);

                    return nRow;
                },
                // Display settings
                "aoColumns": [
                    { "mDataProp": "CustomerFullName", "sTitle": "Customer Name", "sWidth": "15%" },
                    { "mDataProp": "DivisionDescription", "sTitle": "Division", "sWidth": "15%" },
                    { "mDataProp": "Remarks", "sTitle": "Remarks", "sWidth": "15%" },
                    { "mDataProp": "IsLocked", "sTitle": "IsLocked", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>

}



