
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account Alert</title>
</head>
<body>
    <p>
        Dear Customer, you have been attached Ksh @Raw(Model.TotalValue)
    </p>
    <p>
        for @Raw(Model.LoanProductName) in default by @Raw(Model.LoaneeFullName) - @Raw(Model.LoanCasePaddedCaseNumber)
    </p>
        <p>
        @Raw(Model.CompanyDescription)
    </p>
</body>
</html>