@model SwiftFinancials.Presentation.Infrastructure.Models.CustomerTransactionModel

@{
    /**/

    ViewBag.Title = "Create Customer Receipt";
    var apportionToType = ViewBag.ApportionToSelectList as List<SelectListItem>;

    var apportionToTypeDictionary = apportionToType.ToDictionary(item => item.Value, item => item.Text);



}

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        /* Primary Tabs */
        .nav-tabs .nav-link {
            background-color: transparent;
            color: #8a949e; /* Slightly lighter grey */
            border: 1px solid transparent;
        }

            .nav-tabs .nav-link:hover {
                border-color: #e9ecef #e9ecef #dee2e6;
            }

            .nav-tabs .nav-link.active {
                background-color: #8a949e; /* Lighter grey for active tab */
                color: white;
                border-color: #8a949e;
            }

        /* Secondary Tabs */
        .inner-nav-tabs .inner-nav-link {
            background-color: transparent;
            color: #8a949e; /* Slightly lighter grey */
            border: 1px solid transparent;
        }

            .inner-nav-tabs .inner-nav-link:hover {
                border-color: #e9ecef #e9ecef #dee2e6;
            }

            .inner-nav-tabs .inner-nav-link.active {
                background-color: #8a949e; /* Lighter grey for active secondary tab */
                color: white;
                border-color: #8a949e;
            }

        /* Tab Content */
        .tab-content > .tab-pane,
        .inner-tab-content > .inner-tab-pane {
            display: none;
        }

            .tab-content > .tab-pane.active,
            .inner-tab-content > .inner-tab-pane.active {
                display: block;
            }

        /* Existing styles for upload containers and boxes */
        .upload-container {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        .upload-box {
            width: 24%;
            border: 2px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            background-color: white;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 450px;
        }

            .upload-box label {
                font-size: 14px;
                margin-bottom: 8px;
                font-weight: bold;
            }

            .upload-box .upload-area {
                flex-grow: 1;
                border: 2px dashed #ccc;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #888;
                font-size: 14px;
            }


    </style>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cash Transactions</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Create", "CustomerReceipts", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content bg-white text-info" style="border: 1px solid #ddd; border-radius: 4px; padding: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("Create", "CustomerReceipts", new { Area = "FrontOffice" }, FormMethod.Post, new { id = "customerReceiptsForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div id="DebitCustomerContainer" style="border: 1px solid #ddd; border-radius: 8px; padding: 20px; margin-bottom: 20px;">
                                <!-- First Row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.FullAccountNumber, "Full Account Number:", new { @class = "control-label" })
                                            <div class="input-group" data-autoclose="true">
                                                @Html.TextBoxFor(model => model.DebitCustomerAccount.FullAccountNumber, new { @class = "form-control", @readonly = "readonly", @id = "DebitFullAccountNumber" })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#CustomerLookupModal" id="debitCustomerRequest">
                                                        <span class="fa fa-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.StatusDescription, "Account Status:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.StatusDescription, new { @class = "form-control", @readonly = "readonly", @id= "DebitStatusDescription" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.Remarks, "Account Remarks:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.Remarks, new { @class = "form-control", @readonly = "readonly", @id = "DebitRemarks" })
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerAccountTypeTargetProductId, "Product Name:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerAccountTypeTargetProductDescription, new { @class = "form-control", @readonly = "readonly", @id ="DebitCustomerAccountTypeTargetProductDescription" })
                                        </div>
                                    </div>
                                </div>


                                <!-- Second Row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.DebitCustomerAccountId, new { @id = "DebitCustomerAccountId" })
                                            @Html.HiddenFor(model => model.DebitCustomerAccountJson, new { @id = "DebitCustomerAccountJson" })
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerFullName, "Customer:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerFullName, new { @class = "form-control", @readonly = "readonly", @id = "DebitCustomerFullName" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerType, "Type:", new { @class = "control-label", @id = "DebitCustomerType" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerTypeDescription, new { @class = "form-control", @readonly = "readonly", @id ="DebitCustomerTypeDescription"})
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerIndividualPayrollNumbers, "Payroll Numbers:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerIndividualPayrollNumbers, new { @class = "form-control", @readonly = "readonly", @id = "DebitCustomerIndividualPayrollNumbers" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.BranchId, new {@id = "DebitCustomerAccountBranchId" })
                                            @Html.LabelFor(model => model.DebitCustomerAccount.BranchDescription, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.BranchDescription, new { @class = "form-control", @readonly = "readonly", @id = "DebitBranchDescription" })
                                        </div>
                                    </div>

                                </div>


                                <!-- Third Row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerIdentificationNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerIdentificationNumber, new { @class = "form-control", @readonly = "readonly", @id = "DebitCustomerIdentificationNumber" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerReference1, "Account Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerReference1, new { @class = "form-control", @readonly = "readonly", @id = "DebitCustomerReference1" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerReference2, "Membership Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerReference2, new { @class = "form-control", @readonly = "readonly", @id = "DebitCustomerReference2" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DebitCustomerAccount.CustomerReference3, "Personal File Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.DebitCustomerAccount.CustomerReference3, new { @class = "form-control", @readonly = "readonly", @id = "DebitCustomerReference3" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#transaction">Transaction</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tellerGlAccountStatementCustomerReceipts">Teller G/L Account Statement</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#customerAccountPreview">Customer Account Preview</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="transaction" class="tab-pane active">

                                    <!-- Secondary Tabs (indented) -->
                                    <div style="margin-left: 20px;">
                                        <ul class="nav inner-nav-tabs" style="margin-bottom: 20px;">
                                            <li class="inner-nav-item">
                                                <a class="inner-nav-link active" data-toggle="tab" href="#cashReceipt">Cash Receipt</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="inner-nav-link" data-toggle="tab" href="#apportionment">Apportionment (Loan / Investment / Savings / GL Account)</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="inner-nav-link" data-toggle="tab" href="#specimen">Specimen</a>
                                            </li>
                                        </ul>

                                        <div class="inner-tab-content" style="border: 1px solid #ddd; padding: 20px; border-radius: 4px;">
                                            <!-- Cash Receipt Tab -->
                                            <div id="cashReceipt" class="inner-tab-pane active">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group form-group-lg">
                                                            @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "" })
                                                            @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @id = "TotalValue", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                                        </div>


                                                        <div class="form-group form-group-lg">
                                                            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "" })
                                                            @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Apportionment Tab -->
                                            <div id="apportionment" class="inner-tab-pane">
                                                <input type="hidden" id="apportionmentsData" name="ApportionmentsData" />

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.ApportionTo, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(
                                                                model => model.ApportionmentWrapper.ApportionTo,
                                                                apportionToType,
                                                                new { @id = "ApportionToType", @class = "form-control input.md" }
                                                            )
                                                            @Html.ValidationMessageFor(model => model.ApportionmentWrapper.ApportionTo)
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="hidden" id="CreditCustomerAccountId" name="ApportionmentWrapper.CreditCustomerAccountId" />
                                                        <input type="hidden" id="CreditChartOfAccountId" name="ApportionmentWrapper.CreditChartOfAccountId" />
                                                        <label class="control-label" for="CreditFullAccountNumber">Full Account Number:</label>
                                                        <div class="input-group" data-autoclose="true">
                                                            <input type="text" id="CreditFullAccountNumber" name="ApportionmentWrapper.FullAccountNumber" class="form-control" readonly />
                                                            <span class="input-group-addon">
                                                                <a data-toggle="modal" data-target="#CustomerLookupModal" id="creditCustomerRequest">
                                                                    <span class="fa fa-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="hidden" id="CreditCustomerAccount" name="ApportionmentWrapper.CreditCustomerAccount" />
                                                            <label class="control-label" for="CreditCustomerFullName">Customer:</label>
                                                            <input type="text" id="CreditCustomerFullName" name="ApportionmentWrapper.CustomerFullName" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label" for="CreditCustomerReference1">Account Number:</label>
                                                            <input type="text" id="CreditCustomerReference1" name="ApportionmentWrapper.CustomerReference1" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label" for="CreditCustomerReference2">Membership Number:</label>
                                                            <input type="text" id="CreditCustomerReference2" name="ApportionmentWrapper.CustomerReference2" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="Principal">Principal:</label>
                                                            <input type="text" id="Principal" name="ApportionmentWrapper.Principal" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="Interest">Interest:</label>
                                                            <input type="text" id="Interest" name="ApportionmentWrapper.Interest" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="PrimaryDescription">Primary Description:</label>
                                                            <input type="text" id="PrimaryDescription" name="ApportionmentWrapper.PrimaryDescription" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col-md-12">
                                                        <button type="button" id="addButton" class="btn btn-primary float-right">Add</button>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered" id="apportionmentTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Apportion To</th>
                                                                    <th>Full Account Number</th>
                                                                    <th>Product Name</th>
                                                                    <th>Principal</th>
                                                                    <th>Interest</th>
                                                                    <th>Primary Description</th>
                                                                    @*<th>Secondary Description</th>
                                                                    <th>Reference</th>*@
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- Dynamic rows -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Apportioned:</label>
                                                            <input type="number" id="apportioned" class="form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Shortage:</label>
                                                            <input type="number" id="shortage" class="form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                    <div class="form-group" style="margin-top: 20px; text-align: right;">
                                        <button type="submit" id="submitButton" class="btn btn-primary" style="background-color: #007bff; border: 2px solid #0056b3; padding: 10px 20px; font-weight: bold;">Update</button>
                                    </div>

                                </div>


                                <!-- Teller G/L Account Statement Tab -->
                                <div id="tellerGlAccountStatementCustomerReceipts" class="tab-pane">
                                    <div class="table-responsive">
                                        <table id="tellerGlTableCustomerReceipts" class="table table-striped table-bordered table-hover" style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="dataTables_empty">
                                                        Loading data from server
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Customer Account Preview Tab -->
                                <div id="customerAccountPreview" class="tab-pane">
                                    <ul class="nav inner-nav-tabs" style="margin-bottom: 20px;">
                                        <li class="nav-item">
                                            <a class="inner-nav-link active" data-toggle="tab" href="#miniStatementCustomerReceipts">Mini Statement</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="inner-nav-link" data-toggle="tab" href="#signatories">Signatories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="inner-nav-link" data-toggle="tab" href="#unclearedCheques">Uncleared Cheques</a>
                                        </li>
                                    </ul>

                                    <div class="inner-tab-content">
                                        <div id="miniStatementCustomerReceipts" class="inner-tab-pane active">
                                            <!-- Mini Statement Tab -->
                                            <div class="table-responsive">
                                                @if (Model.CustomerAccountMiniStatement != null && Model.CustomerAccountMiniStatement.Any())
                                                {

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Description</th>
                                                                <th>Remarks</th>
                                                                <th>Credit</th>
                                                                <th>Balance</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var order in Model.CustomerAccountMiniStatement)
                                                            {

                                                                <tr>

                                                                    <td>@order.CreatedDate</td>
                                                                    <td>@order.ProductDescription</td>
                                                                    <td>@order.Remarks</td>

                                                                </tr>
                                                            }



                                                        </tbody>
                                                    </table>
                                                }

                                                else
                                                {
                                                    <p>No mini statement available for this accoun</p>
                                                }
                                            </div>
                                        </div>

                                        <!-- Signatories Tab -->
                                        <div id="signatories" class="inner-tab-pane">
                                            <div class="table-responsive">
                                                @if (Model.CustomerAccountSignatories != null && Model.CustomerAccountSignatories.Any())
                                                {

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Gender</th>
                                                                <th>Identity Card Type</th>
                                                                <th>Identity Card Number</th>
                                                                <th>Address Line 1</th>
                                                                <th>Street</th>
                                                                <th>City</th>
                                                                <th>Email</th>
                                                                <th>Mobile Line</th>
                                                                <th>Relationship</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var signatory in Model.CustomerAccountSignatories)
                                                            {

                                                                <tr>

                                                                    <td>@signatory.CustomerAccountCustomerFullName</td>
                                                                    <td>@signatory.Gender</td>
                                                                    <td>@signatory.IdentityCardType</td>
                                                                    <td>@signatory.IdentityCardNumber</td>
                                                                    <td>@signatory.AddressAddressLine1</td>
                                                                    <td>@signatory.AddressStreet</td>
                                                                    <td>@signatory.AddressCity</td>
                                                                    <td>@signatory.AddressEmail</td>
                                                                    <td>@signatory.AddressMobileLine</td>
                                                                    <td>@signatory.Relationship</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                }

                                                else
                                                {
                                                    <p>No signatories associated with this account</p>
                                                }
                                            </div>
                                        </div>

                                        <!-- Uncleared Cheques Tab -->
                                        <div id="unclearedCheques" class="inner-tab-pane">
                                            <div class="table-responsive">
                                                @if (Model.CustomerAccountUnclearedCheques != null && Model.CustomerAccountUnclearedCheques.Any())
                                                {

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Cheque Number</th>
                                                                <th>Amount</th>
                                                                <th>Drawer</th>
                                                                <th>Drawer Bank</th>
                                                                <th>Write Date</th>
                                                                <th>Maturity Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cheque in Model.CustomerAccountUnclearedCheques)
                                                            {

                                                                <tr>

                                                                    <td>@cheque.Number</td>
                                                                    <td>@cheque.Amount</td>
                                                                    <td>@cheque.Drawer</td>
                                                                    <td>@cheque.DrawerBank</td>
                                                                    <td>@cheque.WriteDate </td>
                                                                    <td>@cheque.MaturityDate</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                }

                                                else
                                                {
                                                    <p>No uncleared cheques associated with this account</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="CustomerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="CustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<input type='hidden' id='h' name='h' />

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>

    $('#tellerGlTableCustomerReceipts').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "CustomerReceipts", new { Area = "FrontOffice"}))",
        "sServerMethod": "POST",
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

            var createdDate = new Date(parseInt(aData.JournalCreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);

            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.JournalCreatedDate = dt_Created;

             $('td:eq(1)', nRow).html(dt_Created);
            return nRow;
        },
        "aoColumns": [
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "15%" },
            { "mDataProp": "JournalCreatedDate", "sTitle": "Txn Date", "sWidth": "15%" },
            { "mDataProp": "CustomerFullName", "sTitle": "Customer Name", "sWidth": "25%" },
            { "mDataProp": "Debit", "sTitle": "Debit", "sWidth": "10%" },
            { "mDataProp": "Credit", "sTitle": "Credit", "sWidth": "10%" },
            { "mDataProp": "RunningBalance", "sTitle": "Running Balance", "sWidth": "10%" },
            { "mDataProp": "ContraGLAccountName", "sTitle": "Contra G/L Account", "sWidth": "15%" }
        ],
        "aaSorting": [[1, "desc"]] // Default sorting, adjust index as needed
    });
    
    </script>


    <script>


        // Declare role globally
var role;

$(document).ready(function () {

    // Set the role when the modal is about to be shown
    $('#CustomerLookupModal').on('show.bs.modal', function (event) {
        var buttonId = $(event.relatedTarget).attr('id'); // Get the id of the clicked element

        // Determine the role based on the button that triggered the modal
        if (buttonId === 'debitCustomerRequest') {
            role = 'DebitCustomerRequest';
        } else if (buttonId === 'creditCustomerRequest') {
            role = 'CreditCustomerRequest';
        } else {
            role = 'UnknownRole'; // Default or fallback role
        }

        console.log("Role set to: " + role);

        // Reinitialize or reload the DataTable with the correct role
        $('#CustomerAccountsGrid').DataTable().ajax.reload();
    });

    // Initialize the DataTable
    var table = $('#CustomerAccountsGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts" }))",
        "sServerMethod": "POST",

        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            // Ensure the correct role is logged
            console.log("Role in DataTable fnRowCallback: ", role);

            // Format CreatedDate
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);
            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            var selectUrl = '<button class="btn btn-outline-info" onclick="fetchCustomerAccountDetails(\'' + String(aData.Id) + '\', \'' + role + '\')">Select</button>';

            $('td:eq(5)', nRow).html(dt_Created);
            $('td:eq(6)', nRow).html(selectUrl);

            return nRow;
        },

        "aoColumns": [
            { "mDataProp": "CustomerFullName", "sTitle": "Customer Full Name", "sWidth": "3%" },
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
            { "mDataProp": "CustomerReference1", "sTitle": "Customer Reference 1", "sWidth": "2%" },
            { "mDataProp": "CustomerReference2", "sTitle": "Membership", "sWidth": "2%" },
            { "mDataProp": "CustomerAccountTypeProductCodeDescription", "sTitle": "Product", "sWidth": "2%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "1%" },
            { "mDataProp": null, "sTitle": "", "sWidth": "10%", "bSortable": false }
        ],
        "aaSorting": [[0, "desc"]]
    });
});


            function fetchCustomerAccountDetails(customerId, role) {

                console.log("entered fetchcustomerdetails");

                $.ajax({
                    url: '/FrontOffice/CustomerReceipts/GetCustomerDetailsJson',
                    type: 'GET',
                    data: { id: customerId },
                    success: function (data) {
                        if (data) {
                            console.log(data);
                            console.log(JSON.stringify(data));

                            // Determine which fields to populate based on the role
                            switch (role) {
                                case 'DebitCustomerRequest':
                                    $('#DebitCustomerAccountId').val(data.Id);
                                    $('#DebitCustomerAccountJson').val(JSON.stringify(data));
                                    $('#DebitFullAccountNumber').val(data.FullAccountNumber);
                                    $('#DebitCustomerFullName').val(data.CustomerFullName);
                                    $('#DebitCustomerReference1').val(data.CustomerReference1);
                                    $('#DebitCustomerReference2').val(data.CustomerReference2);
                                    $('#DebitCustomerReference3').val(data.CustomerReference3);
                                    $('#DebitBranchDescription').val(data.BranchDescription);
                                    $('#DebitCustomerAccountBranchId').val(data.BranchId);
                                    $('#DebitProductDescription').val(data.CustomerAccountTypeTargetProductDescription);
                                    $('#DebitCustomerIdentificationNumber').val(data.CustomerIdentificationNumber);
                                    $('#DebitRemarks').val(data.Remarks);
                                    $('#DebitCustomerIndividualPayrollNumbers').val(data.CustomerIndividualPayrollNumbers);
                                    $('#DebitStatusDescription').val(data.StatusDescription);
                                    $('#DebitCustomerType').val(data.CustomerType);
                                    $('#DebitCustomerType').val(data.CustomerTypeDescription);

                                    break;
                                case 'CreditCustomerRequest':
                                    $('#CreditCustomerAccount').val(JSON.stringify(data));
                                    $('#CreditCustomerAccountId').val(data.Id);
                                    $('#CreditChartOfAccountId').val(data.CustomerAccountTypeTargetProductChartOfAccountId);
                                    $('#CreditFullAccountNumber').val(data.FullAccountNumber);
                                    $('#CreditCustomerFullName').val(data.CustomerFullName);
                                    $('#CreditCustomerReference1').val(data.CustomerReference1);
                                    $('#CreditCustomerReference2').val(data.CustomerReference2);
                                    $('#CreditBranchDescription').val(data.BranchDescription);
                                    $('#CreditBranchId').val(data.BranchId);
                                    $('#CreditProductDescription').val(data.CustomerAccountTypeTargetProductDescription);
                                    $('#CreditAvailableBalance').val(data.AvailableBalance);
                                    break;
                                default:
                                    console.error("Unknown role:", role);
                                    break;
                            }

                            $('#CustomerLookupModal').modal('hide');
                        } else {
                            console.error("No customer details found.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Failed to fetch customer details:", error);
                    }
                });

            }

            function updateApportionmentsHiddenField() {
                $('#apportionmentsData').val(JSON.stringify(apportionments));
            }

            var apportionments = JSON.parse(sessionStorage.getItem('apportionments')) || [];
            var totalValue = parseFloat(sessionStorage.getItem('totalValue')) || 0;

            function getTotalValue() {
                return parseFloat($('#TotalValue').val()) || 0;
            }


        //    function saveTotalValue(value) {
        //        sessionStorage.setItem('totalValue', value);
        //}


        function isApportionmentValid() {
            var totalValue = getTotalValue();
            var apportioned = parseFloat($('#apportioned').val()) || 0;
            var shortage = parseFloat($('#shortage').val()) || 0;

            return Math.abs(shortage) < 0.01; // Allow for small floating point discrepancies
        }

        function calculateApportionmentTotals() {
            totalValue = getTotalValue(); // Get the value from the form input

            var apportioned = apportionments.reduce(function (total, item) {
            var principal = parseFloat(item.principal) || 0;
            var interest = parseFloat(item.interest) || 0;
             return total + principal + interest;
            }, 0);

            var shortage = totalValue - apportioned;


            $('#apportioned').val(apportioned.toFixed(2));
            $('#shortage').val(shortage.toFixed(2));

            if (shortage < 0) {
                alert("Total apportioned value exceeds the total available value!");
            } else if (shortage > 0) {
                $('#shortage').css("color", "red"); // Highlight shortage in red if the total hasn't been fully apportioned
            } else {
                $('#shortage').css("color", "green"); // Make it green when apportioned amount equals total
            }

            // Update submit button state
            if (isApportionmentValid()) {
                $('#submitButton').prop('disabled', false);
            } else {
                $('#submitButton').prop('disabled', true);
            }

            //saveTotalValue(totalValue); // Store the total value
        }


            $('#addButton').click(function () {
                addItemToApportionmentsTable();
            });

           function addItemToApportionmentsTable() {
            var principal = parseFloat($('input[name="ApportionmentWrapper.Principal"]').val()) || 0;
            var interest =  parseFloat($('input[name="ApportionmentWrapper.Interest"]').val()) || 0;

            var totalCurrent = apportionments.reduce(function (total, item) {
                return total + (parseFloat(item.principal) || 0) + (parseFloat(item.interest) || 0);
            }, 0);

            var newTotal = totalCurrent + principal + interest;

            if (newTotal > totalValue) {
                alert("Adding this apportionment exceeds the total value! Please adjust the amounts.");
                return;
            }

            var apportionToType = {
                1: "Customer Account",
                2: "G/L Account"
            };

            var apportionTo = $('select[name="ApportionmentWrapper.ApportionTo"]').val();
            var apportionToDescription = apportionToType[apportionTo];

            var item = {
                apportionTo: apportionTo,
                apportionToDescription: apportionToDescription,
                fullAccountNumber: $('input[name="ApportionmentWrapper.FullAccountNumber"]').val(),
                productDescription: $('input[name="ApportionmentWrapper.ProductDescription"]').val(),
                principal: principal.toFixed(2),
                interest: interest.toFixed(2),
                primaryDescription: $('input[name="ApportionmentWrapper.PrimaryDescription"]').val(),
                creditChartOfAccountId: $('input[name="ApportionmentWrapper.CreditChartOfAccountId"]').val(),
                secondaryDescription: '',
                reference: '',
            };

                apportionments.push(item);
                sessionStorage.setItem('apportionments', JSON.stringify(apportionments));
                updateApportionmentsTable();
                calculateApportionmentTotals();
                updateApportionmentsHiddenField();

                clearApportionmentForm();
        }

        // Add this new function to clear the form inputs
        function clearApportionmentForm() {
/*            $('select[name="ApportionmentWrapper.ApportionTo"]').val('');*/
            $('input[name="ApportionmentWrapper.FullAccountNumber"]').val('');
            $('input[name="ApportionmentWrapper.ProductDescription"]').val('');
            $('input[name="ApportionmentWrapper.Principal"]').val('');
            $('input[name="ApportionmentWrapper.Interest"]').val('');
            $('input[name="ApportionmentWrapper.PrimaryDescription"]').val('');
            $('input[name="ApportionmentWrapper.CreditChartOfAccountId"]').val('');
            $('input[name="ApportionmentWrapper.CustomerReference1"]').val('');
            $('input[name="ApportionmentWrapper.CustomerReference2"]').val('');
            $('input[name="ApportionmentWrapper.CustomerReference3"]').val('');
            $('input[name="ApportionmentWrapper.CustomerFullName"]').val('');
        }

        function escapeHtml(text) {
            return text
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        function escapeJson(jsonString) {
            return escapeHtml(jsonString).replace(/\n/g, '\\n').replace(/\r/g, '\\r').replace(/\t/g, '\\t');
        }

            function updateApportionmentsTable() {
                var $tableBody = $('#apportionmentTable tbody');
                $tableBody.empty();

                $.each(apportionments, function (index, item) {

                    var principal = parseFloat(item.principal) || 0;
                    var interest = parseFloat(item.interest) || 0;

                    var creditCustomerAccountJson = $('input[name="ApportionmentWrapper.CreditCustomerAccount"]').val();
                    var creditCustomerAccount = JSON.parse(creditCustomerAccountJson);
                    var debitCustomerAccountJson = $('input[id="DebitCustomerAccountJson"]').val();
                    var debitCustomerAccount = JSON.parse(debitCustomerAccountJson);

                    $tableBody.append(`
                        <tr>
                            <td>${item.apportionToDescription || ''}</td>
                            <td>${item.fullAccountNumber || ''}</td>
                            <td>${item.productDescription || ''}</td>
                            <td>${principal.toFixed(2)}</td>
                            <td>${interest.toFixed(2)}</td>
                            <td>${item.primaryDescription || ''}</td>
                       
                            <td>
                                <button type="button" class="btn btn-danger remove-btn" data-index="${index}">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                            <input type="hidden" name="Apportionments[${index}].ApportionTo" value="${item.apportionTo || ''}" />
                            <input type="hidden" name="Apportionments[${index}].FullAccountNumber" value="${item.fullAccountNumber || ''}" />
                            <input type="hidden" name="Apportionments[${index}].ProductDescription" value="${item.productDescription || ''}" />
                            <input type="hidden" name="Apportionments[${index}].Principal" value="${principal.toFixed(2)}" />
                            <input type="hidden" name="Apportionments[${index}].Interest" value="${interest.toFixed(2)}" />
                            <input type="hidden" name="Apportionments[${index}].PrimaryDescription" value="${item.primaryDescription || ''}" />
                            <input type="hidden" name="Apportionments[${index}].SecondaryDescription" value="${item.secondaryDescription || ''}" />
                            <input type="hidden" name="Apportionments[${index}].Reference" value="${item.reference || ''}" />
                            <input type="hidden" name="Apportionments[${index}].CreditCustomerAccountJson" value="${escapeJson(creditCustomerAccountJson)}" />
                            <input type="hidden" name="Apportionments[${index}].DebitCustomerAccountJson" value="${escapeJson(debitCustomerAccountJson)}" />
 
                            <input type="hidden" name="Apportionments[${index}].CreditCustomerAccountId" value="${creditCustomerAccount.Id || ''}" />
                           <input type="hidden" name="Apportionments[${index}].DebitCustomerAccountId" value="${debitCustomerAccount.Id || ''}" />
                            <input type="hidden" name="Apportionments[${index}].CreditChartOfAccountId" value="${item.creditChartOfAccountId || ''}" />
                        </tr>
                    `);
                });
            }

            $('#apportionmentTable').on('click', '.remove-btn', function () {
                var index = $(this).data('index');
                apportionments.splice(index, 1);
                sessionStorage.setItem('apportionments', JSON.stringify(apportionments));
                updateApportionmentsTable();
                calculateApportionmentTotals();
                updateApportionmentsHiddenField();
            });

            $('#TotalValue').on('input', calculateApportionmentTotals);
            $('input[name="ApportionmentWrapper.Principal"]').on('input', calculateApportionmentTotals);
            $('input[name="ApportionmentWrapper.Interest"]').on('input', calculateApportionmentTotals);

            updateApportionmentsTable();
            calculateApportionmentTotals();
            updateApportionmentsHiddenField();

        $(document).ready(function () {
            $('#submitButton').click(function (e) {
                if (!isApportionmentValid()) {
                    e.preventDefault(); // Prevent form submission
                    alert("The total value must be fully apportioned before submitting. Please adjust the apportionments.");
                }
            });
        });


        function resetAllFields() {
            // Clear customer account fields
            $('#DebitCustomerAccountId, #DebitCustomerAccountJson, #DebitFullAccountNumber, #DebitCustomerFullName, #DebitCustomerReference1, #DebitCustomerReference2, #DebitCustomerReference3, #DebitBranchDescription, #DebitCustomerAccountBranchId, #DebitProductDescription, #DebitCustomerIdentificationNumber, #DebitRemarks, #DebitCustomerIndividualPayrollNumbers, #DebitStatusDescription').val('');

            $('#CreditCustomerAccount, #CreditCustomerAccountId, #CreditChartOfAccountId, #CreditFullAccountNumber, #CreditCustomerFullName, #CreditCustomerReference1, #CreditCustomerReference2, #CreditBranchDescription, #CreditBranchId, #CreditProductDescription, #CreditAvailableBalance').val('');

            // Clear apportionment fields
            clearApportionmentForm();

            // Clear total values
            $('#TotalValue, #apportioned, #shortage').val('');

            // Reset apportionments array and table
            apportionments = [];
            sessionStorage.removeItem('apportionments');
            updateApportionmentsTable();

            // Reset total value in session storage
            saveTotalValue(0);

            // Disable submit button
            $('#submitButton').prop('disabled', true);
        }


        $(document).ready(function () {
            $('#submitButton').click(function (e) {

                e.preventDefault();

                if (!isApportionmentValid()) {
                    alert("The total value must be fully apportioned before submitting. Please adjust the apportionments.");
                    return;
                }

                $.ajax({
                    url: $('#customerReceiptsForm').attr('action'),
                    type: 'POST',
                    data: $('#customerReceiptsForm').serialize(),
                    dataType: 'json',
                    success: function (response) {
                        if (response.redirect) {

                            resetAllFields();
                        } else if (response.success) {
                         
                            //alert('Customer Receipts: Operation Success');
                            resetAllFields();
                        } else {
                       
                            //alert('Customer Receipts: Operation Failed\n\n' + (response.errorMessages ? response.errorMessages.join('\n') : 'Unknown error'));
                            resetAllFields();
                        }
                    },
                    error: function (xhr, status, error) {
                    
                        //alert('An error occurred while submitting the form. Please try again.');
                        resetAllFields();
                        console.error(error);
                    }
                });
            });
        });

    </script>
}
