@model SwiftFinancials.Presentation.Infrastructure.Models.CustomerTransactionModel

@{
    /**/

    ViewBag.Title = "Create Customer Receipt";
    var apportionToType = ViewBag.ApportionToSelectList as List<SelectListItem>;

    var apportionToTypeDictionary = apportionToType.ToDictionary(item => item.Value, item => item.Text);



}

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>


        .tab-content > .tab-pane {
            display: none;
        }

            .tab-content > .tab-pane.active {
                display: block;
            }

        .secondary-tab-content > .secondary-tab-pane {
            display: none;
        }

            .secondary-tab-content > .secondary-tab-pane.active {
                display: block;
            }
    </style>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cash Transactions</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Create", "CustomerReceipts", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content bg-white text-info" style="border: 1px solid #ddd; border-radius: 4px; padding: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("Create", "CustomerReceipts", new { Area = "FrontOffice" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div style="border: 1px solid #ddd; border-radius: 8px; padding: 20px; margin-bottom: 20px;">
                                <!-- First Row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.FullAccountNumber, "Full Account Number:", new { @class = "control-label" })
                                            <div class="input-group" data-autoclose="true">
                                                @Html.TextBoxFor(model => model.CustomerAccount.FullAccountNumber, new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#debitCustomerLookupModal">
                                                        <span class="fa fa-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.StatusDescription, "Account Status:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.StatusDescription, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.Remarks, "Account Remarks:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.Remarks, new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.CustomerAccount.CustomerAccountTypeTargetProductId)

                                            @Html.HiddenFor(model => model.CustomerAccount.CustomerAccountTypeTargetProductParentId)

                                            @Html.LabelFor(model => model.CustomerAccount.CustomerAccountTypeTargetProductId, "Product Name:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerAccountTypeTargetProductId, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>


                                <!-- Second Row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.CustomerAccount.CustomerId)
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerFullName, "Customer:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerFullName, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerTypeDescription, "Type:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerTypeDescription, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerIndividualPayrollNumbers, "Payroll Numbers:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerIndividualPayrollNumbers, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.LabelFor(model => model.CustomerAccount.BranchDescription, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.BranchDescription, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                </div>


                                <!-- Third Row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerIdentificationNumber, "Serial Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerIdentificationNumber, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerReference1, "Account Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerReference1, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerReference2, "Membership Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerReference2, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerAccount.CustomerReference3, "Personal File Number:", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerAccount.CustomerReference3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#transaction">Transaction</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tellerGlAccountStatement">Teller G/L Account Statement</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#customerAccountPreview">Customer Account Preview</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="transaction" class="tab-pane active">

                                    <!-- Secondary Tabs (indented) -->
                                    <div style="margin-left: 20px;">
                                        <ul class="nav secondary-nav-tabs" style="margin-bottom: 20px;">
                                            <li class="secondary-nav-item">
                                                <a class="secondary-nav-link active" data-toggle="tab" href="#cashReceipt">Cash Receipt</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="secondary-nav-link" data-toggle="tab" href="#apportionment">Apportionment (Loan / Investment / Savings / GL Account)</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="secondary-nav-link" data-toggle="tab" href="#specimen">Specimen</a>
                                            </li>
                                        </ul>

                                        <div class="secondary-tab-content" style="border: 1px solid #ddd; padding: 20px; border-radius: 4px;">
                                            <!-- Cash Receipt Tab -->
                                            <div id="cashReceipt" class="secondary-tab-pane active">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group form-group-lg">
                                                            @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "" })
                                                            @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @id = "TotalValue", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                                        </div>


                                                        <div class="form-group form-group-lg">
                                                            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "" })
                                                            @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Apportionment Tab -->
                                            <div id="apportionment" class="secondary-tab-pane">
                                                <input type="hidden" id="apportionmentsData" name="ApportionmentsData" />

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.ApportionTo, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.ApportionmentWrapper.ApportionTo, apportionToType, new { @id = "ApportionToType", @class = "form-control input.md" })
                                                            @Html.ValidationMessageFor(model => model.ApportionmentWrapper.ApportionTo)
                                                            @Html.HiddenFor(model => model.ApportionmentWrapper.ProductDescription, new { @id = "CreditProductDescription" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        @Html.LabelFor(model => model.ApportionmentWrapper.FullAccountNumber, "Full Account Number:", new { @class = "control-label" })
                                                        <div class="input-group" data-autoclose="true">
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.FullAccountNumber, new { @class = "form-control", @readonly = "readonly", @id = "FullAccountNumber" })
                                                            <span class="input-group-addon">
                                                                <a data-toggle="modal" data-target="#creditCustomerLookupModal">
                                                                    <span class="fa fa-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.HiddenFor(model => model.ApportionmentWrapper.CustomerFullName)
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.CustomerFullName, "Customer:", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.CustomerFullName, new { @class = "form-control", @readonly = "readonly", @id = "CreditCustomerFullName" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.CustomerReference1, "Account Number:", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.CustomerReference1, new { @class = "form-control", @readonly = "readonly", @id = "CreditCustomerReference1" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.CreditCustomerAccount.CustomerReference2, "Membership Number:", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.CreditCustomerAccount.CustomerReference2, new { @class = "form-control", @readonly = "readonly", @id = "CreditCustomerReference2" })
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.Principal, "Principal:", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.Principal, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.Interest, "Interest:", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.Interest, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApportionmentWrapper.PrimaryDescription, "Primary Description:", new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ApportionmentWrapper.PrimaryDescription, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col-md-12">
                                                        <button type="button" id="addButton" class="btn btn-primary float-right">Add</button>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered" id="apportionmentTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Apportion To</th>
                                                                    <th>Full Account Number</th>
                                                                    <th>Product Name</th>
                                                                    <th>Principal</th>
                                                                    <th>Interest</th>
                                                                    <th>Primary Description</th>
                                                                    <th>Secondary Description</th>
                                                                    <th>Reference</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!----dyanmic rows-->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row mt-3">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Apportioned:</label>
                                                            <input type="number" id="apportioned" class="form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Shortage:</label>
                                                            <input type="number" id="shortage" class="form-control" value="0.00">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group" style="margin-top: 20px; text-align: right;">
                                        <button type="submit" class="btn btn-primary" style="background-color: #007bff; border: 2px solid #0056b3; padding: 10px 20px; font-weight: bold;">Update</button>
                                    </div>

                                </div>


                                <!-- Teller G/L Account Statement Tab -->
                                <div id="tellerGlAccountStatement" class="tab-pane">
                                    <!-- Add content here for the 'Teller G/L Account Statement' tab -->
                                </div>

                                <!-- Customer Account Preview Tab -->
                                <div id="customerAccountPreview" class="tab-pane">
                                    <!-- Add content here for the 'Customer Account Preview' tab -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="debitCustomerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="DebitCustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="creditCustomerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="CreditCustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<input type='hidden' id='h' name='h' />

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>
     $('#DebitCustomerAccountsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                 "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var role = 1;
                    var selectUrl = '<a href="/FrontOffice/CustomerReceipts/Create/' + aData.Id + '?role=' + role + '" class="btn btn-outline-info">' + 'Select</a>';



                    $('td:eq(5)', nRow).html(dt_Created);

                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
            // Display settings
            "aoColumns": [

                { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
                { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
                { "mDataProp": "CustomerReference1", "sTitle": "customer", "sWidth": "2%" },
                { "mDataProp": "CustomerReference2", "sTitle": "Membership", "sWidth": "2%" },
                { "mDataProp": "CustomerAccountTypeProductCodeDescription", "sTitle": "Product", "sWidth": "2%" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "1%" },
                { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
            "aaSorting": [[0, "desc"]]
     });

         $('#CreditCustomerAccountsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                 "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var role = 0;
                    var selectUrl = '<button class="btn btn-outline-info" onclick="fetchCustomerDetails(\'' + String(aData.Id) + '\')">Select</button>';


                    $('td:eq(5)', nRow).html(dt_Created);

                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
            // Display settings
            "aoColumns": [

                { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
                { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
                { "mDataProp": "CustomerReference1", "sTitle": "customer", "sWidth": "2%" },
                { "mDataProp": "CustomerReference2", "sTitle": "Membership", "sWidth": "2%" },
                { "mDataProp": "CustomerAccountTypeProductCodeDescription", "sTitle": "Product", "sWidth": "2%" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "1%" },
                { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
            "aaSorting": [[0, "desc"]]
         });


        function fetchCustomerDetails(customerId) {
            var role = 0;

            console.log("entered fetchcustomerdetails");

            $.ajax({
                url: '/FrontOffice/CustomerReceipts/GetCustomerDetailsJson',
                type: 'GET',
                data: { id: customerId, role: role },
                success: function (data) {
                    if (data) {
                        $('#FullAccountNumber').val(data.FullAccountNumber);
                        $('#CreditCustomerFullName').val(data.CustomerFullName);
                        $('#CreditCustomerReference1').val(data.CustomerReference1);
                        $('#CreditCustomerReference2').val(data.CustomerReference2);
                        $('#CreditBranchDescription').val(data.BranchDescription);
                        $('#CreditBranchId').val(data.BranchId);
                        $('#CreditProductDescription').val(data.CustomerAccountTypeTargetProductDescription);
                        $('#CreditAvailableBalance').val(data.AvailableBalance.toFixed(2)); // Format balance if needed


                        $('#creditCustomerLookupModal').modal('hide');

                    } else {
                        console.error("No customer details found.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Failed to fetch customer details:", error);
                }
            });
        }




    </script>


    <script>
        $(document).ready(function () {

            


            function updateHiddenField() {
                $('#apportionmentsData').val(JSON.stringify(apportionments));
            }


            // Retrieve stored apportionments and totalValue from session storage
            var apportionments = JSON.parse(sessionStorage.getItem('apportionments')) || [];
            var totalValue = parseFloat(sessionStorage.getItem('totalValue')) || 0;

            // Function to get total value from input and store in session storage
            function getTotalValue() {
                return parseFloat($('#TotalValue').val()) || 0;
            }

            // Function to save totalValue to session storage
            function saveTotalValue(value) {
                sessionStorage.setItem('totalValue', value);
            }

            // Function to calculate totals
            function calculateTotals() {
                totalValue = getTotalValue();
                var apportioned = apportionments.reduce(function (total, item) {
                    var principal = parseFloat(item.principal) || 0;
                    var interest = parseFloat(item.interest) || 0;
                    return total + principal + interest;
                }, 0);

                var shortage = totalValue - apportioned;

                console.log("totalValue is: ", totalValue);
                console.log("apportioned is:", apportioned);
                console.log("shortage is:", shortage);

                $('#apportioned').val(apportioned.toFixed(2));
                $('#shortage').val(shortage.toFixed(2));

                saveTotalValue(totalValue); // Save updated totalValue to session storage
            }

            // Handle the Add button click
            $('#addButton').click(function () {
                addItem();
            });

            function addItem() {
                // Get values from the form fields
                var principal = parseFloat($('input[name="ApportionmentWrapper.Principal"]').val()) || 0;
                var interest = parseFloat($('input[name="ApportionmentWrapper.Interest"]').val()) || 0;

                var apportionToType = {
                    1: "Customer Account",
                    2: "G/L Account"
                };

                // Get the numeric value
                apportionTo = $('select[name="ApportionmentWrapper.ApportionTo"]').val();


                console.log("apportionTo is: ", apportionTo);

                // Map the numeric value to the description
                var apportionToDescription = apportionToType[apportionTo];

                console.log("apportionToDescription is: ", apportionToDescription);

                // Create the item object with the mapped description
                var item = {
                    apportionTo: apportionTo, // Store the numeric value
                    apportionToDescription: apportionToDescription, // Get the description using the numeric value
                    fullAccountNumber: $('input[name="ApportionmentWrapper.FullAccountNumber"]').val(),
                    productDescription: $('input[name="ApportionmentWrapper.ProductDescription"]').val(),
                    principal: $('input[name="ApportionmentWrapper.Principal"]').val(),
                    interest: $('input[name="ApportionmentWrapper.Interest"]').val(),
                    primaryDescription: $('input[name="ApportionmentWrapper.PrimaryDescription"]').val(),
                    secondaryDescription: '', // Add any other fields you need here
                    reference: '' // Add any other fields you need here
                };



                apportionments.push(item);
                sessionStorage.setItem('apportionments', JSON.stringify(apportionments)); // Store in session
                updateTable();
                calculateTotals();
                updateHiddenField();
            }

            function updateTable() {
                var $tableBody = $('#apportionmentTable tbody');
                $tableBody.empty(); // Clear existing rows

                $.each(apportionments, function (index, item) {
                    var principal = parseFloat(item.principal) || 0;
                    var interest = parseFloat(item.interest) || 0;

                    $tableBody.append(`
                                         <tr>
                        <td>${item.apportionToDescription || ''}</td>
                        <td>${item.fullAccountNumber || ''}</td>
                        <td>${item.productDescription || ''}</td>
                        <td>${principal.toFixed(2)}</td>
                        <td>${interest.toFixed(2)}</td>
                        <td>${item.primaryDescription || ''}</td>
                        <td>${item.secondaryDescription || ''}</td>
                        <td>${item.reference || ''}</td>
                        <td>
                            <button type="button" class="btn btn-danger remove-btn" data-index="${index}">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                        <!-- Hidden inputs for binding to ApportionmentWrapper -->
                        <input type="hidden" name="Apportionments[${index}].ApportionTo" value="${item.apportionTo || ''}" />
                        <input type="hidden" name="Apportionments[${index}].FullAccountNumber" value="${item.fullAccountNumber || ''}" />
                        <input type="hidden" name="Apportionments[${index}].ProductDescription" value="${item.productDescription || ''}" />
                        <input type="hidden" name="Apportionments[${index}].Principal" value="${principal.toFixed(2)}" />
                        <input type="hidden" name="Apportionments[${index}].Interest" value="${interest.toFixed(2)}" />
                        <input type="hidden" name="Apportionments[${index}].PrimaryDescription" value="${item.primaryDescription || ''}" />
                        <input type="hidden" name="Apportionments[${index}].SecondaryDescription" value="${item.secondaryDescription || ''}" />
                        <input type="hidden" name="Apportionments[${index}].Reference" value="${item.reference || ''}" />
                        
                    </tr>
                            `);
                });
            }

            // Remove item
            $('#apportionmentTable').on('click', '.remove-btn', function () {
                var index = $(this).data('index');
                apportionments.splice(index, 1); // Remove item from array
                sessionStorage.setItem('apportionments', JSON.stringify(apportionments)); // Update session storage
                updateTable(); // Update table after removal
                calculateTotals(); // Recalculate totals after removal

                // Re-index the remove buttons
                $('#apportionmentTable .remove-btn').each(function (i) {
                    $(this).data('index', i);
                });
            });

            // Add event listeners to recalculate totals when inputs change
            $('#TotalValue').on('input', calculateTotals);
            $('input[name="ApportionmentWrapper.Principal"]').on('input', calculateTotals);
            $('input[name="ApportionmentWrapper.Interest"]').on('input', calculateTotals);

            // Initial table render
            updateTable();
            calculateTotals();
            updateHiddenField();
        });
    </script>

    



}
