@model  Application.MainBoundedContext.DTO.HumanResourcesModule.SalaryGroupDTO

@{
    /**/

    ViewBag.Title = "Create Salary Group";
    var valueTypes = ViewBag.ValueTypeSelectList as List<SelectListItem>;
    var roundingType = ViewBag.RoundingTypeSelectList as List<SelectListItem>;

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Salary</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "SalaryGroups", new { Area = "HumanResource" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Salary Group</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Add", "SalaryGroups", new { Area = "HumanResource" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Salary Group Name", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Salary Group Name", @required = "" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>

                        <hr />
                        <h1>Salary Group Entries</h1>




                        <!-- Button to trigger the modal -->
                        <button id="openModalButton" style="box-shadow:10px; border-radius:10px; width:200px; color:white; background-color:deepskyblue; border-color:deepskyblue">Add Salary Group Entry</button>
                        <!-- The modal -->

                        <div class="form-group">
                            <div id="expenseModal" class="modal" style="width: 80%; height: 80%; position: center; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <div class="modal-content" style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                    <span class="close" style="position: center; top: 10px; right: 10px;">&times;</span>

                                    @Html.AntiForgeryToken()
                                    <h2>Add Salary Group Entry</h2>
                                    <br />
                                    <div class="col-md-10 form-group">
                                        @Html.LabelFor(model => model.SalaryGroupEntries[0].SalaryHeadId, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.SalaryGroupEntries[0].SalaryHeadId)
                                            @Html.TextBoxFor(model => model.SalaryGroupEntries[0].SalaryHeadDescription, new { @class = "GetProductsAsync form-control input-md alpha alphaspace required", @readonly = "readonly", placeholder = "Link Salary Head..." })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#SalaryheadsLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.SalaryGroupEntries[0].ChargeTypeDescription, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.SalaryGroupEntries[0].ChargeTypeDescription, valueTypes, new { @class = "form-control input-md" })
                                                    @Html.ValidationMessageFor(model => model.SalaryGroupEntries[0].ChargeTypeDescription)
                                                </div>
                                            </div>

                                            <div class="form-group form-group-lg" style="text-align: center;">
                                                @Html.LabelFor(model => model.SalaryGroupEntries[0].MinimumValue, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.SalaryGroupEntries[0].MinimumValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.SalaryGroupEntries[0].MinimumValue, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-5">
                                            <div class="form-group form-group-lg" style="text-align: center;">
                                                @Html.LabelFor(model => model.SalaryGroupEntries[0].ChargeType, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.SalaryGroupEntries[0].ChargeType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.SalaryGroupEntries[0].ChargeType, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.SalaryGroupEntries[0].RoundingType, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.SalaryGroupEntries[0].RoundingType, roundingType, new { @class = "form-control input-md" })
                                                    @Html.ValidationMessageFor(model => model.SalaryGroupEntries[0].RoundingType)
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Center the Submit button -->
                                    <button id="submitEntry" class="btn btn-outline-secondary" style="margin-top: 20px; margin-bottom:20px; width:200px; align-self:center">Submit</button>
                                </div>
                            </div>
                        </div>
                        <row>



                            <div class="ibox-content m-b-sm border-bottom bg-white text-dark">
                                <table class="footable table table-stripped toggle-arrow-tiny bg-white  ">
                                    <thead>
                                        <tr>
                                            <th data-hide="phone">Salary Head</th>
                                            <th data-hide="phone">Is One-Off?</th>
                                            <th data-hide="phone">Value Type</th>
                                            <th data-hide="phone">Percentage Value</th>
                                            <th data-hide="phone">Fixed Value</th>
                                            <th data-hide="phone">Minimum Value</th>
                                            <th data-hide="phone">Rounding Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.SalaryGroupEntryDTOs != null)
                                        {
                                            foreach (var SalaryGroupEntries in ViewBag.SalaryGroupEntryDTOs)
                                            {
                                                <tr>
                                                    <td>
                                                        @SalaryGroupEntries.SalaryHeadDescription
                                                    </td>
                                                    <td>
                                                        @SalaryGroupEntries.SalaryHeadIsOneOff
                                                    </td>
                                                    <td>
                                                        @SalaryGroupEntries.ChargeTypeDescription
                                                    </td>
                                                    <td>
                                                        @SalaryGroupEntries.ChargePercentage
                                                    </td>
                                                    <td>
                                                        @SalaryGroupEntries.ChargeFixedAmount
                                                    </td>
                                                    <td>
                                                        @SalaryGroupEntries.MinimumValue
                                                    </td>
                                                    <td>
                                                        @SalaryGroupEntries.RoundingType
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </row>
                    }
                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    @using (Html.BeginForm("Create", "SalaryGroups", new { Area = "HumanResource" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="submit" value="Post" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="SalaryheadsLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Products LookUp<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <br />
            <table id="salaryHeadsGrid" class="table table-striped table-bordered table-hover" style="width:50%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="width:190px" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>

        // Open the modal
        $("#openModalButton").click(function () {
            $("#expenseModal").css("display", "block");
        });

        // Close the modal
        $(".close").click(function () {
            $("#expenseModal").css("display", "none");
        });

        $("#submitEntry").click(function () {
            const salaryHead = $("#SalaryHeadDescription").val();
            const isOneOff = $("#SalaryHeadIsOneOff").val();
            const Value = $("#ChargeTypeDescription").val();
            const percentageValue = $("#ChargePercentage").val();
            const fixedValue = $("#ChargeFixedAmount").val();
            const minimumValue = $("#MinimumValue").val();
            const roundingType = $("#RoundingType").val();
            //const reference = $("#reference").val();
            //const remarks = $("#remarks").val();

            // Perform AJAX request to send the data to your server
            $.post("/addSalaryGroupEntry", { salaryHead, isOneOff, Value, percentageValue, fixedValue, minimumValue, roundingType }, function (response) {
                // Handle the response from the server
            });
        });



     $('.SalaryHeadsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetSalaryHeadsAsync", "Salary", new { Area = "HumanResource" })',
                        { query: query },
                        function (Stations) {
                            var newProductsData = [];
                            ProductsMap = {};
                            $.each(Products, function (i, Product) {
                                newProductsData.push(Product.Description);
                                ProductsMap[Product.Description] = Product;
                            });
                            process(newProductsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ProductID = "";
                    ProductID = ProductsMap[item].Id;
                    $('#SalaryHeadId').val(ProductID);
                    $('#SalaryHeadId').val(ProductsMap[item].CustomerAccountTypeProductCodeDescription);
                    $('#SalaryHeadDescription').val(ProductsMap[item].SalaryHeadDescription);
                    //console.log(StationId)
                    return item;
                }
            });

    $('#salaryHeadsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "Salary", new { Area = "HumanResource" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                  var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/HumanResource/SalaryGroups/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [
            { "mDataProp": "SalaryHeadId", "sTitle": "Salary Head ID", "sWidth": "20%" },
            { "mDataProp": "SalaryHeadDescription", "sTitle": "Salary Head", "sWidth": "4%" },
            { "mDataProp": "SalaryHeadIsOneOff", "sTitle": "Is One-Off?", "sWidth": "4%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "5%" },

            { "mDataProp": "selectUrl", "sTitle": "", "sWidth": "10%" ,"bSortable": false}],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = salaryHeadsGrid.row(this).data();

      //  $('#CustomerAccountCustomerId').val(data.Id);
        $('#Code').val(data.Id);
     //   $('input[name=CustomerAccountCustomerId]').val(data.Id);
        $('input[name=SalaryHeadId]').val(data.PostingPeriodId);
        $('input[name=SalaryHeadDescription]').val(data.PostingPeriodDescription);


        var Code = "";
        Code = PostingPeriodsMap[item].Id;
        $('#SalaryHeadId').val(PostingPeriodsMap[item].PostingPeriodId);
        $('#SalaryHeadDescription').val(PostingPeriodsMap[item].PostingPeriodDescription);

        $('#SalaryHeadsLookup').modal('hide');
    });
    </script>
}
