@model  Application.MainBoundedContext.DTO.AccountsModule.CustomerAccountDTO

@{
    /**/

    ViewBag.Title = "Create Customer Accounts";
    var withdrawalNotificationCategories = ViewBag.WithdrawalNotificationCategorySelectList as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>CustomerAccount</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "CoA_Register", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>


<style>
    body {
        font-family: Arial, sans-serif;
    }

    .tab-header, .sub-tab-header {
        display: flex;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .tab-button, .sub-tab-button {
        background-color: #f1f1f1;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .tab-button:hover, .sub-tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active, .sub-tab-button.active {
            background-color: #ddd; /* Same as hover background color */
        }

        .tab-button:focus, .sub-tab-button:focus {
            outline: none;
        }

    .tab, .sub-tab-content {
        display: none;
    }

        .tab-content, .sub-tab-content.active {
            display: block;
        }

    .tab-content, .sub-tab-content {
        max-height: 800px; /* Adjust the height as needed */
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc; /* Borderline around tab content */
        background-color: #fff;
        margin-top: 10px;
    }



    #ChargeSplits {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        #ChargeSplits thead {
            background-color: white;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        #ChargeSplits th, #ChargeSplits td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #ChargeSplits th {
            font-weight: bold;
        }

        #ChargeSplits tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #ChargeSplits tbody tr:hover {
            background-color: #f1f1f1;
        }
</style>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-times"></i>
                            <strong>Error!</strong> @TempData["Error"]
                        </div>
                    }

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @*@using (Html.BeginForm("Create", "CustomerAccounts", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))

        @Html.AntiForgeryToken()*@

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4">

                                    <div class="col-md-13 form-group">
                                        @Html.LabelFor(model => model.Customers.FullName, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.Customers.Id)
                                            @Html.TextBoxFor(model => model.Customers.FullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.Reference3, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.Reference3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.Reference3, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.Reference2, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.Reference2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.Reference2, "", new { @class = "text-danger" })
                                    </div>
                                    @using (Html.BeginForm("Create", "CustomerAccounts", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                                    {


                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.ValidationMessageFor(model => model.BranchDescription, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Description.." } })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            <input type="submit" style="width: 150px;" value="Create" class="btn btn-primary" />
                                        </div>

                                    }
                                </div>

                                <div class="col-lg-4">

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.IndividualPayrollNumbers, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.IndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control", @placeholder = "Station", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.IndividualPayrollNumbers, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.StationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.StationZoneDivisionEmployerDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "CustomerStationZoneDivisionEmployerDescription", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.StationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.Reference1, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.Reference1, new { htmlAttributes = new { @class = "form-control", @placeholder = "CustomerStationZoneDivisionEmployerDescription", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.Reference1, "", new { @class = "text-danger" })
                                    </div>


                                </div>






                                <div class="col-lg-4">

                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.SerialNumber, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.SerialNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer SerialNumber", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.SerialNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.IndividualIdentityCardNumber, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.IndividualIdentityCardNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Identity Card Number", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.IndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Customers.RecordStatusDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Customers.RecordStatusDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account Status", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Customers.RecordStatusDescription, "", new { @class = "text-danger" })
                                    </div>



                                </div>


                            </div>


                        </fieldset>

                    </div>

                    <style>
                        .tab-header {
                            display: flex;
                            border-bottom: 2px solid #ccc;
                        }

                        .tab-button {
                            padding: 10px 20px;
                            cursor: pointer;
                            transition: background-color 0.3s, color 0.3s;
                            /* Remove margin-right to eliminate space between tabs */
                        }

                            .tab-button.active {
                                background-color:darkgrey; /* Dark grey */
                                color: white;
                                border-radius: 5px 5px 0 0;
                            }

                            .tab-button:hover {
                                background-color: #808080; /* Medium grey */
                                color: white;
                            }
                    </style>

                    <div class="tab-header">
                        <div class="tab-button active" onclick="openTab(event, 'section1')">
                            <i class="fa fa-table" aria-hidden="true"></i> Saving Products
                        </div>
                        <div class="tab-button" onclick="openTab(event, 'section2')">
                            <i class="fa fa-table" aria-hidden="true"></i> Investments Products
                        </div>
                    </div>
                    <br />

                    <div id="section1" class="tab">

                        <div class="tab-content">

                            <h2 style="color: cadetblue;">Savings Products</h2>

                            <br />
                            @using (Html.BeginForm("Add", "CustomerAccounts", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                            {

                                <div class="row">
                                    <!-- Savings Products Section -->
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.savingsProducts[0].Description, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.savingsProducts[0].Id, new { @id = "SavingProductId" })
                                            @Html.ValidationMessageFor(model => model.savingsProducts[0].Id, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.savingsProducts[0].Description, new { htmlAttributes = new { @class = "SavingProductsLookup form-control required", placeholder = "Description.." } })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.savingsProducts[0].ChartOfAccountName, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.savingsProducts[0].ChartOfAccountName, new { htmlAttributes = new { @class = "form-control", @id = "CustomerAccountTypeTargetProductChartOfAccountName" } })
                                            @Html.ValidationMessageFor(model => model.savingsProducts[0].ChartOfAccountName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="col-lg-4">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.savingsProducts[0].Code, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.savingsProducts[0].Code, new { htmlAttributes = new { @class = "form-control percentage-input" } })
                                @Html.ValidationMessageFor(model => model.savingsProducts[0].Code, "", new { @class = "text-danger" })
                                <div class="invalid-feedback" style="display: none; color:red;"></div>
                            </div>
                        </div>*@
                                    <div class="col-lg-4" style="margin-top: 29px;">
                                        <input type="submit" value="Add savings" class="btn btn-primary" />
                                    </div>
                                </div>

                                <row>

                                    <div class="ibox-content m-b-sm border-bottom  text-dark">
                                        <table class="footable table table-stripped  grey-table">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.savingsProductDTOs != null)
                                                {
                                                    foreach (var commissionSplit in ViewBag.savingsProductDTOs)
                                                    {
                                                        <tr data-id="@commissionSplit.Id">

                                                            <td>@commissionSplit.Description</td>

                                                            <td><button type="button" class="btn btn-danger remove-btn">Remove</button></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>


                                    </div>
                                </row>

                            }


                        </div>
                    </div>

                    <div id="section2" class="tab">

                        <div class="tab-content">

                            <h2 style="color: cadetblue;">Investments Products</h2>

                            <br />

                            @using (Html.BeginForm("AddInvestments", "CustomerAccounts", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                            {
                                <div class="row">
                                    <!-- Investment Products Section -->
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.investmentProducts[0].Description, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.investmentProducts[0].Id, new { @id = "InvestmentProductId" })
                                            @Html.ValidationMessageFor(model => model.investmentProducts[0].Id, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.investmentProducts[0].Description, new { htmlAttributes = new { @class = "InvestmentProductsLookup form-control required", placeholder = "Description.." } })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.investmentProducts[0].ChartOfAccountName, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.investmentProducts[0].ChartOfAccountName, new { htmlAttributes = new { @class = "form-control", @id = "CustomerAccountTypeTargetProductChartOfAccountName_Investment" } })
                                            @Html.ValidationMessageFor(model => model.investmentProducts[0].ChartOfAccountName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="col-lg-4">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.investmentProducts[0].Code, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.investmentProducts[0].Code, new { htmlAttributes = new { @class = "form-control percentage-input", @id = "code_investment" } })
                                @Html.ValidationMessageFor(model => model.investmentProducts[0].Code, "", new { @class = "text-danger" })
                                <div class="invalid-feedback" style="display: none; color:red;"></div>
                            </div>
                        </div>*@
                                    <div class="col-lg-4" style="margin-top: 29px;">
                                        <input type="submit" value="Add investments" class="btn btn-primary" />
                                    </div>
                                </div>
                                <row>

                                    <div class="ibox-content m-b-sm border-bottom  text-dark">
                                        <table class="footable table table-stripped  grey-table">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Description</th>



                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.investmentProductDTOs != null)
                                                {
                                                    foreach (var commissionSplit in ViewBag.investmentProductDTOs)
                                                    {
                                                        <tr data-id="@commissionSplit.Id">

                                                            <td>@commissionSplit.Description</td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>


                                    </div>
                                </row>

                            }
                        </div>
                    </div>

                </div>
                <div class="ibox-content bg-white text-info">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="savingsLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Savings Products Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="SavingsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="loansProductLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Loan Products Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="loanProductsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="investmentsProductLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Investment Products Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="investmentProductsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    <script type="text/javascript">
                  $(document).ready(function () {
    // Savings Products Lookup
    const savingsProductsLookup = $('.SavingProductsLookup');
    const savingsProductMap = {};

    savingsProductsLookup.typeahead({
        source: function (query, process) {
            const url = '@Url.Action("GetSavingsProductsAsync", "SavingsProduct", new { Area = "Accounts" })';
            $.getJSON(url, { query: query })
                .done(function (savingProducts) {
                    const newSavingProductsData = savingProducts.map(savingProduct => {
                        savingsProductMap[savingProduct.Description] = savingProduct;
                        return savingProduct.Description;
                    });
                    process(newSavingProductsData);
                })
                .fail(function () {
                    console.error('Error fetching savings products data.');
                });
        },
        matcher: function (item) {
            return item.toLowerCase().includes(this.query.trim().toLowerCase());
        },
        sorter: function (items) {
            return items.sort();
        },
        highlighter: function (item) {
            const regex = new RegExp('(' + this.query + ')', 'gi');
            return item.replace(regex, "<strong>$1</strong>");
        },
        updater: function (item) {
            const selectedProduct = savingsProductMap[item];
            $('#SavingProductId').val(selectedProduct.Id);
            $('#CustomerAccountTypeTargetProductDescription').val(selectedProduct.Description);
            $('#CustomerAccountTypeTargetProductChartOfAccountName').val(selectedProduct.ChartOfAccountName);
            return item;
        }
    });

    // Investment Products Lookup
    const investmentProductsLookup = $('.InvestmentProductsLookup');
    const investmentProductMap = {};

    investmentProductsLookup.typeahead({
        source: function (query, process) {
            const url = '@Url.Action("GetInvestmentProductsAsync", "InvestmentProduct", new { Area = "Accounts" })';
            $.getJSON(url, { query: query })
                .done(function (investmentProducts) {
                    const newInvestmentProductsData = investmentProducts.map(investmentProduct => {
                        investmentProductMap[investmentProduct.Description] = investmentProduct;
                        return investmentProduct.Description;
                    });
                    process(newInvestmentProductsData);
                })
                .fail(function () {
                    console.error('Error fetching investment products data.');
                });
        },
        matcher: function (item) {
            return item.toLowerCase().includes(this.query.trim().toLowerCase());
        },
        sorter: function (items) {
            return items.sort();
        },
        highlighter: function (item) {
            const regex = new RegExp('(' + this.query + ')', 'gi');
            return item.replace(regex, "<strong>$1</strong>");
        },
        updater: function (item) {
            const selectedProduct = investmentProductMap[item];
            $('#InvestmentProductId').val(selectedProduct.Id);
            $('#CustomerAccountTypeTargetProductDescription').val(selectedProduct.Description);
            $('#CustomerAccountTypeTargetProductChartOfAccountName_Investment').val(selectedProduct.ChartOfAccountName);
            $('#CustomerAccountTypeTargetProductCode_Investment').val(selectedProduct.Code);

            return item;
        }
    });
});


    </script>

    <script>
        // Initialize variables to track the active tab and modal status
        var activeTab = localStorage.getItem('activeTab') || 'section1';
        var isModalOpened = localStorage.getItem('isModalOpened') === 'true';

        // Function to open a tab and set it as active
        function openTab(evt, tabName) {
            var i, tabcontent, tabbuttons;

            // Hide all tab contents
            tabcontent = document.getElementsByClassName("tab");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
                tabcontent[i].classList.remove("active");
            }

            // Remove the active class from all tab buttons
            tabbuttons = document.getElementsByClassName("tab-button");
            for (i = 0; i < tabbuttons.length; i++) {
                tabbuttons[i].classList.remove("active");
            }

            // Show the current tab and add active class to the button and tab content
            document.getElementById(tabName).style.display = "block";
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");

            // Update the active tab
            activeTab = tabName;
            localStorage.setItem('activeTab', tabName);
        }

        // Function to open a sub-tab and set it as active
        function openSubTab(evt, subTabName) {
            var i, subTabContent, subTabButtons;

            // Hide all sub-tab contents
            subTabContent = document.getElementsByClassName("sub-tab-content");
            for (i = 0; i < subTabContent.length; i++) {
                subTabContent[i].style.display = "none";
                subTabContent[i].classList.remove("active");
            }

            // Remove the active class from all sub-tab buttons
            subTabButtons = document.getElementsByClassName("sub-tab-button");
            for (i = 0; i < subTabButtons.length; i++) {
                subTabButtons[i].classList.remove("active");
            }

            // Show the current sub-tab and add active class to the button and sub-tab content
            document.getElementById(subTabName).style.display = "block";
            document.getElementById(subTabName).classList.add("active");
            evt.currentTarget.classList.add("active");
        }

        // Ensure active tab is maintained when opening the modal
        document.getElementById("GuarantorLookupModal").addEventListener("show.bs.modal", function () {
            isModalOpened = true;
            activeTab = 'section5'; // Ensure section5 is set as the active tab
            localStorage.setItem('activeTab', 'section5');
            localStorage.setItem('isModalOpened', 'true');
        });

        // Initial setup to show the active tab on page load
        document.addEventListener("DOMContentLoaded", function () {
            var tab = document.getElementById(activeTab);
            if (tab) {
                tab.style.display = "block";
                tab.classList.add("active");

                var tabButton = document.querySelector(`.tab-header .tab-button[onclick="openTab(event, '${activeTab}')"]`);
                if (tabButton) {
                    tabButton.classList.add("active");
                }
            }

            // Ensure section1 is inactive if section5 is active after modal open
            if (activeTab === 'section5') {
                var section1 = document.getElementById('section1');
                if (section1) {
                    section1.style.display = "none";
                    section1.classList.remove("active");

                    var section1Button = document.querySelector('.tab-header .tab-button[onclick="openTab(event, \'section1\')"]');
                    if (section1Button) {
                        section1Button.classList.remove("active");
                    }
                }

                localStorage.removeItem('isModalOpened'); // Clear the modal flag after it has been handled
            }
        });
    </script>
    <script>

                         //Branch typehead starts here
                            $('.BranchesLookup').typeahead({
                                source: function (query, process) {
                                    return $.getJSON(
                                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                                        { query: query },
                                        function (Branches) {
                                            var newBranchesData = [];
                                            BranchesMap = {};
                                            $.each(Branches, function (i, Branch) {
                                                newBranchesData.push(Branch.Description);
                                                BranchesMap[Branch.Description] = Branch;
                                            });
                                            process(newBranchesData); return;
                                        });
                                },
                                matcher: function (item) {
                                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                                        return true;
                                    }
                                },
                                sorter: function (items) {
                                    return items.sort();
                                },
                                highlighter: function (item) {
                                    var regex = new RegExp('(' + this.query + ')', 'gi');
                                    return item.replace(regex, "<strong>$1</strong>");
                                },
                                updater: function (item) {
                                    var branchId = "";
                                    BranchId = BranchesMap[item].Id;
                                    $('#BranchId').val(BranchId);
                                    //console.log(BranchId)
                                    return item;
                                }
                            });





                                 // Savings Product lookup
                            $('#SavingsGrid').DataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                                        "bProcessing": true,
                                        "bServerSide": true,
                                        "sAjaxSource": "@(Url.Action("Index", "SavingsProduct", new { Area = "Accounts" }))",
                                        "sServerMethod": "POST",
                                        // Callback settings
                                        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                                aData.CreatedDate = dt_Created;

                                var selectUrl = '<a  href="/Accounts/CustomerAccounts/SavingsProduct/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                                            $('td:eq(4)', nRow).html(dt_Created);
                                            $('td:eq(5)', nRow).html(selectUrl);

                                return nRow;
                            },
                                // Display settings
                                "aoColumns": [
                                    { "mDataProp": "PaddedCode", "sTitle": "Code", "sWidth": "2%" },
                                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "4%" },
                                    { "mDataProp": "MinimumBalance", "sTitle": "Minimum Balance", "sWidth": "3%" },
                                    { "mDataProp": "OperatingBalance", "sTitle": "Operating Balance", "sWidth": "3%" },
                                    { "mDataProp": "MaximumAllowedWithdrawal", "sTitle": "Maximum Withdrawal", "sWidth": "3%" },
                                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "5%", "bSortable": false }],
                                "aaSorting": [[0, "desc"]]
                            });

                            $("#s tbody").on("click", "tr", function() {
                            var data = customersGrid.row(this).data();

                            var CustomerId = "";
                            CustomerId = CustomersMap[item].Id;

                                $('#CustomerAccountTypeTargetProductId').val(data.Id);
                                $('input[name=CustomerAccountTypeTargetProductId]').val(data.Id);
                                $('input[name=CustomerAccountTypeTargetProductDescription]').val(data.CustomerAccountTypeTargetProductDescription);
                                $('#CommissionSplit.ChartOfAccountAccountName').val(CustomersMap[item].CustomerAccountTypeTargetProductDescription);
                        });




                                // Loans Product look up
                            $('#loanProductsGrid').DataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                                        "bProcessing": true,
                                        "bServerSide": true,
                                        "sAjaxSource": "@(Url.Action("Index", "LoanProduct", new { Area = "Accounts" }))",
                                        "sServerMethod": "POST",
                                        // Callback settings
                                        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                                aData.CreatedDate = dt_Created;

                                var selectUrl = '<a  href="/Accounts/CustomerAccounts/LoansProduct/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                                            $('td:eq(5)', nRow).html(dt_Created);
                                            $('td:eq(6)', nRow).html(selectUrl);

                                return nRow;
                            },
                                // Display settings
                                "aoColumns": [
                                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "10%" },
                                    { "mDataProp": "LoanRegistrationTermInMonths", "sTitle": "Term (Months)", "sWidth": "3%" },
                                    { "mDataProp": "LoanRegistrationMinimumAmount", "sTitle": "Minimum Principal Amount", "sWidth": "5%" },
                                    { "mDataProp": "LoanRegistrationMaximumAmount", "sTitle": "Maximum Principal Amount", "sWidth": "5%" },
                                    { "mDataProp": "LoanInterestAnnualPercentageRate", "sTitle": "Annual Percentage Rate", "sWidth": "3%" },
                                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "5%" },
                                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "5%", "bSortable": false }],
                                "aaSorting": [[0, "desc"]]
                            });

                            $("#s tbody").on("click", "tr", function() {
                            var data = customersGrid.row(this).data();

                            var CustomerId = "";
                            CustomerId = CustomersMap[item].Id;

                                $('#CustomerAccountTypeTargetProductId').val(data.Id);
                                $('input[name=CustomerAccountTypeTargetProductId]').val(data.Id);
                                $('input[name=CustomerAccountTypeTargetProductDescription]').val(data.CustomerAccountTypeTargetProductDescription);
                                $('#CommissionSplit.ChartOfAccountAccountName').val(CustomersMap[item].CustomerAccountTypeTargetProductDescription);
                        });



                                // Investment Products lookup
                                $('#investmentProductsGrid').DataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                                        "bProcessing": true,
                                        "bServerSide": true,
                                        "sAjaxSource": "@(Url.Action("Index", "InvestmentProduct", new { Area = "Accounts" }))",
                                        "sServerMethod": "POST",
                                        // Callback settings
                                        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                                aData.CreatedDate = dt_Created;

                                            var selectUrl = '<a  href="/Accounts/CustomerAccounts/InvestmentProduct/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                                            $('td:eq(4)', nRow).html(dt_Created);
                                            $('td:eq(5)', nRow).html(selectUrl);

                                return nRow;
                            },
                                // Display settings
                                "aoColumns": [
                                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "5%" },
                                    { "mDataProp": "MinimumBalance", "sTitle": "Minimum Balance", "sWidth": "3%" },
                                    { "mDataProp": "MaximumBalance", "sTitle": "Maximum Balance", "sWidth": "2%" },
                                    { "mDataProp": "MaturityPeriod", "sTitle": "Maturity Period (Days)", "sWidth": "2%" },
                                    { "mDataProp": "AnnualPercentageYield", "sTitle": "Annual Percentage Yield", "sWidth": "2%" },
                                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "5%", "bSortable": false }],
                                "aaSorting": [[0, "desc"]]
                            });

                            $("#s tbody").on("click", "tr", function() {
                            var data = customersGrid.row(this).data();

                            var CustomerId = "";
                            CustomerId = CustomersMap[item].Id;

                                $('#CustomerAccountTypeTargetProductId').val(data.Id);
                                $('input[name=CustomerAccountTypeTargetProductId]').val(data.Id);
                                $('input[name=CustomerAccountTypeTargetProductDescription]').val(data.CustomerAccountTypeTargetProductDescription);
                        });








                            $('#customersGrid').DataTable({
                            // Ajax settings
                            "sPaginationType": "full_numbers",
                                        "bProcessing": true,
                                        "bServerSide": true,
                                        "sAjaxSource": "@(Url.Action("Index", "Customer", new { Area = "Registry" }))",
                                        "sServerMethod": "POST",
                                        // Callback settings

                                        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                                var h = ("0" + createdDate.getHours()).slice(-2);
                                var m = ("0" + createdDate.getMinutes()).slice(-2);
                                var s = ("0" + createdDate.getSeconds()).slice(-2);

                                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                                aData.CreatedDate = dt_Created;

                                var selectUrl = '<a  href="/Accounts/CustomerAccounts/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                                            $('td:eq(4)', nRow).html(dt_Created);
                                            $('td:eq(5)', nRow).html(selectUrl);

                                return nRow;
                            },
                                // Display settings
                                "aoColumns": [
                                    { "mDataProp": "FullName", "sTitle": "Name", "sWidth": "15%" },
                                    { "mDataProp": "TypeDescription", "sTitle": "Type", "sWidth": "10%" },
                                    { "mDataProp": "Reference2", "sTitle": "Membership  Number", "sWidth": "10%" },
                                    { "mDataProp": "IndividualTypeDescription", "sTitle": "Individual Type", "sWidth": "15%" },
                                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                                    { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
                                "aaSorting": [[0, "desc"]]
                            });




    </script>

}
