@model Application.MainBoundedContext.DTO.AdministrationModule.BankDTO

@{
    ViewBag.Title = "Create Bank";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create Bank</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Banks", "Index", "Bank", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Create Bank</h5>
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm("Create", "Bank", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Description, "Description:", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter description..." } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Code, "Code:", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter code..." } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4>@Html.DisplayNameFor(model => model.BankBranches)</h4>

                <!-- Branch Table -->
                <table class="table table-bordered" id="branchTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].BankCode)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].AddressAddressLine1)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].AddressAddressLine2)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].AddressCity)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].AddressEmail)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].ContactPerson)</th>
                            <th>@Html.DisplayNameFor(model => model.BankBranches[0].BankDescription)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="branchTableBody">
                        <!-- Dynamic Branch Rows will be added here -->
                    </tbody>
                </table>

                <button type="button" id="addBranchBtn" class="btn btn-primary">Add Branch</button>

                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {
        let branchCount = 0;

        $('#addBranchBtn').click(function () {
            const branchRow = `
                <tr data-branch-index="${branchCount}">
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].BankCode" class="form-control" placeholder="Enter bank code..." />
                    </td>
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].AddressLine1" class="form-control" placeholder="Enter address line 1..." />
                    </td>
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].AddressLine2" class="form-control" placeholder="Enter address line 2..." />
                    </td>
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].City" class="form-control" placeholder="Enter city..." />
                    </td>
                    <td>
                        <input type="email" name="BankBranches[${branchCount}].Email" class="form-control" placeholder="Enter email..." />
                    </td>
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].PhoneNumber" class="form-control" placeholder="Enter phone number..." />
                    </td>
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].ContactPerson" class="form-control" placeholder="Enter contact person..." />
                    </td>
                    <td>
                        <input type="text" name="BankBranches[${branchCount}].BranchName" class="form-control" placeholder="Enter branch name..." />
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger removeBranchBtn">Remove</button>
                    </td>
                </tr>
            `;
            $('#branchTableBody').append(branchRow);
            branchCount++;
        });

        $(document).on('click', '.removeBranchBtn', function () {
            $(this).closest('tr').remove();
        });
    });
</script>
