@model Application.MainBoundedContext.DTO.AdministrationModule.BankDTO

@{
    ViewBag.Title = "Create Bank";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create Bank</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Banks", "Index", "Bank", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn white-bg">
    <div class="ibox">
        <div class="ibox-title">
            <h5><i class="fa fa-university"></i> Create Bank</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm("Create", "Bank", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="Description" class="control-label">
                            <i class="fa fa-info-circle" title="Enter the bank's description"></i> Description:
                        </label>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter description..." } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label for="Code" class="control-label">
                            Code:
                        </label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter code..." } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4 class="text-primary"><i class="fa fa-building"></i> Branch Details</h4>
                <hr />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="Code" class="control-label">
                            Code:
                        </label>
                        @Html.EditorFor(model => model.BankBranche[0].Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter code..." } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                  
                    <div class="col-md-6">
                        <label for="AddressAddressLine1" class="control-label">
                            AddressAddressLine1:
                        </label>
                        @Html.EditorFor(model => model.BankBranche[0].AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter code..." } })
                        @Html.ValidationMessageFor(model => model.BankBranche[0].AddressAddressLine1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressAddressLine2" class="control-label">Address Line 2:</label>
                        <input id="BankBranches_0__AddressAddressLine2" class="form-control" placeholder="Enter address line 2..." />
                    </div>
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressStreet" class="control-label">Street:</label>
                        <input id="BankBranches_0__AddressStreet" class="form-control" placeholder="Enter street..." />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressPostalCode" class="control-label">Postal Code:</label>
                        <input id="BankBranches_0__AddressPostalCode" class="form-control" placeholder="Enter postal code..." />
                    </div>
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressCity" class="control-label">City:</label>
                        <input id="BankBranches_0__AddressCity" class="form-control" placeholder="Enter city..." />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressEmail" class="control-label">Email:</label>
                        <input id="BankBranches_0__AddressEmail" class="form-control" placeholder="Enter email..." />
                    </div>
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressLandLine" class="control-label">Land Line:</label>
                        <input id="BankBranches_0__AddressLandLine" class="form-control" placeholder="Enter landline..." />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="BankBranches_0__AddressMobileLine" class="control-label">Mobile Line:</label>
                        <input id="BankBranches_0__AddressMobileLine" class="form-control" placeholder="Enter mobile line..." />
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" id="addBranchBtn" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i> Add Branch
                    </button>
                </div>

                <div class="form-group">
                    <table id="branchTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Address Line 1</th>
                                <th>Address Line 2</th>
                                <th>Street</th>
                                <th>Postal Code</th>
                                <th>City</th>
                                <th>Email</th>
                                <th>Land Line</th>
                                <th>Mobile Line</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamic rows will be inserted here -->
                        </tbody>
                    </table>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a href="@Url.Action("Index", "Bank", new { Area = "Admin" })" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            }

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(function () {
                    const branches = [];

                    function addBranchToTable(branch) {
                        $('#branchTable tbody').append(`
                            <tr data-code="${branch.Code}">
                                <td>${branch.Code}</td>
                                <td>${branch.AddressLine1}</td>
                                <td>${branch.AddressLine2}</td>
                                <td>${branch.Street}</td>
                                <td>${branch.PostalCode}</td>
                                <td>${branch.City}</td>
                                <td>${branch.Email}</td>
                                <td>${branch.LandLine}</td>
                                <td>${branch.MobileLine}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm removeBranchBtn">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        `);
                    }

                    $('#addBranchBtn').click(function () {
                        const branchData = {
                            Code: $('#BankBranches_0__BankCode').val().trim(),
                            AddressLine1: $('#BankBranches_0__AddressAddressLine1').val().trim(),
                            AddressLine2: $('#BankBranches_0__AddressAddressLine2').val().trim(),
                            Street: $('#BankBranches_0__AddressStreet').val().trim(),
                            PostalCode: $('#BankBranches_0__AddressPostalCode').val().trim(),
                            City: $('#BankBranches_0__AddressCity').val().trim(),
                            Email: $('#BankBranches_0__AddressEmail').val().trim(),
                            LandLine: $('#BankBranches_0__AddressLandLine').val().trim(),
                            MobileLine: $('#BankBranches_0__AddressMobileLine').val().trim()
                        };

                        branches.push(branchData);
                        addBranchToTable(branchData);
                        $('#form input').val(''); // Clear input fields
                    });

                    $('#branchTable').on('click', '.removeBranchBtn', function () {
                        const $row = $(this).closest('tr');
                        const code = $row.data('code');
                        branches.splice(branches.findIndex(b => b.Code === code), 1);
                        $row.remove();
                    });
                });
            </script>
        </div>
    </div>
</div>
