@model Application.MainBoundedContext.DTO.AdministrationModule.BankDTO

@{
    ViewBag.Title = "Edit Bank";
}

<style>
    .section-container {
        border: 1px solid #2E2E2E;
        border-radius: 5px;
        padding: 20px;
        background-color: #fff;
        width: 100%;
        margin: auto;
        position: relative;
    }

    .section-title {
        position: absolute;
        top: -12px;
        left: 20px;
        background-color: #fff;
        padding: 0 10px;
        font-weight: bold;
        color: black;
    }


    #branchesTable {
        width: 100%;
        border-collapse: collapse;
    }

    #branchesTable, th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        transition: background 0.3s, transform 0.3s;
    }

    #branchesTable, th {
        background: linear-gradient(to bottom, #4a90e2, #003366);
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #branchesTable, tr:hover td {
        background: rgba(74, 144, 226, 0.2);
        transform: translateY(-2px);
    }

    #branchesTable, td {
        background: #f9f9f9;
        color: #333;
    }

    #branchesTable, tr:nth-child(even) td {
        background: #f2f2f2;
    }

    #branchesTable, tr:nth-child(odd) td {
        background: #ffffff;
    }

    #branchesTable, tr:last-child td {
        border-bottom: none;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Administration</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Banks", "Index", "Bank", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Edit Bank</h2>

                    @if (TempData["Failed"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: 'Operation Completed Successfully.',
                                    confirmButtonColor: '#FF0000',
                                });
                            });
                        </script>
                    }

                    @if (TempData["EBB"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: 'Operation Failed. Bank Branches required!',
                                    confirmButtonColor: '#FF0000',
                                });
                            });
                        </script>
                    }

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Edit", "Bank", new { Area = "Admin" }, FormMethod.Post, new { @class = "wizard-big", @id = "addLoanGuarantorsform" }))
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, "Bank Name", htmlAttributes: new { @class = "font-bold" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "font-bold" })
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @Id = "Code", @class = "form-control", @required = "" } })
                                        <span id="code-error" class="text-danger" style="display:none;">Enter code greater than zero</span>
                                    </div>
                                </div>
                            </div>


                            <div class="section-container mt-2">
                                <div class="section-title">Branch Details</div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].Description, "Branch Name", htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].Description, new { htmlAttributes = new { @Id = "BranchName", @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].Code, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].Code, new { htmlAttributes = new { @Id = "BranchCode", @class = "form-control" } })
                                            <span id="branchCode-error" class="text-danger" style="display:none;">Enter code greater than zero</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressAddressLine1, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressAddressLine1, new { htmlAttributes = new { @Id = "AddressAddressLine1", @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressAddressLine2, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressAddressLine2, new { htmlAttributes = new { @Id = "AddressAddressLine2", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressStreet, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressStreet, new { htmlAttributes = new { @Id = "AddressStreet", @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressPostalCode, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressPostalCode, new { htmlAttributes = new { @Id = "AddressPostalCode", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressCity, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressCity, new { htmlAttributes = new { @Id = "AddressCity", @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressEmail, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressEmail, new { htmlAttributes = new { @Id = "AddressEmail", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressLandLine, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressLandLine, new { htmlAttributes = new { @Id = "AddressLandLine", @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankBranchesDTO[0].AddressMobileLine, htmlAttributes: new { @class = "font-bold" })
                                            @Html.EditorFor(model => model.BankBranchesDTO[0].AddressMobileLine, new { htmlAttributes = new { @Id = "AddressMobileLine", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align: right;">
                                        <input type="submit" id="addEntryBtn" style="width:150px;" class="btn btn-primary" value="Add" />
                                    </div>
                                </div>

                                <br />

                                <div class="table-container">
                                    <h3 style="font-size: 1.9rem; text-align: center;">Branches</h3>
                                    <table id="branchesTable" class="footable table table-striped toggle-arrow-tiny grey-table">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Address Line 1</th>
                                                <th>Address Line 2</th>
                                                <th>Street</th>
                                                <th>Postal Code</th>
                                                <th>City</th>
                                                <th>Email</th>
                                                <th>Land Line</th>
                                                <th>Mobile Line</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.BankBranches != null)
                                            {
                                                foreach (var branches in ViewBag.BankBranches)
                                                {
                                                    <tr>
                                                        <td>@branches.Code</td>
                                                        <td>@branches.Description</td>
                                                        <td>@branches.AddressAddressLine1</td>
                                                        <td>@branches.AddressAddressLine2</td>
                                                        <td>@branches.AddressStreet</td>
                                                        <td>@branches.AddressPostalCode</td>
                                                        <td>@branches.AddressCity</td>
                                                        <td id="email">@branches.AddressEmail</td>
                                                        <td>@branches.AddressLandLine</td>
                                                        <td>@branches.AddressMobileLine</td>
                                                        <td><button type="button" class="btn btn-danger remove-entry" data-id="@branches.Id" style="background-color: red; color: white;">Remove</button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <input type="submit" style="width:150px;" class="btn btn-primary" value="Update" />
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />
    <script>
        async function loadCountryCodes() {
            const countryCodeDropdown = document.getElementById("CountryCode");

            try {
                const response = await fetch("https://restcountries.com/v3.1/all");
                if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);

                const countries = await response.json();
                countryCodeDropdown.innerHTML = ""; // Clear dropdown
                countries.forEach(country => {
                    if (country.idd?.root && country.idd?.suffixes) {
                        const dialCode = country.idd.root + country.idd.suffixes[0];
                        const option = document.createElement("option");
                        option.value = dialCode;
                        option.textContent = `${dialCode} (${country.name.common})`;
                        countryCodeDropdown.appendChild(option);
                    }
                });
            } catch (error) {
                console.error("Error fetching country codes:", error);
                // Fallback to local data
                const fallbackData = [
                    { name: "Kenya", dialCode: "+254" },
                    { name: "United States", dialCode: "+1" },
                    { name: "United Kingdom", dialCode: "+44" },
                    { name: "India", dialCode: "+91" }
                ];
                countryCodeDropdown.innerHTML = ""; // Clear dropdown
                fallbackData.forEach(country => {
                    const option = document.createElement("option");
                    option.value = country.dialCode;
                    option.textContent = `${country.dialCode} (${country.name})`;
                    countryCodeDropdown.appendChild(option);
                });
            }
        }

    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#addEntryBtn').click(function (event) {
            event.preventDefault();

            var formData = $('#addLoanGuarantorsform').serialize();

        $.ajax({
            url: '@Url.Action("AddEdit", "Bank", new { Area = "Admin" })',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    updateEntriesTable(response.entries);

                    console.log('Swal is loaded:', typeof Swal !== 'undefined');

                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Branch added successfully.',
                        timer: 1000,
                        showConfirmButton: false
                    });

                    $('#BranchName').val('');
                    $('#BranchCode').val('');
                    $('#AddressAddressLine1').val('');
                    $('#AddressAddressLine2').val('');
                    $('#AddressStreet').val('');
                    $('#AddressPostalCode').val('');
                    $('#AddressCity').val('');
                    $('#AddressEmail').val('');
                    $('#AddressLandLine').val('');
                    $('#AddressMobileLine').val('');

                    console.log('Form fields cleared');

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Could not Add Branch to List!',
                        text: response.message,
                        timer: 8000,
                        showConfirmButton: true
                    });
                }
            },
            error: function () {
                alert('An error occurred while processing your request.');
            }
        });
    });
});

        function updateEntriesTable(entries) {
            var tableBody = $("#branchesTable tbody");
            tableBody.empty();

            $.each(entries, function (index, entry) {
                var row = `<tr data-id="${entry.Description}">
                               <td>${entry.Code}</td>
                               <td>${entry.Description}</td>
                               <td>${entry.AddressAddressLine1}</td>
                               <td>${entry.AddressAddressLine2}</td>
                               <td>${entry.AddressStreet}</td>
                               <td>${entry.AddressPostalCode}</td>
                               <td>${entry.AddressCity}</td>
                               <td>${entry.AddressEmail}</td>
                               <td>${entry.AddressLandLine}</td>
                               <td>${entry.AddressMobileLine}</td>
                               <td><button type="button" class="btn btn-danger remove-entry" data-id="${entry.Id}" style="background-color: red; color: white;">Remove</button></td>
                           </tr>`;
                tableBody.append(row);
            });
        }

        $(document).on("click", ".remove-entry", function (event) {
            event.preventDefault();
            var entryId = $(this).data("id");
            removeEntry(entryId);
        });


        function removeEntry(id) {
            $.ajax({
                url: '@Url.Action("RemoveEdit", "Bank")',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        updateEntriesTable(response.data);
                    } else {
                        alert("An error occurred while removing the entry.");
                    }
                },
                error: function () {
                    alert("An error occurred while processing the request.");
                }
            });
        }
    </script>


    <script>
        $(document).ready(function () {
            $('#Code').on('input', function () {
                var Code = parseFloat($(this).val()) || 0;

                if (Code < 1) {
                    $('#code-error').show();
                    $(this).val('');
                } else {
                    $('#code-error').hide();
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#BranchCode').on('input', function () {
                var BranchCode = parseFloat($(this).val()) || 0;

                if (BranchCode < 1) {
                    $('#branchCode-error').show();
                    $(this).val('');
                } else {
                    $('#branchCode-error').hide();
                }
            });
        });
    </script>
}