@model IEnumerable<Application.MainBoundedContext.DTO.HumanResourcesModule.Attendancelog>

@{
    ViewBag.Title = "Attendance Logs";
}

<h2>Attendance Logs</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered">
    <tr>
        <th>Employee Name</th>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Remarks</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeName</td>
            <td>@item.Date.ToString("yyyy-MM-dd")</td>
            <td>@item.TimeIn</td>
            <td>@item.TimeOut</td>
            <td>@item.Remarks</td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>
