@model Application.MainBoundedContext.DTO.FrontOfficeModule.AccountClosureRequestDTO

@{
    ViewBag.Title = "Approve";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Account Closure Approval</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Approve", new { Area = "FrontOffice" })</li>
            <li class="breadcrumb-item active"><strong>Approval</strong></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content bg-white">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content bg-white" style="border: 1px solid #ddd; border-radius: 4px; padding: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("Approve", "AccountClosure", new { Area = "FrontOffice" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.BranchId)
                        @Html.HiddenFor(model => model.CustomerAccountId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-horizontal">

                        <!-- First Row -->
                        
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountFullAccountNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountFullAccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "CustomerAccountFullAccountNumber", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountFullAccountNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountStatusDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountStatusDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account Status", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountStatusDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountRemarks, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountRemarks, new { htmlAttributes = new { @id = "CustomerAccountRemarks", @class = "form-control", @placeholder = "Account Remarks", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountRemarks, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountTypeTargetProductDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountTypeTargetProductDescription, new { htmlAttributes = new { @id = "CustomerAccountTypeTargetProductDescription", @class = "form-control", @placeholder = "Product Name", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountTypeTargetProductDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Second Row -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.HiddenFor(model => model.CustomerAccountCustomerId)
                                    @Html.LabelFor(model => model.CustomerAccountCustomerFullName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerFullName, new { htmlAttributes = new { @id = "CustomerAccountCustomerId", @class = "form-control", @placeholder = "Customer", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerFullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerTypeDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerTypeDescription, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Type", @id = "CustomerAccountCustomerTypeDescription", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerTypeDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Payroll Number", @id = "CustomerAccountCustomerIndividualPayrollNumbers", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Third Row -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerIdentificationNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerIdentificationNumber, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Identification Number", @id = "CustomerAccountCustomerIdentificationNumber", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIdentificationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference1, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Account Number", @id = "CustomerAccountCustomerReference1", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference2, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference2, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Membership Number", @id = "CustomerAccountCustomerReference2", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference3, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference3, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "PersonalFile Number", @id = "CustomerAccountCustomerReference3", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference3, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-3">

                                @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Reason, new { @rows = 3, @class = "form-control", @placeholder = "Enter Reasons", @required = "" })

                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.ApprovalRemarks)
                                @Html.EditorFor(model => model.ApprovalRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Text..." } })
                            </div>

                            <div class="col-md-3">
                                <label for="closureAction">Closure Action</label>
                                <select class="form-control" id="closureAction" name="closureAction">
                                    <option value="Verify">Approve</option>
                                    <option value="Defer">Defer</option>
                                </select>
                            </div>
                        </div>

                        <br />
                        <hr />


                        <ul class="nav nav-tabs" id="loanAccountsTab">
                            <li class="nav-item">
                                <a class="nav-link active" href="#loanAccounts" data-toggle="tab">Loan Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#investmentAccounts" data-toggle="tab">Investment Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#loansGuaranteed" data-toggle="tab">Loans Guaranteed</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!-- Loan Accounts Tab Content -->
                            <div id="loanAccounts" class="tab-pane fade show active">
                                <h3>Customer Loan Accounts</h3>

                                @if (ViewBag.LoanAccounts != null && ViewBag.LoanAccounts.Count > 0)
                                {
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Full Account Number</th>
                                                <th>Status</th>
                                                <th>Remarks</th>
                                                <th>Product Code</th>
                                                <th>Product Name</th>
                                                <th>Section</th>
                                                <th>Branch</th>
                                                <th>Book Balance</th>
                                                <th>Principal Balance</th>
                                                <th>Interest Balance</th>
                                                <th>Record Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var levySplit in ViewBag.LoanAccounts)
                                            {
                                                <tr>
                                                    <td>@levySplit.FullAccountNumber</td>
                                                    <td>@levySplit.StatusDescription</td>
                                                    <td>@levySplit.Remarks</td>
                                                    <td>@levySplit.CustomerAccountTypeTargetProductCode</td>
                                                    <td>@levySplit.CustomerAccountTypeTargetProductDescription</td>
                                                    <td>@levySplit.CustomerAccountTypeTargetProductLoanProductSectionDescription</td>
                                                    <td>@levySplit.BranchDescription</td>
                                                    <td>@levySplit.BookBalance</td>
                                                    <td>@levySplit.PrincipalBalance</td>
                                                    <td>@levySplit.InterestBalance</td>
                                                    <td>@levySplit.RecordStatus</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>No loan accounts found for this customer.</p>
                                }
                            </div>

                            <!-- Investment Accounts Tab Content -->
                            <div id="investmentAccounts" class="tab-pane fade">
                                <h3>Customer Investment Accounts</h3>

                                @if (ViewBag.InvestmentAccounts != null && ViewBag.InvestmentAccounts.Count > 0)
                                {
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Parent Chart of Account Name</th>
                                                <th>Description</th>
                                                <th>Minimum Balance</th>
                                                <th>Maximum Balance</th>
                                                <th>Pool Amount</th>
                                                <th>Annual Percentage Yield</th>
                                                <th>Transfer Balance on Termination</th>
                                                <th>Account Name</th>
                                                <th>Chart of Account Name</th>
                                                <th>Cost Center</th>
                                                <th>Product Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var investmentAccount in ViewBag.InvestmentAccounts)
                                            {
                                                <tr>
                                                    <td>@investmentAccount.ParentChartOfAccountNameDescription</td>
                                                    <td>@investmentAccount.Description</td>
                                                    <td>@investmentAccount.MinimumBalance</td>
                                                    <td>@investmentAccount.MaximumBalance</td>
                                                    <td>@investmentAccount.PoolAmount</td>
                                                    <td>@investmentAccount.AnnualPercentageYield</td>
                                                    <td>@investmentAccount.TransferBalanceToParentOnMembershipTermination</td>
                                                    <td>@investmentAccount.ChartOfAccountAccountName</td>
                                                    <td>@investmentAccount.ChartOfAccountName</td>
                                                    <td>@investmentAccount.ChartOfAccountCostCenterDescription</td>
                                                    <td>@investmentAccount.ProductName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>No investment accounts found for this customer.</p>
                                }
                            </div>


                            <!-- Loans Guaranteed Tab Content -->
                            <div id="loansGuaranteed" class="tab-pane fade">
                                <h3>Loans Guaranteed</h3>
                                <!-- Add your content for loans guaranteed here -->

                                @if (ViewBag.LoanGuarantors != null && ViewBag.LoanGuarantors.Count > 0)
                                {
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Customer FullName</th>
                                                <th>Guarantor Customer FullName</th>
                                                <th>Loanee Customer FullName</th>
                                                <th>LoanProduct Description</th>
                                                <th>LoanCaseStatus Description</th>
                                                <th>CustomerType Description</th>
                                                <th>CustomerAddress MobileLine</th>
                                                <th>AmountGuaranteed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var guarantor in ViewBag.LoanGuarantors)
                                            {
                                                <tr>
                                                    <td>@guarantor.CustomerFullName</td>
                                                    <td>@guarantor.GuarantorCustomerFullName</td>
                                                    <td>@guarantor.LoaneeCustomerFullName</td>
                                                    <td>@guarantor.LoanProductDescription</td>
                                                    <td>@guarantor.LoanCaseStatusDescription</td>
                                                    <td>@guarantor.CustomerTypeDescription</td>
                                                    <td>@guarantor.CustomerAddressMobileLine</td>
                                                    <td>@guarantor.AmountGuaranteed</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>No loan guarantors found for this customer.</p>
                                }
                            </div>






                        </div>

                        <br />
                        <hr />


                        <div class="summary-section">
                            <h3>Account Closure Summary</h3>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.Label("Investments Balance (R)", htmlAttributes: new { @class = "control-label" })
                                        <input type="text" class="form-control" readonly value="@Model.InvestmentBalance.ToString("C2")" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.Label("Loans Balance (R)", htmlAttributes: new { @class = "control-label" })
                                        <input type="text" class="form-control" readonly value="@Model.LoanBalance.ToString("C2")" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.Label("Net Refundable (R)", htmlAttributes: new { @class = "control-label" })
                                        <input type="text" class="form-control" readonly value="@Model.NetRefundable.ToString("C2")" />
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="form-group row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-md float-right">Approve</button>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")



<script>

    $(document).ready(function () {
    var accountsMap = {}; // Initialize accounts map

    $('#refreshButton').click(function () {
        $('#CustomerAccountsGrid').DataTable().ajax.reload(); // Reload DataTable data
    });

    $('.StationsLookup').typeahead({
        source: function (query, process) {
            return $.getJSON('@Url.Action("GetAccountNumbers", "AccountClosure", new { Area = "FrontOffice" })', { query: query }, function (accounts) {
                var newAccountsData = [];
                accountsMap = {};
                $.each(accounts, function (i, account) {
                    newAccountsData.push(account.FullAccountNumber);
                    accountsMap[account.FullAccountNumber] = account;
                });
                process(newAccountsData);
            });
        },
        updater: function (item) {
            $('#CustomerAccountFullAccountNumber').val(accountsMap[item].FullAccountNumber);
            $('#CustomerAccountRemarks').val(accountsMap[item].Remarks);
            $('#CustomerAccountTypeTargetProductDescription').val(accountsMap[item].ProductName);
            $('#CustomerAccountCustomerId').val(accountsMap[item].CustomerId);
            $('#CustomerAccountCustomerTypeDescription').val(accountsMap[item].CustomerTypeDescription);
            $('#CustomerAccountCustomerIndividualPayrollNumbers').val(accountsMap[item].IndividualPayrollNumbers);
            $('#CustomerAccountCustomerReference3').val(accountsMap[item].CustomerAccountCustomerReference3);
            $('#CustomerAccountCustomerIdentificationNumber').val(accountsMap[item].IdentificationNumber);
            $('#CustomerAccountCustomerReference1').val(accountsMap[item].CustomerAccountCustomerReference1);
            $('#CustomerAccountCustomerReference2').val(accountsMap[item].CustomerAccountCustomerReference2);
            $('#Reason').val(accountsMap[item].Reason);
            $('#lookupModal').modal('hide');
        }
    });

    $('#CustomerAccountsGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts" }))",
        "sServerMethod": "POST",
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $('td:eq(4)', nRow).html('<button class="btn btn-outline-info select-account" data-id="' + aData[8] + '">Select</button>');
            return nRow;
        },
        "columns": [
            { "data": "BranchDescription" },
            { "data": "StatusDescription" },
            { "data": "FullAccountNumber" },
            { "data": "CustomerAccountTypeTargetProductDescription" },
            { "data": "CustomerFullName" },
            { "data": "CustomerReference1" },
            { "data": "CustomerReference2" },
            { "data": "CustomerReference3" },
            {
                "data": "Id",
                "render": function (data) {
                    return '<button class="btn btn-outline-info select-account" data-id="' + data + '">Select</button>';
                }
            }
        ]
    });

    $('#CustomerAccountsGrid tbody').on('click', '.select-account', function () {
        var data = $('#CustomerAccountsGrid').DataTable().row($(this).parents('tr')).data();
        if (data) {
            $('#CustomerAccountFullAccountNumber').val(data.FullAccountNumber);
            $('#CustomerAccountRemarks').val(data.Remarks);
            $('#CustomerAccountTypeTargetProductDescription').val(data.ProductName);
            $('#CustomerAccountCustomerId').val(data.CustomerId);
            $('#CustomerAccountCustomerTypeDescription').val(data.CustomerTypeDescription);
            $('#CustomerAccountCustomerIndividualPayrollNumbers').val(data.IndividualPayrollNumbers);
            $('#CustomerAccountCustomerReference3').val(data.CustomerReference3);
            $('#CustomerAccountCustomerIdentificationNumber').val(data.IdentificationNumber);
            $('#CustomerAccountCustomerReference1').val(data.CustomerReference1);
            $('#CustomerAccountCustomerReference2').val(data.CustomerReference2);
            $('#Reason').val(data.Reason);
            $('#lookupModal').modal('hide');
        }
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href");
        if (target === '#loanAccounts') {
            populateTab('#loanAccounts', '@Url.Action("GetLoanAccountsData", "AccountClosure", new { Area = "FrontOffice" })');
        } else if (target === '#investmentAccounts') {
            populateTab('#investmentAccounts', '@Url.Action("GetInvestmentAccountsData", "AccountClosure", new { Area = "FrontOffice" })');
        } else if (target === '#loansGuaranteed') {
            populateTab('#loansGuaranteed', '@Url.Action("GetLoansGuaranteedData", "AccountClosure", new { Area = "FrontOffice" })');
        }
    });

    function applyFilters() {
        let startDate = $('#startDate').val();
        let endDate = $('#endDate').val();
        let statusFilter = $('#statusFilter').val();
        $('#CustomerAccountsGrid').DataTable().ajax.reload();
    }

    $('#startDate, #endDate, #statusFilter').change(applyFilters);
    $('#searchAccountNumber').on('keyup', function () {
        $('#CustomerAccountsGrid').DataTable().search(this.value).draw();
    });

    $('#updateButton').click(function (event) {
        event.preventDefault();
        var action = $('#closureAction').val();
        if (action === 'Approve') {
            alert('Account closure approved.');
        } else if (action === 'Defer') {
            alert('Account closure deferred.');
        }

        // After showing the alert, navigate to the index view
    $('#form').submit(function(e) {
        e.preventDefault();
        window.location.href = '@Url.Action("Index", "AccountClosure", new { Area = "FrontOffice" })';
    });
        $('#form').submit();
    });
});
</script>

}



