@model Application.MainBoundedContext.DTO.FrontOfficeModule.AccountClosureRequestDTO

@{
    ViewBag.Title = "Details";
    var customerTypes = ViewBag.AccountClosureSelectList as List<SelectListItem>;

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Account Closure</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AccountClosure", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="form-horizontal">

                        <!-- First Row -->
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Full Account Number with Lookup Modal -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerAccountFullAccountNumber, "Full Account Number:", new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.TextBoxFor(model => model.CustomerAccountCustomerReference1, new { @class = "form-control", @readonly = "readonly", @id = "CustomerAccountFullAccountNumber1" }) <!-- Unique ID here -->
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#customerLookupModal" onclick="captureDetails();">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountStatusDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountStatusDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account Status", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountStatusDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountRemarks, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountRemarks, new { htmlAttributes = new { @id = "CustomerAccountRemarks", @class = "form-control", @placeholder = "Account Remarks", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountRemarks, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountTypeTargetProductDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountTypeTargetProductDescription, new { htmlAttributes = new { @id = "CustomerAccountTypeTargetProductDescription", @class = "form-control", @placeholder = "Product Name", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountTypeTargetProductDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Second Row -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.HiddenFor(model => model.CustomerAccountCustomerId)
                                    @Html.LabelFor(model => model.CustomerAccountCustomerFullName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerFullName, new { htmlAttributes = new { @id = "CustomerAccountCustomerId", @class = "form-control", @placeholder = "Customer", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerFullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerTypeDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerTypeDescription, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Type", @id = "CustomerAccountCustomerTypeDescription", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerTypeDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Payroll Number", @id = "CustomerAccountCustomerIndividualPayrollNumbers", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Third Row -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerIdentificationNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerIdentificationNumber, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Identification Number", @id = "CustomerAccountCustomerIdentificationNumber", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIdentificationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference1, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Account Number", @id = "CustomerAccountCustomerReference1", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference2, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference2, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Membership Number", @id = "CustomerAccountCustomerReference2", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference3, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference3, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "PersonalFile Number", @id = "CustomerAccountCustomerReference3", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference3, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.Reason, new { @rows = 3, @class = "form-control", @placeholder = "Enter Reasons", @required = "" })
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />

                    <br />
                        <hr />


                        



                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <p>
                                    @Html.ActionLink("Edit", "Edit", "AccountClosure", new { id = Model.Id, Area = "FrontOffice" }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("Back to List", "Index", "AccountClosure", new { Area = "FrontOffice" }, new { @class = "btn btn-success" })
                                </p>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
</div>
