
@model  Application.MainBoundedContext.DTO.AccountsModule.WireTransferTypeDTO
@{
    ViewBag.Title = "Wire Transfer Type Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "WireTransferType", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <h2>Wire Transfer Type Details</h2>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.Description)
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @required = "" } })
                        </div>

                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.TransactionOwnershipDescription)
                            @Html.EditorFor(model => model.TransactionOwnershipDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @required = "" } })
                        </div>

                        <div class="col-lg-4">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                            @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @required = "" } })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            @Html.ActionLink("Edit", "Edit", "WireTransferType", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                        </div>

                        <div class="col-lg-3">
                            @Html.ActionLink("Back to List", "Index", "WireTransferType", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

