@model  Application.MainBoundedContext.DTO.AccountsModule.WireTransferTypeDTO

@{
    ViewBag.Title = "Wire Transfer Type Details";

}



<style>
    #ApplicableChargesTable {
        width: 100%;
        border-collapse: collapse;
    }

    #ApplicableChargesTable, th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        transition: background 0.3s, transform 0.3s;
    }

    #ApplicableChargesTable, th {
        background: linear-gradient(to bottom, #4a90e2, #003366);
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #ApplicableChargesTable, tr:hover td {
        background: rgba(74, 144, 226, 0.2);
        transform: translateY(-2px);
    }

    #ApplicableChargesTable, td {
        background: #f9f9f9;
        color: #333;
    }

    #ApplicableChargesTable, tr:nth-child(even) td {
        background: #f2f2f2;
    }

    #ApplicableChargesTable, tr:nth-child(odd) td {
        background: #ffffff;
    }

    #ApplicableChargesTable, tr:last-child td {
        border-bottom: none;
    }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "WireTransferType", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Wire Transfer Type Details</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                            </div>

                            <div class="col-md-6">
                                <label>G/L Account</label>
                                @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-lg-11">
                                @Html.LabelFor(model => model.TransactionOwnershipDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.TransactionOwnershipDescription, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                            </div>

                            <div class="col-lg-1" style="margin-top: 30px;">
                                @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "isLocked" })
                                @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>


                        <br />
                        <ul class="nav nav-tabs" style="margin-bottom: 20px; font-size: large; margin-top: 40px;">
                            <li class="nav-item">
                                <a class="nav-link active" href="#ApplicableCharges"><i class="fa fa-table" aria-hidden="true"></i> Applicable Charges</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="ApplicableCharges" class="tab-pane active">
                                <div class="table-container">
                                    <h3 style="font-size: 1.9rem; text-align: center;">Applicable Charges</h3>
                                    <table id="#ApplicableChargesTable" class="footable table table-striped toggle-arrow-tiny grey-table">
                                        <thead>
                                            <tr>
                                                <th>Select?</th>
                                                <th>Charge Name</th>
                                                <th>Maximum Charge</th>
                                                <th>Charge Basis Value</th>
                                                <th>Benefactor</th>
                                                <th>RoundingType</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Commissions != null)
                                            {
                                                foreach (var item in ViewBag.Commissions)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="rowCheckbox" data-id="@item.Id"
                                                                   @(ViewBag.CheckedStates.ContainsKey(item.Id) && ViewBag.CheckedStates[item.Id] ? "checked" : "") style="font-weight: bold;" />
                                                        </td>
                                                        <td>@item.Description</td>
                                                        <td style="text-align: right;">@item.MaximumCharge</td>
                                                        <td>@item.ChargeBasisValueDescription</td>
                                                        <td>@item.ChargeBenefactorDescription</td>
                                                        <td>@item.RoundingTypeDescription</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script src="~/Scripts/js/navlink.js"></script>
    <link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('.rowCheckbox').on('click', function (e) {
                e.preventDefault();
            });
        });

        $(document).ready(function () {
            $('.isLocked').on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
}
