@{
    ViewBag.Title = "Access Controls";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Access Controls</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Module", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Module Navigation Items
                                </div>
                                <div class="panel-body">
                                    <div id="moduleNavigationTree">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Roles
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover" id="rolesTable">
                                        <thead>
                                            <tr>
                                                <th style="display: none">Id</th>
                                                <th>Name</th>
                                                <th>Map</th>
                                            </tr>
                                        </thead>
                                        <tbody id="rolesTableBody">
                                            @*roles are loaded here*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jsTree/jsTreeStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>

    <script type="text/javascript">
        var NavigationItemId = "";

        var NavigationItemCode = 0;

        //Function: fire get roles when page loads.
        window.onload = function () {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Admin/Module/GetRoles/")',
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                error: function () {
                    console.log("Error Occured");
                },
                success: function (data) {

                    //empty roles table <tbody> before appending.
                    $("#rolesTableBody").empty();

                     //1. First loop the json returned which is Roles, (interested in rolename here!!).
                    //2. Get 'rolename' from each role, add the selected code 'item_code' from treeview.
                    //3. Search db - if module_navigation_item_in_role exists tick checkbox else leave unmarked.
                    $(jQuery.parseJSON(JSON.stringify(data))).each(function (key, val) {
                        $("#rolesTableBody").each(function () {
                            var roleId = val.Id;
                            var roleName = val.Name;

                            QueryString2 = '@Url.Content("~/Admin/Module/MarkRoleCheckbox/")?NavigationItemCode=' + parseInt(NavigationItemCode) + '&roleName=' + roleName;
                            $.ajax({
                                type: "GET",
                                url: QueryString2,
                                contentType: 'application/json; charset=utf8',
                                dataType: 'json',
                                error: function () {
                                    console.log("Error Occured");
                                },
                                success: function (data) {
                                    $(jQuery.parseJSON(JSON.stringify(data))).each(function (key, val) {
                                        //loop data, change check box
                                        if (data == 1) {
                                            $('<tr class="role"><td id="roleId" style="display: none">'
                                                + roleId +
                                                '</td><td>'
                                                + roleName +
                                                '</td><td>'
                                                + '<input type="checkbox" id="allowed" onclick="chkClick(this);" checked/>'
                                                + '</td></tr>').appendTo('#rolesTableBody');
                                        }
                                        else if (data == 2) {
                                            //uncheck check box
                                            $('<tr class="role"><td id="roleId" style="display: none">'
                                                + roleId +
                                                '</td><td>'
                                                + roleName +
                                                '</td><td>'
                                                + '<input type="checkbox" id="allowed" onclick="chkClick(this);"/>'
                                                + '</td></tr>').appendTo('#rolesTableBody');
                                        }
                                        else
                                        {
                                            //do nothing here!! error probably occured on server.
                                        }
                                    });
                                }
                            });
                        });//end second table loop(marking checkboxes)
                    });//end first json loop (looping roles)
                }
            });
        };//end on page load fcnction.

        //checkbox onclick event
        chkClick = function (checkboxElem) {
            if (checkboxElem.checked) {
                var roleName = $(checkboxElem).closest("tr").find('td:eq(1)').text();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddNavigationItemToRole","Module", new { Area = "Admin"})',
                        data: JSON.stringify({ "NavigationItemId": NavigationItemId, "RoleName": roleName }),
                        contentType: 'application/json; charset=utf8',
                        dataType: 'json',
                        error: function () {
                            console.log("Error Occured");
                        },
                        success: function (data) {
                            toastr.clear();

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "progressBar": true,
                                "preventDuplicates": false,
                                "positionClass": "toast-top-right",
                                "onclick": null,
                                "showDuration": "400",
                                "hideDuration": "1000",
                                "timeOut": "3000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }

                            toastr.success('Role mapped successfully...', 'Application');
                            $('.custom-alert').fadeIn();
                            $('.custom-alert-active').fadeOut();
                        }

                    });
            }
            else {
                var roleName = $(checkboxElem).closest("tr").find('td:eq(1)').text();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("RemoveNavigationItemToRole","Module", new { Area = "Admin"})',
                        data: JSON.stringify({"NavigationItemId": NavigationItemId, "RoleName": roleName}),
                        contentType: 'application/json; charset=utf8',
                        dataType: 'json',
                        error: function () {
                            console.log("Error Occured");
                        },
                        success: function (data) {
                            toastr.clear();

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "progressBar": true,
                                "preventDuplicates": false,
                                "positionClass": "toast-top-right",
                                "onclick": null,
                                "showDuration": "400",
                                "hideDuration": "1000",
                                "timeOut": "3000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }

                            toastr.warning('Role mapping removed...', 'System');
                            $('.custom-alert').fadeIn();
                            $('.custom-alert-active').fadeOut();
                        }

                    });
            }
        }

        //js tree
        $(function () {
                $.ajax({
                    type: "GET",
                    url: '/Admin/Module/GetModuleNavigationNodes',
                    success: function (data) {
                        console.log(data); // Check the JSON structure
                        $('#moduleNavigationTree').jstree({
                            'core': {
                                'data': data
                            }
                        });
                    },
                    error: function () {
                        console.error("Failed to load data for jstree.");
                    }
                });


            $('#moduleNavigationTree').on('activate_node.jstree', function (e, data) {
                if (data == undefined || data.node == undefined || data.node.icon == undefined || data.node.id == undefined)
                    return;
                alert('clicked node: ' + data.node.icon);
                NavigationItemId = data.node.icon;

                NavigationItemCode = parseInt(data.node.id);

                $.ajax({
                type: "GET",
                url: '@Url.Content("~/Admin/Module/GetRoles/")',
                contentType: 'application/json; charset=utf8',
                dataType: 'json',
                error: function () {
                    console.log("Error Occured");
                },
                success: function (data) {

                    //empty roles table <tbody> before appending.
                    $("#rolesTableBody").empty();

                    //1. First loop the json returned which is Roles, (interested in rolename here!!).
                    //2. Get 'rolename' from each role, add the selected code 'item_code' from treeview.
                    //3. Search db - if module_navigation_item_in_role exists tick checkbox else leave unmarked.
                    $(jQuery.parseJSON(JSON.stringify(data))).each(function (key, val) {
                        $("#rolesTableBody").each(function () {
                            var roleId = val.Id;
                            var roleName = val.Name;

                            QueryString2 = '@Url.Content("~/Admin/Module/MarkRoleCheckbox/")?NavigationItemCode=' + NavigationItemCode + '&roleName=' + roleName;
                            $.ajax({
                                type: "GET",
                                url: QueryString2,
                                contentType: 'application/json; charset=utf8',
                                dataType: 'json',
                                error: function () {
                                    console.log("Error Occured");
                                },
                                success: function (data) {
                                    $(jQuery.parseJSON(JSON.stringify(data))).each(function (key, val) {
                                        //loop data, change check box
                                        if (data == 1) {
                                            $('<tr class="role"><td id="roleId" style="display: none">'
                                                + roleId +
                                                '</td><td>'
                                                + roleName +
                                                '</td><td>'
                                                + '<input type="checkbox" id="allowed" onclick="chkClick(this);" checked/>'
                                                + '</td></tr>').appendTo('#rolesTableBody');
                                        }
                                        else if (data == 2) {
                                            //uncheck check box
                                            $('<tr class="role"><td id="roleId" style="display: none">'
                                                + roleId +
                                                '</td><td>'
                                                + roleName +
                                                '</td><td>'
                                                + '<input type="checkbox" id="allowed" onclick="chkClick(this);"/>'
                                                + '</td></tr>').appendTo('#rolesTableBody');
                                        }
                                        else
                                        {
                                            //do nothing here!! error probably occured on server.
                                        }
                                    });
                                }
                            });
                        });//end second table loop(marking checkboxes)
                    });//end first json loop (looping roles)
                }
                });
            });
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}