@model Application.MainBoundedContext.DTO.AccountsModule.LoanProductDTO

@{
    ViewBag.Title = "Loan Products";
    var loanInterestCalculationModes = ViewBag.LoanInterestCalculationModeSelectList as List<SelectListItem>;
    var loanRegistrationGuarantorSecurityModes = ViewBag.LoanRegistrationGuarantorSecurityModeSelectList as List<SelectListItem>;
    var loanRegistrationRoundingTypes = ViewBag.LoanRegistrationRoundingTypeSelectList as List<SelectListItem>;
    var loanRegistrationLoanProductCategories = ViewBag.LoanRegistrationLoanProductCategorySelectList as List<SelectListItem>;
    var loanInterestRecoveryModes = ViewBag.LoanInterestRecoveryModeSelectList as List<SelectListItem>;
    var loanInterestChargeModes = ViewBag.LoanInterestChargeModeSelectList as List<SelectListItem>;
    var loanRegistrationAggregateCheckOffRecoveryModes = ViewBag.LoanRegistrationAggregateCheckOffRecoveryModeSelectList as List<SelectListItem>;
    var loanRegistrationStandingOrderTriggers = ViewBag.LoanRegistrationStandingOrderTriggerSelectList as List<SelectListItem>;
    var priorities = ViewBag.PrioritySelectList as List<SelectListItem>;
    var loanRegistrationLoanProductSections = ViewBag.LoanRegistrationLoanProductSectionSelectList as List<SelectListItem>;
    var loanRegistrationPayoutRecoveryModes = ViewBag.LoanRegistrationPayoutRecoveryModeSelectList as List<SelectListItem>;
    var loanRegistrationPaymentDueDate = ViewBag.LoanRegistrationPaymentDueDateSelectList as List<SelectListItem>;
    var takeHomeTypes = ViewBag.TakeHomeTypeSelectList as List<SelectListItem>;
    var loanPaymentFrequencyPerYear = ViewBag.LoanPaymentFrequencyPerYearSelectList as List<SelectListItem>; 
}
<div class="row wrapper border-bottom bg-white page-heading">
    <div class="col-lg-10">
        <h2>Loan Products</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LoanProduct", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "LoanProduct", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Primary Details</h1>
                        <fieldset>
                            <div class="form-group form-group-lg-10">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Loan Product Name" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationTermInMonths, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationTermInMonths, new { htmlAttributes = new { @class = "form-control", placeholder = "Term in Months" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationTermInMonths, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMinimumAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationMinimumAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Loan Registraton Minimum Amount" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMinimumAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMinimumMembershipPeriod, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationMinimumMembershipPeriod, new { htmlAttributes = new { @class = "form-control", placeholder = "Minimum Membership Period" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMinimumMembershipPeriod, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMinimumGuarantors, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationMinimumGuarantors, new { htmlAttributes = new { @class = "form-control", placeholder = "Minimum  Guarantees" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMinimumGuarantors, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanInterestChargeMode, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanInterestChargeMode, loanInterestChargeModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanInterestChargeMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanInterestRecoveryMode, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanInterestRecoveryMode, loanInterestRecoveryModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanInterestRecoveryMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationLoanProductSection, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationLoanProductSection, loanRegistrationLoanProductSections, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationLoanProductSection)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationGuarantorSecurityMode, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationGuarantorSecurityMode, loanRegistrationGuarantorSecurityModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationGuarantorSecurityMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationPaymentDueDate, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationPaymentDueDate,loanRegistrationPaymentDueDate, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationPaymentDueDate)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationPaymentFrequencyPerYear, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationPaymentFrequencyPerYear, loanPaymentFrequencyPerYear, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationPaymentFrequencyPerYear)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TakeHomeType, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.TakeHomeType, takeHomeTypes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.TakeHomeType)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationPayoutRecoveryMode, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationPayoutRecoveryMode, loanRegistrationPayoutRecoveryModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationPayoutRecoveryMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationStandingOrderTrigger, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationStandingOrderTrigger, loanRegistrationStandingOrderTriggers, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationStandingOrderTrigger)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.ChartOfAccountId)
                                        @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "COA Name" } })
                                        @Html.ValidationMessageFor(model => model.ChartOfAccountAccountName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.InterestReceivableChartOfAccountId, htmlAttributes: new { @class = "" })
                                        @Html.HiddenFor(model => model.InterestReceivableChartOfAccountId)
                                        @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "InterestReceivableChartOfAccountsLookup form-control", @placeholder = "Interest Receivable COA" } })
                                        @Html.ValidationMessageFor(model => model.InterestReceivableChartOfAccountId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.InterestReceivedChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.InterestReceivedChartOfAccountId)
                                        @Html.EditorFor(model => model.ChartOfAccountName, new { htmlAttributes = new { @class = "InterestReceivedChartOfAccountsLookup form-control required", placeholder = "Interest Received COA" } })
                                        @Html.ValidationMessageFor(model => model.InterestReceivedChartOfAccountId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanInterestAnnualPercentageRate, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanInterestAnnualPercentageRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Annual Percentage Rate" } })
                                        @Html.ValidationMessageFor(model => model.LoanInterestAnnualPercentageRate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMaximumAmount, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationMaximumAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Loan Registration Maximum  Amount" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMaximumAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationGracePeriod, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationGracePeriod, new { htmlAttributes = new { @class = "form-control", placeholder = "Grace period in days" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationGracePeriod, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMaximumGuarantees, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationMaximumGuarantees, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Guarantees" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMaximumGuarantees, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMinimumInterestAmount, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationMinimumInterestAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Minimum Interest Amount" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMinimumInterestAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanInterestCalculationMode, new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanInterestCalculationMode, loanInterestCalculationModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanInterestCalculationMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationLoanProductCategory, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationLoanProductCategory, loanRegistrationLoanProductCategories, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationLoanProductCategory)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationAggregateCheckOffRecoveryMode, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationAggregateCheckOffRecoveryMode, loanRegistrationAggregateCheckOffRecoveryModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationAggregateCheckOffRecoveryMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationRoundingType, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationRoundingType, loanRegistrationRoundingTypes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationRoundingType)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMaximumSelfGuaranteeEligiblePercentage, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationMaximumSelfGuaranteeEligiblePercentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Self-Guarantee Eligible Percentage" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMaximumSelfGuaranteeEligiblePercentage, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TakeHomeFixedAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.TakeHomeFixedAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Take-Home Value" } })
                                        @Html.ValidationMessageFor(model => model.TakeHomeFixedAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.Priority, loanRegistrationRoundingTypes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.Priority)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationConsecutiveIncome, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationConsecutiveIncome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Consecutive Income" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationConsecutiveIncome, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationInvestmentsMultiplier, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationInvestmentsMultiplier, new { htmlAttributes = new { @class = "form-control", @placeholder = "Investment Multiplier" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationInvestmentsMultiplier, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.InterestChargedChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.InterestChargedChartOfAccountId)
                                        @Html.EditorFor(model => model.ChartOfAccountName, new { htmlAttributes = new { @class = "InterestReceivedChartOfAccountsLookup form-control required", placeholder = "Interest Charged COA" } })
                                        @Html.ValidationMessageFor(model => model.InterestChargedChartOfAccountId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")


    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

             //ChartOfAccount typehead starts here
            $('.ChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ChartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#ChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });

              //InterestReceivedChartOfAccount typehead starts here
            $('.InterestReceivedChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ChartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#InterestReceivedChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });

              //InterestReceivableChartOfAccount typehead starts here
            $('.InterestReceivableChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ChartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#InterestReceivableChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });

              //InterestChargedChartOfAccount typehead starts here
            $('.InterestChargedChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ChartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#InterestChargedChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });
          });
    </script>
}
