@model  Application.MainBoundedContext.DTO.AccountsModule.CommissionDTO

@{
    /**/

    ViewBag.Title = "Create Charges";

    var chargeType = ViewBag.chargeType as List<SelectListItem>;
}


<style>
    #tabs-container {
        background-color: whitesmoke;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        margin-bottom: 20px;
        overflow-x: auto; /* Allow horizontal scrolling if necessary */
        width: 50%;
    }

    .nav-tabs {
        padding: 10px 0; /* Adjusted padding */
        list-style: none;
        margin: 0;
        white-space: nowrap; /* Prevent line breaks */
    }

        .nav-tabs li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-tabs a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
            font-weight: bold; /* Set font weight to bold */
            padding: 10px 15px;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.3s ease-in-out;
        }

            .nav-tabs a:hover {
                border-bottom-color: #007bff;
                color: #007bff;
            }

            .nav-tabs a:active {
                border-bottom-color: #007bff;
                color: #007bff;
            }
</style>


<style>
    #ChargeSplits {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        #ChargeSplits thead {
            background-color: white;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        #ChargeSplits th, #ChargeSplits td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #ChargeSplits th {
            font-weight: bold;
        }

        #ChargeSplits tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #ChargeSplits tbody tr:hover {
            background-color: #f1f1f1;
        }
</style>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially activate the first tab
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        // Handle tab click event
        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            // Deactivate all tabs
            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            // Activate the clicked tab
            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });
    });
</script>





<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Charges", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Charges</h2>

                    <br />

                    <div id="tabs-container">
                        <ul class="nav-tabs">
                            <li>@Html.ActionLink("Charges", "Create", "Charges")</li>
                            <li>@Html.ActionLink("Tiers", "Create", "Tiers")</li>
                            <li>@Html.ActionLink("Levies", "Create", "Charges_Levies")</li>
                        </ul>
                    </div>

                    @if (TempData["CreateError"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Failed !</strong> @TempData["CreateError"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Add", "Charges", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Charge Name..." } })
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumCharge, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.MaximumCharge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                        @Html.ValidationMessageFor(model => model.MaximumCharge, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <hr />

                            @*chargeType Splitting*@
                            <h2>Charge Splitting</h2>

                            <br />

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.chargeSplits.ChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.ValidationMessageFor(model => model.chargeSplits.ChartOfAccountAccountName, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.chargeSplits.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Enter space to link G/L Account..." } })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.chargeSplit[0].Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.chargeSplit[0].Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Charge Split Name" } })
                                        @Html.ValidationMessageFor(model => model.chargeSplit[0].Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.chargeSplit[0].Percentage, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.chargeSplit[0].Percentage, new { htmlAttributes = new { @class = "form-control percentage-input", @placeholder = "00.00000%" } })
                                        @Html.ValidationMessageFor(model => model.chargeSplit[0].Percentage, "", new { @class = "text-danger" })
                                        <div class="invalid-feedback" style="display: none;">Percentage cannot be greater than 100 !</div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"></div>

                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.chargeSplit[0].Leviable, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.chargeSplit[0].Leviable, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.chargeSplit[0].Leviable, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group form-group-sm">
                                        <input type="submit" value="Add" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                            @*End chargeType Splitting*@

                            <row>
                                <table id="ChargeSplits" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap:normal; color: black; width: 100%;">
                                    <thead style="font-style:italic; color: cadetblue; text-align: center; ">
                                        <tr>
                                            <th style="width: 15%;">G/L Account Name</th>
                                            <th style="width: 10%;">Charge Split Name</th>
                                            <th style="width: 5%;">Percentage</th>
                                            <th style="width: 2%;">Leviable</th>
                                            <th style="width: 5%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.ChargeSplitDTOs != null)
                                        {
                                            foreach (var commissionSplit in ViewBag.ChargeSplitDTOs)
                                            {
                                                <tr data-id="@commissionSplit.Id">
                                                    <td>@commissionSplit.ChartOfAccountAccountName</td>
                                                    <td>@commissionSplit.Description</td>
                                                    <td style="text-align: right;">@commissionSplit.Percentage</td>
                                                    <td>@commissionSplit.Leviable</td>
                                                    <td><button type="button" class="btn btn-danger remove-btn">Remove</button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <div class="invalid-feedback" style="display: none;"></div>
                            </row>
                        </fieldset>
                    }
                </div>

                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "Charges", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        <div class="col-lg-3">
                            <input type="submit" style="width: 200px;" value="Create" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

<script>
$(document).ready(function () {
    // Function to save the state of the header checkbox to local storage
    function saveCheckboxState(key, state) {
        // Implementation for saving checkbox state goes here
    }

    // Function to load the state of the header checkbox from local storage
    function loadCheckboxState(key) {
        // Implementation for loading checkbox state goes here
    }

    $(document).ready(function () {
        // Event listener for header checkbox
        $('#headerCheckbox').on('change', function () {
            // Check or uncheck all row checkboxes based on the header checkbox state
            $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function () {
                var checkboxKey = $(this).attr('id');
                // Save the state of the checkbox to local storage
                saveCheckboxState(checkboxKey, $(this).prop('checked'));
            });
            // Save the state of the header checkbox to local storage
            saveCheckboxState('headerCheckbox', $(this).prop('checked'));
        });

        // Event listener for individual row checkboxes
        $('#LoanProductsGrid').on('change', '.rowCheckbox', function () {
            // Save the state of the checkbox to local storage
            var checkboxKey = $(this).attr('id');
            saveCheckboxState(checkboxKey, $(this).prop('checked'));

            // Uncheck header checkbox if any row checkbox is unchecked
            if (!$(this).prop('checked')) {
                $('#headerCheckbox').prop('checked', false);
                // Save the state of the header checkbox to local storage
                saveCheckboxState('headerCheckbox', false);
            } else {
                // Check if all row checkboxes are checked and check the header checkbox accordingly
                var allChecked = $('.rowCheckbox:checked').length === $('.rowCheckbox').length;
                $('#headerCheckbox').prop('checked', allChecked);
                // Save the state of the header checkbox to local storage
                saveCheckboxState('headerCheckbox', allChecked);
            }
        });

        // Load the state of the header checkbox from local storage after the page is loaded
        $('#headerCheckbox').prop('checked', loadCheckboxState('headerCheckbox'));
    });

    // Initialize the DataTable
    var table = $('#LoanProductsGrid').DataTable({
        // Ajax settings
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "Levy", new { Area = "Accounts"}))",

        "sServerMethod": "POST",
        // Callback settings
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);
            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            //var editUrl = '<a href="/accounts/SavingsProduct/edit/' + aData.Id + '" class="btn btn-outline-info">Edit</a>';
            //var viewUrl = '<a href="/accounts/SavingsProduct/details/' + aData.Id + '" class="btn btn-outline-info">View</a>';
            var checkboxHTML = '<input type="checkbox" class="rowCheckbox" data-id="' + aData.Id + '"';
            if (aData.AutomateLedgerFeeCalculation === true) {
                checkboxHTML += ' checked';
            }
            checkboxHTML += '>';

            $('td:eq(0)', nRow).html(checkboxHTML);

            return nRow;
        },
        // Display settings
        "aoColumns": [
            { "mDataProp": "Id", "sTitle": "Select", "sWidth": "0.1%" },
            { "mDataProp": "Description", "sTitle": "Name", "sWidth": "10%", "bSortable": false }
        ],
        "aaSorting": [[0, "desc"]],
        "initComplete": function(settings, json) {
            // Load the state of the header checkbox from local storage after DataTable initialization is complete
            $('#headerCheckbox').prop('checked', loadCheckboxState('headerCheckbox'));
        }
    });

    // Place the header checkbox anywhere on the grid
    $('#LoanProductsGrid_wrapper .dataTables_scroll').prepend('<div><input type="checkbox" id="headerCheckbox"> Select $ Deselect All</div>');

    // Event listener for header checkbox
    $('#headerCheckbox').on('change', function () {
        // Check or uncheck all row checkboxes based on the header checkbox state
        $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function() {
            var checkboxKey = $(this).attr('id');
            // Save the state of the checkbox to local storage
            saveCheckboxState(checkboxKey, $(this).prop('checked'));
        });
        // Save the state of the header checkbox to local storage
        saveCheckboxState('headerCheckbox', $(this).prop('checked'));
    });

    // Event listener for individual row checkboxes
    $('#LoanProductsGrid').on('change', '.rowCheckbox', function () {
        // Save the state of the checkbox to local storage
        var checkboxKey = $(this).attr('id');
        saveCheckboxState(checkboxKey, $(this).prop('checked'));

        // Uncheck header checkbox if any row checkbox is unchecked
        if (!$(this).prop('checked')) {
            $('#headerCheckbox').prop('checked', false);
            // Save the state of the header checkbox to local storage
            saveCheckboxState('headerCheckbox', false);
        }
    });
        });



   //ChartOfAccount typehead starts here
            $('.ChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#Id').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });



        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });


        });



        // Find textbox percentage
        var percentageInput = document.querySelector('.percentage-input');
        var feedbackMessage = document.querySelector('.invalid-feedback');

        percentageInput.addEventListener('input', function () {
            var inputValue = parseFloat(percentageInput.value);
            if (inputValue > 100) {
                percentageInput.value = '';
                feedbackMessage.style.display = 'block';
            } else {
                feedbackMessage.style.display = 'none';
            }
        });


        // Remove row data
        $(document).ready(function () {
            $('.remove-btn').click(function () {
                var row = $(this).closest('tr');
                var id = row.data('id');

                
                $.ajax({
                    url: '@Url.Action("removeChargeSplit", "Charges")',
                    type: 'POST',
                    data: { id: id },
                    success: function () {
                        row.remove(); 
                    },
                    error: function () {
                        alert('Error removing row.');
                    }
                });
            });
        });
</script>








    <style>
        .table-container {
            display: none;
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        table {
            border-collapse: collapse;
            white-space: nowrap; /* Prevent line breaks in table cells */
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        #Guarantors {
            table-layout: fixed; /* Forces the table to use the fixed layout algorithm */
        }

            #Guarantors th, #Guarantors td {
                white-space: nowrap; /* Prevents wrapping of text within cells */
                overflow: hidden; /* Hides any content that exceeds the cell dimensions */
                text-overflow: ellipsis; /* Displays an ellipsis (...) when content overflows */
                padding: 8px; /* Adjust padding as needed */
            }


        /* Styling for the button */
        .toggle-button {
            cursor: pointer;
            padding: 10px 20px;
            background-color: darkgreen;
            color: #fff;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        /* Styling for the section */
        .section {
            display: none;
            margin-top: 20px;
        }

            .section.open {
                display: block;
            }





        .custom-button {
            display: flex;
            align-items: center;
            background: linear-gradient(45deg, #4CAF50, #2E7D32);
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            font-size: 16px;
            font-family: 'Arial', sans-serif;
            color: white;
            cursor: not-allowed;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background 0.3s ease, transform 0.3s ease;
        }

            .custom-button:disabled {
                background: linear-gradient(45deg, #9E9E9E, #616161);
            }

            .custom-button .button-icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }

            .custom-button:hover:enabled {
                background: linear-gradient(45deg, #66BB6A, #388E3C);
                transform: translateY(-2px);
            }
    </style>

}
