@model  Application.MainBoundedContext.DTO.AccountsModule.CommissionDTO

@{
    /**/

    ViewBag.Title = "Create Charges";

    var chargeType = ViewBag.chargeType as List<SelectListItem>;
}


<style>
    #tabs-container {
        background-color: none;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        margin-bottom: 20px;
        overflow-x: auto; /* Allow horizontal scrolling if necessary */
        width: 50%;
    }

    .nav-tabs {
        padding: 10px 0; /* Adjusted padding */
        list-style: none;
        margin: 0;
        white-space: nowrap; /* Prevent line breaks */
    }

        .nav-tabs li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-tabs a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
            font-weight: bold; /* Set font weight to bold */
            padding: 10px 15px;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.3s ease-in-out;
        }

            .nav-tabs a:hover {
                border-bottom-color: #007bff;
                color: #007bff;
            }

            .nav-tabs a:active {
                border-bottom-color: #007bff;
                color: #007bff;
            }
</style>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially activate the first tab
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        // Handle tab click event
        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            // Deactivate all tabs
            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            // Activate the clicked tab
            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });
    });
</script>





<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Charges", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Charges</h2>

                    @if (TempData["CreateError"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Failed !</strong> @TempData["CreateError"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "Charges", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Charge Name..." } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumCharge, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.MaximumCharge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                        @Html.ValidationMessageFor(model => model.MaximumCharge, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <br />
                        <hr />

                        <div id="tabs-container">
                            <ul class="nav-tabs">
                                <li><a href="#charge-splitting" class="tab-link" data-target="charge-splitting">Charge Splitting</a></li>
                                <li><a href="#tiers" class="tab-link" data-target="tiers">Tiers</a></li>
                                <li><a href="#levies" class="tab-link" data-target="levies">Levies</a></li>
                            </ul>
                        </div>


                        //chargeType Splitting
                        <div id="charge-splitting" class="tab-content">
                            <h2>Charge Details</h2>

                            <br />

                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="col-md-13 form-group">
                                            @Html.LabelFor(model => model.CommissionSplit.ChartOfAccountId, new { @class = "control-label" })
                                            <div class="input-group" data-autoclose="true">
                                                @Html.HiddenFor(model => model.CommissionSplit.ChartOfAccountId)
                                                @Html.TextBoxFor(model => model.CommissionSplit.ChartOfAccountAccountName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link G/L Account" })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CommissionSplit.Description, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CommissionSplit.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Charge Description" } })
                                            @Html.ValidationMessageFor(model => model.CommissionSplit.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CommissionSplit.Percentage, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CommissionSplit.Percentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "100.00000%" } })
                                            @Html.ValidationMessageFor(model => model.CommissionSplit.Percentage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-lg-8">
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group form-group-lg">
                                            @Html.CheckBoxFor(model => model.Leviable, htmlAttributes: new { @class = "" })
                                            @Html.LabelFor(model => model.Leviable, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                            @Html.ValidationMessageFor(model => model.Leviable, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @using (Html.BeginForm("Add", "Charges", new { Area = "Accounts" }, FormMethod.Post))
                                    {
                                        <div class="col-lg-2">
                                            <div class="form-group form-group-sm">
                                                <input type="submit" value="Add" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                        //End chargeType Splitting





                        //Tiers
                        <div id="tiers" class="tab-content">
                            <fieldset>
                                <h2>Tier Details</h2>
                                <br />

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.LowerLimit, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.LowerLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                            @Html.ValidationMessageFor(model => model.LowerLimit, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.ChargeTypeDescription, new { @class = "control-label" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.ChargeTypeDescription, chargeType, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.ChargeTypeDescription)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.ChargeType, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.ChargeType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                            @Html.ValidationMessageFor(model => model.ChargeType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    @using (Html.BeginForm("Create", "Tiers", new { Area = "Accounts" }, FormMethod.Post))
                                    {
                                        <div class="col-lg-9"></div>

                                        <div class="col-lg-2">
                                            <div class="form-group form-group-sm">
                                                <input type="submit" style="width:200px;" value="Add" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                        //End Tiers




                        //Levies
                        <div id="levies" class="tab-content">
                            <div class="table-responsive">
                                <table id="LoanProductsGrid" class="table table-striped table-bordered table-hover" width="80%">
                                    <tbody>
                                        <tr>
                                            <td colspan="7" class="dataTables_empty">
                                                Loading data from server
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        //End Levies



                        <br />

                        <div class="row">
                            <div class="col-lg-8">
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group form-group-lg">
                                    @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                    @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                    @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="align-bottom">
                                @using (Html.BeginForm("Create", "Charges", new { Area = "Accounts" }, FormMethod.Post))
                                {
                                    <div class="col-lg-2">
                                        <div class="form-group form-group-sm">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                    }
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">G/L Accounts Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>
$(document).ready(function () {
    // Function to save the state of the header checkbox to local storage
    function saveCheckboxState(key, state) {
        // Implementation for saving checkbox state goes here
    }

    // Function to load the state of the header checkbox from local storage
    function loadCheckboxState(key) {
        // Implementation for loading checkbox state goes here
    }

    $(document).ready(function () {
        // Event listener for header checkbox
        $('#headerCheckbox').on('change', function () {
            // Check or uncheck all row checkboxes based on the header checkbox state
            $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function () {
                var checkboxKey = $(this).attr('id');
                // Save the state of the checkbox to local storage
                saveCheckboxState(checkboxKey, $(this).prop('checked'));
            });
            // Save the state of the header checkbox to local storage
            saveCheckboxState('headerCheckbox', $(this).prop('checked'));
        });

        // Event listener for individual row checkboxes
        $('#LoanProductsGrid').on('change', '.rowCheckbox', function () {
            // Save the state of the checkbox to local storage
            var checkboxKey = $(this).attr('id');
            saveCheckboxState(checkboxKey, $(this).prop('checked'));

            // Uncheck header checkbox if any row checkbox is unchecked
            if (!$(this).prop('checked')) {
                $('#headerCheckbox').prop('checked', false);
                // Save the state of the header checkbox to local storage
                saveCheckboxState('headerCheckbox', false);
            } else {
                // Check if all row checkboxes are checked and check the header checkbox accordingly
                var allChecked = $('.rowCheckbox:checked').length === $('.rowCheckbox').length;
                $('#headerCheckbox').prop('checked', allChecked);
                // Save the state of the header checkbox to local storage
                saveCheckboxState('headerCheckbox', allChecked);
            }
        });

        // Load the state of the header checkbox from local storage after the page is loaded
        $('#headerCheckbox').prop('checked', loadCheckboxState('headerCheckbox'));
    });

    // Initialize the DataTable
    var table = $('#LoanProductsGrid').DataTable({
        // Ajax settings
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "Levy", new { Area = "Accounts"}))",

        "sServerMethod": "POST",
        // Callback settings
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);
            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            //var editUrl = '<a href="/accounts/SavingsProduct/edit/' + aData.Id + '" class="btn btn-outline-info">Edit</a>';
            //var viewUrl = '<a href="/accounts/SavingsProduct/details/' + aData.Id + '" class="btn btn-outline-info">View</a>';
            var checkboxHTML = '<input type="checkbox" class="rowCheckbox" data-id="' + aData.Id + '"';
            if (aData.AutomateLedgerFeeCalculation === true) {
                checkboxHTML += ' checked';
            }
            checkboxHTML += '>';

            $('td:eq(0)', nRow).html(checkboxHTML);

            return nRow;
        },
        // Display settings
        "aoColumns": [
            { "mDataProp": "Id", "sTitle": "Select", "sWidth": "0.1%" },
            { "mDataProp": "Description", "sTitle": "Name", "sWidth": "10%", "bSortable": false }
        ],
        "aaSorting": [[0, "desc"]],
        "initComplete": function(settings, json) {
            // Load the state of the header checkbox from local storage after DataTable initialization is complete
            $('#headerCheckbox').prop('checked', loadCheckboxState('headerCheckbox'));
        }
    });

    // Place the header checkbox anywhere on the grid
    $('#LoanProductsGrid_wrapper .dataTables_scroll').prepend('<div><input type="checkbox" id="headerCheckbox"> Select $ Deselect All</div>');

    // Event listener for header checkbox
    $('#headerCheckbox').on('change', function () {
        // Check or uncheck all row checkboxes based on the header checkbox state
        $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function() {
            var checkboxKey = $(this).attr('id');
            // Save the state of the checkbox to local storage
            saveCheckboxState(checkboxKey, $(this).prop('checked'));
        });
        // Save the state of the header checkbox to local storage
        saveCheckboxState('headerCheckbox', $(this).prop('checked'));
    });

    // Event listener for individual row checkboxes
    $('#LoanProductsGrid').on('change', '.rowCheckbox', function () {
        // Save the state of the checkbox to local storage
        var checkboxKey = $(this).attr('id');
        saveCheckboxState(checkboxKey, $(this).prop('checked'));

        // Uncheck header checkbox if any row checkbox is unchecked
        if (!$(this).prop('checked')) {
            $('#headerCheckbox').prop('checked', false);
            // Save the state of the header checkbox to local storage
            saveCheckboxState('headerCheckbox', false);
        }
    });
        });




        $('#submit-btn').click(function () {
            var selectedRowsData = [];
            $('.rowCheckbox:checked').each(function () {
                var rowData = {
                    Id: $(this).data('id'),
                    // Add other properties you want to include
                };
                selectedRowsData.push(rowData);
            });

            // Send the selected rows data to the backend using AJAX
            $.ajax({
                url: '/Accounts/DebitType/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedRowsData),
                success: function (response) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });


    $('#customersGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "ChartOfAccount", new { Area = "Accounts" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Accounts/Charges/create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [
            { "mDataProp": "AccountName", "sTitle": "Name", "sWidth": "10%" },
            { "mDataProp": "IsLockedDescription", "sTitle": "Is Locked?", "sWidth": "2%" },
            { "mDataProp": "CostCenterDescription", "sTitle": "Cost Center", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = customersGrid.row(this).data();

        $('#CommissionSplit.ChartOfAccountId').val(data.Id);
        $('input[name=CommissionSplit.ChartOfAccountId]').val(data.Id);
        $('input[name=CommissionSplit.ChartOfAccountAccountName]').val(data.ChartOfAccountAccountName);

        var CustomerId = "";
        CustomerId = CustomersMap[item].Id;
        $('#CommissionSplit.ChartOfAccountAccountName').val(CustomersMap[item].ChartOfAccountAccountName);
    });

    </script>





    <style>
        /* Basic styling for the tabs */
        .nav-tabs {
            list-style-type: none;
            padding: 0;
            display: flex;
            border-bottom: 2px solid #ccc;
        }

            .nav-tabs li {
                margin-right: 10px;
            }

            .nav-tabs a {
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                border: 1px solid #ccc;
                border-bottom: none;
                background: #f0f0f0;
                color: #333;
            }

                .nav-tabs a.active {
                    background: #fff;
                    border-bottom: 2px solid #fff;
                    font-weight: bold;
                }

        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ccc;
        }

            .tab-content.active {
                display: block;
            }
    </style>




    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get all the tab links
            const tabLinks = document.querySelectorAll('.tab-link');

            // Add click event listener to each tab link
            tabLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    // Remove 'active' class from all tab links
                    tabLinks.forEach(link => link.classList.remove('active'));

                    // Add 'active' class to the clicked tab link
                    this.classList.add('active');

                    // Get the target content id
                    const targetId = this.getAttribute('data-target');

                    // Get all tab content elements
                    const tabContents = document.querySelectorAll('.tab-content');

                    // Hide all tab content elements
                    tabContents.forEach(content => content.classList.remove('active'));

                    // Show the target tab content element
                    document.getElementById(targetId).classList.add('active');
                });
            });

            // Activate the first tab by default
            if (tabLinks.length > 0) {
                tabLinks[0].click();
            }
        });

    </script>
}
