@model  Application.MainBoundedContext.DTO.AccountsModule.SavingsProductDTO
@{
    ViewBag.Title = "Savings Product Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Savings Product</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "SavingsProduct", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Description)</strong><br>

                                @Html.DisplayFor(model => model.Description)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Code)</strong><br>

                                @Html.DisplayFor(model => model.Code)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ChartOfAccountAccountName)</strong><br>

                                @Html.DisplayFor(model => model.ChartOfAccountAccountName)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.MaximumAllowedWithdrawal)</strong><br>

                                @Html.DisplayFor(model => model.MaximumAllowedWithdrawal)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.MinimumBalance)</strong><br>

                                @Html.DisplayFor(model => model.MinimumBalance)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.OperatingBalance)</strong><br>

                                @Html.DisplayFor(model => model.OperatingBalance)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.WithdrawalNoticeAmount)</strong><br>

                                @Html.DisplayFor(model => model.WithdrawalNoticeAmount)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsLocked)</strong><br>

                                @Html.DisplayFor(model => model.IsLocked)<br>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Priority)</strong><br>

                                @Html.DisplayFor(model => model.Priority)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.WithdrawalNoticePeriod)</strong><br>

                                @Html.DisplayFor(model => model.WithdrawalNoticePeriod)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.WithdrawalInterval)</strong><br>

                                @Html.DisplayFor(model => model.WithdrawalInterval)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AnnualPercentageYield)</strong><br>

                                @Html.DisplayFor(model => model.AnnualPercentageYield)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AutomateLedgerFeeCalculation)</strong><br>

                                @Html.DisplayFor(model => model.AutomateLedgerFeeCalculation)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ThrottleOverTheCounterWithdrawals)</strong><br>

                                @Html.DisplayFor(model => model.ThrottleOverTheCounterWithdrawals)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsDefault)</strong><br>

                                @Html.DisplayFor(model => model.IsDefault)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsMandatory)</strong><br>

                                @Html.DisplayFor(model => model.IsMandatory)<br>
                            </p>
                            <p>
                                <strong> @Html.DisplayNameFor(model => model.CreatedDate)</strong><br>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            @Html.ActionLink("Edit", "Edit", "SavingsProduct", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Back to List", "Index", "SavingsProduct", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
