@model  Application.MainBoundedContext.DTO.AccountsModule.SavingsProductDTO
@{
    ViewBag.Title = "Savings Product Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "SavingsProduct", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Savings Products Details</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Description)</strong><br>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Code)</strong><br>
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ChartOfAccountAccountName)</strong><br>
                                @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.MaximumAllowedWithdrawal)</strong><br>
                                @Html.EditorFor(model => model.MaximumAllowedWithdrawal, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.MinimumBalance)</strong><br>
                                @Html.EditorFor(model => model.MinimumBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.OperatingBalance)</strong><br>
                                @Html.EditorFor(model => model.OperatingBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.WithdrawalNoticeAmount)</strong><br>
                                @Html.EditorFor(model => model.WithdrawalNoticeAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                            <p>
                                <strong> @Html.DisplayNameFor(model => model.CreatedDate)</strong><br>
                                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Allowed Withdrawal", @readonly = "readonly" } })
                            </p>


                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Priority)</strong><br>
                                @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.WithdrawalNoticePeriod)</strong><br>
                                @Html.EditorFor(model => model.WithdrawalNoticePeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.WithdrawalInterval)</strong><br>
                                @Html.EditorFor(model => model.WithdrawalInterval, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AnnualPercentageYield)</strong><br>
                                @Html.EditorFor(model => model.AnnualPercentageYield, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                            </p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Back to List", "Index", "SavingsProduct", new { Area = "Accounts" }, new { @class = "btn btn-success" })

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                @Html.ActionLink("Edit Savings Products", "Edit", "SavingsProduct", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
