@model Application.MainBoundedContext.DTO.AccountsModule.SavingsProductDTO

@{
    ViewBag.Title = "Edit Savings Product";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "SavingsProduct", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Edit Savings Product</h2>
                    <hr />
                    @Html.ActionLink("Back to List", "Index", "SavingsProduct", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Edit", "SavingsProduct", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Savings Product</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-sm">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.ChartOfAccountId)
                                        @Html.ValidationMessageFor(model => model.ChartOfAccountId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumAllowedWithdrawal, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MaximumAllowedWithdrawal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Allowed Withdrawal", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.MaximumAllowedWithdrawal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumAllowedDeposit, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MaximumAllowedDeposit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Allowed Deposit", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.MaximumAllowedDeposit, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MinimumBalance, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.MinimumBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Minimum Balance", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.MinimumBalance, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.OperatingBalance, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.OperatingBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Operating Balance", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.OperatingBalance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Other Details</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.WithdrawalNoticeAmount, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.WithdrawalNoticeAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Withdrawal Notice Amount", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.WithdrawalNoticeAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.WithdrawalNoticePeriod, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.WithdrawalNoticePeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Withdrawal Notice Period", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.WithdrawalNoticePeriod, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.WithdrawalInterval, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.WithdrawalInterval, new { htmlAttributes = new { @class = "form-control", @placeholder = "Withdrawal Interval", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.WithdrawalInterval, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AnnualPercentageYield, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AnnualPercentageYield, new { htmlAttributes = new { @class = "form-control", @placeholder = "Annual Percentage Yield", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.AnnualPercentageYield, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @placeholder = "Priority", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.AutomateLedgerFeeCalculation, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.AutomateLedgerFeeCalculation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Automate Ledger Fee Calculation?" } })
                                        @Html.ValidationMessageFor(model => model.AutomateLedgerFeeCalculation, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.ThrottleOverTheCounterWithdrawals, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.ThrottleOverTheCounterWithdrawals, new { htmlAttributes = new { @class = "form-control", @placeholder = "Throttle Over The Counter Withdrawals?" } })
                                        @Html.ValidationMessageFor(model => model.ThrottleOverTheCounterWithdrawals, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsDefault, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsDefault, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Default?" } })
                                        @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsMandatory, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsMandatory, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Mandatory?" } })
                                        @Html.ValidationMessageFor(model => model.IsMandatory, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });
             //ChartOfAccount typehead starts here
            $('.ChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#ChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });
        });</script>
}

