@model Application.MainBoundedContext.DTO.AccountsModule.TellerDTO

@{
    ViewBag.Title = "Teller";
}
<div class="row wrapper border-bottom bg-muted page-heading">
    <div class="col-lg-10">
        <h2>Tellers</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Teller", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "Teller", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Naming</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-8">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Teller name.", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-users" style="font-size: 200px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>Other Details</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type" } })
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Code" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MiniStatementItemsCap, htmlAttributes: new { @class = "" })

                                        @Html.EditorFor(model => model.MiniStatementItemsCap, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mini Statement Items Cap", @required = "" } })

                                        @Html.ValidationMessageFor(model => model.MiniStatementItemsCap, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference" } })
                                        @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.RangeLowerLimit, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.RangeLowerLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Range Lower Limit" } })
                                        @Html.ValidationMessageFor(model => model.RangeLowerLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.RangeUpperLimit, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.RangeUpperLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Range Upper Limit" } })
                                        @Html.ValidationMessageFor(model => model.RangeUpperLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>Linkage</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.HiddenFor(model => model.EmployeeId)
                                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.EmployeeCustomerFullName, new { htmlAttributes = new { @class = "EmployeesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ChartOfAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.HiddenFor(model => model.ChartOfAccountId)
                                        @Html.ValidationMessageFor(model => model.ChartOfAccountId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "EmployeesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ShortageChartOfAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.HiddenFor(model => model.ShortageChartOfAccountId)
                                        @Html.ValidationMessageFor(model => model.ShortageChartOfAccountId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.ShortageChartOfAccountAccountName, new { htmlAttributes = new { @class = "EmployeesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ExcessChartOfAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.HiddenFor(model => model.ExcessChartOfAccountId)
                                        @Html.ValidationMessageFor(model => model.ExcessChartOfAccountId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.ExcessChartOfAccountAccountName, new { htmlAttributes = new { @class = "EmployeesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.FloatCustomerAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.HiddenFor(model => model.FloatCustomerAccountId)
                                        @Html.ValidationMessageFor(model => model.FloatCustomerAccountId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.FloatCustomerAccountStatusDescription, new { htmlAttributes = new { @class = "EmployeesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CommissionCustomerAccountCustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.HiddenFor(model => model.CommissionCustomerAccountCustomerId)
                                        @Html.ValidationMessageFor(model => model.CommissionCustomerAccountCustomerId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.CommissionCustomerAccountStatusDescription, new { htmlAttributes = new { @class = "EmployeesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")

    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

             //Employee typehead starts here
            $('.EmployeesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetEmployeesAsync", "Employee", new { Area = "Accounts" })',
                        { query: query },
                        function (Employees) {
                            var newEmployeesData = [];
                            EmployeesMap = {};
                            $.each(Employees, function (i, Employee) {
                                newEmployeesData.push(Employee.CustomerFullName);
                                EmployeesMap[Employee.CustomerFullName] = Employee;
                            });
                            process(newEmployeesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var employeeId = "";
                    EmployeeId = EmployeesMap[item].Id;
                    $('#EmployeeId').val(EmployeeId);
                    $('#EmployeeAddressMobileLine').val(EmployeesMap[item].AddressMobileLine);
                    //console.log(EmployeeId)
                    return item;
                }
            });

             //ShortageChartOfAccount typehead starts here
            $('.ShortageChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetShortageChartOfAccountsAsync", "ShortageChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ShortageChartOfAccounts) {
                            var newShortageChartOfAccountsData = [];
                            ShortageChartOfAccountsMap = {};
                            $.each(ShortageChartOfAccounts, function (i, ShortageChartOfAccount) {
                                newShortageChartOfAccountsData.push(ShortageChartOfAccount.AccountName);
                                ShortageChartOfAccountsMap[ShortageChartOfAccount.AccountName] = ShortageChartOfAccount;
                            });
                            process(newShortageChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var shortageChartOfAccountId = "";
                    ShortageChartOfAccountId = ShortageChartOfAccountsMap[item].Id;
                    $('#ShortageChartOfAccountId').val(ShortageChartOfAccountId);
                    //console.log(ShortageChartOfAccountId)
                    return item;
                }
            });

            //ChartOfAccount typehead starts here
            $('.ChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#ChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });

            $('.ExcessChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetExcessChartOfAccountsAsync", "ExcessChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ExcessChartOfAccounts) {
                            var newExcessChartOfAccountsData = [];
                            ExcessChartOfAccountsMap = {};
                            $.each(ExcessChartOfAccounts, function (i, ExcessChartOfAccount) {
                                newExcessChartOfAccountsData.push(ExcessChartOfAccount.AccountName);
                                ExcessChartOfAccountsMap[ExcessChartOfAccount.AccountName] = ExcessChartOfAccount;
                            });
                            process(newExcessChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var excessChartOfAccountId = "";
                    ExcessChartOfAccountId = ExcessChartOfAccountsMap[item].Id;
                    $('#ExcessChartOfAccountId').val(ExcessChartOfAccountId);
                    //console.log(ExcessChartOfAccountId)
                    return item;
                }
            });

             //FloatCustomerAccount typehead starts here
            $('.FloatCustomerAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetFloatCustomerAccountsAsync", "FloatCustomerAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (FloatCustomerAccounts) {
                            var newFloatCustomerAccountsData = [];
                            FloatCustomerAccountsMap = {};
                            $.each(FloatCustomerAccounts, function (i, FloatCustomerAccount) {
                                newFloatCustomerAccountsData.push(FloatCustomerAccount.AccountName);
                                FloatCustomerAccountsMap[FloatCustomerAccount.AccountName] = FloatCustomerAccount;
                            });
                            process(newFloatCustomerAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var floatCustomerAccountId = "";
                    FloatCustomerAccountId = FloatCustomerAccountsMap[item].Id;
                    $('#FloatCustomerAccountId').val(FloatCustomerAccountId);
                    //console.log(FloatCustomerAccountId)
                    return item;
                }
            });

             //CommissionCustomerAccountCustomer typehead starts here
            $('.CommissionCustomerAccountCustomersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCommissionCustomerAccountCustomersAsync", "CommissionCustomerAccountCustomer", new { Area = "Accounts" })',
                        { query: query },
                        function (CommissionCustomerAccountCustomers) {
                            var newCommissionCustomerAccountCustomersData = [];
                            CommissionCustomerAccountCustomersMap = {};
                            $.each(CommissionCustomerAccountCustomers, function (i, CommissionCustomerAccountCustomer) {
                                newCommissionCustomerAccountCustomersData.push(CommissionCustomerAccountCustomer.AccountName);
                                CommissionCustomerAccountCustomersMap[CommissionCustomerAccountCustomer.AccountName] = CommissionCustomerAccountCustomer;
                            });
                            process(newCommissionCustomerAccountCustomersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var commissionCustomerAccountCustomerId = "";
                    CommissionCustomerAccountCustomerId = CommissionCustomerAccountCustomersMap[item].Id;
                    $('#CommissionCustomerAccountCustomerId').val(CommissionCustomerAccountCustomerId);
                    //console.log(CommissionCustomerAccountCustomerId)
                    return item;
                }
            });
        });</script>
}
