@model Application.MainBoundedContext.DTO.AccountsModule.BudgetEntryDTO

@{
    ViewBag.Title = "Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Budget Entries</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BudgetEntry", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.BudgetDescription)<br></strong>

                                @Html.DisplayFor(model => model.BudgetDescription)<br>
                            </p>

                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Type)<br></strong>

                                @Html.DisplayFor(model => model.Type)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ChartOfAccountAccountName)<br></strong>

                                @Html.DisplayFor(model => model.ChartOfAccountAccountName)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanProductDescription)<br></strong>

                                @Html.DisplayFor(model => model.LoanProductDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Amount)<br></strong>

                                @Html.DisplayFor(model => model.Amount)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Reference)<br></strong>

                                @Html.DisplayFor(model => model.Reference)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CreatedDate)<br></strong>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "BudgetEntry", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "BudgetEntry", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>