
@model Application.MainBoundedContext.DTO.HumanResourcesModule.EmployeeDTO

@{
    ViewBag.Title = "Employees";
    var bloodGroupDescription = ViewBag.BloodGroupSelectList as List<SelectListItem>;
    
    var recordStatus = ViewBag.RecordStatusSelectList as List<SelectListItem>;

    var customerFilter = ViewBag.CustomerFilterSelectList as List<SelectListItem>;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Employees</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Employee", new { Area = "HumanResource" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>








<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });

        $('#ValueDate').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    });
</script>



<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Create", "Employee", new { Area = "HumanResource" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()



                            <!-- Expense Payables -->
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CustomerId, new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.CustomerId)
                                            <div class="input-group" data-autoclose="true">
                                                @Html.TextBoxFor(model => model.CustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.DesignationId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.DesignationId)
                                            @Html.EditorFor(model => model.DesignationDescription, new { htmlAttributes = new { @class = "DesignationsLookup form-control required", placeholder = "Designation description" } })
                                            @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Branch Name" } })
                                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.DepartmentId)
                                            @Html.EditorFor(model => model.DepartmentDescription, new { htmlAttributes = new { @class = "DepartmentsLookup form-control required", placeholder = "Department description" } })
                                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.EmployeeTypeId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.EmployeeTypeId)
                                            @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.EmployeeTypeCategoryDescription, new { htmlAttributes = new { @class = "EmployeeTypesLookup form-control required", placeholder = "EmployeeType Description" } })
                                        </div>
                                        
                                       
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.BloodGroup, new { @class = "control-label" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.BloodGroup, bloodGroupDescription, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.BloodGroup)
                                            </div>
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CustomerPersonalIdentificationNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CustomerPersonalIdentificationNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "PIN", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.CustomerPersonalIdentificationNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.NationalSocialSecurityFundNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.NationalSocialSecurityFundNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "NSSF Number", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.NationalSocialSecurityFundNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.NationalHospitalInsuranceFundNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.NationalHospitalInsuranceFundNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "NHIF Number", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.NationalHospitalInsuranceFundNumber, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                            </fieldset>

                            <div class="bottom-button row mt-3" style="display: flex; justify-content: flex-end; padding-right:50px; margin-top:20px;">
                                <div class="form-group form-group-lg">
                                    @Html.CheckBoxFor(model => model.OnlineNotificationsEnabled, htmlAttributes: new { @class = "" })
                                    @Html.LabelFor(model => model.OnlineNotificationsEnabled, new { htmlAttributes = new { @class = "form-control", @placeholder = "Online Notifications Enabled?", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.OnlineNotificationsEnabled, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                    @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                    @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                </div>


                                <input type="submit" value="Create" class="btn btn-primary btn-update" />
                            </div>



                        }
                    </div>
                </div>

                <style>
                    .card {
                        margin-bottom: 20px;
                    }

                    .nav-tabs .nav-link.active {
                        background-color: #007bff;
                        color: white;
                    }

                    .form-group-lg {
                        margin-bottom: 1.5rem;
                    }

                    .form-control {
                        border-radius: .25rem;
                    }

                    /* The .nav class is incorrectly nested, so I'll fix that */
                    .nav {
                        display: flex;
                        flex-wrap: wrap; /* Allows the links to wrap onto multiple lines */
                        padding: 0;
                        margin: 5px;
                        margin-bottom: 0;
                        border: 2px solid black;
                        border-radius: 8px;
                        margin-top: 20px;
                        gap: 10px; /* Space between links */
                        text-align: center; /* Centers the text inside links */
                        padding: 10px;
                    }

                    .nav-link {
                        display: flex;
                        text-decoration: none;
                        color: #007bff; /* Default text color */
                        transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
                        border-radius: 4px; /* Rounded corners */
                        font-size: 14px; /* Adjust font size for better fit */
                        white-space: nowrap; /* Prevents text from wrapping inside the link */
                    }

                        .nav-link:hover {
                            color: #fff; /* Text color on hover */
                            background-color: #0056b3; /* Background color on hover */
                        }

                        .nav-link i {
                            margin-right: 8px; /* Space between icon and text */
                            font-size: 16px; /* Adjust icon size */
                        }

                        .nav-link.disabled {
                            pointer-events: none;
                            opacity: 0.6;
                            cursor: not-allowed;
                        }

                    .col-lg-2 {
                        display: flex;
                        align-items: center; /* Center the title vertically */
                        justify-content: center; /* Center the title horizontally if needed */
                        padding: 0; /* Remove default padding if necessary */
                        border-radius: 4px; /* Rounded corners */
                    }

                    .bottom-button {
                        border: 2px solid gray; /* Border color set to gray */
                        padding: 10px; /* Padding inside the border */
                        border-radius: 5px; /* Rounded corners (optional) */
                        font-size: 16px;
                        font-weight: bold;
                        background-color: #00e0ff;
                    }
                </style>



            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">
                    Customers Lookup
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Table for Account Closure Requests -->
                <div class="table-responsive" style="overflow-x: auto;">
                    <table id="CustomersGrid" class="table table-striped table-bordered table-hover" style="min-width: 1000px;">
                        <tbody>
                            <tr>
                                <td class="dataTables_empty">Loading data from server</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Filter Form -->
                <div class="blue-section mt-1">
                    <form id="CustomerModalFilterForm">
                        <div class="row align-items-end mb-3">
                            <div class="col-md-3">
                                <div id="items-dropdown"></div>
                            </div>
                            <div class="col-md-9">
                                <div id="page-control"></div>
                            </div>
                        </div>

                        @*<div class="row align-items-end mb-3">

                            </div>*@

                        <div class="row align-items-end">

                            <div class="col-md-2">
                                <div class="form-group mb-0">

                                    <div class="input-group">

                                        @Html.DropDownListFor(m => m.EmployeeCustomerRecordStatus, recordStatus, new { @class = "form-control", @id = "EmployeeCustomerRecordStatus" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group mb-0">

                                    <div class="input-group">

                                        @Html.DropDownListFor(m => m.EmployeeCustomerFilter, customerFilter,
                                        new { @class = "form-control", @id = "EmployeeCustomerFilter" })
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-6">
                                <div id="searchField" class="form-group mb-0"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-0">
                                    <button type="submit" id="refreshButton" class="btn btn-success form-control">Refresh</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <style>
                    .blue-section {
                        background-color: #e6f3ff;
                        padding: 15px;
                        border-radius: 5px;
                    }

                    .row.align-items-end {
                        display: flex;
                        align-items: flex-end;
                    }

                        .row.align-items-end > div {
                            display: flex;
                            flex-direction: column;
                        }

                    #searchField {
                        width: 100%;
                    }

                        #searchField .dataTables_filter {
                            margin-bottom: 0;
                            width: 100%;
                        }

                            #searchField .dataTables_filter label {
                                width: 100%;
                                margin-bottom: 0;
                                display: flex;
                            }

                            #searchField .dataTables_filter input {
                                width: 100% !important;
                                margin-left: 0 !important;
                                height: calc(1.5em + .75rem + 2px); /* Match Bootstrap's form-control height */
                            }

                    #items-dropdown .dataTables_length {
                        margin-bottom: 0;
                    }

                    #page-control .dataTables_paginate {
                        float: right;
                    }
                </style>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>









@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <style>
        .highlight {
            background-color: #f0c14b; /* Light yellow color for highlighting */
        }
    </style>

    <script>
            //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });


        // Set Default Value for Filters
        var defaultRecordStatus = $('#EmployeeCustomerRecordStatus').val();
        var defaultCustomerFilter = $('#EmployeeCustomerFilter').val();

        //Refresh button for reloading the Datable after Applying the filters
        $('#CustomerModalFilterForm').on('submit', function (e) {
            e.preventDefault();
            $('#CustomersGrid').DataTable().ajax.reload();
        });


             $('#CustomersGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "Customer", new { Area = "Registry"}))",
                 "sServerMethod": "POST",
                 "fnServerParams": function (aoData) {
                     aoData.push(
                         { "name": "recordStatus", "value": $('#EmployeeCustomerRecordStatus').val() || defaultRecordStatus },
                         { "name": "customerFilter", "value": $('#EmployeeCustomerFilter').val() || defaultCustomerFilter }
                     );
                 },
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/humanResource/employee/create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(4)', nRow).html(dt_Created);
                    $('td:eq(5)', nRow).html(selectUrl);

                    return nRow;
                },
                // Display settings
                 "aoColumns": [
                     { "mDataProp": "FullName", "sTitle": "Name", "sWidth": "15%" },
                     { "mDataProp": "TypeDescription", "sTitle": "Type", "sWidth": "10%" },
                     { "mDataProp": "Reference2", "sTitle": "Membership  Number", "sWidth": "10%" },
                     { "mDataProp": "IndividualTypeDescription", "sTitle": "Individual Type", "sWidth": "15%" },
                     { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                     { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
                 "aaSorting": [[0, "desc"]],
                 "dom": 'lftip',
                 "responsive": true,
                 "initComplete": function (settings, json) {
                     $('#CustomersGrid_length').appendTo('.blue-section .row:first-child #items-dropdown');
                     $('#CustomersGrid_filter').appendTo('.blue-section #searchField').find('input').attr('placeholder', 'Search...');
                     $('#CustomersGrid_filter label').contents().filter(function () {
                         return this.nodeType === 3;
                     }).remove();
                     $('#Customers_paginate').appendTo('.blue-section .row:first-child #page-control');
                 },
                 "error": function (xhr, error, thrown) {
                     console.log("Error fetching data: ", xhr, error, thrown);
                     alert("Failed to load data. Please try again.");
                 }
        });

        $("#s tbody").on("click", "tr", function () {
            var data = customersGrid.row(this).data();

            $('#CustomerId').val(data.Id);
            $('input[name=CustomerId]').val(data.Id);
            $('input[name=CustomerFullName]').val(data.FullName);
            //$('input[name=ChartOfAccountAccountCode]').val(data.AccountCode);

            $('#customerLookupModal').modal('hide');
        });

            //EmployeeType typehead starts here
            $('.EmployeeTypesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetEmployeeTypesAsync", "EmployeeType", new { Area = "HumanResource" })',
                        { query: query },
                        function (EmployeeTypes) {
                            var newEmployeeTypesData = [];
                            EmployeeTypesMap = {};
                            $.each(EmployeeTypes, function (i, EmployeeType) {
                                newEmployeeTypesData.push(EmployeeType.CategoryDescription);
                                EmployeeTypesMap[EmployeeType.CategoryDescription] = EmployeeType;
                            });
                            process(newEmployeeTypesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var employeeTypeId = "";
                    EmployeeTypeId = EmployeeTypesMap[item].Id;
                    $('#EmployeeTypeId').val(EmployeeTypeId);
                    //console.log(EmployeeTypeId)
                    return item;
                }
            });

            //Designation typehead starts here
            $('.DesignationsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetDesignationsAsync", "Designation", new { Area = "HumanResource" })',
                        { query: query },
                        function (Designations) {
                            var newDesignationsData = [];
                            DesignationsMap = {};
                            $.each(Designations, function (i, Designation) {
                                newDesignationsData.push(Designation.Description);
                                DesignationsMap[Designation.Description] = Designation;
                            });
                            process(newDesignationsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var designationId = "";
                    DesignationId = DesignationsMap[item].Id;
                    $('#DesignationId').val(DesignationId);
                    //console.log(DesignationId)
                    return item;
                }
            });

            //Department typehead starts here
            $('.DepartmentsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetDepartmentsAsync", "Department", new { Area = "HumanResource" })',
                        { query: query },
                        function (Departments) {
                            var newDepartmentsData = [];
                            DepartmentsMap = {};
                            $.each(Departments, function (i, Department) {
                                newDepartmentsData.push(Department.Description);
                                DepartmentsMap[Department.Description] = Department;
                            });
                            process(newDepartmentsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var departmentId = "";
                    DepartmentId = DepartmentsMap[item].Id;
                    $('#DepartmentId').val(DepartmentId);
                    //console.log(DepartmentId)
                    return item;
                }
            });
    </script>


    <script>
        $.ajax({
            url: '/HumanResource/Employee/Create',
            type: 'POST',
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: response.message,
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An unexpected error occurred.'
                });
            }
        });


    </script>











    <style>
        .container1 {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        .summary-table {
            width: 100%;
            border-collapse: collapse;
        }

            .summary-table td {
                padding: 10px;
                border: 1px solid #ddd;
            }

            .summary-table label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .summary-table input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #f9f9f9;
            }

        .tab-content {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        .tab-pane {
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 50px;
        }

        thead {
            background-color: #f5f5f5;
        }

            thead th {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: center;
                font-style: italic;
                color: cadetblue;
            }

        tbody td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        /* Ensure no border between tabs and tab content */
        .nav-tabs {
            border-bottom: none; /* Remove bottom border from tab navigation */
        }

            .nav-tabs .nav-link {
                border: none; /* Remove borders from tab links */
                border-radius: 0; /* Remove border radius for a cleaner look */
            }

        .tab-content {
            border-top: 1px solid #ddd; /* Add a subtle border if needed */
            padding: 15px; /* Optional: Add padding for spacing */
        }

        /* Optional: Add spacing between tab navigation and content */
        .container {
            margin-top: 20px; /* Adjust top margin as needed */
        }
    </style>









}