@model Application.MainBoundedContext.DTO.AccountsModule.TreasuryDTO

@{
    ViewBag.Title = "Create Treasury";

    var error = TempData["ErrorMsg"] as List<string>;

    var refreshPage = TempData["RefreshPage"] as bool?;
}

@if (refreshPage.HasValue && refreshPage.Value)
{
    <script>
        window.location.reload();
    </script>
}

<!-- _Layout.cshtml or individual views -->
<link href="~/Scripts/css/tabbing2.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Treasury", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Create Treasury</h2>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Failed !</strong> @TempData["Error"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }

                    <br />

                    @if (TempData["ErrorMsg"] != null)
                    {
                        <div class="alert alert-warning">
                            <strong></strong> @TempData["ErrorMsg"]
                        </div>
                    }

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Create", "Treasuries", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <fieldset>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    @Html.LabelFor(model => model.BranchDescription, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.BranchId, new { @id = "BranchId" })
                                        @Html.TextBoxFor(model => model.BranchDescription, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Branch...", @id = "BranchDescription" })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#GuarantorLookupModal"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>


                                <div class="col-md-4 form-group">
                                    @Html.LabelFor(model => model.ChartOfAccountId, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.ChartOfAccountId, new { @id = "BranchId" })
                                        @Html.TextBoxFor(model => model.ChartOfAccountAccountName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Branch...", @id = "BranchDescription" })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#companyLookupModal"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Enter Treasury Name", @id = "Description" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.RangeLowerLimit, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.RangeLowerLimit, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Kshs.0.00", @id = "RangeLowerLimit" } })
                                        @Html.ValidationMessageFor(model => model.RangeLowerLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-5 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.RangeUpperLimit, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.RangeUpperLimit, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Kshs.0.00", @id = "RangeUpperLimit" } })
                                        @Html.ValidationMessageFor(model => model.RangeUpperLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-2" style="margin-top: 30px;">
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <input type="button" onclick="sendFormData()" style="width:200px;" class="btn btn-primary" value="Create" />
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="companyLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">G/L Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="companiesGrid" class="table table-striped table-bordered table-hover" style="width:100%">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="GuarantorLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Branch Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="guarantorsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")



    <script src="~/Scripts/js/GuarantorsModalPopUp.js"></script>

    <script src="~/Scripts/js/handleTogglingTheSectionAndButtonText.js"></script>


    <script>
        function sendFormData() {
            // Create an object to hold the form data
            let formData = {
                BranchDescription: document.querySelector('[name="BranchDescription"]').value,
                BranchId: document.querySelector('[name="BranchId"]').value,
                ChartOfAccountId: document.querySelector('[name="ChartOfAccountId"]').value,
                ChartOfAccountAccountName: document.querySelector('[name="ChartOfAccountAccountName"]').value,
                Description: document.querySelector('[name="Description"]').value,
                RangeLowerLimit: document.querySelector('[name="RangeLowerLimit"]').value,
                RangeUpperLimit: document.querySelector('[name="RangeUpperLimit"]').value,
                IsLocked: document.querySelector('[name="IsLocked"]').checked
            };

            // Send the data to the first controller using fetch
            fetch('/Treasuries/Create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('[name="__RequestVerificationToken"]').value // Include this line if you are using Anti-Forgery Token
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the response data here
                    console.log('Form Data Submitted:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>











    <script>
        $(document).ready(function () {
            $('#companiesGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "ChartOfAccount", new { Area = "Accounts" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Accounts/Treasuries/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
            "aoColumns": [
            { "mDataProp": "AccountName", "sTitle": "G/L Account Name", "sWidth": "10%" },
            { "mDataProp": "CostCenterDescription", "sTitle": "Cost Center", "sWidth": "10%" },
            { "mDataProp": "AccountCode", "sTitle": "Code", "sWidth": "5%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "bSortable": false },
            { "mDataProp": "CreatedDate", "sTitle": "Actions", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#ChartOfAccountId').val(data.Id);
        $('input[name=ChartOfAccountId]').val(data.Id);
        $('input[name=ChartOfAccountAccountName]').val(data.ChartOfAccountAccountName);

        $('#ChartOfAccountAccountName').val(CompaniesMap[item].ChartOfAccountAccountName);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#ChartOfAccountId').val(ChartOfAccountId);
                    $('#ChartOfAccountAccountName').val(ChartOfAccountAccountName);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });
                                    //Guarantors

            $('#guarantorsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "Branch", new { Area = "Admin" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Accounts/Treasuries/Search/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
                "aoColumns": [
                    { "mDataProp": "Description", "sTitle": "Branch Name", "sWidth": "10%" },
                    { "mDataProp": "CompanyDescription", "sTitle": "Company", "sWidth": "15%" },
                    { "mDataProp": "IsLocked", "sTitle": "Is Locked?", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "20%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#BranchId').val(data.Id);
        $('input[name=BranchId]').val(data.Id);
        $('#BranchDescription').val(LoanProductsMap[item].BranchDescription);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#CompanyId').val(CompanyId);
                    $('#GuarantorByCustomerId').val(CompanyId);

                    //$('#Employers[0].Description').val(CompaniesMap[item].Employers[0].Description);
                    return item;
                }
            });



            $('.GuarantorCustomersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCustomersAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Customers) {
                            var newCustomersData = [];
                            CustomersMap = {};
                            $.each(Customers, function (i,Customer) {
                                newCustomersData.push(Customer.FullName);
                                CustomersMap[Customer.FullName] = Customer;
                            });
                            process(newCustomersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var customerId = "";
                    CustomerId = CustomersMap[item].Id;
                    $('#LoanGuarantors[0].CustomerId').val(CustomerId);
                    //console.log(CustomerId)
                    return item;
                }
            });
        });
    </script>



    <style>
        .table-container {
            display: none;
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        table {
            border-collapse: collapse;
            white-space: nowrap; /* Prevent line breaks in table cells */
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        #Guarantors {
            table-layout: fixed; /* Forces the table to use the fixed layout algorithm */
        }

            #Guarantors th, #Guarantors td {
                white-space: nowrap; /* Prevents wrapping of text within cells */
                overflow: hidden; /* Hides any content that exceeds the cell dimensions */
                text-overflow: ellipsis; /* Displays an ellipsis (...) when content overflows */
                padding: 8px; /* Adjust padding as needed */
            }


        /* Styling for the button */
        .toggle-button {
            cursor: pointer;
            padding: 10px 20px;
            background-color: darkgreen;
            color: #fff;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        /* Styling for the section */
        .section {
            display: none;
            margin-top: 20px;
        }

            .section.open {
                display: block;
            }
    </style>
}