@model Application.MainBoundedContext.DTO.RegistryModule.NextOfKinDTO

@{
    ViewBag.Title = "Edit Customer";
    var customerTypes = ViewBag.CustomerTypeSelectList as List<SelectListItem>;
    var individualTypes = ViewBag.IndividualTypeSelectList as List<SelectListItem>;
    var identityCardTypes = ViewBag.IdentityCardSelectList as List<SelectListItem>;
    var salutations = ViewBag.SalutationSelectList as List<SelectListItem>;
    var genders = ViewBag.GenderSelectList as List<SelectListItem>;
    var maritalStatuses = ViewBag.MaritalStatusSelectList as List<SelectListItem>;
    var nationalities = ViewBag.IndividualNationalitySelectList as List<SelectListItem>;
    var termsOfServices = ViewBag.IndividualEmploymentTermsOfServiceSelectList as List<SelectListItem>;
    var individualClassifications = ViewBag.recordstatus as List<SelectListItem>;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Next Of Kin</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Customer", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content bg-white">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Edit", "Customer", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()



                        <h1>Next of Kin Details</h1>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = " " } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.IdentityCardNumber, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.IdentityCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IdentityCardNumber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressAddressLine1, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 2" } })
                                    @Html.ValidationMessageFor(model => model.AddressAddressLine1, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressLandLine, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressLandLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddressLandLine, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressPostalCode, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddressPostalCode, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="col-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.Gender, genders, new { @class = "form-control input-md" })
                                        @Html.ValidationMessageFor(model => model.Gender)
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Salutation, htmlAttributes: new { @class = "" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.Salutation, salutations, new { @class = "form-control input-md" })
                                        @Html.ValidationMessageFor(model => model.Salutation)
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressCity, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressAddressLine2, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressAddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 2" } })
                                    @Html.ValidationMessageFor(model => model.AddressAddressLine2, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressEmail, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddressEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.Relationship, maritalStatuses, new { @class = "form-control input-md" })
                                        @Html.ValidationMessageFor(model => model.Relationship)
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.NominatedPercentage, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.NominatedPercentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.NominatedPercentage, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.IdentityCardTypeDescription, htmlAttributes: new { @class = "" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.IdentityCardTypeDescription, identityCardTypes, new { @class = "form-control input-md" })
                                        @Html.ValidationMessageFor(model => model.IdentityCardTypeDescription)
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressStreet, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AddressMobileLine, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.AddressMobileLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.AddressMobileLine, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    }

                    <div class="form-group form-group-sm">
                        <div class="col-md-offset-2">
                            @using (Html.BeginForm("Create", "NextofKin", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                            {
                                <input type="submit" value="Create" class="btn btn-primary" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")

    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });
        });</script>
}