
@model  Application.MainBoundedContext.DTO.BackOfficeModule.LoanRequestDTO
@{
    ViewBag.Title = "Loan Request Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>System Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Membership", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AmountApplied)</strong><br>

                                @Html.DisplayFor(model => model.AmountApplied)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ReceivedDate)</strong><br>

                                @Html.DisplayFor(model => model.ReceivedDate)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanCaseNumber)</strong><br>

                                @Html.DisplayFor(model => model.LoanCaseNumber)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.RegisteredBy)</strong><br>

                                @Html.DisplayFor(model => model.RegisteredBy)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.RegisteredDate)</strong><br>

                                @Html.DisplayFor(model => model.RegisteredDate)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CancelledBy)</strong><br>

                                @Html.DisplayFor(model => model.CancelledBy)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CancelledDate)</strong><br>

                                @Html.DisplayFor(model => model.CancelledDate)<br>
                            </p>
                            <p>
                                <strong> @Html.DisplayNameFor(model => model.CreatedDate)</strong><br>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "Membership", new { id = Model.Id, Area = "Loaning" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "Membership", new { Area = "Loaning" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
