@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO

@{
    ViewBag.Title = "Loan Registration";
    var loanInterestCalculationModes = ViewBag.LoanInterestCalculationModeSelectList as List<SelectListItem>;
    var loanRegistrationLoanProductSections = ViewBag.LoanRegistrationLoanProductSectionSelectList as List<SelectListItem>;
}
<div class="row wrapper border-bottom bg-muted page-heading">
    <div class="col-lg-10">
        <h2>Loan Registrations</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LoanRegistration", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "LoanRegistration", new { Area = "Loaning" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Primary Details</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationLoanProductSection, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanRegistrationLoanProductSection, loanRegistrationLoanProductSections, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanRegistrationLoanProductSection)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanProductInvestmentsBalance, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanProductInvestmentsBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Investment Balance", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.LoanProductInvestmentsBalance, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanProductLoanBalance, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanProductLoanBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Loan Balance", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.LoanProductLoanBalance, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group" id="data_3">
                                        @Html.LabelFor(model => model.ReceivedDate, htmlAttributes: new { @class = "" })
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="receiveddate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.BranchId)
                                        @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Branch Description" } })
                                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanInterestCalculationMode, new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanInterestCalculationMode, loanInterestCalculationModes, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanInterestCalculationMode)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationMaximumAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationMaximumAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Amount" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationMaximumAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationTermInMonths, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.LoanRegistrationTermInMonths, new { htmlAttributes = new { @class = "form-control", placeholder = "Term in Months" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationTermInMonths, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.CustomerId)
                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.CustomerFullName, new { htmlAttributes = new { @class = "CustomersLookup form-control required", placeholder = "Customer" } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanInterestAnnualPercentageRate, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanInterestAnnualPercentageRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Annual Percentage Rate" } })
                                        @Html.ValidationMessageFor(model => model.LoanInterestAnnualPercentageRate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.MaximumAmountPercentage, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.MaximumAmountPercentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Amount Percentage" } })
                                        @Html.ValidationMessageFor(model => model.MaximumAmountPercentage, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AmountApplied, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.AmountApplied, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount Applied" } })
                                        @Html.ValidationMessageFor(model => model.AmountApplied, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanProductId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanProductId)
                                        @Html.ValidationMessageFor(model => model.LoanProductId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.LoanProductDescription, new { htmlAttributes = new { @class = "LoanProductsLookup form-control required", placeholder = "Loan Product Name" } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanPurposeId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.LoanPurposeId)
                                        @Html.ValidationMessageFor(model => model.LoanPurposeId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.LoanPurposeDescription, new { htmlAttributes = new { @class = "LoanPurposesLookup form-control required", placeholder = "Loan Purpose Name" } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.SavingsProductId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.SavingsProductId)
                                        @Html.ValidationMessageFor(model => model.SavingsProductId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.SavingsProductDescription, new { htmlAttributes = new { @class = "SavingsProductsLookup form-control required", placeholder = "Savings Product Name" } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", placeholder = "Remarks" } })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script>
        $(document).ready(function () {
            var entryIndex = 1; // Track the index of the entry fields

            // Add More button click event
            $('#addMoreButton').click(function () {
                var newEntry = '<input type="text" name="[' + entryIndex + '].Name" placeholder="Entry" required>' +
                    '<input type="text" name="[' + entryIndex + '].Description" placeholder="Description" required>';

                $('#dynamicEntriesContainer').append(newEntry);
                entryIndex++;
            });
        });
        $(document).ready(function () {

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
            //customers typehead starts here
            $('.CustomersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCustomersAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Customers) {
                            var newCustomersData = [];
                            CustomersMap = {};
                            $.each(Customers, function (i,Customer) {
                                newCustomersData.push(Customer.FullName);
                                CustomersMap[Customer.FullName] = Customer;
                            });
                            process(newCustomersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var customerId = "";
                    CustomerId = CustomersMap[item].Id;
                    $('#CustomerId').val(CustomerId);
                    //console.log(CustomerId)
                    return item;
                }
            });

            //LoanPurpose typehead starts here
            $('.LoanPurposesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetLoanPurposesAsync", "LoanPurpose", new { Area = "Loaning" })',
                        { query: query },
                        function (LoanPurposes) {
                            var newLoanPurposesData = [];
                            LoanPurposesMap = {};
                            $.each(LoanPurposes, function (i, LoanPurpose) {
                                newLoanPurposesData.push(LoanPurpose.Description);
                                LoanPurposesMap[LoanPurpose.Description] = LoanPurpose;
                            });
                            process(newLoanPurposesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var loanPurposeId = "";
                    LoanPurposeId = LoanPurposesMap[item].Id;
                    $('#LoanPurposeId').val(LoanPurposeId);
                    //console.log(LoanPurposeId)
                    return item;
                }
            });

            //LoanProduct typehead starts here
            $('.LoanProductsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetLoanProductsAsync", "LoanProduct", new { Area = "Accounts" })',
                        { query: query },
                        function (LoanProducts) {
                            var newLoanProductsData = [];
                            LoanProductsMap = {};
                            $.each(LoanProducts, function (i, LoanProduct) {
                                newLoanProductsData.push(LoanProduct.Description);
                                LoanProductsMap[LoanProduct.Description] = LoanProduct;
                            });
                            process(newLoanProductsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var loanProductId = "";
                    LoanProductId = LoanProductsMap[item].Id;
                    $('#LoanProductId').val(LoanProductId);
                    //console.log(LoanProductId)
                    return item;
                }
            });
            //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var BranchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
            //SavingsProduct typehead starts here
            $('.SavingsProductsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetSavingsProductsAsync", "SavingsProduct", new { Area = "Accounts" })',
                        { query: query },
                        function (SavingsProducts) {
                            var newSavingsProductsData = [];
                            SavingsProductsMap = {};
                            $.each(SavingsProducts, function (i, SavingsProduct) {
                                newSavingsProductsData.push(SavingsProduct.Description);
                                SavingsProductsMap[SavingsProduct.Description] = SavingsProduct;
                            });
                            process(newSavingsProductsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var savingsProductId = "";
                    SavingsProductId = SavingsProductsMap[item].Id;
                    $('#SavingsProductId').val(SavingsProductId);
                    //console.log(SavingsProductId)
                    return item;
                }
            });
        });

    </script>
}
