@model  Application.MainBoundedContext.DTO.AccountsModule.JournalVoucherDTO
@{
    ViewBag.Title = "Journal Voucher Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BatchOrigination_Voucher", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <h2>Journal Voucher Details</h2>
                <hr />
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Type)</strong><br>

                                @Html.DisplayFor(model => model.Type)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ChartOfAccountAccountName)</strong><br>

                                @Html.DisplayFor(model => model.ChartOfAccountAccountName)<br>
                            </p>

                            <p>
                                <strong>@Html.DisplayNameFor(model => model.PostingPeriodDescription)</strong><br>

                                @Html.DisplayFor(model => model.PostingPeriodDescription)<br>
                            </p>

                            <p>
                                <strong> @Html.DisplayNameFor(model => model.CreatedDate)</strong><br>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Reference)</strong><br>

                                @Html.DisplayFor(model => model.Reference)<br>
                            </p><p>
                                <strong>@Html.DisplayNameFor(model => model.TotalValue)</strong><br>

                                @Html.DisplayFor(model => model.TotalValue)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ValueDate)</strong><br>

                                @Html.DisplayFor(model => model.ValueDate)<br>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.EntryType)</strong><br>

                                @Html.DisplayFor(model => model.EntryType)<br>
                            </p><p>
                                <strong>@Html.DisplayNameFor(model => model.ChartOfAccountAccountName)</strong><br>

                                @Html.DisplayFor(model => model.ChartOfAccountAccountName)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.BranchDescription)</strong><br>

                                @Html.DisplayFor(model => model.BranchDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.PrimaryDescription)</strong><br>

                                @Html.DisplayFor(model => model.PrimaryDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.SecondaryDescription)</strong><br>

                                @Html.DisplayFor(model => model.SecondaryDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Reference)</strong><br>

                                @Html.DisplayFor(model => model.Reference)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.TotalValue)</strong><br>

                                @Html.DisplayFor(model => model.TotalValue)<br>
                            </p>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "BatchOrigination_Voucher", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "BatchOrigination_Voucher", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
