@model  Application.MainBoundedContext.DTO.AccountsModule.JournalVoucherDTO

@{
    /**/

    ViewBag.Title = "Create Journal Voucher";
    var journalVoucherTypes = ViewBag.JournalVoucherTypeSelectList as List<SelectListItem>;
    var journalVoucherEntryTypes = ViewBag.JournalVoucherEntryTypeSelectList as List<SelectListItem>;
}

<style>

    .custom-style {
        padding: 15px;
        margin: 10px 0;
        font-size: 18px;
        font-weight: bold;
    }
    .big-box {
        border: 1px solid gray;
        border-radius: 12px;
        background-color: #f1f1f1
    }

    .journal-voucher-container {
        border: 1px solid #ddd;
        margin-top: 20px;
        padding: 20px;
        font-weight: bold;
        font-size: 18px;
        border-radius: 8px;
        position: relative;
        padding-top: 40px; /* Space for the h2 */
        margin-bottom: 30px;
    }

        .journal-voucher-container h2 {
            position: absolute;
            top: -20px;
            left: 20px;
            background: #fff;
            padding: 0 10px;
            margin: 0;
        }

        .journal-voucher-container .form-control,
        .journal-voucher-container .input-group-addon {
            font-weight: normal; /* Retain normal weight for controls */
        }

    /* Ensure that lookups and date pickers retain their normal styles */
    .JournalVoucherEntryChartOfAccountsLookup,
    .BranchesLookup {
        font-weight: normal; /* Override bold for lookups */
    }

    .btn btn-success {
        padding: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    @*css for the journal entries*@

    #ChargeSplits {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        margin-left:20px;
        margin-right:20px;

    }

        #ChargeSplits thead {
            background-color: white;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        #ChargeSplits th, #ChargeSplits td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #ChargeSplits th {
            font-weight: bold;
        }

        #ChargeSplits tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #ChargeSplits tbody tr:hover {
            background-color: #f1f1f1;
        }

        .custom-label {
         color: #333; /* Replace with your desired color */
        }
    input.form-control {
        color: #007bff; /* Replace with your desired color */
    }



    h2{
        font-weight:bold;
    }

    #dataTableEntries {
        width: 100%;
        border-collapse: collapse;
    }

        #dataTableEntries th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            transition: background 0.3s, transform 0.3s;
        }

        #dataTableEntries th {
            background: linear-gradient(to bottom, #4a90e2, #003366);
            color: white;
            text-transform: uppercase;
            font-size: 1.1em;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #dataTableEntries tr:hover td {
            background: rgba(74, 144, 226, 0.2);
            transform: translateY(-2px);
        }

        #dataTableEntries td {
            background: #f9f9f9;
            color: #333;
        }

        #dataTableEntries tr:nth-child(even) td {
            background: #f2f2f2;
        }

        #dataTableEntries tr:nth-child(odd) td {
            background: #ffffff;
        }

        #dataTableEntries tr:last-child td {
            border-bottom: none;
        }
</style>






<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BatchOrigination_Voucher", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <h2>Voucher Details</h2>
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Details", "BatchOrigination_Voucher", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.TypeDescription, htmlAttributes: new { @class = "control-label custom-label" })
                                    @Html.EditorFor(model => model.TypeDescription, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required  custom-editor", placeholder = "Enter space to autofill G/L Account..", @readonly = "readonly" } })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ChartOfAccountId, htmlAttributes: new { @class = "control-label custom-label" })
                                    @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required  custom-editor", placeholder = "Enter space to autofill G/L Account..", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label custom-label" })
                                    @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control custom-editor", @placeholder = "Kshs. 0.00", @required = "", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group" id="data_3">
                                    @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "control-label custom-label" })
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="valuedate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.PostingPeriodId, htmlAttributes: new { @class = "control-label custom-label" })
                                    @Html.HiddenFor(model => model.PostingPeriodId)
                                    @Html.ValidationMessageFor(model => model.PostingPeriodDescription, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required  custom-editor", placeholder = "Posting Period Description", @readonly = "readonly" } })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label custom-label" })
                                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control  custom-editor", @placeholder = "Reference", @required = "", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <br />
                        <br />

                        <div style="border: 1px solid gray; padding: 20px; margin: 20px; position: relative; border-radius:12px;">
                            <h2 style="position: absolute; top: -20px; left: 20px; background: white; padding: 0 10px; color: #333;font-weight:bold;">Journal Voucher Entries</h2>

                            <row>
                                <table id="dataTableEntries" class="footable table table-striped toggle-arrow-tiny grey-table">
                                    <thead style="font-style: italic; color: #333; text-align: center;">
                                        <tr>
                                            <th style="width: 10%;">Type</th>
                                            <th style="width: 5%;">ChartofAccount Name</th>
                                            <th style="width: 10%;">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.JournalVoucherEntryDTOs != null)
                                        {
                                            foreach (var journalVoucherEntries in ViewBag.JournalVoucherEntryDTOs)
                                            {
                                                <tr data-id="@journalVoucherEntries.JournalVoucherId">
                                                    <td>@journalVoucherEntries.TypeDescription</td>
                                                    <td>@journalVoucherEntries.ChartOfAccountName</td>
                                                    <td>@journalVoucherEntries.Amount</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </row>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />
