
@model  Application.MainBoundedContext.DTO.BackOfficeModule.LoanGuarantorDTO
@{
    ViewBag.Title = "Guarantor Substitution";

    var CustomerFilter = ViewBag.CustomerFilter as List<SelectListItem>;
    var RecordStatus = ViewBag.RecordStatus as List<SelectListItem>;
}



<style>
    .table-wrapper {
        height: 300px; /* Set the height of the scrollable area */
        overflow-y: auto;
        overflow-x: hidden;
        border: solid 1px;
        border-radius: 7px;
        border-color: #333333;
    }



        .table-wrapper::-webkit-scrollbar {
            width: 8px;
        }

        .table-wrapper::-webkit-scrollbar-thumb {
            background-color: #007bff;
            border-radius: 10px;
        }

    #ChargeSplits {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        position: sticky;
        top: 0;
        background-color: #f9f9f9; /* Background color of the header */
        z-index: 1;
    }

        #ChargeSplits thead {
            background-color: white;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        #ChargeSplits th, #ChargeSplits td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #ChargeSplits th {
            font-weight: bold;
        }

        #ChargeSplits tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #ChargeSplits tbody tr:hover {
            background-color: #f1f1f1;
        }

    #savingsAccountsTable {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        position: sticky;
        top: 0;
        background-color: #f9f9f9; /* Background color of the header */
        z-index: 1;
    }

        #savingsAccountsTable thead {
            background-color: white;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        #savingsAccountsTable th, #ChargeSplits td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #savingsAccountsTable th {
            font-weight: bold;
        }

        #savingsAccountsTable tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #savingsAccountsTable tbody tr:hover {
            background-color: #f1f1f1;
        }

    .amount-section {
        margin-top: 20px;
        background-color: #e0f0ff;
        padding: 15px;
        border-radius: 8px;
        display: flex;
        width: 100%;
    }




    .navbar {
        background-color: rgba(255, 255, 255, 0.9); /* White with transparency */
        padding: 15px 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

        .nav-menu li {
            position: relative;
            margin: 0 15px;
        }

    .nav-link {
        text-decoration: none;
        color: #333; /* Dark gray for text */
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.3s ease;
        background-color: transparent; /* Clear background for default state */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .nav-link:hover {
            background-color: rgba(0, 123, 255, 0.2); /* Light blue on hover */
            color: #007bff; /* Blue for active link */
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        .nav-link:active {
            transform: translateY(0);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }
</style>





<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Back Office</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "GuarantorSubstitution", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>



<br />
<nav class="navbar">
    <ul class="nav-menu">
        <li>@Html.ActionLink("Loan Restructuring", "Create", "LoanRestructuring", new { area = "Loaning" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Guarantor Attachment", "Create", "GuarantorAttachment", new { area = "Loaning" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Guarantor Substitution", "Create", "GuarantorSubstitution", new { area = "Loaning" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Guarantor Relieving", "Create", "GuarantorRelieving", new { area = "Loaning" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Guarantor Management", "Create", "GuarantorManagement", new { area = "Loaning" }, new { @class = "nav-link" })</li>
    </ul>
</nav>



<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Guarantor Substitution</h2>

                    @if (TempData["AccountStatus"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Attempt Failed !</strong> @TempData["AccountStatus"]
                        </div>
                    }


                    @if (TempData["AccountProductCode"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Attempt Failed !</strong> @TempData["AccountProductCode"]
                        </div>
                    }

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Create", "GuarantorSubstitution", new { Area = "Loaning" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerFullName, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.LoaneeCustomerId)
                                        @Html.TextBoxFor(model => model.LoaneeCustomerIndividualFirstName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Customer Account..." })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#CustomerLookupModal"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerTypeDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerNonIndividualDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.EmployerDescription, htmlAttributes: new { @class = "" })
                                        @Html.HiddenFor(model => model.EmployerId)
                                        @Html.EditorFor(model => model.EmployerDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.EmployerDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.StationDescription, htmlAttributes: new { @class = "" })
                                        @Html.HiddenFor(model => model.StationId)
                                        @Html.EditorFor(model => model.StationDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.StationDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerPersonalIdentificationNumber, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerPersonalIdentificationNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerReference1, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerReference1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CustomerReference1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerReference2, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerReference2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CustomerReference2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerReference3, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerReference3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CustomerReference3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter text..." } })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br />


                        <!--Insert Tab for Application Details (Rows 3, 4, 5 and 6)-->
                        <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                            <li class="nav-item">
                                <a class="nav-link active" href="#loansGuaranteed"><i class="fa fa-table" aria-hidden="true"></i> Loans Guaranteed</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#savingsAccounts"><i class="fa fa-table" aria-hidden="true"></i> Savings Accounts</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#loansAccounts"><i class="fa fa-table" aria-hidden="true"></i> Loans Accounts</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#investmentsAccounts"><i class="fa fa-table" aria-hidden="true"></i> Investments Accounts</a>
                            </li>
                        </ul>

                        <div class="tab-content border-solid">
                            <div id="loansGuaranteed" class="tab-pane active">
                                <row>
                                    <div style="max-height: 500px; overflow-y: auto;">
                                        <table id="ChargeSplits" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap: normal; color: black; width: 100%;">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Select ?</th>
                                                    <th>Status</th>
                                                    <th>Loan Product</th>
                                                    <th>Total Shares</th>
                                                    <th>Committed Shares</th>
                                                    <th>Amount Guaranteed</th>
                                                    <th>Amount Pledged</th>
                                                    <th>Customer Name</th>
                                                    <th>Identity Card Number</th>
                                                    <th>Payroll Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.LoanGuarantors != null)
                                                {
                                                    foreach (var guarantors in ViewBag.LoanGuarantors)
                                                    {
                                                        <tr>
                                                            <td><input type="checkbox" id="removeEntries" class="checkbox" /></td>
                                                            <td>@guarantors.StatusDescription</td>
                                                            <td>@guarantors.LoanProductDescription</td>
                                                            <td style="text-align: right;">@guarantors.TotalShares</td>
                                                            <td style="text-align: right;">@guarantors.CommittedShares</td>
                                                            <td style="text-align: right;">@guarantors.AmountGuaranteed</td>
                                                            <td style="text-align: right;">@guarantors.AmountPledged</td>
                                                            <td>@guarantors.CustomerIndividualFirstName  @guarantors.CustomerIndividualLastName</td>
                                                            <td>@guarantors.CustomerIndividualIdentityCardNumber</td>
                                                            <td>@guarantors.CustomerIndividualPayrollNumbers</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </row>
                            </div>



                            <div id="savingsAccounts" class="tab-pane" style="margin-left: 20px;">
                                <row>
                                    <div style="max-height: 500px; overflow-y: auto;">
                                        <table id="savingsAccountsTable" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap: normal; color: black; width: 100%;">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Account Status</th>
                                                    <th>Record Status</th>
                                                    <th>Customer Type</th>
                                                    <th>Gender</th>
                                                    <th>Identity Card Type</th>
                                                    <th>Identity Card Number</th>
                                                    <th>Serial Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Mobile Line</th>
                                                    <th>E-Mail</th>
                                                    <th>Account Number</th>
                                                    <th>Membership Number</th>
                                                    <th>Product</th>
                                                    <th>Section</th>
                                                    <th>Full Account Number</th>
                                                    <th>Book Balance</th>
                                                    <th>Available Balance</th>
                                                    <th>Principal Balance</th>
                                                    <th>Interest Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--Rows will be dynamically inserted here-->
                                            </tbody>
                                        </table>
                                    </div>
                                </row>
                            </div>


                            <div id="loansAccounts" class="tab-pane" style="margin-left: 20px;">
                                <row>
                                    <div style="max-height: 500px; overflow-y: auto;">
                                        <table id="ChargeSplits" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap: normal; color: black; width: 100%;">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Account Status</th>
                                                    <th>Record Status</th>
                                                    <th>Customer Type</th>
                                                    <th>Gender</th>
                                                    <th>Identity Card Type</th>
                                                    <th>Identity Card Number</th>
                                                    <th>Serial Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Mobile Line</th>
                                                    <th>E-Mail</th>
                                                    <th>Account Number</th>
                                                    <th>Membership Number</th>
                                                    <th>Product</th>
                                                    <th>Section</th>
                                                    <th>Full Account Number</th>
                                                    <th>Book Balance</th>
                                                    <th>Available Balance</th>
                                                    <th>Principal Balance</th>
                                                    <th>Interest Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.LoanAccounts != null)
                                                {
                                                    foreach (var loans in ViewBag.LoanAccounts)
                                                    {
                                                        <tr>
                                                            <td>@loans.StatusDescription</td>
                                                            <td>@loans.RecordStatusDescription</td>
                                                            <td>@loans.CustomerTypeDescription</td>
                                                            <td>@loans.CustomerIndividualGenderDescription</td>
                                                            <td>@loans.CustomerIndividualIdentityCardTypeDescription</td>
                                                            <td>@loans.CustomerIndividualIdentityCardNumber</td>
                                                            <td>@loans.PaddedCustomerSerialNumber</td>
                                                            <td>@loans.CustomerFullName</td>
                                                            <td>@loans.CustomerAddressMobileLine</td>
                                                            <td>@loans.CustomerAddressEmail</td>
                                                            <td>@loans.CustomerReference1</td>
                                                            <td>@loans.CustomerReference2</td>
                                                            <td>@loans.CustomerAccountTypeTargetProductDescription</td>
                                                            <td>@loans.CustomerAccountTypeTargetProductLoanProductSectionDescription</td>
                                                            <td>@loans.FullAccountNumber</td>
                                                            <td style="text-align: right;">@loans.BookBalance</td>
                                                            <td style="text-align: right;">@loans.AvailableBalance</td>
                                                            <td style="text-align: right;">@loans.PrincipalBalance</td>
                                                            <td style="text-align: right;">@loans.InterestBalance</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </row>
                            </div>


                            <div id="investmentsAccounts" class="tab-pane" style="margin-left: 20px;">
                                <row>
                                    <div style="max-height: 500px; overflow-y: auto;">
                                        <table id="ChargeSplits" class="footable table table-striped toggle-arrow-tiny grey-table" style="text-wrap: normal; color: black; width: 100%;">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th>Account Status</th>
                                                    <th>Record Status</th>
                                                    <th>Customer Type</th>
                                                    <th>Gender</th>
                                                    <th>Identity Card Type</th>
                                                    <th>Identity Card Number</th>
                                                    <th>Serial Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Mobile Line</th>
                                                    <th>E-Mail</th>
                                                    <th>Account Number</th>
                                                    <th>Membership Number</th>
                                                    <th>Product</th>
                                                    <th>Section</th>
                                                    <th>Full Account Number</th>
                                                    <th>Book Balance</th>
                                                    <th>Available Balance</th>
                                                    <th>Principal Balance</th>
                                                    <th>Interest Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.InvestmentsAccounts != null)
                                                {
                                                    foreach (var investments in ViewBag.InvestmentsAccounts)
                                                    {
                                                        <tr>
                                                            <td>@investments.StatusDescription</td>
                                                            <td>@investments.RecordStatusDescription</td>
                                                            <td>@investments.CustomerTypeDescription</td>
                                                            <td>@investments.CustomerIndividualGenderDescription</td>
                                                            <td>@investments.CustomerIndividualIdentityCardTypeDescription</td>
                                                            <td>@investments.CustomerIndividualIdentityCardNumber</td>
                                                            <td>@investments.PaddedCustomerSerialNumber</td>
                                                            <td>@investments.CustomerFullName</td>
                                                            <td>@investments.CustomerAddressMobileLine</td>
                                                            <td>@investments.CustomerAddressEmail</td>
                                                            <td>@investments.CustomerReference1</td>
                                                            <td>@investments.CustomerReference2</td>
                                                            <td>@investments.CustomerAccountTypeTargetProductDescription</td>
                                                            <td>@investments.CustomerAccountTypeTargetProductLoanProductSectionDescription</td>
                                                            <td>@investments.FullAccountNumber</td>
                                                            <td style="text-align: right;">@investments.BookBalance</td>
                                                            <td style="text-align: right;">@investments.AvailableBalance</td>
                                                            <td style="text-align: right;">@investments.PrincipalBalance</td>
                                                            <td style="text-align: right;">@investments.InterestBalance</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </row>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />



                        <div class="row">
                            <div class="col-md-3 form-group">
                                @Html.LabelFor(model => model.GuarantorFullName, new { @class = "control-label" })
                                <div class="input-group" data-autoclose="true">
                                    @Html.HiddenFor(model => model.GuarantorId)
                                    @Html.TextBoxFor(model => model.GuarantorFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link Substitute Guarantor..." })
                                    <span class="input-group-addon">
                                        <a data-toggle="modal" data-target="#substituteGuarantorLookupModal"><span class="fa fa-search"></span></a>
                                    </span>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorTypeDescription, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GuarantorTypeDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.GuarantorTypeDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorEmployerDescription, htmlAttributes: new { @class = "" })
                                    @Html.HiddenFor(model => model.GuarantorEmployerId)
                                    @Html.EditorFor(model => model.GuarantorEmployerDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorStationDescription, htmlAttributes: new { @class = "" })
                                    @Html.HiddenFor(model => model.GuarantorStationId)
                                    @Html.EditorFor(model => model.GuarantorStationDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorIdentificationNumber, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GuarantorIdentificationNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.GuarantorIdentificationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorRef1, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GuarantorRef1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.GuarantorRef1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorRef2, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GuarantorRef2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.GuarantorRef2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorRef3, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GuarantorRef3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.GuarantorRef3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.GuarantorRemarks, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GuarantorRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter text..." } })
                                    @Html.ValidationMessageFor(model => model.GuarantorRemarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="amount-section">
                                <div class="col-lg-1">
                                    <button id="submit-btn" class="btn btn-primary" style="width: 150px;">Create</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="CustomerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customer Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>


            <form id="modalFilterForm" style="align-items: center; justify-content: center;">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Customer Filter", "Customer Filter")
                        @Html.DropDownList("customerFilter", CustomerFilter, new { @class = "form-control", id = "customerFilter" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label("Record Status", "Record Status")
                        @Html.DropDownList("recordStatus", RecordStatus, new { @class = "form-control", id = "recordStatus" })
                    </div>

                    <div class="form-group col-md-2" style="align-content:center; margin-top: 22px;">
                        <input type="submit" value="Refresh" id="applyFilter" class="btn btn-primary" style="width: 80px; height: auto; " />
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="substituteGuarantorLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Substitute Guarantor Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="GuarantorsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <form id="modalFilterForm2" style="align-items: center; justify-content: center;">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Customer Filter", "Customer Filter")
                        @Html.DropDownList("customerFilter", CustomerFilter, new { @class = "form-control", id = "customerFilter" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label("Record Status", "Record Status")
                        @Html.DropDownList("recordStatus", RecordStatus, new { @class = "form-control", id = "recordStatus" })
                    </div>

                    <div class="form-group col-md-1" style="align-content:center; margin-top: 22px;">
                        <input type="submit" value="Refresh" id="applyFilter2" class="btn btn-primary" style="width: 80px; height: auto; " />
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")

    <script src="~/Scripts/js/navlink.js"></script>



    <script>
        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });






        ////////// Customer accounts lookup modal/////////
        // Set Default Value for Filters
        var defaultcustomerFilter = $('#customerFilter').val();
        var defaultrecordStatus = $('#recordStatus').val();


        $('#customersGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "Customer", new { Area = "Registry"}))",
        "sServerMethod": "POST",
        //Ensure to include the filters in the Ajax request
        "fnServerParams": function (aoData) {
            aoData.push(
                { "name": "customerFilter", "value": $('#customerFilter').val() || defaultcustomerFilter },
                { "name": "recordStatus", "value": $('#recordStatus').val() || defaultrecordStatus }
            );
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);

            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            var selectUrl = '<button class="btn btn-outline-info" onclick="selectCustomer(\'' + aData.Id + '\')">Select</button>';

            $('td:eq(4)', nRow).html(dt_Created);
            $('td:eq(5)', nRow).html(selectUrl);

            return nRow;
        },
        "aoColumns": [
            { "mDataProp": "Reference1", "sTitle": "Account Number", "sWidth": "10%" },
            { "mDataProp": "Reference2", "sTitle": "Membership Number", "sWidth": "10%" },
            { "mDataProp": "RecordStatusDescription", "sTitle": "Record Status", "sWidth": "10%" },
            { "mDataProp": "FullName", "sTitle": "Customer", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

        //Refresh button for reloading the Datable after Applying the filters
        $('#modalFilterForm').on('submit', function (e) {
            e.preventDefault();
            $('#CreditCustomerAccountsGrid').DataTable().ajax.reload();
        });

    function selectCustomer(id) {
    $.ajax({
        url: '/Loaning/GuarantorSubstitution/CustomerLookUp',
        type: 'POST',
        data: { Id: id },
        success: function (response) {
            if (response.success) {
                // Populate fields with the returned data
                $('#LoaneeCustomerId').val(response.data.LoaneeCustomerId);
                $('#LoaneeCustomerIndividualFirstName').val(response.data.LoaneeCustomerIndividualFirstName);
                $('#CustomerNonIndividualDescription').val(response.data.CustomerNonIndividualDescription);
                $('#EmployerDescription').val(response.data.EmployerDescription);
                $('#EmployerId').val(response.data.EmployerId);
                $('#StationDescription').val(response.data.StationDescription);
                $('#StationId').val(response.data.StationId);
                $('#CustomerPersonalIdentificationNumber').val(response.data.CustomerPersonalIdentificationNumber);
                $('#CustomerReference1').val(response.data.CustomerReference1);
                $('#CustomerReference2').val(response.data.CustomerReference2);
                $('#CustomerReference3').val(response.data.CustomerReference3);
                // Close the modal
                $('#CustomerLookupModal').modal('hide');
            } else {
                alert(response.message);
            }
        },
        error: function () {
            alert('An error occurred while processing your request.');
        }
    });
   }









        ////////// Guarantor accounts lookup modal/////////
        // Set Default Value for Filters
        var defaultcustomerFilter = $('#customerFilter').val();
        var defaultrecordStatus = $('#recordStatus').val();

        $('#GuarantorsGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "Customer", new { Area = "Registry"}))",
        "sServerMethod": "POST",
        //Ensure to include the filters in the Ajax request
        "fnServerParams": function (aoData) {
            aoData.push(
                { "name": "customerFilter", "value": $('#customerFilter').val() || defaultcustomerFilter },
                { "name": "recordStatus", "value": $('#recordStatus').val() || defaultrecordStatus }
            );
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);

            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
            aData.CreatedDate = dt_Created;

            var selectUrl = '<button class="btn btn-outline-info" onclick="selectGuarantor(\'' + aData.Id + '\')">Select</button>';

            $('td:eq(4)', nRow).html(dt_Created);
            $('td:eq(5)', nRow).html(selectUrl);

            return nRow;
        },
        "aoColumns": [
            { "mDataProp": "Reference1", "sTitle": "Account Number", "sWidth": "10%" },
            { "mDataProp": "Reference2", "sTitle": "Membership Number", "sWidth": "10%" },
            { "mDataProp": "RecordStatusDescription", "sTitle": "Record Status", "sWidth": "10%" },
            { "mDataProp": "FullName", "sTitle": "Customer", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

        //Refresh button for reloading the Datable after Applying the filters
        $('#modalFilterForm2').on('submit', function (e) {
            e.preventDefault();
            $('#CreditCustomerAccountsGrid').DataTable().ajax.reload();
        });

        function selectGuarantor(id) {
    $.ajax({
        url: '/Loaning/GuarantorSubstitution/GuarantorLookUp',
        type: 'POST',
        data: { Id: id },
        success: function (response) {
            if (response.success) {
                // Populate fields with the returned data
                $('#GuarantorId').val(response.data.GuarantorId);
                $('#GuarantorFullName').val(response.data.GuarantorFullName);
                $('#GuarantorTypeDescription').val(response.data.GuarantorTypeDescription);
                $('#GuarantorEmployerDescription').val(response.data.GuarantorEmployerDescription);
                $('#GuarantorEmployerId').val(response.data.GuarantorEmployerId);
                $('#GuarantorStationDescription').val(response.data.GuarantorStationDescription);
                $('#GuarantorStationId').val(response.data.GuarantorStationId);
                $('#GuarantorIdentificationNumber').val(response.data.GuarantorIdentificationNumber);
                $('#GuarantorRef1').val(response.data.GuarantorRef1);
                $('#GuarantorRef2').val(response.data.GuarantorRef2);
                $('#GuarantorRef3').val(response.data.GuarantorRef3);
                // Close the modal
                $('#substituteGuarantorLookupModal').modal('hide');
            } else {
                alert(response.message);
            }
        },
        error: function () {
            alert('An error occurred while processing your request.');
        }
    });
        }




        // Function to make an AJAX call and update the table
function fetchCustomerData(customerId) {
    $.ajax({
        url: '@Url.Action("CustomerLookUp", "GuarantorSubstitution")',
        type: 'GET',
        data: { id: customerId },
        success: function (response) {
            if (response.success) {
                $('#savingsAccountsTable tbody').empty();

                const savingsAccounts = response.data.SavingsAccounts;
                if (savingsAccounts && savingsAccounts.length > 0) {
                    savingsAccounts.forEach(function (account) {
                        const row = `
                            <tr>
                                <td>${account.StatusDescription}</td>
                                <td>${account.RecordStatusDescription}</td>
                                <td>${account.CustomerTypeDescription}</td>
                                <td>${account.CustomerIndividualGenderDescription}</td>
                                <td>${account.CustomerIndividualIdentityCardTypeDescription}</td>
                                <td>${account.CustomerIndividualIdentityCardNumber}</td>
                                <td>${account.PaddedCustomerSerialNumber}</td>
                                <td>${account.CustomerFullName}</td>
                                <td>${account.CustomerAddressMobileLine}</td>
                                <td>${account.CustomerAddressEmail}</td>
                                <td>${account.CustomerReference1}</td>
                                <td>${account.CustomerReference2}</td>
                                <td>${account.CustomerAccountTypeTargetProductDescription}</td>
                                <td>${account.CustomerAccountTypeTargetProductLoanProductSectionDescription}</td>
                                <td>${account.FullAccountNumber}</td>
                                <td style="text-align: right;">${account.BookBalance}</td>
                                <td style="text-align: right;">${account.AvailableBalance}</td>
                                <td style="text-align: right;">${account.PrincipalBalance}</td>
                                <td style="text-align: right;">${account.InterestBalance}</td>
                            </tr>
                        `;

                        $('#savingsAccountsTable tbody').append(row);
                    });
                } else {
                    $('#savingsAccountsTable tbody').append('<tr><td colspan="19" style="text-align:center;">No Savings Accounts found</td></tr>');
                }
            } else {
                alert("Customer not found!");
            }
        },
        error: function () {
            alert("An error occurred while fetching data.");
        }
    });
}

    </script>
}
