@model  Application.MainBoundedContext.DTO.AccountsModule.InterAccountTransferBatchDTO

@{
    /**/

    ViewBag.Title = "Shares transfer";
    var customerTypes = ViewBag.CustomerTypeSelectList as List<SelectListItem>;
    var individualTypes = ViewBag.IndividualTypeSelectList as List<SelectListItem>;
    var identityCardTypes = ViewBag.IdentityCardSelectList as List<SelectListItem>;
    var salutations = ViewBag.SalutationSelectList as List<SelectListItem>;
    var genders = ViewBag.GenderSelectList as List<SelectListItem>;
    var maritalStatuses = ViewBag.MaritalStatusSelectList as List<SelectListItem>;
    var nationalities = ViewBag.signatoryRelationshipSelectList as List<SelectListItem>;
    var termsOfServices = ViewBag.IndividualEmploymentTermsOfServiceSelectList as List<SelectListItem>;
    var individualClassifications = ViewBag.IndividualClassificationSelectList as List<SelectListItem>;
    var withdrawalNotificationCategories = ViewBag.WithdrawalNotificationCategorySelectList as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Shares transfer</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "IntraAccountTransfer", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>




@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-dark">
                    @using (Html.BeginForm("Create", "IntraAccountTransfer", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="col-md-13 form-group">
                                            @Html.LabelFor(model => model.CustomerAccountId, new { @class = "control-label" })
                                            <div class="input-group" data-autoclose="true">
                                                @Html.HiddenFor(model => model.CustomerAccountId)
                                                @Html.TextBoxFor(model => model.Customers.CustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.CustomerReference2, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.CustomerReference2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.CustomerReference2, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.RecordStatusDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.RecordStatusDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.RecordStatusDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.CustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.CustomerIndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.CustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.CustomerStationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.CustomerStationZoneDivisionEmployerDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.CustomerStationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.CustomerReference1, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.CustomerReference1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.CustomerReference1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.CustomerSerialNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.CustomerSerialNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.CustomerSerialNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.CustomerIndividualIdentityCardNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.CustomerIndividualIdentityCardNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.CustomerIndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Customers.AvailableBalance, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Customers.AvailableBalance, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Customers.AvailableBalance, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-3">

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.ValidationMessageFor(model => model.BranchDescription, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "press space bar to lookup branch" } })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <h2 style="color: cadetblue;">Apportionments</h2>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="col-md-13 form-group">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.FullAccountNumber, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(model => model.CustomerAccountId)
                                        @Html.TextBoxFor(model => model.interAccountTransferBatch.CustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#customer2LookupModal"><span class="fa fa-search"></span></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.CustomerReference2, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.CustomerReference2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.CustomerReference2, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.RecordStatusDescription, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Customers.RecordStatusDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.Customers.RecordStatusDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.CustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.CustomerIndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.CustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.CustomerStationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.CustomerStationZoneDivisionEmployerDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.CustomerStationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.CustomerReference1, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.CustomerReference1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.CustomerReference1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.CustomerSerialNumber, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.CustomerSerialNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.CustomerSerialNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.CustomerIndividualIdentityCardNumber, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.CustomerIndividualIdentityCardNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.CustomerIndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.AvailableBalance, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.AvailableBalance, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.AvailableBalance, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.InterestBalance, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.InterestBalance, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.InterestBalance, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.PrincipalBalance, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.PrincipalBalance, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.PrincipalBalance, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.interAccountTransferBatch.BookBalance, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.interAccountTransferBatch.BookBalance, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.interAccountTransferBatch.BookBalance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <input type="submit" style="width: 150px;" value="Create" class="btn btn-primary" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customer Acccounts Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="customer2LookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customer Acccounts Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="customers2Grid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    <script>

         //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
$('#customers2Grid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "CoA_Register", new { Area = "Accounts" }))",
                "sServerMethod": "POST",
                // Callback settings

                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Accounts/IntraAccountTransfer/Search/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                  //  $('td:eq(6)', nRow).html(dt_Created);
                    $('td:eq(5)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [

            { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "3%" },
            { "mDataProp": "CustomerReference1", "sTitle": "customer number", "sWidth": "3%" },
            { "mDataProp": "CustomerAccountTypeProductCodeDescription", "sTitle": "products", "sWidth": "3%" },
            { "mDataProp": "AvailableBalance", "sTitle": "AvailableBalance", "sWidth": "3%" },            
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "3%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });
$('#customersGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "CoA_Register", new { Area = "Accounts" }))",
                "sServerMethod": "POST",
                // Callback settings

                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/Accounts/IntraAccountTransfer/Create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(4)', nRow).html(dt_Created);
                    $('td:eq(5)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [

            { "mDataProp": "CustomerFullName", "sTitle": "CustomerFullName", "sWidth": "3%" },
            { "mDataProp": "CustomerIndividualGenderDescription", "sTitle": "Customer Gender", "sWidth": "4%" },
            { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
            { "mDataProp": "CustomerReference1", "sTitle": "customer number", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "6%" },
            { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    </script>

}
