@model Application.MainBoundedContext.DTO.AccountsModule.ChartOfAccountDTO

@{
    ViewBag.Title = "Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>ChartOfAccounts</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "ChartOfAccount", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountName)</strong>

                                @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", @readonly = "readonly" })
                            </p>

                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Parent)</strong>

                                @Html.TextBoxFor(model => model.Parent.AccountName, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountCode)</strong>

                                @Html.TextBoxFor(model => model.AccountCode, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountCategory)</strong>

                                @Html.TextBoxFor(model => model.AccountCategory, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountType)</strong>

                                @Html.TextBoxFor(model => model.AccountType, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Depth)</strong>

                                @Html.TextBoxFor(model => model.Depth, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.IsControlAccount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post Automatically Only?", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.IsControlAccount, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.IsControlAccount  , "", new { @class = "text-danger" })
                            </div>
                           <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.IsReconciliationAccount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post Automatically Only?", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.IsReconciliationAccount, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.IsReconciliationAccount, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.PostAutomaticallyOnly, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post Automatically Only?", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.PostAutomaticallyOnly, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.PostAutomaticallyOnly, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.CheckBoxFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post Automatically Only?", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                            </div>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong>

                                @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @readonly = "readonly" })
                            </p>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "ChartOfAccount", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "ChartOfAccount", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>