
@model  Application.MainBoundedContext.DTO.MessagingModule.EmailBatchBindingModel

@{
    ViewBag.Title = "Create Email Batch";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Email Batches</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "EmailBatch", new { Area = "Messaging" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    @using (Html.BeginForm("Create", "EmailBatch", new { Area = "Messaging" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.HiddenFor(model => model.CompanyId)
                                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.CompanyDescription, new { htmlAttributes = new { @class = "CompaniesLookup form-control required", placeholder = "Description.." } })
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control required", placeholder = "Subject", colspan = "10" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group form-group-lg">
                                    @Html.TextAreaFor(model => model.MessageBody, new
                               {
                                   rows = "20",
                                   style = "resize:none;width:400px;",
                                   placeholder = Html.DisplayNameFor(model => model.MessageBody),
                                   @class = "form-control input-lg textarea-editor"
                                    })
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.MessageAttachments, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MessageAttachments, new { htmlAttributes = new { @class = "form-control dropzone", placeholder = "Attachments", colspan = "10" } })
                                    @Html.ValidationMessageFor(model => model.MessageAttachments, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="form-group form-group-lg">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dropZone")

    <script type="text/javascript">
         Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            dictDefaultMessage: "<strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)"
        };

        $(document).ready(function () {

            $('.summernote').summernote();
            $('.textarea-editor').summernote({
                height: 300, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: true // set focus to editable area after initializing summernote
            });

            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                    source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Company", new { Area = "Admin" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                                CompaniesMap = {};
                                $.each(Companies, function (i, Company) {
                                    newCompaniesData.push(Company.Description);
                                    CompaniesMap[Company.Description] = Company;
                                });
                                process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                        if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                            return true;
                        }
                    },
                    sorter: function (items) {
                        return items.sort();
                    },
                    highlighter: function (item) {
                        var regex = new RegExp('(' + this.query + ')', 'gi');
                        return item.replace(regex, "<strong>$1</strong>");
                    },
                    updater: function (item) {
                        var CompanyId = "";
                        CompanyId = CompaniesMap[item].Id;
                        $('#CompanyId').val(CompanyId);
                        //console.log(CompanyId)
                        return item;
                    }
            });

             var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
                lineNumbers: true,
                matchBrackets: true
            });

            var editor_two = CodeMirror.fromTextArea(document.getElementById("code2"), {
                lineNumbers: true,
                matchBrackets: true
            });

            var editor_three = CodeMirror.fromTextArea(document.getElementById("code3"), {
                lineNumbers: true,
                matchBrackets: true
            });

            var editor_four = CodeMirror.fromTextArea(document.getElementById("code4"), {
                lineNumbers: true,
                matchBrackets: true
            });

            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
        });

        //var edit = function () {
        //    $('.click2edit').summernote({ focus: true });
        //};

        //var save = function () {
        //    var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
        //    $('.click2edit').destroy();
        //};
    </script>
}


