@model Application.MainBoundedContext.DTO.AdministrationModule.ReportDTO

@{
    ViewBag.Title = "Edit Report";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reports</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Report", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content bg-secondary text-info">
                @using (Html.BeginForm("Edit", "Report", new { Area = "Admin" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h1>Report details</h1>
                    <fieldset>
                        <h2>Report details</h2>
                        <div class="row">
                            <div class="col-lg-8">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ReportName, htmlAttributes: new { @class = "" })

                                    @Html.EditorFor(model => model.ReportName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Report Name" } })

                                    @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "" })

                                    @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Parent Name", @required = "" } })

                                    @Html.ValidationMessageFor(model => model.Parent.Parent.ReportName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <div style="margin-top: 20px">
                                        <i class="fa fa-users" style="font-size: 200px;color: #e5e5e5 "></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h1>Report</h1>
                    <h2>Report</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.ReportPath, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.ReportPath, new { htmlAttributes = new { @class = "form-control", @placeholder = "Report Path" } })

                                @Html.ValidationMessageFor(model => model.ReportPath, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.ReportURL, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.ReportURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Report URL" } })

                                @Html.ValidationMessageFor(model => model.ReportURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(model => model.ReportQuery, htmlAttributes: new { @class = "" })

                            @Html.EditorFor(model => model.ReportQuery, new { htmlAttributes = new { @class = "form-control", @placeholder = "Report Query", @required = "" } })

                            @Html.ValidationMessageFor(model => model.ReportQuery, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(model => model.ReportPort, htmlAttributes: new { @class = "" })

                            @Html.EditorFor(model => model.ReportPort, new { htmlAttributes = new { @class = "form-control", @placeholder = "Report Port" } })

                            @Html.ValidationMessageFor(model => model.ReportPort, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", @placeholder = "Category" } })

                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "CategoryDescription" } })

                                @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Depth, htmlAttributes: new { @class = "" })

                                @Html.EditorFor(model => model.Depth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Depth" } })

                                @Html.ValidationMessageFor(model => model.Depth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index", "Report", new { Area = "Admin" }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")

    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });
        });</script>
}