@model  Application.MainBoundedContext.DTO.AdministrationModule.UserBindingModel
@{
    ViewBag.Title = "Create System User";
    var commissions = ViewBag.branches;

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>System Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Membership", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "Membership", new { Area = "Admin" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <!-- Company Linkage Section -->
                            <div class="col-lg-6">
                                <!-- Branch Selection -->
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BranchId, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(Model => Model.BranchId)
                                        @Html.TextBoxFor(model => model.BranchDescription, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#companyLookupModal">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                                <!-- Employee Selection -->
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label" })
                                    <div class="input-group" data-autoclose="true">
                                        @Html.HiddenFor(Model => Model.EmployeeId)
                                        @Html.TextBoxFor(model => model.EmployeeCustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#customerLookup">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                                <!-- Phone Number -->
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control required", placeholder = "Phone number", @disabled = "@disabled" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- User Details Section -->
                            <div class="col-lg-6">
                                <!-- Email -->
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control required", placeholder = "Email address" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <!-- Designation -->
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.EmployeeDesignationDescription, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.EmployeeDesignationDescription, new { htmlAttributes = new { @class = "form-control required", placeholder = "dep", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeDesignationDescription, "", new { @class = "text-danger" })
                                </div>

                                <!-- Username -->
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control required", placeholder = "Username" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Hidden Fields -->
                        <input type="hidden" name="SelectedRoles" id="SelectedRoles" />
                        <input type="hidden" name="SelectedBranches" id="SelectedBranches" />

                        <!-- Tabs -->
                        <ul class="nav nav-tabs" id="roleBranchTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="roles-tab" data-toggle="tab" href="#roles" role="tab">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="branches-tab" data-toggle="tab" href="#branches" role="tab">Branches</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!-- Roles Tab -->
                            <div class="tab-pane fade show active" id="roles" role="tabpanel">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Role Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.role != null)
                                        {
                                            foreach (var commission in ViewBag.role)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="commisionIds" value="@commission" />
                                                    </td>
                                                    <td>@($"{commission.roleName}")</td>
                                                </tr>
                                            }
                                        }

                                        else
                                        {
                                            <tr>
                                                <td colspan="2">No commissions available</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!-- Branches Tab -->
                            <div class="tab-pane fade" id="branches" role="tabpanel">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Branch Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (commissions != null)
                                        {
                                            foreach (var commission in commissions)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="commisionIds" value="@commission.Id" />
                                                    </td>
                                                    <td>@commission.Description</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2">No commissions available</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </div>

            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="customerLookup" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">
                    Employee Lookup
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                </h3>
            </div>
            <div class="modal-body">
                <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Branch Name</th>
                            <th>Department Description</th>
                            <th>Nationality</th>
                            <th>Gender</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dataTables_empty">Loading data from server</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="companyLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Companies Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="companiesGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")


    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    //roles typehead starts here
            $('.rolesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetRoles", "Role", new { Area = "Admin" })',
                        { query: query },
                        function (roles) {
                            var newRolesData = [];
                            rolesMap = {};
                            $.each(roles, function (i,role) {
                                newRolesData.push(role.Name);
                                rolesMap[role.Name] = role;
                            });
                            process(newRolesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var roleId = "";
                    roleId = rolesMap[item].Id;
                    $('#RoleId').val(roleId);
                    //console.log(roleId)
                    return item;
                }
            });</script>
    <script>
        // Initialize companies grid
        $('#companiesGrid').DataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/Admin/Branch/Index", // Updated file path
            "sServerMethod": "POST",
            "fnRowCallback": function (nRow, aData) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                var formattedDate = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + createdDate.toTimeString().split(' ')[0];
                $('td:eq(4)', nRow).html(formattedDate);
                $('td:eq(5)', nRow).html('<a href="#" class="btn btn-outline-info select-branch" data-id="' + aData.Id + '" data-description="' + aData.Description + '">Select</a>');
                return nRow;
            },
            "aoColumns": [
                { "mDataProp": "Description", "sTitle": "Name" },
                { "mDataProp": "AddressAddressLine1", "sTitle": "Address 1" },
                { "mDataProp": "AddressMobileLine", "sTitle": "Mobile No." },
                { "mDataProp": "AddressEmail", "sTitle": "Email" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                { "mDataProp": null, "sTitle": "", "bSortable": false }
            ],
            "aaSorting": [[0, "desc"]]
        });

        // Handle row selection asynchronously
        $('#companiesGrid tbody').on('click', '.select-branch', function (e) {
            e.preventDefault();
            var branchId = $(this).data('id');

            $.ajax({
                url: '/Admin/Membership/GetBranchesDetails', // Endpoint for fetching branch details
                type: 'GET',
                data: { branchId: branchId },
                success: function (response) {
                    if (response.success) {
                        // Populate fields based on the JSON response
                        Object.keys(response.data).forEach(function (key) {
                            $('#' + key).val(response.data[key]);
                        });
                        $('#companyLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while fetching the Branch details.');
                }
            });
        });
    </script>
    @*<script>
        // Initialize companies grid
        $('#companiesGrid').DataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/Admin/Branch/Index",
            "sServerMethod": "POST",
            "fnRowCallback": function (nRow, aData) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                var formattedDate = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + createdDate.toTimeString().split(' ')[0];
                $('td:eq(4)', nRow).html(formattedDate);
                $('td:eq(5)', nRow).html('<a href="#" class="btn btn-outline-info select-branch" data-id="' + aData.Id + '" data-description="' + aData.Description + '">Select</a>');
                return nRow;
            },
            "aoColumns": [
                { "mDataProp": "Description", "sTitle": "Name" },
                { "mDataProp": "AddressAddressLine1", "sTitle": "Address 1" },
                { "mDataProp": "AddressMobileLine", "sTitle": "Mobile No." },
                { "mDataProp": "AddressEmail", "sTitle": "Email" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                { "mDataProp": null, "sTitle": "", "bSortable": false }
            ],
            "aaSorting": [[0, "desc"]]
        });

        // Handle row selection asynchronously
        $('#companiesGrid tbody').on('click', '.select-branch', function (e) {
            e.preventDefault();
            var branchId = $(this).data('id');
            var branchDescription = $(this).data('description');

            // Update textboxes without page reload
            $('#BranchId').val(branchId);
            $('input[name=BranchId]').val(branchId);
            $('input[name=CompanyDescription]').val(branchDescription);

            // Close modal if necessary
            $('#companyLookupModal').modal('hide');
        });

        // Submit form with JSON response handling
        $('#submitForm').on('click', function (e) {
            e.preventDefault(); // Prevent default form submission

            var formData = $('#formId').serialize(); // Serialize form data

            $.ajax({
                url: '@Url.Action("GetBranchesDetails", "Membership", new { Area = "Admin" })', // Replace with your actual endpoint
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle success response
                    if (response.success) {
                        alert('Form submitted successfully!');
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error('Error:', error);
                    alert('An error occurred while submitting the form.');
                }
            });
        });
            </script>*@

    <script type="text/javascript">
    $(document).ready(function () {
        // Initialize customers grid
        $('#customersGrid').DataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("Index", "Employee", new { Area = "HumanResource" })",
            "sServerMethod": "POST",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    dataType: 'json',
                    type: 'POST',
                    url: sSource,
                    data: aoData,
                    success: fnCallback,
                    error: function () {
                        alert('Error retrieving data from the server.');
                    }
                });
            },
            "aoColumns": [
                { "mDataProp": "Customer.FullName", "sTitle": "Name", "sWidth": "15%" },
                { "mDataProp": "BranchDescription", "sTitle": "Branch Name", "sWidth": "10%" },
                { "mDataProp": "DepartmentDescription", "sTitle": "Department Description", "sWidth": "15%" },
                { "mDataProp": "CustomerIndividualNationalityDescription", "sTitle": "Nationality", "sWidth": "15%" },
                { "mDataProp": "CustomerIndividualGenderDescription", "sTitle": "Gender", "sWidth": "15%" },
                {
                    "mDataProp": "CreatedDate",
                    "sTitle": "Created Date",
                    "sWidth": "15%",
                    "mRender": function (data) {
                        var createdDate = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                        return $.datepicker.formatDate('dd/mm/yy', createdDate);
                    }
                },
                {
                    "mDataProp": null,
                    "sTitle": "Action",
                    "sWidth": "15%",
                    "bSortable": false,
                    "mRender": function (data, type, row) {
                        return '<a href="#" class="btn btn-outline-info select-customer" data-id="' + row.Id + '">Select</a>';
                    }
                }
            ],
            "aaSorting": [[0, "desc"]]
        });

        // Handle customer selection
        $('#customersGrid tbody').on('click', '.select-customer', function () {
            var employeeId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("GetEmployeeDetails", "Membership", new { Area = "Admin" })',
                type: 'GET',
                data: { employeeId: employeeId },
                success: function (response) {
                    if (response.success) {
                        Object.keys(response.data).forEach(function (key) {
                            $('#' + key).val(response.data[key]);
                        });
                        $('#customerLookup').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while fetching the Customer details.');
                }
            });
        });

        @*// Initialize companies grid
        $('#companiesGrid').DataTable({
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("Index", "Branch", new { Area = "Admin" })",
            "sServerMethod": "POST",
            "fnRowCallback": function (nRow, aData) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                var formattedDate = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + createdDate.toTimeString().split(' ')[0];
                $('td:eq(4)', nRow).html(formattedDate);
                $('td:eq(5)', nRow).html('<a href="/admin/membership/GetBranchesDetails/' + aData.Id + '" class="btn btn-outline-info">Select</a>');
                return nRow;
            },
            "aoColumns": [
                { "mDataProp": "Description", "sTitle": "Name" },
                { "mDataProp": "AddressAddressLine1", "sTitle": "Address 1" },
                { "mDataProp": "AddressMobileLine", "sTitle": "Mobile No." },
                { "mDataProp": "AddressEmail", "sTitle": "Email" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                { "mDataProp": "CreatedDate", "sTitle": "", "bSortable": false }
            ],
            "aaSorting": [[0, "desc"]]
        });

        $('#companiesGrid tbody').on('click', 'tr', function () {
            var data = $('#companiesGrid').DataTable().row(this).data();
            $('#BranchId').val(data.Id);
            $('input[name=BranchId]').val(data.Id);
            $('input[name=CompanyDescription]').val(data.Description);
            $('#companyLookupModal').modal('hide');
        });*@

        @*// Initialize typeahead for roles
        $('.rolesLookup').typeahead({
            source: function (query, process) {
                return $.getJSON('@Url.Action("GetRoles", "Role", new { Area = "Admin" })', { query: query }, function (roles) {
                    var rolesData = [];
                    var rolesMap = {};
                    roles.forEach(function (role) {
                        rolesData.push(role.Name);
                        rolesMap[role.Name] = role;
                    });
                    process(rolesData);
                });
            },
            updater: function (item) {
                $('#RoleId').val(rolesMap[item].Id);
                return item;
            }
        });*@

        // Initialize typeahead for companies
        $('.CompaniesLookup').typeahead({
            source: function (query, process) {
                return $.getJSON('@Url.Action("GetCompaniesAsync", "Company", new { Area = "Admin" })', { query: query }, function (companies) {
                    var companiesData = [];
                    var companiesMap = {};
                    companies.forEach(function (company) {
                        companiesData.push(company.Description);
                        companiesMap[company.Description] = company;
                    });
                    process(companiesData);
                });
            },
            updater: function (item) {
                $('#CompanyId').val(companiesMap[item].Id);
                return item;
            }
        });
    });
    </script>

    @*<script>
                    $(document).ready(function () {
                 $('#customersGrid').DataTable({
                     "sPaginationType": "full_numbers",
                     "bProcessing": true,
                     "bServerSide": true,
                     "sAjaxSource": "@Url.Action("Index", "Employee", new { Area = "HumanResource" })",
                     "sServerMethod": "POST",
                     "fnServerData": function (sSource, aoData, fnCallback) {
                         $.ajax({
                             dataType: 'json',
                             type: 'POST',
                             url: sSource,
                             data: aoData,
                             success: function (response) {
                                 fnCallback(response);
                             },
                             error: function () {
                                 alert('Error retrieving data from the server.');
                             }
                         });
                     },
                     "aoColumns": [
                         { "mDataProp": "Customer.FullName", "sTitle": "Name", "sWidth": "15%" },
                         { "mDataProp": "BranchDescription", "sTitle": "Branch Name", "sWidth": "10%" },
                         { "mDataProp": "DepartmentDescription", "sTitle": "Department Description", "sWidth": "15%" },
                         { "mDataProp": "CustomerIndividualNationalityDescription", "sTitle": "Nationality", "sWidth": "15%" },
                         { "mDataProp": "CustomerIndividualGenderDescription", "sTitle": "Gender", "sWidth": "15%" },
                         {
                             "mDataProp": "CreatedDate",
                             "sTitle": "Created Date",
                             "sWidth": "15%",
                             "mRender": function (data) {
                                 var createdDate = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                                 return $.datepicker.formatDate('dd/mm/yy', createdDate);
                             }
                         },
                         {
                             "mDataProp": null,
                             "sTitle": "Action",
                             "sWidth": "15%",
                             "bSortable": false,
                             "mRender": function (data, type, row) {
                                 return '<a href="#" class="btn btn-outline-info select-customer" data-id="' + row.Id + '">Select</a>';
                             }
                         }
                     ],
                     "aaSorting": [[0, "desc"]]
                 });

                        $('#customersGrid tbody').on('click', '.select-customer', function () {
                            var employeeId = $(this).data('id');

                     $.ajax({
                         url: '@Url.Action("GetEmployeeDetails", "Membership", new { Area = "Admin" })',
                         type: 'GET',
                         data: { employeeId: employeeId },
                         success: function (response) {
                             if (response.success) {
                                 $('#EmployeeCustomerFullName').val(response.data.EmployeeCustomerFullName);
                                 $('#EmployeeCustomerId').val(response.data.EmployeeCustomerId);
                                 $('#EmployeeId').val(response.data.EmployeeId);
                                 $('#EmployeeBloodGroupDescription').val(response.data.EmployeeBloodGroupDescription);
                                 $('#EmployeeNationalHospitalInsuranceFundNumber').val(response.data.EmployeeNationalHospitalInsuranceFundNumber);
                                 $('#EmployeeNationalSocialSecurityFundNumber').val(response.data.EmployeeNationalSocialSecurityFundNumber);
                                 $('#EmployeeCustomerPersonalIdentificationNumber').val(response.data.EmployeeCustomerPersonalIdentificationNumber);
                                 $('#EmployeeEmployeeTypeCategoryDescription').val(response.data.EmployeeEmployeeTypeCategoryDescription);
                                 $('#EmployeeEmployeeTypeDescription').val(response.data.EmployeeEmployeeTypeDescription);
                                 $('#EmployeeDepartmentDescription').val(response.data.EmployeeDepartmentDescription);
                                 $('#EmployeeDepartmentId').val(response.data.EmployeeDepartmentId);
                                 $('#EmployeeDesignationDescription').val(response.data.EmployeeDesignationDescription);
                                 $('#EmployeeEmployeeTypeCategoryDescription').val(response.data.EmployeeEmployeeTypeCategoryDescription);
                                 $('#EmployeeEmployeeTypeDescription').val(response.data.EmployeeEmployeeTypeDescription);
                                 $('#EmployeeDesignationId').val(response.data.EmployeeDesignationId);
                                 $('#EmployeeBranchDescription').val(response.data.EmployeeBranchDescription);
                                 $('#EmployeeBranchId').val(response.data.EmployeeBranchId);
                                 $('#EmployeeCustomerIndividualGenderDescription').val(response.data.EmployeeCustomerIndividualGenderDescription);
                                 $('#EmployeeCustomerIndividualPayrollNumbers').val(response.data.EmployeeCustomerIndividualPayrollNumbers);
                                 $('#EmployeeEmployeeTypeId').val(response.data.EmployeeEmployeeTypeId);
                                 $('#EmployeeEmployeeTypeChartOfAccountId').val(response.data.EmployeeEmployeeTypeChartOfAccountId);





                                 $('#customerLookup').modal('hide');
                             } else {
                                 alert(response.message);
                             }
                         },
                         error: function () {
                             alert('An error occurred while fetching the Customer details.');
                         }
                     });
                 });
             });

         </script>

         <script>
        $('#companiesGrid').DataTable({
         // Ajax settings
         "sPaginationType": "full_numbers",
         "bProcessing": true,
         "bServerSide": true,
         "sAjaxSource": "@(Url.Action("Index", "Branch", new { Area = "Admin"}))",
         "sServerMethod": "POST",
         // Callback settings
         "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

         var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
         var h = ("0" + createdDate.getHours()).slice(-2);
         var m = ("0" + createdDate.getMinutes()).slice(-2);
         var s = ("0" + createdDate.getSeconds()).slice(-2);

         var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
         aData.CreatedDate = dt_Created;

         var selectUrl = '<a href="/admin/membership/create/' + aData.Id + '" class="btn btn-outline-info" ">' + 'Select</a>';

                         $('td:eq(4)', nRow).html(dt_Created);
                         $('td:eq(5)', nRow).html(selectUrl);

                         return nRow;
                     },
                     // Display settings
                     " aoColumns": [
                             { "mDataProp" : "Description" , "sTitle" : "Name" },
                             { "mDataProp" : "AddressAddressLine1" , "sTitle" : "Address 1" },
                             { "mDataProp" : "AddressMobileLine" , "sTitle" : "Mobile No." },
                             { "mDataProp" : "AddressEmail" , "sTitle" : "Email" },
                             { "mDataProp" : "CreatedDate" , "sTitle" : "Created Date" },
                             { "mDataProp" : "CreatedDate" , "sTitle" : "" , "bSortable" : false }],
                             "aaSorting" : [[0, "desc" ]]
                             });
                             $("#s tbody").on("click", "tr" , function () {
                             var data=companiesGrid.row(this).data();
                             $('#BranchId').val(data.Id);
                             $('input[name=BranchId]').val(data.Id);
                             $('input[name=CompanyDescription]').val(data.Description);
                             //$('input[name =ChartOfAccountAccountCode]').val(data.AccountCode);
                             $('#companyLookupModal').modal('hide');
                             });
         </script>
         <script>
             $(document).ready(function () {

                 $("#wizard").steps();



                             //roles typehead starts here
                             $('.rolesLookup').typeahead({
                             source: function (query, process) {
                             return $.getJSON(
                             '@Url.Action("GetRoles", "Role", new { Area = "Admin" })' ,
                             { query: query },
                             function (roles) {
                             var newRolesData=[];
                             rolesMap={};
                             $.each(roles, function (i,role) {
                             newRolesData.push(role.Name);
                             rolesMap[role.Name]=role;
                             });
                             process(newRolesData); return;
                             });
                             },
                             matcher: function (item) {
                             if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) !=-1) {
                             return true;
                             }
                             },
                             sorter: function (items) {
                             return items.sort();
                             },
                             highlighter: function (item) {
                             var regex=new RegExp('(' + this.query + ')' , 'gi' );
                             return item.replace(regex, "<strong>$1</strong>" );
                             },
                             updater: function (item) {
                             var roleId="" ;
                             roleId=rolesMap[item].Id;
                             $('#RoleId').val(roleId);
                             //console.log(roleId)
                             return item;
                             }
                             });
                             //Company typehead starts here
                             $('.CompaniesLookup').typeahead({
                             source: function (query, process) {
                             return $.getJSON(
                             '@Url.Action("GetCompaniesAsync", "Company", new { Area = "Admin" })' ,
                             { query: query },
                             function (Companies) {
                             var newCompaniesData=[];
                             CompaniesMap={};
                             $.each(Companies, function (i, Company) {
                             newCompaniesData.push(Company.Description);
                             CompaniesMap[Company.Description]=Company;
                             });
                             process(newCompaniesData); return;
                             });
                             },
                             matcher: function (item) {
                             if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) !=-1) {
                             return true;
                             }
                             },
                             sorter: function (items) {
                             return items.sort();
                             },
                             highlighter: function (item) {
                             var regex=new RegExp('(' + this.query + ')' , 'gi' );
                             return item.replace(regex, "<strong>$1</strong>" );
                             },
                             updater: function (item) {
                             var CompanyId="" ;
                             CompanyId=CompaniesMap[item].Id;
                             $('#CompanyId').val(CompanyId);
                             //console.log(CompanyId)
                             return item;
                             }
                             });
                             } );

         </script>*@
}