

@model Application.MainBoundedContext.DTO.AccountsModule.InsuranceCompanyDTO

@{
    ViewBag.Title = "Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Insurance Companies</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "InsuranceCompany", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressAddressLine1)<br></strong>

                                @Html.DisplayFor(model => model.AddressAddressLine1)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressAddressLine2)<br></strong>

                                @Html.DisplayFor(model => model.AddressAddressLine2)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressStreet)<br></strong>

                                @Html.DisplayFor(model => model.AddressStreet)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressPostalCode)<br></strong>

                                @Html.DisplayFor(model => model.AddressPostalCode)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressCity)<br></strong>

                                @Html.DisplayFor(model => model.AddressCity)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressEmail)<br></strong>

                                @Html.DisplayFor(model => model.AddressEmail)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressMobileLine)<br></strong>

                                @Html.DisplayFor(model => model.AddressMobileLine)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AddressLandLine)<br></strong>

                                @Html.DisplayFor(model => model.AddressLandLine)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsLocked)<br></strong>

                                @Html.DisplayFor(model => model.IsLocked)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CreatedDate)<br></strong>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "InsuranceCompany", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "InsuranceCompany", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")

    <script>
        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });
     //ChartOfAccount typehead starts here
            $('.ChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#ChartOfAccountId').val(ChartOfAccountId);
                    //console.log(ChartOfAccountId)
                    return item;
                }
            });
             //CostCenter typehead starts here
            $('.CostCentersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCostCentersAsync", "CostCenter", new { Area = "Accounts" })',
                        { query: query },
                        function (CostCenters) {
                            var newCostCentersData = [];
                            CostCentersMap = {};
                            $.each(CostCenters, function (i, CostCenter) {
                                newCostCentersData.push(CostCenter.Description);
                                CostCentersMap[CostCenter.Description] = CostCenter;
                            });
                            process(newCostCentersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var costCenterId = "";
                    CostCenterId = CostCentersMap[item].Id;
                    $('#CostCenterId').val(CostCenterId);
                    //console.log(CostCenterId)
                    return item;
                }
            });
        });
    </script>
}