@model Application.MainBoundedContext.DTO.FrontOfficeModule.FixedDepositDTO

@{
    /**/

    ViewBag.Title = "Create Fixed Deposit";


}

<head>
    <style>
        .tab-content > .tab-pane {
            display: none;
        }

            .tab-content > .tab-pane.active {
                display: block;
            }

        .secondary-tab-content > .secondary-tab-pane {
            display: none;
        }

            .secondary-tab-content > .secondary-tab-pane.active {
                display: block;
            }
    </style>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Fix Deposit</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "FixedDeposit", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content bg-white text-dark" style="border: 1px solid #ddd; border-radius: 4px; padding: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("Create", "FixedDeposit", new { Area = "FrontOffice" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.BranchId)
                        @Html.HiddenFor(model => model.CustomerAccountId)
                        @Html.HiddenFor(model => model.ProductChartOfAccountId)



                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-horizontal">

                            <!-- First Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- Full Account Number with Lookup Modal -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomerAccountFullAccountNumber, "Full Account Number", new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">

                                            @Html.EditorFor(model => model.CustomerAccountCustomerNonIndividualDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "EnterText...", @required = "" } })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#customerLookupModal" onclick="captureDetails();">
                                                    <span class="fa fa-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountStatusDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.ProductChartOfAccountId)

                                        @Html.EditorFor(model => model.CustomerAccountCustomerIndividualLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "EnterText...", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountStatusDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AvailableBalance, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AvailableBalance, new { htmlAttributes = new { @id = "AvailableBalance", @class = "form-control", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.AvailableBalance, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>


                            <!-- Second Row -->
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountCustomerFullName, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.CustomerAccountCustomerId)

                                        @Html.EditorFor(model => model.CustomerAccountCustomerIndividualFirstName, new { htmlAttributes = new { @id = "CustomerAccountCustomerIndividualFirstName", @class = "form-control", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountCustomerFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, new { htmlAttributes = new { @id = "CustomerAccountCustomerIndividualPayrollNumbers", @class = "form-control", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.HiddenFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber)
                                        @Html.LabelFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber, new { htmlAttributes = new { @id = "CustomerAccountCustomerIndividualIdentityCardNumber", @class = "form-control", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <!-- Third Row -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountCustomerReference1, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerAccountCustomerReference1, new { htmlAttributes = new { @id = "CustomerAccountCustomerReference1", @class = "form-control datepicker", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountCustomerReference2, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerAccountCustomerReference2, new { htmlAttributes = new { @id = "CustomerAccountCustomerReference2", @class = "form-control datepicker", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference2, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountCustomerReference3, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerAccountCustomerReference3, new { htmlAttributes = new { @id = "CustomerAccountCustomerReference3", @class = "form-control datepicker", @placeholder = "EnterText..", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference3, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <!--Fouth row -->

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FixedDepositTypeDescription, new { @class = "control-label" })
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.FixedDepositTypeDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Space to Aoutofill....", @readonly = "readonly" } })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#fixedDepositTypeLookupModal">
                                                    <span class="fa fa-search"></span>
                                                </a>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FixedDepositTypeDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <input type="hidden" id="fixedDepositTypeId" name="FixedDepositTypeId" />


                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Value, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @id = "Value", @class = "form-control", @placeholder = "Enter value" } })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="CategoryDescription">Category</label>
                                        <select id="CategoryDescription" class="form-control">
                                            <option value="CallDeposit">Call Deposit</option>
                                            <option value="TermDeposit">Term Deposit</option>
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <!--Fifth row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Rate, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter annual percentage rate....." } })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Term, new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter term in month....." } })
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <label for="MaturityAction">Maturity Action:</label>
                                    <select id="MaturityAction" class="form-control">
                                        <option value="PayPrincipalAndInterestDue">Pay Principal & Interest Due</option>
                                        <option value="PayInterestDueAndRolloverPrincipal">Pay Interest Due & Roll-over Principal</option>
                                        <option value="RolloverPrincipalAndInterestDue">Roll-over Principal & Interest Due</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">


                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.Remarks, new { @rows = 3, @class = "form-control", @placeholder = "Enter Text.....", @required = "" })
                                    </div>
                                </div>
                                <input type="hidden" id="ProductChartOfAccountId" name="ProductChartOfAccountId" value="@Model.ProductChartOfAccountId" />


                            </div>

                            <br />
                            <hr />

                            <!-- Fixed Deposit Payables Section -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#FixedDepositPayable">Fixed Deposit Payables</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="fixedDepositPayable" class="tab-pane fade show active">
                                    <div id="fixedDepositEntries">
                                        @if (ViewBag.LoanAccounts != null && ViewBag.LoanAccounts.Count > 0)
                                        {
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Full Account Number</th>
                                                        <th>Product Name</th>
                                                        <th>Book Balance</th>
                                                        <th>Available Balance</th>
                                                        <th>Principal Balance</th>
                                                        <th>Interest Balance</th>
                                                        <th>Select</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var account in ViewBag.LoanAccounts)
                                                    {
                                                        <tr>
                                                            <td>@account.FullAccountNumber</td>
                                                            <td>@account.CustomerAccountTypeTargetProductDescription</td>
                                                            <td>@account.BookBalance</td>
                                                            <td>@account.AvailableBalance</td>
                                                            <td>@account.PrincipalBalance</td>
                                                            <td>@account.InterestBalance</td>
                                                            <td>
                                                                <input type="checkbox" name="selectedAccounts" value="@account.FullAccountNumber" />
                                                                <input type="hidden" name="accountDetails" data-account="@account.FullAccountNumber"
                                                                       data-product="@account.CustomerAccountTypeTargetProductDescription"
                                                                       data-bookbalance="@account.BookBalance"
                                                                       data-availablebalance="@account.AvailableBalance"
                                                                       data-principalbalance="@account.PrincipalBalance"
                                                                       data-interestbalance="@account.InterestBalance" />
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <p>No Fixed Deposit Payable.</p>
                                        }
                                    </div>
                                </div>
                            </div>


                            <!-- Template for adding new Fixed Deposit Payable (if needed dynamically) -->
                            <div id="fixedDepositTemplate" class="d-none">
                                <div class="fixed-deposit-entry border p-3 mt-2">
                                    <div class="form-row">
                                        <div class="col">
                                            <input type="text" name="FullAccountNumber[]" class="form-control" placeholder="Full Account Number" />
                                        </div>
                                        <div class="col">
                                            <input type="text" name="ProductName[]" class="form-control" placeholder="Product Name" />
                                        </div>
                                        <div class="col">
                                            <input type="text" name="BookBalance[]" class="form-control" placeholder="Book Balance" />
                                        </div>
                                        <div class="col">
                                            <input type="text" name="AvailableBalance[]" class="form-control" placeholder="Available Balance" />
                                        </div>
                                        <div class="col">
                                            <input type="text" name="PrincipalBalance[]" class="form-control" placeholder="Principal Balance" />
                                        </div>
                                        <div class="col">
                                            <input type="text" name="InterestBalance[]" class="form-control" placeholder="Interest Balance" />
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-danger remove-entry-button">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>


                        <div class="ibox-content bg-white text-info">
                            <div class="col-lg-3" style="float: right;">
                                <input type="submit" style="width: 100px;" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    }







                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="CustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="customerId" name="customerId" />


<!--FixedDepositType-->

<div class="modal  fade" id="fixedDepositTypeLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">
                    Fixed Deposit Type Lookup
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                </h3>
            </div>
            <table id="FixedDepositTypeGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<input type="hidden" id="fixedDepositTypeId" name="fixedDepositTypeId" />







@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")



    <script>
        $(document).ready(function () {
            $('input[name="selectedAccounts"]').change(function () {
                if ($(this).is(':checked')) {
                    var accountDetails = $(this).next('input[name="accountDetails"]');
                    var availableBalance = accountDetails.data('availablebalance');
                    $('#AvailableBalance').val(availableBalance);
                }
            });
        });
    </script>

    <script>
       $(document).ready(function () {
    var customerAccountsGrid = $('#CustomerAccountsGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts" }))",
        "sServerMethod": "POST",
        "fnRowCallback": function (nRow, aData) {
            var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
            var h = ("0" + createdDate.getHours()).slice(-2);
            var m = ("0" + createdDate.getMinutes()).slice(-2);
            var s = ("0" + createdDate.getSeconds()).slice(-2);
            var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

            var selectUrl = '<a href="/FrontOffice/FixedDeposit/Search/' + aData.Id + '" class="btn btn-outline-info">Select</a>';

            $('td:eq(5)', nRow).html(dt_Created);
            $('td:eq(6)', nRow).html(selectUrl);

            return nRow;
        },
        "aoColumns": [
            { "data": "CustomerFullName", "sTitle": "Customer Name", "sWidth": "5%" },
            { "data": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
            { "data": "CustomerReference1", "sTitle": "Customer Account Number", "sWidth": "5%" },
            { "data": "CustomerReference2", "sTitle": "Membership", "sWidth": "5%" },
            { "data": "CustomerAccountTypeProductCodeDescription", "sTitle": "Product Name", "sWidth": "5%" },
            { "data": "CreatedDate", "sTitle": "Created Date", "sWidth": "5%" },
            { "data": null, "sTitle": "", "sWidth": "3%", "bSortable": false }
        ],
        "aaSorting": [[0, "desc"]]
    });

    // Handle row click and populate form
    $('#CustomerAccountsGrid tbody').on('click', 'tr', function () {
        var data = customerAccountsGrid.row(this).data();

        $('#Id').val(data.Id);
        $('#CustomerAccountCustomerId').val(data.CustomerAccountCustomerId);
        $('input[name=CustomerAccountFullAccountNumber]').val(data.CustomerAccountFullAccountNumber);

        $('#CustomerStationZoneDivisionEmployerDescription').val(data.StationDescription);
        $('#CustomerReference1').val(data.CustomerReference1);
        $('#CustomerAccountCustomerIndividualIdentityCardNumber').val(data.IndividualIdentityCardNumber);
        $('#CustomerAccountCustomerIndividualPayrollNumbers').val(data.IndividualPayrollNumbers);
        $('#CustomerAccountTypeTargetProductDescription').val(data.CustomerAccountTypeTargetProductDescription);
        $('#CustomerAccountTypeProductCodeDescription').val(data.CustomerAccountTypeProductCodeDescription);

        // Hide the lookup modal
        $('#customerLookupModal').modal('hide');
    });
});

    </script>

    //ajax form submisstion
    <script>
       $(document).ready(function () {
    $('#form').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "AccountClosure")',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    // Redirect to the Index page of the ExpensePayable controller
                    window.location.href = '@Url.Action("Index", "AccountClosure")';
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("An error occurred while processing your request.");
            }
        });
    });

    </script>




    <script>
    // Initialize DataTable for FixedDepositType lookup
    $('#FixedDepositTypeGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "FixedDepositType", new { Area = "Accounts"}))",
        "sServerMethod": "POST",
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var selectUrl = '<button type="button" class="btn btn-outline-info select-fixed-deposit-type" ' +
                'data-description="' + aData.Description + '" ' +
                'data-id="' + aData.Id + '">' +
                'Select</button>';
            $('td:eq(1)', nRow).html(selectUrl);
            return nRow;
        },
        "aoColumns": [
            { "mDataProp": "Description", "sTitle": "Description", "sWidth": "85%" },
            { "mDataProp": null, "sTitle": "", "sWidth": "15%", "bSortable": false }
        ],
        "aaSorting": [[0, "asc"]]
    });

    // Handle row click to select Fixed Deposit Type
    $('#FixedDepositTypeGrid tbody').on('click', '.select-fixed-deposit-type', function () {
        var description = $(this).data('description');
        var id = $(this).data('id');

        // Update the Fixed Deposit Type fields in the form
        $('#FixedDepositTypeDescription').val(description);
        $('#fixedDepositTypeId').val(id);

        // Close the modal
        $('#fixedDepositTypeLookupModal').modal('hide');
    });
    </script>

    <script>
        document.getElementById('addEntryButton').addEventListener('click', function () {
            var template = document.getElementById('fixedDepositTemplate').innerHTML;
            var container = document.getElementById('fixedDepositEntries');

            container.insertAdjacentHTML('beforeend', template);

            // Show remove buttons and hide "No Entries" message
            document.getElementById('noEntriesMessage').style.display = 'none';

            // Add event listener to remove button
            container.querySelectorAll('.remove-entry-button').forEach(function (button) {
                button.addEventListener('click', function () {
                    this.closest('.fixed-deposit-entry').remove();

                    // Show "No Entries" message if all entries are removed
                    if (container.children.length === 0) {
                        document.getElementById('noEntriesMessage').style.display = 'block';
                    }
                });
            });
        });
    </script>

    <script>
        // Function to dynamically gather selected accounts
        $('#createFixedDeposit').on('click', function (e) {
            var selectedAccounts = [];
            $('input[name="selectedAccounts"]:checked').each(function () {
                var accountDetails = $(this).siblings('input[name="accountDetails"]');
                selectedAccounts.push({
                    FullAccountNumber: accountDetails.data('account'),
                    ProductName: accountDetails.data('product'),
                    BookBalance: accountDetails.data('bookbalance'),
                    AvailableBalance: accountDetails.data('availablebalance'),
                    PrincipalBalance: accountDetails.data('principalbalance'),
                    InterestBalance: accountDetails.data('interestbalance')
                });
            });

            // Add selected accounts to a hidden input field to submit with the form
            $('<input>').attr({
                type: 'hidden',
                name: 'SelectedAccountsJson',
                value: JSON.stringify(selectedAccounts)
            }).appendTo('form');
        });

        // Remove dynamic entry functionality
        $(document).on('click', '.remove-entry-button', function () {
            $(this).closest('.fixed-deposit-entry').remove();
        });
    </script>



}


