@model Application.MainBoundedContext.DTO.FrontOfficeModule.FixedDepositDTO

@{
    ViewBag.Title = "Verify Fixed Deposit";
}

<head>
    <style>
        .tab-content > .tab-pane {
            display: none;
        }

            .tab-content > .tab-pane.active {
                display: block;
            }

        .secondary-tab-content > .secondary-tab-pane {
            display: none;
        }

            .secondary-tab-content > .secondary-tab-pane.active {
                display: block;
            }
    </style>

    <script>
        $(document).ready(function () {
            // Function to handle the fixed deposit type selection
            $('#fixedDepositTypeLookupButton').on('click', function () {
                $('#fixedDepositTypeLookupModal').modal('show');
            });

            // Function to handle the customer lookup
            $('#customerLookupButton').on('click', function () {
                $('#customerLookupModal').modal('show');
            });

            // Event listener for selection from the Fixed Deposit Type lookup
            $('#FixedDepositTypeGrid').on('click', 'tr', function () {
                var selectedTypeId = $(this).data('id');
                var selectedTypeDescription = $(this).data('description');
                $('#fixedDepositTypeId').val(selectedTypeId);
                $('#FixedDepositTypeDescription').val(selectedTypeDescription);
                $('#fixedDepositTypeLookupModal').modal('hide');
                // Auto-populate other fields (e.g., Value, Rate) based on selected type
                // Example: populateFieldsBasedOnType(selectedTypeId);
            });

            // Event listener for customer selection
            $('#CustomerAccountsGrid').on('click', 'tr', function () {
                var selectedCustomerId = $(this).data('id');
                var selectedCustomerDescription = $(this).data('description');
                $('#customerId').val(selectedCustomerId);
                $('#CustomerAccountCustomerNonIndividualDescription').val(selectedCustomerDescription);
                $('#customerLookupModal').modal('hide');
            });

            // Handle the Add button functionality
            $('#addEntryButton').on('click', function () {
                var $template = $('#fixedDepositTemplate').html();
                $('#fixedDepositEntries').append($template);
            });

            // Handle the Remove button functionality
            $('#fixedDepositEntries').on('click', '.remove-entry-button', function () {
                $(this).closest('.fixed-deposit-entry').remove();
            });
        });
    </script>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Verify Fixed Deposit</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "FixedDeposit", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Verify</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content bg-white text-info" style="border: 1px solid #ddd; border-radius: 4px; padding: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("Verify", "FixedDeposit", new { Area = "FrontOffice" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.BranchId)
                        @Html.HiddenFor(model => model.FixedDepositTypeId)
                        @Html.HiddenFor(model => model.CustomerAccountId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-horizontal">

                        <!-- First Row -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountFullAccountNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountFullAccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Account Number", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountFullAccountNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountStatusDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountStatusDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account Status", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountStatusDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AvailableBalance, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.AvailableBalance, new { htmlAttributes = new { @id = "AvailableBalance", @class = "form-control", @placeholder = "Available Balance", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.AvailableBalance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Second Row -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerFullName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerFullName, new { htmlAttributes = new { @id = "CustomerAccountCustomerId", @class = "form-control", @placeholder = "Customer", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerFullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, new { htmlAttributes = new { @id = "CustomerAccountCustomerIndividualPayrollNumbers", @class = "form-control", @placeholder = "Payroll Numbers", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIndividualPayrollNumbers, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.HiddenFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber)
                                    @Html.LabelFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber, new { htmlAttributes = new { @id = "CustomerAccountCustomerIndividualIdentityCardNumber", @class = "form-control", @placeholder = "Identity Card Number", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerIndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Third Row -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference1, new { htmlAttributes = new { @id = "CustomerAccountCustomerReference1", @class = "form-control datepicker", @placeholder = "Account Number", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference2, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference2, new { htmlAttributes = new { @id = "CustomerAccountCustomerReference2", @class = "form-control datepicker", @placeholder = "Membership Number", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference2, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerAccountCustomerReference3, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerAccountCustomerReference3, new { htmlAttributes = new { @id = "CustomerAccountCustomerReference3", @class = "form-control datepicker", @placeholder = "Personal File Number", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.CustomerAccountCustomerReference3, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <!--Fouth row -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="GategoryAction">Category:</label>
                                    <select id="GategoryAction" class="form-control">
                                        <option value="CallDeposit">Call Deposit</option>
                                        <option value="TermDeposit">Term Deposit</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Value, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @id = "Value", @class = "form-control", @placeholder = "Enter value" } })
                                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remarks, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @id = "Remarks", @class = "form-control", @placeholder = "Enter annual percentage rate" } })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <!--Fifth row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Rate, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter annual percentage rate" } })
                                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Term, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Term, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter term in months" } })
                                    @Html.ValidationMessageFor(model => model.Term, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="MaturityAction">Maturity Action:</label>
                                <select id="MaturityAction" class="form-control">
                                    <option value="PayPrincipalAndInterestDue">Pay Principal & Interest Due</option>
                                    <option value="PayInterestDueAndRolloverPrincipal">Pay Interest Due & Roll-over Principal</option>
                                    <option value="RolloverPrincipalAndInterestDue">Roll-over Principal & Interest Due</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FixedDepositTypeDescription, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.FixedDepositTypeDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fixed Deposit Type Description", @readonly = "readonly" } })
                                        <span class="input-group-addon">
                                            <a data-toggle="modal" data-target="#fixedDepositTypeLookupModal">
                                                <span class="fa fa-search"></span>
                                            </a>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FixedDepositTypeDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <input type="hidden" id="fixedDepositTypeId" name="FixedDepositTypeId" />



                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CreatedDate, "Create Date:", new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "YYYY-MM-DD", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CreatedBy, "Create By:", new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", @placeholder = "YYYY-MM-DD", @readonly = "readonly" } })
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" id="data_3">
                                    @Html.LabelFor(model => model.AuditedDate, htmlAttributes: new { @class = "" })
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="AuditedDate" class="form-control" readonly="readonly" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label("Action:", new { @class = "control-label" })
                                    <select id="Action" class="form-control">
                                        <option value="Post">Post</option>
                                        <option value="Reject">Reject</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AuditRemarks, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.AuditRemarks, new { htmlAttributes = new { @class = "form-control", placeholder = "Audit remarks" } })
                                    @Html.ValidationMessageFor(model => model.AuditRemarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <br />
                        <hr />




                        <ul class="nav nav-tabs">


                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#FixedDepositPayable">Fixed Deposit Payables</a>

                            </li>


                        </ul>
                        <div class="tab-content">
                            <!-- Loan Accounts Tab Content -->
                            <div id="fixedDepositPayable" class="tab-pane fade show active">
                                <div id="fixedDepositEntries">
                                    <div id="noEntriesMessage">



                                        @if (ViewBag.LoanAccounts != null && ViewBag.LoanAccounts.Count > 0)
                                        {
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Full Account Number</th>
                                                        <th>Product Name</th>
                                                        <th>Book Balance</th>
                                                        <th>Principal Balance</th>
                                                        <th>Interest Balance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var levySplit in ViewBag.LoanAccounts)
                                                    {
                                                        <tr>
                                                            <td>@levySplit.FullAccountNumber</td>
                                                            <td>@levySplit.CustomerAccountTypeTargetProductDescription</td>
                                                            <td>@levySplit.BookBalance</td>
                                                            <td>@levySplit.PrincipalBalance</td>
                                                            <td>@levySplit.InterestBalance</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <p>No Fixed Deposit Payable.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="col-md-6">
                            <div class="form-group fa-align-left">
                                <button type="submit" class="btn btn-primary">Verify</button>
                            </div>
                        </div>


                    </div>
                    }




                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="CustomerAccountsGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<input type="hidden" id="customerId" name="customerId" />


<!--FixedDepositType-->
<!-- Modal for Lookup -->
<div class="modal fade" id="fixedDepositTypeLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">
                    Fixed Deposit Type Lookup
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                </h3>
            </div>
            <table id="FixedDepositTypeGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Sample Data (Replace with actual server-side data) -->
                    <tr>
                        <td>Fixed Deposit 1</td>
                        <td>New</td>
                        <td><button type="button" class="btn btn-primary select-fixed-deposit-type" data-description="Fixed Deposit 1" data-status="New" data-id="1">Select</button></td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>







@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")





    <script>

        $('#CustomerAccountsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                 "sAjaxSource": "@(Url.Action("Index", "CustomerAccounts", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/FrontOffice/FixedDeposit/Search/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(5)', nRow).html(dt_Created);

                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
            // Display settings
            // lookup Display settings
            "aoColumns": [
                { "mDataProp": "RecordStatusDescription", "sTitle": "Record Status", "sWidth": "15%" },
                { "mDataProp": "BranchDescription", "sTitle": "Branch Name", "sWidth": "15%" },
                { "mDataProp": "StatusDescription", "sTitle": "Status", "sWidth": "15" },
                { "mDataProp": "CustomerAccountTypeTargetProductDescription", "sTitle": "Product Name", "sWidth": "15%" },
                { "mDataProp": "CustomerTypeDescription", "sTitle": "Customer Type", "sWidth": "15%" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "15%" },
                { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "15%", "bSortable": false }],

            "aaSorting": [[0, "desc"]]
        });

    $("#s tbody").on("click", "tr", function () {
        var data = CustomerAccountsGrid.row(this).data();
        $('#Id').val(data.Id);
        $('#Id').val(data.CustomerAccountCustomerId);
        $('input[name=CustomerAccountCustomerId]').val(data.Id);
        $('input[name=CustomerAccountFullAccountNumber]').val(data.CustomerAccountFullAccountNumber);

        var CustomerAccountCustomerId = "";
        CustomerAccountCustomerId = CustomersMap[item].Id;


        $('#id').val(CustomersMap[item].CustomerAccountId);
        $('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerAccountFullAccountNumber').val(CustomersMap[item].CustomerAccountFullAccountNumber);
        $('#CustomerStationDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerReference1').val(CustomersMap[item].CustomerReference1);
        $('#CustomerAccountCustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        $('#CustomerAccountCustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CustomerAccountTypeTargetProductDescription').val(CustomersMap[item].CustomerAccountTypeTargetProductDescription);
        $('#CustomerAccountTypeProductCodeDescription').val(CustomersMap[item].CustomerAccountTypeProductCodeDescription);
        $('#customerLookupModal').modal('hide');
    });
    </script>

    //ajax form submisstion
    <script>
       $(document).ready(function () {
    $('#form').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "AccountClosure")',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    // Redirect to the Index page of the ExpensePayable controller
                    window.location.href = '@Url.Action("Index", "AccountClosure")';
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("An error occurred while processing your request.");
            }
        });
    });

    </script>


    <script>
    $('#FixedDepositTypeGrid').DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "@(Url.Action("Index", "FixedDepositType", new { Area = "Accounts"}))",
        "sServerMethod": "POST",
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var selectUrl = '<button type="button" class="btn btn-outline-info select-fixed-deposit-type" ' +
                            'data-id="' + aData.Id + '" data-description="' + aData.Description + '">Select</button>';
            $('td:eq(1)', nRow).html(selectUrl);
            return nRow;
        },
        "aoColumns": [
            { "mDataProp": "Description", "sTitle": "Description", "sWidth": "85%" },
            { "mDataProp": null, "sTitle": "", "sWidth": "15%", "bSortable": false }
        ],
        "aaSorting": [[0, "asc"]]
    });

    // Handle row click to select Fixed Deposit Type
    $('#FixedDepositTypeGrid tbody').on('click', '.select-fixed-deposit-type', function () {
        var description = $(this).data('description');
        var id = $(this).data('id');
        $('#FixedDepositTypeDescription').val(description);
        $('#fixedDepositTypeId').val(id);
        $('#fixedDepositTypeLookupModal').modal('hide');
    });
    </script>


    <script>
        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });
    </script>
}