@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO

@{
    ViewBag.Title = "Appraise Loan";
    var loanAppraisalOption = ViewBag.LoanAppraisalOptionSelectList as List<SelectListItem>;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Loan Appraisal</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LoanRegistration", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Appraise</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Appraise", "LoanRegistration", new { Area = "Loaning" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <h2>Loan Details</h2>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CaseNumber, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CaseNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Case Number", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.CaseNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanProductDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanProductDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Loan product", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.LoanProductDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.BranchDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Branch", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerFullName, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerFullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanPurposeDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanPurposeDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Loan Purpose", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.LoanPurposeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerTypeDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Type", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.CustomerTypeDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanRegistrationTermInMonths, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.LoanRegistrationTermInMonths, new { htmlAttributes = new { @class = "form-control", @placeholder = "Term In Months", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.LoanRegistrationTermInMonths, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerReference3, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.CustomerReference3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Personal File Number", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.CustomerReference3, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AmountApplied, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AmountApplied, new { htmlAttributes = new { @class = "form-control", placeholder = "Amount Applied", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.AmountApplied, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.SavingsProductDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.SavingsProductDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Savings Product", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.SavingsProductId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h2>Appraisal Details</h2>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TotalAttachedLoansBalance, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.TotalAttachedLoansBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Attached Loan Balance", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.TotalAttachedLoansBalance, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AppraisedNetIncome, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.AppraisedNetIncome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Appraised  Net income", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.AppraisedNetIncome, "", new { @class = "text-danger" })
                                    </div>
                                    <div>
                                        @Html.ActionLink("Back to List", "Index", "LoanRegistration", new { Area = "Loaning" }, new { @class = "btn btn-success" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.SystemAppraisedAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.SystemAppraisedAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "System Appraised Amount", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.SystemAppraisedAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AppraisedAmount, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.AppraisedAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount Appraised" } })
                                        @Html.ValidationMessageFor(model => model.AppraisedAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TotalPaybackAmount, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.TotalPaybackAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Total Loan + Interest", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.TotalPaybackAmount, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.SystemAppraisalRemarks, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.SystemAppraisalRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "System Appraisal Remarks" } })
                                        @Html.ValidationMessageFor(model => model.SystemAppraisalRemarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AppraisalRemarks, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.AppraisalRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apppraisal Remarks" } })
                                        @Html.ValidationMessageFor(model => model.AppraisalRemarks, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.BranchDescription, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apppraisal Remarks" } })
                                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanAppraisalOption, new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.LoanAppraisalOption, loanAppraisalOption, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.LoanAppraisalOption)
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <input type="submit" value="Appraise" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>