@model  Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO

@{
    ViewData["Title"] = "Loan Registration";
    var loanInterestCalculationModes = ViewBag.LoanInterestCalculationModeSelectList as List<SelectListItem>;
    var loanRegistrationLoanProductSections = ViewBag.LoanRegistrationLoanProductSectionSelectList as List<SelectListItem>;
}

<div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Loan Guarantor</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
                </li>
                <li class="breadcrumb-item">
                    @Html.ActionLink("Home", "Index", "LoanRegistration", new { Area = "Loaning" }, null)
                </li>
                <li class="breadcrumb-item active">
                    <strong>Create</strong>
                </li>
            </ol>
        </div>
    </div>


    <div class="content">
        <div class="container-fluid bg-white">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="idno">&nbsp;</label>
                        <button type="button" class="form-control btn btn-primary" id="btnloanrgistration">Add Loan Case</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-primary" id="cardaccounttypes">
                        <div class="card-header">
                            <h3 class="card-title">Loan Cases List</h3>

                            @*<div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                                </button>*@
                            @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                                </button>*@
                            @*</div>*@
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<table id="tablecatype" class="table table-sm table-striped table-bordered nowrap" cellspacing="0" width="100%"></table>*@
                                    @*<table id="tablecatype" class="table table-striped table-bordered nowrap" style="width:100%;"></table>*@

                                    @*<table id="tablecatype" class="table table-responsive-sm table-striped table-bordered responsive nowrap" style="width:100%;max-width:none"></table>*@
                                    @*<table id="tablecatype" class="table table-responsive-sm table-striped table-bordered responsive nowrap" style="width:100%"></table>*@
                                    <table id="tablecatype" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0"></table>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
                            </div>
        </div>
            </div>
    <div>
        <div class="modal fade" id="myModalloanregistration" data-keyboard="false" data-backdrop="static">
            @*<div class="modal-dialog modal-xl modal-dialog-centered">*@
            <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title " id="myModalloanregistration">Create Loan Case</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-default">
                                    @*<div class="card-header">
                                        <h3 class="card-title">bs-stepper</h3>
                                        </div>*@
                                    <div class="card-body p-0">
                                        <div class="bs-stepper">
                                            <div class="bs-stepper-header" role="tablist">
                                                <!-- your steps here -->
                                                <div class="step" data-target="#details-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="details-part" id="details-part-trigger">
                                                        <span class="bs-stepper-circle">1</span>
                                                        <span class="bs-stepper-label">Loan Details</span>
                                                    </button>
                                                </div>
                                                <div class="line"></div>
                                                <div class="step" data-target="#category-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="category-part" id="category-part-trigger">
                                                        <span class="bs-stepper-circle">2</span>
                                                        <span class="bs-stepper-label">Account Type Category</span>
                                                    </button>
                                                </div>
                                                <div class="line"></div>
                                                <div class="step" data-target="#option-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="option-part" id="option-part-trigger">
                                                        <span class="bs-stepper-circle">3</span>
                                                        <span class="bs-stepper-label">Account Type Options</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="bs-stepper-content">
                                                <!-- your steps content here -->
                                                <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger">
                                                    <div class="card card-teal">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Loan Details</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <<div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.EmployerId, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.EmployerId)
                                                                    @Html.EditorFor(model => model.EmployerDescription, new { htmlAttributes = new { @class = "EmployersLookup form-control required", placeholder = "Employer Description" } })
                                                                    @Html.ValidationMessageFor(model => model.EmployerId, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanRegistrationLoanProductSection, htmlAttributes: new { @class = "" })
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                                        @Html.DropDownListFor(model => model.LoanRegistrationLoanProductSection, loanRegistrationLoanProductSections, new { @class = "form-control input-md" })
                                                                        @Html.ValidationMessageFor(model => model.LoanRegistrationLoanProductSection)
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanProductInvestmentsBalance, htmlAttributes: new { @class = "" })
                                                                    @Html.EditorFor(model => model.LoanProductInvestmentsBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Investment Balance" } })
                                                                    @Html.ValidationMessageFor(model => model.LoanProductInvestmentsBalance, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanProductLoanBalance, htmlAttributes: new { @class = "" })
                                                                    @Html.EditorFor(model => model.LoanProductLoanBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Loan Balance", disabled = "disabled" } })
                                                                    @Html.ValidationMessageFor(model => model.LoanProductLoanBalance, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group" id="data_3">
                                                                    @Html.LabelFor(model => model.ReceivedDate, htmlAttributes: new { @class = "" })
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                        <input type="text" name="receiveddate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" value="Create" class="btn btn-success" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.StationId, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.StationId)
                                                                    @Html.ValidationMessageFor(model => model.StationId, "", new { @class = "text-danger" })
                                                                    @Html.EditorFor(model => model.StationDescription, new { htmlAttributes = new { @class = "StationsLookup form-control required", placeholder = "Station" } })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanInterestCalculationMode, new { @class = "control-label" })
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                                        @Html.DropDownListFor(model => model.LoanInterestCalculationMode, loanInterestCalculationModes, new { @class = "form-control input-md" })
                                                                        @Html.ValidationMessageFor(model => model.LoanInterestCalculationMode)
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanRegistrationMaximumAmount, htmlAttributes: new { @class = "" })
                                                                    @Html.EditorFor(model => model.LoanRegistrationMaximumAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Amount" } })
                                                                    @Html.ValidationMessageFor(model => model.LoanRegistrationMaximumAmount, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanRegistrationTermInMonths, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.LoanRegistrationTermInMonths, new { htmlAttributes = new { @class = "form-control", placeholder = "Term in Months" } })
                                                                    @Html.ValidationMessageFor(model => model.LoanRegistrationTermInMonths, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.AmountApplied, htmlAttributes: new { @class = "" })
                                                                    @Html.EditorFor(model => model.AmountApplied, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount Applied" } })
                                                                    @Html.ValidationMessageFor(model => model.AmountApplied, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                @*<div class="form-group form-group-lg">
                                                                        @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.HiddenFor(model => model.CustomerId)
                                                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                                                        @Html.EditorFor(model => model.CustomerFullName, new { htmlAttributes = new { @class = "CustomersLookup form-control required", placeholder = "Customer" } })
                                                                    </div>*@
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.CustomerId, new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.CustomerId)
                                                                    <div class="input-group" data-autoclose="true">
                                                                        @Html.TextBoxFor(model => model.CustomerFullName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                                                        <span class="input-group-addon">
                                                                            <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                                        </span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.BranchId)
                                                                    @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Branch Description" } })
                                                                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanInterestAnnualPercentageRate, htmlAttributes: new { @class = "" })
                                                                    @Html.EditorFor(model => model.LoanInterestAnnualPercentageRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Annual Percentage Rate" } })
                                                                    @Html.ValidationMessageFor(model => model.LoanInterestAnnualPercentageRate, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.MaximumAmountPercentage, htmlAttributes: new { @class = "" })
                                                                    @Html.EditorFor(model => model.MaximumAmountPercentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Maximum Amount Percentage" } })
                                                                    @Html.ValidationMessageFor(model => model.MaximumAmountPercentage, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanProductId, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.LoanProductId)
                                                                    @Html.ValidationMessageFor(model => model.LoanProductId, "", new { @class = "text-danger" })
                                                                    @Html.EditorFor(model => model.LoanProductDescription, new { htmlAttributes = new { @class = "LoanProductsLookup form-control required", placeholder = "Loan Product Name" } })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.LoanPurposeId, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.LoanPurposeId)
                                                                    @Html.ValidationMessageFor(model => model.LoanPurposeId, "", new { @class = "text-danger" })
                                                                    @Html.EditorFor(model => model.LoanPurposeDescription, new { htmlAttributes = new { @class = "LoanPurposesLookup form-control required", placeholder = "Loan Purpose Name" } })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.SavingsProductId, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.HiddenFor(model => model.SavingsProductId)
                                                                    @Html.ValidationMessageFor(model => model.SavingsProductId, "", new { @class = "text-danger" })
                                                                    @Html.EditorFor(model => model.SavingsProductDescription, new { htmlAttributes = new { @class = "SavingsProductsLookup form-control required", placeholder = "Savings Product Name" } })
                                                                </div>
                                                                <div class="form-group form-group-lg">
                                                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", placeholder = "Remarks" } })
                                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card card-teal">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Map Ledger Details</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label for="idno">&nbsp</label>
                                                                    <input class="form-control input-md" type="text" id="search" placeholder="Search Ledger Account" style="height:30px" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label for="idno">Ledger Account Number</label>
                                                                    <input class="form-control input-md" type="text" id="ledgeraccount" placeholder="Ledger Account Number" style="height:30px" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label for="idno">Ledger Account Name</label>
                                                                    <input class="form-control input-md" type="text" id="ledgeraccountname" placeholder="Ledger Account Name" style="height:30px" readonly />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label for="idno">&nbsp;</label>
                                                            <button type="button" class="form-control btn btn-success" id="next1">Next</button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div id="category-part" class="content" role="tabpanel" aria-labelledby="category-part-trigger">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label"> <input type="radio" class="form-check-input" name="category" value="P" />Personal</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label"> <input type="radio" class="form-check-input" name="category" value="GI" />Group/Institution</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label"> <input type="radio" class="form-check-input" name="category" value="0" />Applicable to All</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label for="idno">&nbsp;</label>
                                                            <button type="button" class="form-control btn btn-success" id="prev1">Previous</button>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label for="idno">&nbsp;</label>
                                                            <button type="button" class="form-control btn btn-success" id="next2">Next</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div id="option-part" class="content" role="tabpanel" aria-labelledby="option-part-trigger">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <div class="card">
                                                            @*<div class="card-header">
                                                                <h3 class="card-title">Loan Account Details</h3>
                                                                </div>*@
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-sm-2">
                                                                        <label for="idno">&nbsp;</label>
                                                                        <div class="form-check">
                                                                            <input type="checkbox" name="terms" class="form-check-input" id="withdrawable" style="width:17px;height:17px;">
                                                                            <label class="form-check-label" for="exampleCheck1">  Withdrawable</label>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label for="idno">&nbsp;</label>
                                                                        <div class="form-check">
                                                                            <input type="checkbox" name="terms" class="form-check-input" id="autoopen" style="width:17px;height:17px;">
                                                                            <label class="form-check-label" for="exampleCheck1"> Auto Open</label>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label for="idno">&nbsp;</label>
                                                                        <div class="form-check">
                                                                            <input type="checkbox" name="terms" class="form-check-input" id="transactional" style="width:17px;height:17px;">
                                                                            <label class="form-check-label" for="exampleCheck1"> Transactional</label>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label for="idno">&nbsp;</label>
                                                                        <div class="form-check">
                                                                            <input type="checkbox" name="terms" class="form-check-input" id="scheme" style="width:17px;height:17px;">
                                                                            <label class="form-check-label" for="exampleCheck1"> Bosa Scheme</label>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label for="idno">&nbsp;</label>
                                                                        <div class="form-check">
                                                                            <input type="checkbox" name="terms" class="form-check-input" id="loan" style="width:17px;height:17px;">
                                                                            <label class="form-check-label" for="exampleCheck1">Loan Account</label>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label for="idno">&nbsp;</label>
                                                                        <div class="form-check">
                                                                            <input type="checkbox" name="terms" class="form-check-input" id="defacc" style="width:17px;height:17px;">
                                                                            <label class="form-check-label" for="exampleCheck1">Default Account</label>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" id="addinfo">
                                                    <div class="col-sm-12">
                                                        <div class="card">
                                                            @*<div class="card-header">
                                                                <h3 class="card-title">Loan Account Details</h3>
                                                                </div>*@
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label for="idno">&nbsp;</label>
                                                                            <input class="form-control input-md" type="text" id="searchirable" placeholder="Search Ledger Account" style="height:30px" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label for="idno">Interest Receivable Acc No</label>
                                                                            <input class="form-control input-md" type="text" id="ireceivableaccno" placeholder="Ledger Account Number" style="height:30px" readonly />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label for="idno">Interest Receivable Acc Name</label>
                                                                            <input class="form-control input-md" type="text" id="ireceivableaccnoname" placeholder="Ledger Account Name" style="height:30px" readonly />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label for="idno">&nbsp;</label>
                                                                            <input class="form-control input-md" type="text" id="searchired" placeholder="Search Ledger Account" style="height:30px" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label for="idno">Interest Received Acc No</label>
                                                                            <input class="form-control input-md" type="text" id="ireceivedaccno" placeholder="Ledger Account Number" style="height:30px" readonly />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label for="idno">Interest Received Acc Name</label>
                                                                            <input class="form-control input-md" type="text" id="ireceivedaccnoname" placeholder="Ledger Account Name" style="height:30px" readonly />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label for="idno">&nbsp;</label>
                                                            <button type="button" class="form-control btn btn-success" id="prev2">Previous</button>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label for="idno">&nbsp;</label>
                                                            <button type="button" class="form-control btn btn-success" id="save">Save</button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>




@section Scripts
    {



    <script type="text/javascript">

        ////// BS-Stepper Init
        //document.addEventListener('DOMContentLoaded', function () {
        //    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        //})

        $(document).ready(function () {
            var stepper = new Stepper($('.bs-stepper')[0])
            $('#addinfo').hide();
            GetAccTypes();
            $('#next1').click(function () {
                var accountcode = '';
                var accountcodename = '';
                var ledgeraccount = '';
                var ledgeraccountname = '';
                var minimumbal = '';
                accountcode = $("#accountcode").val();
                accountcodename = $("#accountcodename").val();
                ledgeraccount = $("#ledgeraccount").val();
                ledgeraccountname = $("ledgeraccountname").val();
                minimumbal = $("#minimumbal").val();
                if (accountcode == '') {
                    alert('Customer Account Code is blank!!');
                    return;
                }
                else if (accountcodename == '') {
                    $("#txtacccode").focus();
                    alert('Customer Account Code Name is blank!!!!');
                    return;
                }
                else if (ledgeraccount == '') {
                    alert('Leger Account Number is Blank!!!');
                    return;
                }
                else if (ledgeraccountname == '') {
                    alert('Ledger Account Name is Blank!!!');
                    return;
                }
                else if (minimumbal == '') {
                    alert('Minimum balance should not be blank!!!');
                    BootstrapDialog.alert({
                        title: 'Category',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Category validation error'

                    });
                    return;
                }
                else {
                    stepper.next();
                }

            });
            $('#next2').click(function () {
                if ($('input[name=category]:checked').length <= 0) {

                    BootstrapDialog.alert({
                        title: 'Category',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'You did not select Customer Account category'

                    });
                    return;
                }
                else {
                    stepper.next();
                }

            });
            $('#prev1').click(function () {
                stepper.previous();
            });
            $('#prev2').click(function () {
                stepper.previous();
            });
            $('#btnloanregistration').click(function () {
                //$("#myModalatypeset").appendTo("body");
                $('#addinfo').hide();
                $('#myModalloanregistration').modal('show');
            });
            $("#loan").click(function () {
                if ($(this).is(":checked")) {
                    $("#addinfo").show();

                } else {
                    $("#addinfo").hide();
                }
            });
            $('#myModalloanregistration').on('hidden.bs.modal', function () {
                window.GetAccTypes();
            });

            $('#search').autocomplete({

                source: function (request, response) {
                    //swal.fire({
                    //    title: 'Loading Search Please Wait',
                    //    allowOutsideClick: false,
                    //    allowEscapeKey: false
                    //});
                    //swal.showLoading();
                    axios({
                        method: 'get',
                        url: base_url() + '/api/sacco/GetLedgerInfo',
                        params: {
                            pre: request.term
                        }
                    })
                        .then(function (r) {
                            //waitingDialog.hide();
                            //swal.close();
                            if (r.status == "200") {
                                if (r.data.statuscode == "200") {

                                    if (r.data.ledgerinfo.length > 0) {
                                        response($.map(r.data.ledgerinfo, function (item) {
                                            return {

                                                accountNo: item.accountNo,
                                                accountName: item.accountName,
                                                accountType: item.accountType,
                                                accountCategory: item.accountCategory,
                                                accountGroup: item.accountGroup,
                                                aormalBalance: item.normalBalance,
                                                openningBalance: item.openningBalance,
                                                currentBalance: item.currentBalance,
                                                dateCreated: item.dateCreated,
                                                createdBy: item.createdBy,
                                                status: item.status,
                                                json: item
                                            }
                                        }))
                                    }
                                    else {
                                        response([{ label: 'No results found.', val: -1 }]);
                                    }
                                }

                                else if (r.data.statuscode == "400") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                                else if (r.data.statuscode == "401") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                                else if (r.data.statuscode == "500") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                            }
                            else {
                                console.log("Server Error");
                            }

                        })
                        .catch(function (error) {
                            //swal.close();
                        });


                },

                select: function (event, ui) {

                    $("#ledgeraccountname").val(ui.item.accountName);
                    $("#ledgeraccount").val(ui.item.accountNo);
                    return false;
                },
                close: function (el) {
                    el.target.value = '';
                },
                minLength: 5,
                appendTo: "#myModalloanregistration",
                scroll: true
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                //alert(json.Account_No);
                if (item.accountNo == '') {
                    return $("<li>")
                        .append("<a>***** No Record Found *****</a>")
                        .appendTo(ul);
                }
                else {

                    return $("<li>")
                        .append("<a>Name:" + item.accountName + "<br>AccNo: " + item.accountNo + "<br>Type: " + item.accountType + "<br>Category: " + item.accountCategory + "<br>----------------------</a>")
                        .appendTo(ul);
                }


            };
            $('#searchirable').autocomplete({

                source: function (request, response) {

                    axios({
                        method: 'get',
                        url: base_url() + '/api/sacco/GetLedgerInfo',
                        params: {
                            pre: request.term
                        }
                    })
                        .then(function (r) {
                            //waitingDialog.hide();
                            if (r.status == "200") {
                                if (r.data.statuscode == "200") {

                                    if (r.data.ledgerinfo.length > 0) {
                                        response($.map(r.data.ledgerinfo, function (item) {
                                            return {

                                                accountNo: item.accountNo,
                                                accountName: item.accountName,
                                                accountType: item.accountType,
                                                accountCategory: item.accountCategory,
                                                accountGroup: item.accountGroup,
                                                normalBalance: item.normalBalance,
                                                openningBalance: item.openningBalance,
                                                currentBalance: item.currentBalance,
                                                dateCreated: item.dateCreated,
                                                createdBy: item.createdBy,
                                                status: item.status,
                                                json: item
                                            }
                                        }))
                                    }
                                    else {
                                        response([{ label: 'No results found.', val: -1 }]);
                                    }
                                }

                                else if (r.data.statuscode == "400") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                                else if (r.data.statuscode == "401") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                                else if (r.data.statuscode == "500") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                            }
                            else {

                            }

                        })
                        .catch(function (error) {

                        });


                },

                select: function (event, ui) {

                    $("#ireceivableaccnoname").val(ui.item.accountName);
                    $("#ireceivableaccno").val(ui.item.accountNo);
                    return false;
                },
                close: function (el) {
                    el.target.value = '';
                },
                minLength: 5,
                appendTo: "#myModalloanregistration",
                scroll: true
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                //alert(json.Account_No);
                if (item.accountNo == '') {
                    return $("<li>")
                        .append("<a>***** No Record Found *****</a>")
                        .appendTo(ul);
                }
                else {

                    return $("<li>")
                        .append("<a>Name:" + item.accountName + "<br>AccNo: " + item.accountNo + "<br>Type: " + item.accountType + "<br>Category: " + item.accountCategory + "<br>----------------------</a>")
                        .appendTo(ul);
                }


            };

            $('#searchired').autocomplete({

                source: function (request, response) {

                    axios({
                        method: 'get',
                        url: base_url() + '/api/sacco/GetLedgerInfo',
                        params: {
                            pre: request.term
                        }
                    })
                        .then(function (r) {
                            if (r.status == "200") {
                                if (r.data.statuscode == "200") {

                                    if (r.data.ledgerinfo.length > 0) {
                                        response($.map(r.data.ledgerinfo, function (item) {
                                            return {

                                                accountNo: item.accountNo,
                                                accountName: item.accountName,
                                                accountType: item.accountType,
                                                accountCategory: item.accountCategory,
                                                accountGroup: item.accountGroup,
                                                normalBalance: item.normalBalance,
                                                openningBalance: item.openningBalance,
                                                currentBalance: item.currentBalance,
                                                dateCreated: item.dateCreated,
                                                createdBy: item.createdBy,
                                                status: item.status,
                                                json: item
                                            }
                                        }))
                                    }
                                    else {
                                        response([{ label: 'No results found.', val: -1 }]);
                                    }
                                }

                                else if (r.data.statuscode == "400") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                                else if (r.data.statuscode == "401") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                                else if (r.data.statuscode == "500") {
                                    BootstrapDialog.alert({
                                        title: r.data.statuscode,
                                        message: r.data.message
                                    });
                                }
                            }
                            else {

                            }

                        })
                        .catch(function (error) {

                        });


                },

                select: function (event, ui) {

                    $("#ireceivedaccnoname").val(ui.item.accountName);
                    $("#ireceivedaccno").val(ui.item.accountNo);
                    return false;
                },
                close: function (el) {
                    el.target.value = '';
                },
                minLength: 5,
                appendTo: "#myModalloanregistration",
                scroll: true
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                //alert(json.Account_No);
                if (item.accountNo == '') {
                    return $("<li>")
                        .append("<a>***** No Record Found *****</a>")
                        .appendTo(ul);
                }
                else {

                    return $("<li>")
                        .append("<a>Name:" + item.accountName + "<br>AccNo: " + item.accountNo + "<br>Type: " + item.accountType + "<br>Category: " + item.accountCategory + "<br>----------------------</a>")
                        .appendTo(ul);
                }


            };

            $("#save").click(function () {
                var accountcode = '';
                var accountcodename = '';
                var ledgeraccount = '';
                var ledgeraccountname = '';
                var minimumbal = '';
                var withdrawable = '';
                var autoopen = '';
                var transactional = '';
                var scheme = '';
                var loan = '';
                var defacc = '';
                var irableaccno = '';
                var irableaccnoname = '';
                var iredacno = '';
                var ireceivedaccnoname = '';
                var category = '';
                var action = '';

                accountcode = $("#accountcode").val();
                accountcodename = $("#accountcodename").val();
                ledgeraccount = $("#ledgeraccount").val();
                ledgeraccountname = $("ledgeraccountname").val();
                minimumbal = $("#minimumbal").val();
                if ($("#withdrawable").is(":checked")) {
                    withdrawable = '1';
                } else {
                    withdrawable = '0';
                }
                if ($("#autoopen").is(":checked")) {
                    autoopen = '1';
                } else {
                    autoopen = '0';
                }

                if ($("#transactional").is(":checked")) {
                    transactional = '1';
                } else {
                    transactional = '0';
                }
                if ($("#scheme").is(":checked")) {
                    scheme = '1';
                } else {
                    scheme = '0';
                }
                if ($("#loan").is(":checked")) {
                    loan = '1';
                } else {
                    loan = '0';
                }

                if ($("#defacc").is(":checked")) {
                    defacc = '1';
                } else {
                    defacc = '0';
                }

                irableaccno = $("#ireceivableaccno").val();
                irableaccnoname = $("#ireceivableaccnoname").val();
                iredacno = $("#ireceivedaccno").val();
                ireceivedaccnoname = $("#ireceivedaccnoname").val();

                if ($('input[name=category]:checked').length <= 0) {

                    BootstrapDialog.alert({
                        title: 'Category',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'You did not select Customer Account category'

                    });
                    return;
                }
                var radios = document.getElementsByName('category');

                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        category = radios[i].value;
                        break;
                    }
                }

                if (accountcode == '') {
                    alert('Customer Account Code is blank!!');
                    return;
                }
                else if (accountcodename == '') {
                    $("#txtacccode").focus();
                    alert('Customer Account Code Name is blank!!!!');
                    return;
                }
                else if (ledgeraccount == '') {
                    alert('Leger Account Number is Blank!!!');
                    return;
                }
                else if (ledgeraccountname == '') {
                    alert('Ledger Account Name is Blank!!!');
                    return;
                }
                else if (minimumbal == '') {
                    alert('Minimum balance should not be blank!!!');
                    BootstrapDialog.alert({
                        title: 'Category',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Category validation error'

                    });
                    return;
                }
                else if (withdrawable == '') {
                    BootstrapDialog.alert({
                        title: 'Withdrawable',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Withdrawable validation error'

                    });
                    return;
                }
                else if (autoopen == '') {
                    BootstrapDialog.alert({
                        title: 'Auto Open',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Auto open validation error'

                    });
                    return;
                }
                else if (transactional == '') {
                    BootstrapDialog.alert({
                        title: 'Transactional',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Transactional validation error'

                    });
                    return;
                }
                else if (scheme == '') {
                    BootstrapDialog.alert({
                        title: 'Scheme',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Scheme validation error'

                    });
                    return;
                }
                else if (category == '') {
                    BootstrapDialog.alert({
                        title: 'Category',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'Category validation error'

                    });
                    return;
                }

                else if (loan == '1' && irableaccno == '') {
                    BootstrapDialog.alert({
                        title: 'Interest Receivable Account',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'This should not be blank'

                    });
                    return;
                }
                else if (loan == '1' && irableaccnoname == '') {
                    BootstrapDialog.alert({
                        title: 'Interest Receivable Account Name',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'This should not be blank'

                    });
                    return;
                }
                else if (loan == '1' && iredacno == '') {
                    BootstrapDialog.alert({
                        title: 'Interest Received Account',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'This should not be blank'

                    });
                    return;
                }
                else if (loan == '1' && ireceivedaccnoname == '') {
                    BootstrapDialog.alert({
                        title: 'Interest Received Account Name',
                        type: BootstrapDialog.TYPE_DANGER,
                        message: 'This should not be blank'

                    });
                    return;
                }
                else {
                    if (loan == '0') {
                        irableaccno = '';
                        irableaccnoname = '';
                        iredacno = '';
                        ireceivedaccnoname = '';
                    }

                    if ($("#save").html() == 'Save') {
                        action = 'save';
                    }
                    else if ($("#save").html() == 'Update') {
                        action = 'update';
                    }

                    swal.fire({
                        title: 'Processing Request Please Wait'
                    });
                    swal.showLoading();
                    axios({
                        method: 'post',
                        url: base_url() + '/api/sacco/Save_Customer_AccountType',
                        data: {
                            Accounttypecode: accountcode,
                            Accounttypename: accountcodename,
                            ledgercontrolacc: ledgeraccount,
                            minbal: minimumbal,
                            with: withdrawable,
                            auto: autoopen,
                            transactional: transactional,
                            cate: category,
                            scheme: scheme,
                            loan: loan,
                            defacc: defacc,
                            irableaccno: irableaccno,
                            iredaccno: iredacno,
                            user: sessionStorage.getItem("username"),
                            action: action

                        }
                    })
                        .then(function (r) {
                            swal.close();
                            if (r.status == "200") {
                                if (r.data.statuscode == "200") {

                                    if (r.data.response.toLowerCase() == 'saved') {
                                        BootstrapDialog.show({
                                            title: 'Success',
                                            type: BootstrapDialog.TYPE_SUCCESS,
                                            closable: false,
                                            message: 'Account type Details Saved Successfully !!!',
                                            buttons: [{
                                                label: 'OK',
                                                action: function (dialog) {
                                                    $('#myModalloanregistration').modal('hide');
                                                    dialog.close();
                                                }
                                            }]
                                        });

                                        return;
                                    }
                                    else if (r.data.response.toLowerCase() == 'updated') {
                                        BootstrapDialog.show({
                                            title: 'Success',
                                            type: BootstrapDialog.TYPE_SUCCESS,
                                            closable: false,
                                            message: 'Account type Details Update Successfully !!!',
                                            buttons: [{
                                                label: 'OK',
                                                action: function (dialog) {
                                                    $('#myModalloanregistration').modal('hide');
                                                    GetAccTypes();
                                                    dialog.close();
                                                }
                                            }]
                                        });


                                    }
                                    else if (r.data.response == 'err') {
                                        BootstrapDialog.alert({
                                            title: 'Server Error',
                                            type: BootstrapDialog.TYPE_DANGER,
                                            message: 'Error Saving Details'
                                        });
                                        return;
                                    }
                                    else if (r.data.response == '') {
                                        BootstrapDialog.alert({
                                            title: 'Server Error',
                                            type: BootstrapDialog.TYPE_DANGER,
                                            message: 'No response from server'
                                        });
                                        return;
                                    }
                                    else {

                                    }
                                }
                                else {
                                    BootstrapDialog.alert({
                                        title: "Error",
                                        message: r.data.response
                                    });

                                }
                            }

                        })
                        .catch(function (error) {

                            swal.close();
                            BootstrapDialog.alert({
                                title: "Error",
                                message: error
                            });
                        });

                    $("#save").html('Save');
                    $("#accountcode").val('');
                    $("#accountcode").prop("disabled", false);
                    $("#accountcodename").val('');
                    $("#ledgeraccount").val('');
                    $("#ledgeraccountname").val('');
                    $("#minimumbal").val('');
                    $("#withdrawable").prop('checked', false);
                    $("#autoopen").prop('checked', false);
                    $("#transactional").prop('checked', false);
                    $("#loan").prop('checked', false);
                    $("#ireceivableaccno").val('');
                    $("#ireceivableaccnoname").val('');
                    $("#ireceivedaccno").val('');
                    $("#ireceivedaccnoname").val('');
                    $('input[name=category][value=0]').prop('checked', false);
                    $('input[name=category][value=P]').prop('checked', false);
                    $('input[name=category][value=GI]').prop('checked', false);

                    $("#irablesearch").hide();
                    $("#irableaccno").hide();
                    $("#irableaccnoname").hide();
                    $("#iredsearch").hide();
                    $("#iredaccno").hide();
                    $("#iredccnoname").hide();

                }

            });
        });
        function GetAccTypes() {

            swal.fire({
                title: 'Loading  Please Wait'
            });
            swal.showLoading();

            axios({
                method: 'get',
                url: base_url() + '/api/sacco/get_accountTypes',
                params: {

                }
            }).then(function (r) {
                swal.close();
                if (r.status == "200") {
                    if (r.data.statuscode == "200") {

                        $("#tablecatype").html(r.data.html);
                        var table = $("#tablecatype").DataTable({
                            "scrollX": true,
                            "scrollY": 250,
                            "paging": false,
                            "destroy": true,
                            "sortable": true,
                            "iDisplayLength": 5,
                            "lengthMenu": [[5], [5]],
                            //"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                            "columnDefs": [
                                {
                                    // adding a more info button at the end
                                    "targets": 0,
                                    "data": null,
                                    //"orderable": false,
                                    //"defaultContent": "<a class='link' role='button'><strong>Update</strong>"//&nbsp;&nbsp;<a><a class='link' role='button'><strong>Update</strong><a>"

                                    "render": function (data) {
                                        return '<button  id=\"btnupdate\" class=\"btn btn-success btn-sm\">Update</button> '

                                    }
                                },
                                {
                                    // adding a more info button at the end
                                    "targets": [1],
                                    "visible": true,
                                    "searchable": true
                                },
                                {
                                    // adding a more info button at the end
                                    "targets": [2],
                                    "visible": true,
                                    "searchable": true
                                },
                                {
                                    // adding a more info button at the end
                                    "targets": [3],
                                    "visible": true,
                                    "searchable": true
                                },
                                {
                                    // adding a more info button at the end
                                    "targets": [4],
                                    "visible": true,
                                    "searchable": true
                                },
                                {
                                    // adding a more info button at the end-min bal
                                    "targets": [5],
                                    "visible": true,
                                    "searchable": false
                                },
                                {
                                    // adding a more info button at the end-withdrawable
                                    "targets": [6],
                                    "visible": true,
                                    "searchable": false
                                },
                                {
                                    // adding a more info button at the end
                                    "targets": [7],
                                    "visible": true,
                                    "searchable": false
                                },
                                {
                                    // adding a more info button at the end
                                    "targets": [8],
                                    "visible": true,
                                    "searchable": false
                                }
                                , {
                                    // adding a more info button at the end
                                    "targets": [9],
                                    "visible": true,
                                    "searchable": false
                                }
                                , {
                                    // adding a more info button at the end
                                    "targets": [10],
                                    "visible": true,
                                    "searchable": false
                                }
                                , {
                                    // adding a more info button at the end
                                    "targets": [11],
                                    "visible": true,
                                    "searchable": false
                                }
                                , {
                                    // adding a more info button at the end
                                    "targets": [12],
                                    "visible": true,
                                    "searchable": false
                                }
                            ]//  ,
                            //                            "dom": '<"topcustom"lfr>t<"bottomcustom"ip>'
                        });
                        $("#tablecatype tbody").on('click', '#btnupdate', function () {
                            var data = table.row($(this).parents('tr')).data();
                            //var stepper = new Stepper(document.querySelector('.bs-stepper'));
                            //stepper.to(1);
                            $("#save").html('Update');
                            $('#myModalloanregistration').modal('show');
                            $("#accountcode").val(data[1]);
                            $("#accountcode").prop("disabled", true);
                            $("#accountcodename").val(data[2]);
                            $("#ledgeraccount").val(data[3]);
                            $("#ledgeraccountname").val(data[4]);
                            $("#minimumbal").val(data[5]);

                            if (data[6] == 'True') {
                                //alert('ok');
                                $("#withdrawable").prop('checked', true);
                            }
                            else {
                                $("#withdrawable").prop('checked', false);
                            }
                            if (data[7] == 'True') {
                                //alert('ok');
                                $("#autoopen").prop('checked', true);
                            }
                            else {
                                $("#autoopen").prop('checked', false);
                            }
                            if (data[8] == 'True') {
                                //alert('ok');
                                $("#transactional").prop('checked', true);
                            }
                            else {
                                $("#transactional").prop('checked', false);
                            }

                            var cate = data[9];
                            if (cate == "0") {
                                $('input[name=category][value=0]').prop('checked', 'checked');
                            }
                            else if (cate == "P") {
                                $('input[name=category][value=P]').prop('checked', 'checked');
                            }
                            else if (cate == "GI") {
                                $('input[name=category][value=GI]').prop('checked', 'checked');
                            }

                            if (data[10] == 'True') {
                                //alert('ok');
                                $("#scheme").prop('checked', true);
                            }
                            else {
                                $("#scheme").prop('checked', false);
                            }
                            if (data[11] == 'True') {
                                //alert('ok');
                                $("#loan").prop('checked', true);
                                $("#addinfo").show();

                                $("#ireceivableaccno").val(data[12]);
                                $("#ireceivableaccnoname").val(data[13]);
                                $("#ireceivedaccno").val(data[14]);
                                $("#ireceivedaccnoname").val(data[15]);
                            }
                            else {
                                $("#loan").prop('checked', false);
                                $("#addinfo").hide();
                                $("#ireceivableaccno").val('');
                                $("#ireceivableaccnoname").val('');
                                $("#ireceivedaccno").val('');
                                $("#ireceivedaccnoname").val('');
                            }
                            if (data[16] == 'True') {
                                //alert('ok');
                                $("#defacc").prop('checked', true);
                            }
                            else {
                                $("#defacc").prop('checked', false);
                            }

                        });
                        $(".row_position").sortable({
                            delay: 150,
                            stop: function () {
                                var selectedData = new Array();
                                $('.row_position>tr').each(function () {
                                    selectedData.push($(this).attr("id"));
                                });
                                updateOrder(selectedData);
                            }
                        });

                    }
                    else {
                        BootstrapDialog.alert({
                            title: "Main Menu Setting",
                            message: r.data.message
                        });
                    }
                }
                else {
                    BootstrapDialog.alert({
                        title: "Main Menu Setting",
                        message: r.message
                    });
                }

            }).catch(function (error) {

                swal.close();
                BootstrapDialog.alert({
                    title: "Main Menu Settings",
                    message: error
                });
            });

        }
        function updateOrder(data) {


            swal.fire({
                title: 'Processing Request Please Wait'
            });
            swal.showLoading();
            axios({
                method: 'post',
                url: base_url() + '/api/sacco/Update_Customer_Accounttype_Priority',
                data: {
                    pre: data.toString()
                }
            })
                .then(function (r) {
                    swal.close();
                    if (r.status == "200") {
                        if (r.data.statuscode == "200") {

                            if (r.data.response.toLowerCase() == 'saved') {
                                GetAccTypes();
                                BootstrapDialog.alert({
                                    title: 'Complete',
                                    type: BootstrapDialog.TYPE_SUCCESS,
                                    message: 'Changes effected successfully'
                                });

                                return;
                            }

                            else {
                                BootstrapDialog.alert({
                                    title: 'Error',
                                    type: BootstrapDialog.TYPE_SUCCESS,
                                    message: 'Error'
                                });

                                return;
                            }
                        }
                        else {
                            BootstrapDialog.alert({
                                title: "Error",
                                message: r.data.message
                            });

                        }
                    }

                })
                .catch(function (error) {

                    swal.close();
                    BootstrapDialog.alert({
                        title: "Error",
                        message: error
                    });
                });

        }
    </script>
}
