@model  Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO
@{
    ViewBag.Title = "Loan Case Details";
}


<style>
    body {
        font-family: Arial, sans-serif;
    }

    .tab-header, .sub-tab-header {
        display: flex;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .tab-button, .sub-tab-button {
        background-color: #f1f1f1;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .tab-button:hover, .sub-tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active, .sub-tab-button.active {
            background-color: #ddd; /* Same as hover background color */
        }

        .tab-button:focus, .sub-tab-button:focus {
            outline: none;
        }

    .tab, .sub-tab-content {
        display: none;
    }

        .tab-content, .sub-tab-content.active {
            display: block;
        }

    .tab-content, .sub-tab-content {
        max-height: 1000px; /* Adjust the height as needed */
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc; /* Borderline around tab content */
        background-color: #fff;
        margin-top: 10px;
    }


    <style >


    #dataTableEntries {
        width: 100%;
        border-collapse: collapse;
    }

    #dataTableEntries th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        transition: background 0.3s, transform 0.3s;
    }

    #dataTableEntries th {
        background: linear-gradient(to bottom, #4a90e2, #003366);
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #dataTableEntries tr:hover td {
        background: rgba(74, 144, 226, 0.2);
        transform: translateY(-2px);
    }

    #dataTableEntries td {
        background: #f9f9f9;
        color: #333;
    }

    #dataTableEntries tr:nth-child(even) td {
        background: #f2f2f2;
    }

    #dataTableEntries tr:nth-child(odd) td {
        background: #ffffff;
    }

    #dataTableEntries tr:last-child td {
        border-bottom: none;
    }
</style>







<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Back Office</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LoanRegistration", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>View Loan Case</h2>
                    <hr />
                    @Html.ActionLink("Back To List", "Index", "LoanRegistration", new { Area = "Loaning" }, new { @class = "btn btn-primary" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    <fieldset>
                        @*Row 1*@
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CaseNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.CaseNumber)
                                    @Html.EditorFor(model => model.CaseNumber, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control required",
                                            @placeholder = "Station...",
                                            @readonly = "readonly"
                                        }
                               })
                                </div>
                            </div>

                            <div class="col-md-4 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerFullName, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.CustomerFullName)
                                    @Html.EditorFor(model => model.CustomerFullName, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>

                            <div class="col-md-5 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerStationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.CustomerStationZoneDivisionEmployerDescription)
                                    @Html.EditorFor(model => model.CustomerStationZoneDivisionEmployerDescription, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>
                        </div>


                        @*Row 2*@
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerReference1, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.CustomerReference1)
                                    @Html.EditorFor(model => model.CustomerReference1, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control required",
                                            @placeholder = "Account number...",
                                            @readonly = "readonly"
}
})
                                    @Html.ValidationMessageFor(model => model.CustomerReference1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerReference2, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.CustomerReference2)
                                    @Html.EditorFor(model => model.CustomerReference2, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control required",
                                            @placeholder = "Membership number...",
                                            @readonly = "readonly"
}
})
                                    @Html.ValidationMessageFor(model => model.CustomerReference2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CustomerReference3, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerReference3, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Personal File Number...",
                                            @readonly = "readonly"
}
})
                                    @Html.ValidationMessageFor(model => model.CustomerReference3, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BranchDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.BranchDescription)
                                    @Html.EditorFor(model => model.BranchDescription, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>
                        </div>

                        @*Row 3*@
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanProductDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.LoanProductDescription)
                                    @Html.EditorFor(model => model.LoanProductDescription, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanInterestCalculationModeDescription, htmlAttributes: new { @class = "" })
                                    @Html.HiddenFor(model => model.LoanInterestCalculationModeDescription)
                                    @Html.EditorFor(model => model.LoanInterestCalculationModeDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Calculation Mode...", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanInterestAnnualPercentageRate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LoanInterestAnnualPercentageRate, new { htmlAttributes = new { @class = "form-control required", @placeholder = "00.0000%", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanRegistrationLoanProductSectionDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.LoanRegistrationLoanProductSectionDescription)
                                    @Html.EditorFor(model => model.LoanRegistrationLoanProductSectionDescription, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control required",
                                            @placeholder = "Section...",
                                            @readonly = "readonly"
                                        }
                                    })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanRegistrationTermInMonths, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LoanRegistrationTermInMonths, new
                               {
                                   htmlAttributes = new
                                   {
                                       @id = "LoanRegistrationTermInMonths",
                                       @class = "form-control required",
                                       @placeholder = "Enter Number of Days...",
                                       @readonly = "readonly"
                                   }
                               })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanProductInvestmentsBalance, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.LoanProductInvestmentsBalance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @* Loan Balance *@
                                    @Html.LabelFor(model => model.LoanProductLoanBalance, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.LoanProductLoanBalance, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Kshs. 0.00",
                                       @readonly = "readonly"
                                   }
                               })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanRegistrationMaximumAmount, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.LoanRegistrationMaximumAmount, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Kshs. 0.00", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>


                        @*Row 4*@
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.MaximumAmountPercentage, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.MaximumAmountPercentage, new { htmlAttributes = new { @class = "form-control required", @placeholder = "00.0000%", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanProductLatestIncome, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.LoanProductLatestIncome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.SavingsProductDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.SavingsProductDescription)
                                    @Html.EditorFor(model => model.SavingsProductDescription, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.Remarks)
                                    @Html.EditorFor(model => model.Remarks, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.LoanPurposeDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.LoanPurposeDescription)
                                    @Html.EditorFor(model => model.LoanPurposeDescription, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.AmountApplied, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.AmountApplied, new { htmlAttributes = new { @id = "AmountApplied", @class = "form-control required", @readonly = "readonly", @placeholder = "Kshs.0.00" } })
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter text...", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.StatusDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.StatusDescription)
                                    @Html.EditorFor(model => model.StatusDescription, new
                               {
                                   htmlAttributes = new
                                   {
                                       @class = "form-control required",
                                       @readonly = "readonly",
                                       @placeholder = "Employer..."
                                   }
                               })
                                </div>
                            </div>
                        </div>


                        @*Tabs*@
                        <div class="tab-header" style="color: black;">
                            <div class="tab-button active" style="pointer-events: none; cursor: default;">
                                <i class="fa fa-table" aria-hidden="true"></i> Loan Guarantors
                            </div>
                        </div>

                        <div id="section1" class="tab active" style="display: block;">
                            <!-- Loan Guarantors -->
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-container">
                                            <table id="dataTableEntries" class="footable table table-striped toggle-arrow-tiny grey-table">
                                                <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                    <tr>
                                                        <th>Customer</th>
                                                        <th>Appraisal Factor</th>
                                                        <th>Total Shares</th>
                                                        <th>Committed Shares</th>
                                                        <th>Amount Guaranteed</th>
                                                        <th>Date Guaranteed</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.LoanGuarantors != null)
                                                    {
                                                        foreach (var guarantors in ViewBag.LoanGuarantors)
                                                        {
                                                            <tr>
                                                                <td>@guarantors.CustomerIndividualFirstName @guarantors.CustomerIndividualLastName</td>
                                                                <td>@guarantors.AppraisalFactor</td>
                                                                <td style="text-align: right;">@guarantors.TotalShares</td>
                                                                <td style="text-align: right;">@guarantors.CommittedShares</td>
                                                                <td style="text-align: right;">@guarantors.AmountGuaranteed</td>
                                                                <td>@guarantors.CreatedDate</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>



