@model  Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO
@{
    ViewBag.Title = "Loan Registration Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>System Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LoanRegistration", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanRegistrationLoanProductSection)</strong><br>
                                @Html.TextBoxFor(model => model.LoanRegistrationLoanProductSection)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanProductInvestmentsBalance)</strong><br>
                                @Html.TextBoxFor(model => model.LoanProductInvestmentsBalance)<br>
                            </p><p>
                                <strong>@Html.DisplayNameFor(model => model.LoanProductLoanBalance)</strong><br>
                                @Html.TextBoxFor(model => model.LoanProductLoanBalance)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanInterestCalculationMode)</strong><br>
                                @Html.TextBoxFor(model => model.LoanInterestCalculationMode)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanRegistrationMaximumAmount)</strong><br>
                                @Html.TextBoxFor(model => model.LoanRegistrationMaximumAmount)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanRegistrationTermInMonths)</strong><br>
                                @Html.TextBoxFor(model => model.LoanRegistrationTermInMonths)<br>
                            </p><p>
                                <strong>@Html.DisplayNameFor(model => model.BranchDescription)</strong><br>
                                @Html.TextBoxFor(model => model.BranchDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerFullName)</strong><br>
                                @Html.TextBoxFor(model => model.CustomerFullName)<br>
                            </p>
                            <p>
                                @Html.ActionLink("Edit", "Edit", "LoanRegistration", new { id = Model.Id, Area = "Loaning" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "LoanRegistration", new { Area = "Loaning" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanInterestAnnualPercentageRate)</strong><br>
                                @Html.TextBoxFor(model => model.LoanInterestAnnualPercentageRate)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.MaximumAmountPercentage)</strong><br>
                                @Html.TextBoxFor(model => model.MaximumAmountPercentage)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AmountApplied)</strong><br>
                                @Html.TextBoxFor(model => model.AmountApplied)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanProductDescription)</strong><br>
                                @Html.TextBoxFor(model => model.LoanProductDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.LoanPurposeDescription)</strong><br>
                                @Html.TextBoxFor(model => model.LoanPurposeDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.SavingsProductDescription)</strong><br>
                                @Html.TextBoxFor(model => model.SavingsProductDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.ReceivedDate)</strong><br>
                                @Html.TextBoxFor(model => model.ReceivedDate)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Remarks)</strong><br>
                                @Html.TextBoxFor(model => model.Remarks)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong><br>
                                @Html.TextBoxFor(model => model.CreatedDate)<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
