
@{
    ViewBag.Title = "Loan Cases";
}


<style>
    #tabs-container {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        margin-bottom: 20px;
        overflow-x: auto; /* Allow horizontal scrolling if necessary */
    }

    .nav-tabs {
        padding: 10px 0; /* Adjusted padding */
        list-style: none;
        margin: 0;
        white-space: nowrap; /* Prevent line breaks */
    }

        .nav-tabs li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-tabs a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
            font-weight: bold; /* Set font weight to bold */
            padding: 10px 15px;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.3s ease-in-out;
        }

            .nav-tabs a:hover {
                border-bottom-color: #007bff;
                color: #007bff;
            }
</style>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially activate the first tab
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        // Handle tab click event
        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            // Deactivate all tabs
            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            // Activate the clicked tab
            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });
    });
</script>







<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Loaning</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Loan Cases</h2>
                    <hr />
                    <p>
                        The following are the correct steps to follow for disbursement to be made:
                        <ol>
                            <li>Register Loan</li>
                            <li>Attach Guarantor</li>
                            <li>Appraise Loan</li>
                            <li>Approve Loan</li>
                            <li>Verify Loan</li>
                        </ol>
                        For already registered loans, proceed to <strong><big><u>Attach Guarantor</u></big></strong>
                    </p>
                    <hr />

                    <div id="tabs-container">
                        <ul class="nav-tabs">
                            <li>@Html.ActionLink("Register Loan", "Create", "LoanRegistration")</li>
                            <li>@Html.ActionLink("Attach Guarantor", "Index", "AttachGuarantor")</li>
                            <li>@Html.ActionLink("Appraise Loan", "Index", "AppraiseLoan")</li>
                            <li>@Html.ActionLink("Approve Loan", "Index", "ApproveLoan")</li>
                            <li>@Html.ActionLink("Verify Loan", "Index", "LoanVerification")</li>
                            @*<li>@Html.ActionLink("Cancel Loan", "Index", "LoanCancellation")</li>*@

                        </ul>
                    </div>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="LoanRegistrationsGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#LoanRegistrationsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "LoanRegistration", new { Area = "Loaning"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var receivedDate = new Date(parseInt(aData.ReceivedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + receivedDate.getHours()).slice(-2);
                    var m = ("0" + receivedDate.getMinutes()).slice(-2);
                    var s = ("0" + receivedDate.getSeconds()).slice(-2);

                    var dt_ReceivedDate = $.datepicker.formatDate('dd/mm/yy', receivedDate) ;
                    aData.ReceivedDate = dt_ReceivedDate;

                    var viewUrl = '<a  href="/loaning/LoanRegistration/details/' + aData.Id + '" class = "btn btn-outline-info"">' + 'View</a>';
                    var editUrl = '<a  href="/loaning/LoanRegistration/edit/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Edit</a>';
                    var appraiseUrl = '<a  href="/loaning/LoanRegistration/appraise/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Appraise</a>';
                    var verifyUrl = '<a  href="/loaning/LoanRegistration/verify/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Verify</a>';
                    var approveUrl = '<a  href="/loaning/LoanRegistration/approve/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Approve</a>';
                    var cancellationUrl = '<a  href="/loaning/LoanRegistration/cancel/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Cancel</a>';
                    var attachGuarantorUrl = '<a  href="/loaning/AttachGuarantor/Index/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Attach Guarantor</a>';

                    //$('td:eq(4)', nRow).html(dt_ReceivedDate);
                    $('td:eq(6)', nRow).html(dt_Created);
                    $('td:eq(7)', nRow).html(viewUrl + '&nbsp;&nbsp;&nbsp;' + editUrl + ''/* + attachGuarantorUrl*/);

                    return nRow;
                },
                // Display settings
                "aoColumns": [
                    { "mDataProp": "CaseNumber", "sTitle": "Loan Number", "sWidth": "2%" },
                    { "mDataProp": "CustomerFullName", "sTitle": "Customer","sWidth": "20%" },
                    { "mDataProp": "AmountApplied", "sTitle": "Amount Applied", "sWidth": "5%"},
                    { "mDataProp": "LoanProductDescription", "sTitle": "Loan Product", "sWidth": "5%"},
                    { "mDataProp": "LoanPurposeDescription", "sTitle": "Loan Purpose", "sWidth": "5%"},
                    { "mDataProp": "StatusDescription", "sTitle": "Status", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Actions", "sWidth": "20%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>

}
