@model Application.MainBoundedContext.DTO.BackOfficeModule.LoanCaseDTO

@{
    ViewBag.Title = "Loan Cases";

    var LoanCaseFilter = ViewBag.LoanCaseFilterSelectList as List<SelectListItem>;
}


<style>
    #tabs-container {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        margin-bottom: 20px;
        overflow-x: auto; /* Allow horizontal scrolling if necessary */
    }

    .nav-tabs {
        padding: 10px 0; /* Adjusted padding */
        list-style: none;
        margin: 0;
        white-space: nowrap; /* Prevent line breaks */
    }

        .nav-tabs li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav-tabs a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
            font-weight: bold; /* Set font weight to bold */
            padding: 10px 15px;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.3s ease-in-out;
        }

            .nav-tabs a:hover {
                border-bottom-color: #007bff;
                color: #007bff;
            }
</style>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially activate the first tab
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        // Handle tab click event
        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            // Deactivate all tabs
            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            // Activate the clicked tab
            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });
    });
</script>







<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Back Office</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Loan Cases</h2>


                    @if (TempData["AlertMessage"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success !</strong> @TempData["AlertMessage"]
                        </div>
                    } 
                    
                    
                    @if (TempData["Edit"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success !</strong> @TempData["Edit"]
                        </div>
                    }

                    <hr />
                    @Html.ActionLink("Register Loan", "Create", "LoanRegistration", new { Area = "Loaning" }, new { @class = "btn btn-primary" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @*<div class="row">
                        <div class="col-lg-3">
                            <div class="form-group form-group-lg">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    @Html.DropDownListFor(model => model.filterText, LoanCaseFilter, new { @class = "form-control input-md" })
                                    @Html.ValidationMessageFor(model => model.filterText)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="form-group form-group-lg" style="border-radius:10px;">
                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @id = "LoanCaseAmountApplied", @class = "form-control required", @placeholder = "Enter filter text..." } })
                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            @using (Html.BeginForm("index", "LoanRegistration", new { Area = "Loaning" }, FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-primary" value="Refresh" style="width: 70px; border-radius: 10px;" />
                            }
                        </div>
                    </div>*@

                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="LoanRegistrationsGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#LoanRegistrationsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "LoanRegistration", new { Area = "Loaning"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var receivedDate = new Date(parseInt(aData.ReceivedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + receivedDate.getHours()).slice(-2);
                    var m = ("0" + receivedDate.getMinutes()).slice(-2);
                    var s = ("0" + receivedDate.getSeconds()).slice(-2);

                    var dt_ReceivedDate = $.datepicker.formatDate('dd/mm/yy', receivedDate) ;
                    aData.ReceivedDate = dt_ReceivedDate;

                    var viewUrl = '<a  href="/loaning/LoanRegistration/details/' + aData.Id + '" class = "btn btn-outline-info"">' + 'View</a>';
                    var editUrl = '<a  href="/loaning/LoanRegistration/edit/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Edit</a>';
                    var appraiseUrl = '<a  href="/loaning/LoanRegistration/appraise/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Appraise</a>';
                    var verifyUrl = '<a  href="/loaning/LoanRegistration/verify/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Verify</a>';
                    var approveUrl = '<a  href="/loaning/LoanRegistration/approve/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Approve</a>';
                    var cancellationUrl = '<a  href="/loaning/LoanRegistration/cancel/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Cancel</a>';
                    var attachGuarantorUrl = '<a  href="/loaning/AttachGuarantor/Index/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Attach Guarantor</a>';


                    var dropdownHtml = `
                        <div class="dropdown">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/loaning/loanregistration/details/${aData.Id}">View</a>
                                <a class="dropdown-item" href="/loaning/loanregistration/edit/${aData.Id}">Edit</a>
                                <a class="dropdown-item" href="/loaning/attachguarantor/create/${aData.Id}">Attach Guarantor</a>
                            </div>
                        </div>`;


                    $('td:eq(8)', nRow).html(dt_Created);
                    $('td:eq(9)', nRow).html(dropdownHtml);

                    return nRow;
                },

                // Display settings
                "aoColumns": [
                    { "mDataProp": "CaseNumber", "sTitle": "Loan Number", "sWidth": "2%" },
                    { "mDataProp": "CustomerFullName", "sTitle": "Customer","sWidth": "20%" },
                    { "mDataProp": "AmountApplied", "sTitle": "Amount Applied", "sWidth": "10%"},
                    { "mDataProp": "LoanProductDescription", "sTitle": "Loan Product", "sWidth": "10%"},
                    { "mDataProp": "LoanPurposeDescription", "sTitle": "Loan Purpose", "sWidth": "5%"},
                    { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "10%"},
                    { "mDataProp": "SavingsProductDescription", "sTitle": "Savings Product", "sWidth": "15%"},
                    { "mDataProp": "StatusDescription", "sTitle": "Status", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]],

                // Code to print table data to CSV, pdf and Excel
                //"dom": "Bfrtip",
                //"buttons": [
                //    {
                //        extend: 'copy',
                //        className: 'btn btn-light rounded-0',
                //        text: '<i class="fa fa-clipboard"></i> Copy'
                //    },

                //    {
                //        extend: 'excel',
                //        className: 'btn btn-light rounded-0',
                //        text: '<i class="fa fa-table"></i> Excel'
                //    },

                //    {
                //        extend: 'pdf',
                //        className: 'btn btn-light rounded-0',
                //        text: '<i class="fa fa-file-pdf-o"></i> PDF'
                //    },

                //    {
                //        extend: 'csv',
                //        className: 'btn btn-light rounded-0',
                //        text: '<i class="fa fa-file"></i> CSV'
                //    },

                //    {
                //        extend: 'print',
                //        className: 'btn btn-light rounded-0',
                //        text: '<i class="fa fa-print"></i> Print'
                //    },
                //],
            }
            );
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>

}
