@model  Application.MainBoundedContext.DTO.RegistryModule.EducationVenueDTO
@{
    ViewBag.Title = "Education Venue Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Education</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "EducationVenue", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>
<style>
    .equal-btn {
        min-width: 150px; /* Ensures consistent width */
        padding: 10px 20px; /* Adjust padding for desired size */
        font-size: 16px; /* Adjust font size */
        text-align: center;
    }
</style>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <!-- First Column -->
                        <div class="col-lg-4">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", disabled = "" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsLocked)</strong><br>
                                <span>@Html.DisplayFor(model => model.IsLocked)</span>
                            </p>
                        </div>

                        <!-- Second Column -->
                        <div class="col-lg-4">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date", disabled = "" } })
                                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Additional Fields -->
                            <div class="mt-3">
                                <p>
                                    <strong>@Html.DisplayNameFor(model => model.EnforceInvestmentsBalance)</strong><br>
                                    <span>@Html.DisplayFor(model => model.EnforceInvestmentsBalance)</span>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                @Html.ActionLink("Edit", "Edit", "EducationVenue", new { id = Model.Id, Area = "Registry" }, new { @class = "btn btn-success equal-btn" })
                                @Html.ActionLink("Back to List", "Index", "EducationVenue", new { Area = "Registry" }, new { @class = "btn btn-success equal-btn" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
