@model Application.MainBoundedContext.DTO.AdministrationModule.SystemPermissionTypeInRoleDTO

@{
    var month = ViewBag.systemPermissionTypeTypeSelectList as List<SelectListItem>;
    ViewBag.Title = "Update System Transaction";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Remove System Permission</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Create", new { Area = "Admin" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Update System Permission</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong> @TempData["Success"]
                            <button type="button" class="close" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                        </div>
                    }
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "SystemTransactiontypes", new { Area = "Admin" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.SystemPermissionTypeDescription, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    @Html.DropDownListFor(model => model.SystemPermissionType, month, new { @class = "form-control input-md", id = "SystemPermissionType" })
                                    @Html.ValidationMessageFor(model => model.SystemPermissionTypeDescription)
                                </div>
                            </div>

                            <!-- Hidden inputs to store selected roles and branches -->
                            <input type="hidden" name="SelectedRoles" id="SelectedRoles" />
                            <input type="hidden" name="SelectedBranches" id="SelectedBranches" />

                            <!-- Tabs for Roles and Branches -->
                            <ul class="nav nav-tabs" id="roleBranchTabs" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="true">Roles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="branches-tab" data-toggle="tab" href="#branches" role="tab" aria-controls="branches" aria-selected="false">Branches</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <!-- Roles Tab -->
                                <div class="tab-pane fade show active" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Roles</div>
                                        <div class="panel-body">
                                            <table class="table table-hover" id="rolesTable">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none">Id</th>
                                                        <th>Name</th>
                                                        <th>Map</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="rolesTableBody">
                                                    <!-- Roles will be dynamically populated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Branches Tab -->
                                <div class="tab-pane fade" id="branches" role="tabpanel" aria-labelledby="branches-tab">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Branches</div>
                                        <div class="panel-body">
                                            <table class="table table-hover" id="branchesTable">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none">Id</th>
                                                        <th>Description</th>
                                                        <th>Map</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="branchesTableBody">
                                                    <!-- Branches will be dynamically populated here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // Fetch and display roles and branches when the page loads
        fetchInitialData();

        // Trigger the AJAX request on dropdown change
        $('#SystemPermissionType').change(function() {
            var selectedValue = $(this).val();
            fetchAndPopulateData(selectedValue);
        });

        function fetchInitialData() {
            $.ajax({
                url: '@Url.Action("GetRoles", "SystemTransactiontypes")',
                type: 'GET',
                success: function(data) {
                    populateRoles(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching roles:', error);
                }
            });

            $.ajax({
                url: '@Url.Action("GetBranchesAsync", "SystemTransactiontypes")',
                type: 'GET',
                success: function(data) {
                    populateBranches(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching branches:', error);
                }
            });
        }

        function fetchAndPopulateData(typeId) {
            $.ajax({
                url: '@Url.Action("GetAction", "SystemTransactiontypes")',
                type: 'GET',
                data: { h: typeId },
                success: function(data) {
                    populateRoles(data.roles);
                    populateBranches(data.branches);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        function populateRoles(roles) {
            $('#rolesTableBody').empty();
            $.each(roles, function(index, role) {
                $('#rolesTableBody').append(
                    `<tr>
                        <td style="display: none">${role.Id}</td>
                        <td>${role.Name}</td>
                        <td><input type="checkbox" class="role-checkbox" data-id="${role.Id}" data-name="${role.Name}" /></td>
                    </tr>`
                );
            });
        }

        function populateBranches(branches) {
            $('#branchesTableBody').empty();
            $.each(branches, function(index, branch) {
                $('#branchesTableBody').append(
                    `<tr>
                        <td style="display: none">${branch.Id}</td>
                        <td>${branch.Description}</td>
                        <td><input type="checkbox" class="branch-checkbox" data-id="${branch.Id}" data-name="${branch.Description}" /></td>
                    </tr>`
                );
            });
        }

        // Collect selected roles and branches on form submission
        $('form').submit(function () {
            var selectedRoles = [];
            $('.role-checkbox:checked').each(function () {
                selectedRoles.push({
                    Id: $(this).data('id'),
                    Name: $(this).data('name')
                });
            });
            $('#SelectedRoles').val(JSON.stringify(selectedRoles));

            var selectedBranches = [];
            $('.branch-checkbox:checked').each(function () {
                selectedBranches.push({
                    Id: $(this).data('id'),
                    Name: $(this).data('name')
                });
            });
            $('#SelectedBranches').val(JSON.stringify(selectedBranches));
        });
    });
    </script>
}
