@model Application.MainBoundedContext.DTO.AdministrationModule.SystemPermissionTypeInRoleDTO

@{
    var month = ViewBag.SystemPermissionTypeSelectList as List<SelectListItem>;
    ViewBag.Title = "Update System Transaction";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Update System Permission</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "SystemTransactiontypes", new { Area = "Admin" })</li>
            <li class="breadcrumb-item active"><strong>Update System Permission</strong></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong> @TempData["Success"]
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    }
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="close-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-dark">
                    @using (Html.BeginForm("Create", "SystemTransactiontypes", new { Area = "Admin" }, FormMethod.Post, new { id = "updateForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.SystemPermissionTypeDescription)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    @Html.DropDownListFor(model => model.SystemPermissionType, month, new { @class = "form-control input-md", id = "SystemPermissionType" })
                                    @Html.ValidationMessageFor(model => model.SystemPermissionTypeDescription)
                                </div>
                            </div>

                            <input type="hidden" name="SelectedRoles" id="SelectedRoles" />
                            <input type="hidden" name="SelectedBranches" id="SelectedBranches" />

                            <ul class="nav nav-tabs" id="roleBranchTabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="roles-tab" data-toggle="tab" href="#roles" role="tab">Roles</a></li>
                                <li class="nav-item"><a class="nav-link" id="branches-tab" data-toggle="tab" href="#branches" role="tab">Branches</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="roles" role="tabpanel">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Roles</div>
                                        <div class="panel-body">
                                            <table class="table table-hover" id="rolesTable">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none">Id</th>
                                                        <th>Name</th>
                                                        <th>Map</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="rolesTableBody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="branches" role="tabpanel">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Branches</div>
                                        <div class="panel-body">
                                            <table class="table table-hover" id="branchesTable">
                                                <thead>
                                                    <tr>
                                                        <th style="display: none">Id</th>
                                                        <th>Description</th>
                                                        <th>Map</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="branchesTableBody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            // Form submission event
            $('#updateForm').on('submit', function (e) {
                e.preventDefault();
                submitForm();
            });

            // Load roles and branches based on the selected permission type
            $('#SystemPermissionType').change(function () {
                loadRolesAndBranches($(this).val());
            });

            // AJAX call to load roles and branches based on permission type
            function loadRolesAndBranches(systemPermissionTypeId) {
                $.ajax({
                    url: '@Url.Action("GetAction", "SystemTransactiontypes", new { Area = "Admin" })',
                    type: 'GET',
                    data: { systemPermissionTypeId: systemPermissionTypeId },
                    dataType: 'json',
                    success: function (data) {
                        populateRoles(data.allRoles, data.linkedRoles);
                        populateBranches(data.allBranches, data.linkedBranches);
                    },
                    error: function () {
                        toastr.error('Failed to load roles and branches.', 'Error');
                    }
                });
            }

            // Populate roles dynamically with checkboxes
            function populateRoles(allRoles, linkedRoles) {
                var rolesTableBody = $('#rolesTableBody');
                rolesTableBody.empty();
                $.each(allRoles, function (index, role) {
                    var isChecked = linkedRoles.some(linkedRole => linkedRole.Name === role.Name);
                    rolesTableBody.append('<tr>' +
                        '<td style="display: none">' + role.Id + '</td>' +
                        '<td>' + role.Name + '</td>' +
                        '<td><input type="checkbox" class="role-checkbox" data-role-id="' + role.Id + '" data-role-name="' + role.Name + '"' + (isChecked ? ' checked' : '') + '></td>' +
                        '</tr>'
                    );
                });
                // Attach event listener for role checkboxes
                $('.role-checkbox').change(function () {
                    updateRoleSelection();
                });
            }

            // Populate branches dynamically with checkboxes
            function populateBranches(allBranches, linkedBranches) {
                var branchesTableBody = $('#branchesTableBody');
                branchesTableBody.empty();
                $.each(allBranches, function (index, branch) {
                    var isChecked = linkedBranches.some(linkedBranch => linkedBranch.Id === branch.Id);
                    branchesTableBody.append('<tr>' +
                        '<td style="display: none">' + branch.Id + '</td>' +
                        '<td>' + branch.Description + '</td>' +
                        '<td><input type="checkbox" class="branch-checkbox" data-branch-id="' + branch.Id + '"' + (isChecked ? ' checked' : '') + '></td>' +
                        '</tr>'
                    );
                });
                // Attach event listener for branch checkboxes
                $('.branch-checkbox').change(function () {
                    updateBranchSelection();
                });
            }

            // Update role selection and send data via AJAX
            function updateRoleSelection() {
                var selectedRoles = [];
                $('.role-checkbox:checked').each(function () {
                    var roleId = $(this).data('role-id');
                    var roleName = $(this).data('role-name');
                    selectedRoles.push(roleId + '|' + roleName);  // Concatenate roleId and roleName with a separator (|).
                });
                sendDataToCreateAction(selectedRoles.join(','), $('#SelectedBranches').val());
            }

            // Update branch selection and send data via AJAX
            function updateBranchSelection() {
                var selectedBranches = [];
                $('.branch-checkbox:checked').each(function () {
                    selectedBranches.push($(this).data('branch-id'));
                });
                sendDataToCreateAction($('#SelectedRoles').val(), selectedBranches.join(','));
            }

            // Send selected roles and branches via AJAX to the Create action
            function sendDataToCreateAction(selectedRoles, selectedBranches) {
                $.ajax({
                    url: '@Url.Action("Create", "SystemTransactiontypes", new { Area = "Admin" })',
                    type: 'POST',
                    data: {
                        selectedRoles: selectedRoles,  // This will now contain both roleId and roleName.
                        selectedBranches: selectedBranches,
                        systemPermissionType: $('#SystemPermissionType').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({ icon: 'success', title: 'Success!', text: response.message, timer: 1000, showConfirmButton: false });
                        } else {
                            Swal.fire({ icon: 'error', title: 'Error!', text: response.message, timer: 8000, showConfirmButton: true });
                        }
                    },
                    error: function () {
                        Swal.fire({ icon: 'error', title: 'Error!', text: 'An error occurred while processing your request.', timer: 8000, showConfirmButton: true });
                    }
                });
            }

            // Form submission logic
            function submitForm() {
                var selectedRoles = [];
                var selectedBranches = [];

                $('.role-checkbox:checked').each(function () {
                    var roleId = $(this).data('role-id');
                    var roleName = $(this).data('role-name');
                    selectedRoles.push(roleId + '|' + roleName);  // Include both roleId and roleName.
                });

                $('.branch-checkbox:checked').each(function () {
                    selectedBranches.push($(this).data('branch-id'));
                });

                $('#SelectedRoles').val(selectedRoles.join(','));
                $('#SelectedBranches').val(selectedBranches.join(','));

                var formData = $('#updateForm').serialize();
                $.ajax({
                    url: $('#updateForm').attr('action'),
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({ icon: 'success', title: 'Success!', text: response.message, timer: 1000, showConfirmButton: false })
                                .then(() => { window.location.href = '/Accounts/SystemTransactiontypes/Create'; });
                        } else {
                            Swal.fire({ icon: 'error', title: 'Error!', text: response.message, timer: 8000, showConfirmButton: true });
                        }
                    },
                    error: function () {
                        Swal.fire({ icon: 'error', title: 'Error!', text: 'An error occurred while processing your request.', timer: 8000, showConfirmButton: true });
                    }
                });
            }
        });
    </script>
}



        [HttpPost]
        public async Task<JsonResult>
    Remove(SystemPermissionTypeInRoleDTO roleBindingModel, string selectedRoles, string selectedBranches, int systemPermissionType)
    {
    await ServeNavigationMenus();
    ViewBag.SystemPermissionTypeSelectList = GetsystemPermissionTypeList(string.Empty);


    roleBindingModel.systemPermissionTypeInRoles = ParseSelectedRoles(selectedRoles);
    roleBindingModel.systemPermissionTypeInBranchDTOs = ParseSelectedBranches(selectedBranches);

    var linkedRoles = await _channelService.GetRolesForSystemPermissionTypeAsync(systemPermissionType, GetServiceHeader());
    var linkedBranches = await _channelService.GetBranchesForSystemPermissionTypeAsync(systemPermissionType, GetServiceHeader());
    ObservableCollection<string>
        k = new ObservableCollection<string>
            ();
            foreach (var n in roleBindingModel.systemPermissionTypeInRoles)
            {
            string p = n.RoleName;
            k.Add(p);
            }
            if (!roleBindingModel.HasErrors)
            {
            await _channelService.RemoveSystemPermissionTypeFromRolesAsync(roleBindingModel.SystemPermissionType, k, GetServiceHeader());
            await _channelService.RemoveSystemPermissionTypeFromBranchesAsync(roleBindingModel.SystemPermissionType, roleBindingModel.systemPermissionTypeInBranchDTOs, GetServiceHeader());

            return Json(new { success = true, message = "System Permissions Updated Successfully" });
            }

            await ServeNavigationMenus();
            return Json(new { success = false, message = "There was an error updating system permissions." });
            }
