<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> @ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/summernoteStyles")

</head>
<body>

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->


    </div>
    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    @Scripts.Render("~/plugins/idletimer")
    @Scripts.Render("~/plugins/toastr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
    @*<script src="https://cdn.datatables.net/ajax/buttons/1.6.2/js/datatables.buttons.min.js"></script>*@

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/messageAlert.js"></script>
    <link href="~/Scripts/css/ActionDropDown.css" rel="stylesheet" />
    <script src="~/Scripts/js/navlink.js"></script>

    <script>
        var lockScreen = false;

        //disable autocomplete
        $(document).ready(function () {
            $("input:text,form").attr("autocomplete", "off");
        })

        $(document).ready(function () {
            // Set idle time
            $(document).idleTimer(@System.Configuration.ConfigurationManager.AppSettings["AppTimeout"]);

        });

        $(document).on("idle.idleTimer", function (event, elem, obj) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "6000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            toastr.warning('Application is locking...', 'Application');
            $('.custom-alert').fadeIn();
            $('.custom-alert-active').fadeOut();

            lockScreen = true;

            // function you want to fire when the user becomes inactive
            setTimeout(redirectToLockScreen, 10000)
        });

        $(document).on("active.idleTimer", function (event, elem, obj, triggerevent) {

            lockScreen = false;

            // function you want to fire when the user becomes active again
            toastr.clear();

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "6000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            toastr.success('Application has been activated.', 'Application');
            $('.custom-alert').fadeOut();
        });

        function redirectToLockScreen() {
            if (lockScreen) {
                window.location.href = '@Url.Action("Lock", "Account", new { Area = ""})';
            }
        }
    </script>
</body>
</html>