@{
    ViewBag.Title = "Debit Batch";
}

<style>
    .links {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

        .nav a {
            text-decoration: none;
            padding: 10px 15px;
        }

            .nav a:hover {
                background-color: #0056b2;
            }

    .row-center {
        display: flex;
        align-items: center;
    }

    .ibox-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row row-center">
    <div class="col-lg-2">
        <h1>Debit Batch</h1>
    </div>
    <div class="col-lg-10">
        <div class="nav">
            <a href="@Url.Action("Index", "BatchOrigination_Voucher", new { Area = "Accounts" })" class="btn btn-info">Voucher</a>
            <a href="@Url.Action("Index", "BatchOrigination_Credit", new { Area = "Accounts" })" class="btn btn-info">Credit Batch</a>
            <a href="@Url.Action("Index", "BatchOrigination_Debit", new { Area = "Accounts" })" class="btn btn-info">Debit Batch</a>
            <a href="@Url.Action("Index", "BatchOrigination_Refund", new { Area = "Accounts" })" class="btn btn-info">Refund Batch</a>
            <a href="@Url.Action("Index", "BatchOrigination_Disbursement", new { Area = "Accounts" })" class="btn btn-info">Disbursement Batch</a>
            <a href="@Url.Action("Index", "BatchOrigination_WireTransfer", new { Area = "Accounts" })" class="btn btn-info">Wire Transfer Batch</a>
            <a href="#" class="btn btn-info" style="pointer-events: none; opacity: 0.6; cursor: not-allowed;">General Ledger Batch</a>
            <a href="#" class="btn btn-info" style="pointer-events: none; opacity: 0.6; cursor: not-allowed;">Inter Account Transfer Batch</a>
            <a href="@Url.Action("Index", "BatchOrigination_Reversal", new { Area = "Accounts" })" class="btn btn-info">Reversal Batch</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    @Html.ActionLink("Create Debit Batch", "Create", "BatchOrigination_Debit", new { Area = "Accounts" }, new { @class = "btn btn-primary" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="debitBatchesGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">Loading data from server</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#debitBatchesGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "BatchOrigination_Debit", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);
                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var verifiedDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var dt_Verified = $.datepicker.formatDate('dd/mm/yy', verifiedDate) + " " + h + ":" + m + ":" + s;
                    aData.verifiedDate = dt_Verified;

                    var dropdownHtml = `
                        <div class="dropdown">
                            <button style="width: 150px;" class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">`;

                    var viewButton = `<a class="dropdown-item" href="/Accounts/BatchOrigination_Debit/details/${aData.Id}">View</a>`;
                    var editButton = `<a class="dropdown-item" href="/Accounts/BatchOrigination_Debit/edit/${aData.Id}">Edit</a>`;
                    var verifyButton = `<a class="dropdown-item" href="/Accounts/BatchOrigination_Debit/Verify/${aData.Id}">Verify</a>`;
                    var authorizeButton = `<a class="dropdown-item" href="/Accounts/BatchOrigination_Debit/Authorize/${aData.Id}">Authorize</a>`;

                    switch (aData.Status) {
                        case 1:
                            dropdownHtml += viewButton + editButton + verifyButton + authorizeButton;
                            break;
                        case 8:
                            dropdownHtml += viewButton + authorizeButton;
                            break;
                        case 2:
                            dropdownHtml += viewButton;
                            break;
                        default:
                            dropdownHtml += viewButton;
                            break;
                    }

                    dropdownHtml += `</div></div>`;

                    $('td:eq(7)', nRow).html(dt_Verified);
                    $('td:eq(8)', nRow).html(dt_Created);
                    $('td:eq(9)', nRow).html(dropdownHtml);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "5%" },
                    { "mDataProp": "BatchNumber", "sTitle": "Batch Number", "sWidth": "5%" },
                    { "mDataProp": "StatusDescription", "sTitle": "Status", "sWidth": "3%" },
                    { "mDataProp": "DebitTypeDescription", "sTitle": "Debit Type", "sWidth": "3%" },
                    { "mDataProp": "PriorityDescription", "sTitle": "Priority", "sWidth": "2%" },
                    { "mDataProp": "AuditRemarks", "sTitle": "Verification/Rejection Remarks", "sWidth": "2%" },
                    { "mDataProp": "AuditedBy", "sTitle": "Verified/Rejected by", "sWidth": "2%" },
                    { "mDataProp": "AuditedDate", "sTitle": "Verification/Rejection Date", "sWidth": "2%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%" },
                    { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "4%", "bSortable": false }
                ],
                "aaSorting": [[0, "desc"]]
            });
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}
