@model Application.MainBoundedContext.DTO.AccountsModule.DebitBatchDTO

@{
    ViewBag.Title = "Verify Debit Batch";
    var debitBatchType = ViewBag.DebitBatchTypeSelectList as List<SelectListItem>;
    var queuePriority = ViewBag.QueuePrioritySelectList as List<SelectListItem>;
}

<style>
    .custom-container {
        border: 2px solid gray;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
        background-color: #00e0ff;
    }

    .combined-container {
        padding: 20px;
        border-radius: 5px;
        margin: 20px 0;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        border: 2px solid #00ffff;
    }

    .row {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .input-group-addon {
        padding: 10px;
    }

    .form-control {
        margin-top: 5px;
    }

    .btn-primary {
        border-radius: 10px;
    }

    #policies {
        color: black;
    }

    .main1 {
        border: 1px solid black;
        padding: 10px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BatchOrigination_Debit", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Verify</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
<div class="alert alert-danger fade in">
    <button class="close" data-dismiss="alert">
        ×
    </button>
    <i class="fa-fw fa fa-times"></i>
    <strong>Error!</strong> @TempData["Error"]
</div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2 style="font-weight: bold;">Verify Batch</h2>
                    <hr />
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Verify", "BatchOrigination_Debit", new { Area = "Accounts" }, FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <fieldset>
                            <div class="main1">
                                <div class="combined-container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.DebitBatchTypeId, htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.DebitBatchTypeId, debitBatchType, new { @class = "form-control input-md", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.DebitBatchTypeId)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.Priority, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.Priority, queuePriority, new { @class = "form-control input-md", @readonly = "readonly" })
                                                    @Html.ValidationMessageFor(model => model.Priority)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @required = "", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Value", @required = "", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AuditRemarks, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.AuditRemarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Audit Remarks", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.AuditRemarks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.StatusDescription, new { @class = "control-label" })
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                    @Html.DropDownListFor(model => model.StatusDescription, debitBatchType, new { @class = "form-control input-md" })
                                                    @Html.ValidationMessageFor(model => model.StatusDescription)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Add fields for post and posting remarks here -->
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                <!-- Placeholder for Post field -->
                                                @Html.Label("Post", new { @class = "control-label" })
                                                @Html.Editor("Post", new { htmlAttributes = new { @class = "form-control", @placeholder = "Post", @required = "" } })
                                                @Html.ValidationMessage("Post", "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group form-group-lg">
                                                <!-- Placeholder for Posting Remarks field -->
                                                @Html.Label("PostingRemarks", new { @class = "control-label" })
                                                @Html.Editor("PostingRemarks", new { htmlAttributes = new { @class = "form-control", @placeholder = "Posting Remarks", @required = "" } })
                                                @Html.ValidationMessage("PostingRemarks", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="custom-container">
                                    <div class="row" id="policies">
                                        <div class="col-lg-12">
                                            <div class="style-button" style="text-align: right;">
                                                <input type="submit" value="Verify" style="width: 150px;" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script>

        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

     //DebitType typehead starts here
            $('.DebitTypesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetDebitTypesAsync", "DebitType", new { Area = "Accounts" })',
                        { query: query },
                        function (DebitTypes) {
                            var newDebitTypesData = [];
                            DebitTypesMap = {};
                            $.each(DebitTypes, function (i, DebitType) {
                                newDebitTypesData.push(DebitType.Description);
                                DebitTypesMap[DebitType.Description] = DebitType;
                            });
                            process(newDebitTypesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var debitTypeId = "";
                    DebitTypeId = DebitTypesMap[item].Id;
                    $('#DebitTypeId').val(DebitTypeId);
                    //console.log(DebitTypeId)
                    return item;
                }
            });

         //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
            $(document).ready(function () {
                $('#data_3 .input-group.date').datepicker({
                    startView: 2,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                });
            });
            }); </script>
}


