﻿@model Application.MainBoundedContext.DTO.FrontOfficeModule.ExpensePayableDTO

@{
    ViewBag.Title = "Create Expense Payable";
    ViewBag.TypeDescription = new List<SelectListItem>
{
        new SelectListItem { Value = "Debit", Text = "Debit" },
        new SelectListItem { Value = "Credit", Text = "Credit" }
    };


}







<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially activate the first tab
        $('.nav-tabs li:first-child a').addClass('active');
        $('#tab1').addClass('active');

        // Handle tab click event
        $('.tab-link').on('click', function (e) {
            e.preventDefault();

            // Deactivate all tabs
            $('.tab-link').removeClass('active');
            $('.tab-content').removeClass('active');

            // Activate the clicked tab
            $(this).addClass('active');
            $($(this).attr('href')).addClass('active');
        });

        // Datepicker Initialization
        $('#ValueDate').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    });
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Expense Payable</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "ExpensePayable", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Expense Payable</h2>

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success !</strong> @TempData["SuccessMessage"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>}


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Create", "ExpensePayable", new { Area = "FrontOffice" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <!-- Expense Payables -->
                            <fieldset>
                                <div class="card mb-4">
                                    <div class="card-body text-info">
                                        <h1>Expense Payable Details</h1>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.TypeDescription, new { @class = "control-label", @for = "TypeDescription" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-bars fa-fw"></i>
                                                        </span>
                                                        @Html.DropDownListFor(model => model.TypeDescription,
                                                            new SelectList(ViewBag.TypeDescription, "Value", "Text"),
                                                            "Select",
                                                            new { @class = "form-control", @id = "TypeDescription" })
                                                        @Html.ValidationMessageFor(model => model.TypeDescription)
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ChartOfAccounts, htmlAttributes: new { @class = "control-label" })
                                                    @Html.HiddenFor(model => model.ChartOfAccountId, new { id = "ChartOfAccountId" })
                                                    @Html.EditorFor(model => model.ChartOfAccounts, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Enter space to autofill....", id = "ChartOfAccounts" } })
                                                    @Html.ValidationMessageFor(model => model.ChartOfAccounts, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.PostingPeriodDescription, htmlAttributes: new { @class = "control-label" })
                                                    @Html.HiddenFor(model => model.PostingPeriodId, new { id = "PostingPeriodId" })
                                                    @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required", placeholder = "Enter space to autofill...", id = "PostingPeriodDescription" } })
                                                    @Html.ValidationMessageFor(model => model.PostingPeriodDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @id = "TotalValue", @class = "form-control", @placeholder = "Enter amount....", @required = "" } })
                                                    @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ValueDate, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Enter Date.....", id = "ValueDate", required = "required" } })
                                                    <span id="ValueDateError" class="text-danger" style="display:none;"></span>
                                                    @Html.ValidationMessageFor(model => model.ValueDate, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextAreaFor(model => model.Remarks, new { @rows = 3, @class = "form-control", @placeholder = "Enter text....", @required = "" })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <h1>Expense Payable Entries</h1>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ExpensePayableEntry.ChartOfAccountAccountName, htmlAttributes: new { @class = "control-label" })
                                                    @Html.HiddenFor(model => model.ExpensePayableEntry.ChartOfAccountId, new { id = "ExpensePayableEntry_ChartOfAccountId" })
                                                    @Html.EditorFor(model => model.ExpensePayableEntry.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Enter space to autofill G/L Account...", id = "ExpensePayableEntry_ChartOfAccountAccountName" } })
                                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.ChartOfAccountAccountName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ExpensePayableEntry.Reference, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ExpensePayableEntry.Reference, new { htmlAttributes = new { @id = "mainReference", @class = "form-control required", @placeholder = "Enter text....", @required = "" } })
                                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.Reference, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ExpensePayableEntry.SecondaryDescription, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ExpensePayableEntry.SecondaryDescription, new { htmlAttributes = new { @id = "mainSecondaryDescription", @class = "form-control", @placeholder = "Enter text....", @required = "" } })
                                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.SecondaryDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ExpensePayableEntry.PrimaryDescription, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ExpensePayableEntry.PrimaryDescription, new { htmlAttributes = new { @id = "mainPrimaryDescription", @class = "form-control", @placeholder = "Enter text......", @required = "" } })
                                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.PrimaryDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ExpensePayableEntry.Value, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ExpensePayableEntry.Value, new { htmlAttributes = new { @id = "mainValue", @class = "form-control", @placeholder = "Enter Value....", @required = "" } })
                                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.Value, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.BranchDescription, htmlAttributes: new { @class = "control-label" })
                                                    @Html.HiddenFor(model => model.BranchId, new { id = "BranchId" })
                                                    @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @id = "BranchDescription", @class = "ExpensePayableEntryBranchesLookup form-control required", placeholder = "Enter space to autofill...." } })
                                                    @Html.ValidationMessageFor(model => model.BranchDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row d-flex justify-content-end">
                                            <div class="col-lg-3">
                                                <div class="form-group form-group-sm">
                                                    <button id="addEntryButton" style="width: 100px;" class="btn btn-primary">Add</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Container with Tabs -->
                                        <div class="row mt-4">

                                            <!-- Tab Navigation -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="entries-tab" data-toggle="tab" href="#entries" role="tab" aria-controls="entries" aria-selected="true">Expense Payable Entry Details</a>
                                                </li>
                                            </ul>

                                            <!-- Tab Content -->
                                            <div class="tab-content mt-2">
                                                <div class="tab-pane fade show active" id="entries" role="tabpanel" aria-labelledby="entries-tab">
                                                    <table id="ExpensePayableEntries" class="table table-bordered table-striped mt-2">
                                                        <thead>
                                                            <tr>
                                                                <th>Branch</th>
                                                                <th>G/L Account Name</th>
                                                                <th>Reference</th>
                                                                <th>Primary Description</th>
                                                                <th>Secondary Description</th>
                                                                <th>Value</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (ViewBag.ExpensePayableEntryDTOs != null)
                                                            {
                                                                foreach (var entry in ViewBag.ExpensePayableEntryDTOs)
                                                                {
                                                                    <tr id="row-@entry.Id">
                                                                        <td style="border: 1px solid #ddd;">@entry.BranchDescription</td>
                                                                        <td style="border: 1px solid #ddd;">@entry.ChartOfAccountName</td>
                                                                        <td style="border: 1px solid #ddd;">@entry.Reference</td>
                                                                        <td style="border: 1px solid #ddd;">@entry.PrimaryDescription</td>
                                                                        <td style="border: 1px solid #ddd;">@entry.SecondaryDescription</td>
                                                                        <td style="border: 1px solid #ddd;">@String.Format("{0:C}", entry.Value)</td>
                                                                        <td style="border: 1px solid #ddd;">
                                                                            <button type="submit" class="btn btn-danger btn-sm" onclick="removeEntry('@entry.Id')">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="container1">
                                                <h1>Account Summary</h1>
                                                <table class="summary-table">
                                                    <tr>
                                                        <td>
                                                            <label for="Appropotioned">Appropotioned Amount:</label>
                                                            <input type="text" id="Appropotioned" placeholder="Appropotioned" readonly>
                                                        </td>
                                                        <td>
                                                            <label for="Shortage">Shortage Amount:</label>
                                                            <input type="text" id="Shortage" placeholder="Shortage" readonly>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-end mt-4">
                                            <div class="col-lg-3">
                                                <div class="form-group form-group-sm">
                                                    <button type="submit" class="btn btn-success">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>

                <!-- Custom CSS -->
                <style>
                    .card {
                        margin-bottom: 20px;
                    }

                    .nav-tabs .nav-link.active {
                        background-color: #007bff;
                        color: white;
                    }

                    .form-group-lg {
                        margin-bottom: 1.5rem;
                    }

                    .form-control {
                        border-radius: .25rem;
                    }
                </style>



            </div>
        </div>
    </div>
</div>




@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/Content/plugins/jqueryValidationStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/jquery")
    @Scripts.Render("~/plugins/jqueryValidate")
    @Scripts.Render("~/plugins/jqueryValidateUnobtrusive")



    

    <script>
$(document).ready(function () {
    // Initialize typeahead for Chart of Accounts
    function initChartOfAccountTypeahead(selector, hiddenFieldId) {
        var ChartOfAccountsMap = {};  // Define the map outside the scope of the typeahead
        $(selector).typeahead({
            source: function (query, process) {
                return $.getJSON(
                    '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                    { query: query },
                    function (ChartOfAccounts) {
                        var newChartOfAccountsData = [];
                        ChartOfAccountsMap = {};

                        $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                            newChartOfAccountsData.push(ChartOfAccount.AccountName);
                            ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                        });
                        process(newChartOfAccountsData);
                    }
                );
            },
            matcher: function (item) {
                return item.toLowerCase().indexOf(this.query.trim().toLowerCase()) !== -1;
            },
            sorter: function (items) {
                return items.sort();
            },
            highlighter: function (item) {
                var regex = new RegExp('(' + this.query + ')', 'gi');
                return item.replace(regex, "<strong>$1</strong>");
            },
            updater: function (item) {
                var chartOfAccount = ChartOfAccountsMap[item];
                if (chartOfAccount) {
                    $('#' + hiddenFieldId).val(chartOfAccount.Id);

                }
                return item;
            }
        });
    }

    // Initialize typeahead for both fields
    initChartOfAccountTypeahead('#ChartOfAccounts', 'ChartOfAccountId');
    initChartOfAccountTypeahead('#ExpensePayableEntry_ChartOfAccountAccountName', 'ExpensePayableEntry_ChartOfAccountAccountName');
});
    </script>



    <script>

        $(document).ready(function () {
    // Initialize the steps wizard
    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            if (currentIndex > newIndex) {
                return true;
            }

            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            if (currentIndex < newIndex) {
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            form.validate().settings.ignore = ":disabled,:hidden";

            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            form.validate().settings.ignore = ":disabled";

            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            form.submit();
        }
    }).validate({
        errorPlacement: function (error, element) {
            element.before(error);
        },
        rules: {
            confirm: {
                equalTo: "#password"
            }
        }
    });

            // Function to check for duplicate entries
            function isDuplicateEntry(branchDescription, chartOfAccount, reference, primaryDescription, secondaryDescription, formattedValue) {
                var isDuplicate = false;
                $('#ExpensePayableEntries tbody tr').each(function () {
                    var existingBranchDescription = $(this).find('td').eq(0).text().trim();
                    var existingChartOfAccount = $(this).find('td').eq(1).text().trim();
                    var existingReference = $(this).find('td').eq(2).text().trim();
                    var existingPrimaryDescription = $(this).find('td').eq(3).text().trim();
                    var existingSecondaryDescription = $(this).find('td').eq(4).text().trim();
                    var existingValue = $(this).find('td').eq(5).text().trim();

                    if (branchDescription === existingBranchDescription &&
                        chartOfAccount === existingChartOfAccount &&
                        reference === existingReference &&
                        primaryDescription === existingPrimaryDescription &&
                        secondaryDescription === existingSecondaryDescription &&
                        formattedValue === existingValue) {
                        isDuplicate = true;
                        return false;
                    }
                });
                return isDuplicate;
            }

            // Add Entry
            $('#addEntryButton').click(function (e) {
                e.preventDefault();

                // Capture data from form fields
                var entryData = {
                    BranchDescription: $('#BranchDescription').val(),
                    BranchId: $('#BranchId').val(),
                    ChartOfAccountAccountName: $('#ExpensePayableEntry_ChartOfAccountAccountName').val(),
                    ChartOfAccountId: $('#ExpensePayableEntry_ChartOfAccountId').val(),
                    Reference: $('#mainReference').val(),
                    PrimaryDescription: $('#mainPrimaryDescription').val(),
                    SecondaryDescription: $('#mainSecondaryDescription').val(),
                    Value: parseFloat($('#mainValue').val()).toFixed(2),
                    TypeDescription: $('#TypeDescription').val(),
                    ChartOfAccounts: $('#ChartOfAccounts').val(),
                    ChartOfAccountId: $('#ChartOfAccountId').val(),
                    PostingPeriodDescription: $('#PostingPeriodDescription').val(),
                    PostingPeriodId: $('#PostingPeriodId').val(),
                    TotalValue: $('#TotalValue').val(),
                    Remarks: $('#Remarks').val(),
                    ValueDate: $('#ValueDate').val()
                };

                // Ensure all required fields have values
                if (!entryData.BranchDescription || !entryData.ChartOfAccountAccountName || !entryData.Reference || !entryData.PrimaryDescription || !entryData.Value ) {
                    alert("Please fill in all required fields.");
                    return;
                }

                // AJAX request to send data to the controller
                $.ajax({
                    url: '/ExpensePayable/AddEntry', // Replace with your controller's action URL
                    type: 'POST',
                    data: JSON.stringify(entryData),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        if (response.success) {
                            // Add the entry to the table
                            var newRow = '<tr data-entry-id="' + entryData.Id + '">' +
                                '<td>' + entryData.BranchDescription + '</td>' +
                                '<td>' + entryData.ChartOfAccountAccountName + '</td>' +
                                '<td>' + entryData.Reference + '</td>' +
                                '<td>' + entryData.PrimaryDescription + '</td>' +
                                '<td>' + entryData.SecondaryDescription + '</td>' +
                                '<td class="amount">' + entryData.Value + '</td>' +
                                '<td class="text-center">' +
                                '<button type="button" class="btn btn-danger remove-entry">' +
                                '<i class="fa fa-times"></i>' +
                                '</button>' +
                                '</td>' +
                                '</tr>';


                            // Append the new row to the table
                            $('#ExpensePayableEntries tbody').append(newRow);

                            // Update amounts after adding the entry
                            updateAmounts();

                            alert("Entry added successfully.");
                        } else {
                            alert("Failed to add entry: " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while adding the entry: " + error);
                    }
                });
            });





    // Initialize typeahead for various fields
    function initTypeahead(selector, url, hiddenFieldId) {
        var dataMap = {};
        $(selector).typeahead({
            source: function (query, process) {
                return $.getJSON(url, { query: query }, function (data) {
                    var newData = [];
                    dataMap = {};
                    $.each(data, function (i, item) {
                        newData.push(item.Description);
                        dataMap[item.Description] = item;
                    });
                    process(newData);
                });
            },
            matcher: function (item) {
                return item.toLowerCase().indexOf(this.query.trim().toLowerCase()) !== -1;
            },
            sorter: function (items) {
                return items.sort();
            },
            highlighter: function (item) {
                var regex = new RegExp('(' + this.query + ')', 'gi');
                return item.replace(regex, "<strong>$1</strong>");
            },
            updater: function (item) {
                var data = dataMap[item];
                if (data) {
                    $('#' + hiddenFieldId).val(data.Id);
                }
                return item;
            }
        });
    }

    initTypeahead('.PostingPeriodsLookup', '@Url.Action("GetPostingPeriodsAsync", "PostingPeriod", new { Area = "Accounts" })', 'PostingPeriodId');
    initTypeahead('.ChartOfAccountsLookup', '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })', 'ExpensePayableEntry_ChartOfAccountId');
    initTypeahead('.ExpensePayableEntryBranchesLookup', '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })', 'BranchId');
});
    </script>

    <script>
        // Function to handle row removal
        $(document).on('click', '.remove-entry', function () {
            if (confirm('Are you sure you want to remove this entry?')) {
                $(this).closest('tr').remove();

                // Update amounts after adding the entry
                updateAmounts();
            }
        });


    </script>



    //ajax form submisstion
    <script>
       $(document).ready(function () {
    $('#form').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "ExpensePayable")',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    // Redirect to the Index page of the ExpensePayable controller
                    window.location.href = '@Url.Action("Index", "ExpensePayable")';
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("An error occurred while processing your request.");
            }
        });
    });
       });





    </script>









    <script type="text/javascript">



        // Function to update amounts
        function updateAmounts() {
            var totalAmount = 0;
            var amountCells = $('#ExpensePayableEntries tbody tr td:nth-child(6)');

            // Calculate the total amount from the entries
            amountCells.each(function () {
                var text = $(this).text();
                var amount = parseFloat(text.replace(/[^0-9.-]/g, ''));
                if (!isNaN(amount)) {
                    totalAmount += amount;
                }
            });

            // Get the elements for Total Value, Appropotioned, and Shortage
            var totalValueElement = $('[name="TotalValue"]');
            var appropotionedElement = $('#Appropotioned');
            var shortageElement = $('#Shortage');

            // Get the total value input by the user
            var totalValue = parseFloat(totalValueElement.val()) || 0;

            // Update the Appropotioned field
            appropotionedElement.val(totalAmount.toFixed(2));

            // Calculate and update the Shortage field
            var shortage = totalValue - totalAmount;
            if (shortage < 0) {
                shortage = 0;
                alert('Appropotioned amount exceeds the total value!');
            }
            shortageElement.val(shortage.toFixed(2));
        }

        // Function to add a new entry
        function addEntry(entryData) {
            updateAmounts();

            var appropotionedAmount = parseFloat($('#Appropotioned').val()) || 0;
            var totalValue = parseFloat($('[name="TotalValue"]').val()) || 0;

            // Check if adding this entry would exceed the Total Value
            if (appropotionedAmount + entryData.value > totalValue) {
                alert("Cannot add this entry. The Appropotioned Amount would exceed the Total Value.");
                return false;
            }


            updateAmounts();
        }


        $(document).ready(function () {
            updateAmounts();

            $('#ExpensePayableEntries').on('change', 'input, select, textarea', function () {
                updateAmounts();
            });

            $('#addEntryButton').on('click', function () {
                var entryData = {
                    value: parseFloat($('#newEntryValue').val()) || 0,

                };

                addEntry(entryData);
            });


            $('#ExpensePayableEntries').on('DOMNodeInserted', 'tr', function () {
                updateAmounts();
            });

            // Update amounts when a row is removed using the AJAX removeEntry function
            $('#ExpensePayableEntries').on('click', '.remove-entry', function () {
                var id = $(this).data('id');
                removeEntry(id);
            });
        });
    </script>


    <style>
        .container1 {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        .summary-table {
            width: 100%;
            border-collapse: collapse;
        }

            .summary-table td {
                padding: 10px;
                border: 1px solid #ddd;
            }

            .summary-table label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .summary-table input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #f9f9f9;
            }

        .tab-content {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        .tab-pane {
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 50px;
        }

        thead {
            background-color: #f5f5f5;
        }

            thead th {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: center;
                font-style: italic;
                color: cadetblue;
            }

        tbody td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        /* Ensure no border between tabs and tab content */
        .nav-tabs {
            border-bottom: none; /* Remove bottom border from tab navigation */
        }

            .nav-tabs .nav-link {
                border: none; /* Remove borders from tab links */
                border-radius: 0; /* Remove border radius for a cleaner look */
            }

        .tab-content {
            border-top: 1px solid #ddd; /* Add a subtle border if needed */
            padding: 15px; /* Optional: Add padding for spacing */
        }

        /* Optional: Add spacing between tab navigation and content */
        .container {
            margin-top: 20px; /* Adjust top margin as needed */
        }
    </style>















}