@model Application.MainBoundedContext.DTO.FrontOfficeModule.ExpensePayableDTO

@{ ViewBag.Title = "Create Expense Payable";
    var journalVoucherTypes = ViewBag.JournalVoucherTypeSelectList as List<SelectListItem>; }

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Expense Payables</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "ExpensePayable", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Add", "ExpensePayable", new { Area = "FrontOffice" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1>Expense Payable</h1>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Type, new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.Type, journalVoucherTypes, new { @class = "form-control input-md" })
                                        @Html.ValidationMessageFor(model => model.Type)
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.BranchId)
                                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "ExpensePayableBranchesLookup form-control required", placeholder = "Branch Name" } })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.ChartOfAccountId)
                                    @Html.ValidationMessageFor(model => model.ChartOfAccountId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Chart of Acccount Name" } })
                                </div>
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.PostingPeriodId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.PostingPeriodId)
                                    @Html.ValidationMessageFor(model => model.PostingPeriodId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required", placeholder = "posting period Name" } })
                                </div>

                            </div>

                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Principal", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group" id="data_3">
                                    @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "" })
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="valuedate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <h1>Expense Payable entries</h1>




                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg" style="text-align: center;">
                                    @Html.LabelFor(model => model.ExpensePayableEntries[0].Reference, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ExpensePayableEntries[0].Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntries[0].Reference, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-lg" style="text-align: center;">
                                    @Html.LabelFor(model => model.ExpensePayableEntries[0].SecondaryDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ExpensePayableEntries[0].SecondaryDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Secondary description", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntries[0].SecondaryDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg" style="text-align: center;">
                                    @Html.LabelFor(model => model.ExpensePayableEntries[0].PrimaryDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ExpensePayableEntries[0].PrimaryDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "primary description", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntries[0].PrimaryDescription, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg" style="text-align: center;">
                                    @Html.LabelFor(model => model.ExpensePayableEntries[0].TotalValue, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ExpensePayableEntries[0].TotalValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Value", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntries[0].TotalValue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg" style="text-align: center;">
                                    @Html.LabelFor(model => model.ExpensePayableEntry.ChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.ExpensePayableEntry.ChartOfAccountId)
                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.ChartOfAccountId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ExpensePayableEntry.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "EntriesChartOfAccountsLookup form-control required", placeholder = "Chart of Acccount Name" } })
                                </div>

                                <div class="form-group form-group-lg" style="text-align: center;">
                                    @Html.LabelFor(model => model.ExpensePayableEntry.BranchId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.ExpensePayableEntry.BranchId)
                                    @Html.ValidationMessageFor(model => model.ExpensePayableEntry.BranchId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ExpensePayableEntry.BranchDescription, new { htmlAttributes = new { @class = "ExpensePayableEntryBranchesLookup form-control required", placeholder = "posting period Name" } })
                                </div>

                            </div>
                        </div>


                        <div class="form-group form-group-lg" style="text-align: center;">
                            <label></label>
                            <div class="input-group-btn">
                                <button id="add_button" class="btn btn-success" type="submit" style="margin-top: 25px;" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#expense-payable-entry">Add Expense Payable Entry</button>
                            </div>
                        </div>

                        <table class="table table-striped table-hover table-bordered" id="entries-table">
                            <thead>
                                <tr>
                                    <th data-hide="phone">Reference</th>
                                    <th data-hide="phone">TotalValue</th>
                                    <th data-hide="phone">Secondary Description</th>
                                    <th data-hide="phone">Primary Description</th>
                                    <th data-hide="phone"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.ExpensePayableEntryDTOs != null)
                                {
                                    foreach (var ExpensePayableEntries in ViewBag.ExpensePayableEntryDTOs)
                                    {
                                        <tr data-id="@ExpensePayableEntries.Id">
                                            <td>@ExpensePayableEntries.Reference</td>
                                            <td class="amount-cell">@ExpensePayableEntries.TotalValue</td>
                                            <td>@ExpensePayableEntries.SecondaryDescription</td>
                                            <td>@ExpensePayableEntries.PrimaryDescription</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger remove-btn">Remove</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <div class="container1">
                            <h2>ACCOUNT SUMMARY</h2>
                            <table class="summary-table">
                                <tr>
                                    <td>
                                        <label for="Appropotioned">Appropotioned Amount:</label>
                                        <input type="text" id="Appropotioned" placeholder="Appropotioned" readonly>
                                    </td>
                                    <td>
                                        <label for="Shortage">Shortage Amount:</label>
                                        <input type="text" id="Shortage" placeholder="Shortage" readonly>
                                    </td>
                                </tr>
                            </table>
                            <h3>Appropotioned Amount should not exceed the total Amount</h3>
                        </div>

                        <style>
                            .container1 {
                                padding: 20px;
                                background-color: #f9f9f9;
                                border-radius: 5px;
                                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                            }

                            h2 {
                                margin-bottom: 20px;
                                font-size: 24px;
                                color: #333;
                            }

                            .summary-table {
                                width: 100%;
                                border-collapse: collapse;
                                margin-bottom: 20px;
                            }

                                .summary-table td {
                                    padding: 10px;
                                    vertical-align: top;
                                }

                                .summary-table label {
                                    display: block;
                                    font-weight: bold;
                                    margin-bottom: 5px;
                                }

                                .summary-table input {
                                    width: 100%;
                                    padding: 8px;
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    box-sizing: border-box;
                                }

                            h3 {
                                font-size: 18px;
                                color: #666;
                            }
                        </style>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Create</button>
                            <a href="@Url.Action("Index", "ExpensePayable", new { Area = "FrontOffice" })" class="btn btn-info btn-lg">Cancel</a>
                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>


<script>

        // Open the modal
        $("#openModalButton").click(function () {
            $("#expenseModal").css("display", "block");
        });

        // Close the modal
        $(".close").click(function () {
            $("#expenseModal").css("display", "none");
        });

        $("#submitEntry").click(function () {
            const type = $("#type").val();
            const chartOfAccountId = $("#chartOfAccountId").val();
            const branchId = $("#branchId").val();
            const postingPeriodId = $("#postingPeriodId").val();
            const totalValue = $("#totalValue").val();
            const primaryDescription = $("#primaryDescription").val();
            const secondaryDescription = $("#secondaryDescription").val();
            const reference = $("#reference").val();
            const remarks = $("#remarks").val();

            // Perform AJAX request to send the data to your server
            $.post("/addExpensePayableEntry", { type, chartOfAccountId, branchId, postingPeriodId, totalValue, primaryDescription, secondaryDescription, reference, remarks }, function (response) {
                // Handle the response from the server
            });
        });



     //ChartOfAccount typehead starts here
    $('.ExpensePayableEntryChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;

                    $('#Id').val(ChartOfAccountId);

                    //console.log(ChartOfAccountId)
                    return item;
                }
            });



    //ChartOfAccount typehead starts here
    $('.ChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;

                    $('#ChartOfAccountId').val(ChartOfAccountId);

                    //console.log(ChartOfAccountId)
                    return item;
                }
            });
    //ChartOfAccount typehead starts here
    $('.EntriesChartOfAccountsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var chartOfAccountId = "";
                    ChartOfAccountId = ChartOfAccountsMap[item].Id;

                    $('#ExpensePayableEntry.ChartOfAccountId').val(ChartOfAccountId);

                    //console.log(ChartOfAccountId)
                    return item;
                }
            });

                //PostingPeriod typehead starts here
            $('.PostingPeriodsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetPostingPeriodsAsync", "PostingPeriod", new { Area = "Accounts" })',
                        { query: query },
                        function (PostingPeriods) {
                            var newPostingPeriodsData = [];
                            PostingPeriodsMap = {};
                            $.each(PostingPeriods, function (i, PostingPeriod) {
                                newPostingPeriodsData.push(PostingPeriod.Description);
                                PostingPeriodsMap[PostingPeriod.Description] = PostingPeriod;
                            });
                            process(newPostingPeriodsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var postingPeriodId = "";
                    PostingPeriodId = PostingPeriodsMap[item].Id;
                    $('#PostingPeriodId').val(PostingPeriodId);
                    //console.log(PostingPeriodId)
                    return item;
                }
            });

            $(document).ready(function () {
                $('#data_3 .input-group.date').datepicker({
                    startView: 2,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                });
            });



         //Branch typehead starts here
    $('.ExpensePayableBranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId  = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });

         //Branch typehead starts here
    $('.ExpensePayableEntryBranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId  = BranchesMap[item].Id;
                    $('#ExpensePayableEntry.BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });

    $(document).ready(function () {
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });


    });
</script>

<script>
    function updateAmounts() {
        var totalAmount = 0;
        var amountCells = document.getElementsByClassName('amount-cell');

        console.log('Amount Cells Count:', amountCells.length);

        for (var i = 0; i < amountCells.length; i++) {
            var text = amountCells[i].innerText;
            console.log('Amount Cell Text:', text);
            var amount = parseFloat(text.replace(/[^0-9.-]/g, '')); // Clean the text
            console.log('Parsed Amount:', amount);
            if (!isNaN(amount)) {
                totalAmount += amount;
            }
        }

        var totalValueElement = document.querySelector('[name="TotalValue"]');
        var appropotionedElement = document.getElementById('Appropotioned');
        var shortageElement = document.getElementById('Shortage');

        var totalValue = parseFloat(totalValueElement.value);
        console.log('Total Value:', totalValue);

        if (isNaN(totalValue)) {
            totalValue = 0;
        }

        if (totalAmount > totalValue) {
            alert('Appropotioned amount exceeds the total value!');
            return;
        }

        console.log('Total Amount:', totalAmount);
        appropotionedElement.value = totalAmount.toFixed(2);

        if (totalValue > totalAmount) {
            var shortage = totalValue - totalAmount;
            shortageElement.value = shortage.toFixed(2);
        } else {
            shortageElement.value = '0.00';
        }
    }

    // Call the function on page load and when the Total Value changes
    document.addEventListener('DOMContentLoaded', function () {
        updateAmounts();

        // Add event listener to Total Value input to update on change
        var totalValueElement = document.querySelector('[name="TotalValue"]');
        totalValueElement.addEventListener('input', updateAmounts);
    });
</script>



@*function updateAmounts() {
               var totalAmount = 0;
               var amountCells = document.getElementsByClassName('amount-cell');

               for (var i = 0; i < amountCells.length; i++) {
                   var amount = parseFloat(amountCells[i].innerText.trim().replace(',', '')); // Trim spaces and remove commas if present
                   if (!isNaN(amount)) {
                       totalAmount += amount;
                   }
               }

               var totalValueElement = document.querySelector('[name="TotalValue"]');
               var appropriatedElement = document.getElementById('Appropriated');
               var shortageElement = document.getElementById('Shortage');

               var totalValue = parseFloat(totalValueElement.value) || 0;

               if (totalAmount > totalValue) {
                   alert('Appropriated amount exceeds the total value!');
                   return;
               }

               appropriatedElement.value = totalAmount.toFixed(2); // Ensure 'Appropriated' is a <input> or <textarea> element

               if (totalValue > totalAmount) {
                   var shortage = totalValue - totalAmount;
                   shortageElement.value = shortage.toFixed(2); // Ensure 'Shortage' is a <input> or <textarea> element
               } else {
                   shortageElement.value = '0.00'; // Ensure 'Shortage' is set to a default value when totalValue === totalAmount
               }
           }
           // Call updateAmounts on page load and when TotalValue changes
           document.addEventListener('DOMContentLoaded', function () {
               updateAmounts();

               var totalValueElement = document.querySelector('[name="TotalValue"]');
               totalValueElement.addEventListener('input', updateAmounts);
           });
       });

    </script>*@
    }