@model Application.MainBoundedContext.DTO.FrontOfficeModule.ExpensePayableDTO

@{
    ViewBag.Title = "Details";
    var chartOfAccountType = ViewBag.ChartOfAccountTypeSelectList as List<SelectListItem>;
    var journalVoucherTypes = ViewBag.JournalVoucherTypeSelectList as List<SelectListItem>;
    var expensePayableEntry = ViewBag.ExpensePayableEntries as List<SelectListItem>;

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Expense Payable</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "ExpensePayable", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.Type)<br></strong>
                                @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.ValueDate)<br></strong>
                                @Html.TextBoxFor(model => model.ValueDate, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.CreatedDate)<br></strong>
                                @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.ChartOfAccountAccountName)<br></strong>
                                @Html.TextBoxFor(model => model.ChartOfAccountAccountName, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.TotalValue)<br></strong>
                                @Html.TextBoxFor(model => model.TotalValue, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.StatusDescription)<br></strong>
                                @Html.TextBoxFor(model => model.StatusDescription, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.BranchDescription)<br></strong>
                                @Html.TextBoxFor(model => model.BranchDescription, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.VoucherNumber)<br></strong>
                                @Html.TextBoxFor(model => model.VoucherNumber, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <strong>@Html.LabelFor(model => model.Remarks)<br></strong>
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>


                    <!-- Tab Navigation -->
                    <div class="container mt-4">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="entries-tab" data-toggle="tab" href="#entries" role="tab" aria-controls="entries" aria-selected="true">Entries</a>
                            </li>
                        </ul>

                        <!-- Tab Content -->
                        <div class="tab-content mt-3">
                            <div class="tab-pane fade show active" id="entries" role="tabpanel" aria-labelledby="entries-tab">
                                <!-- Row for Table Content -->
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Table for Entries -->
                                        <table id="ExpensePayableEntries" class="footable table table-striped toggle-arrow-tiny grey-table" style="color: black; width: 100%;">
                                            <thead style="font-style: italic; color: cadetblue; text-align: center;">
                                                <tr>
                                                    <th style="width: 15%">Branch</th>
                                                    <th style="width: 15%;">G/L Account Name</th>
                                                    <th style="width: 10%;">Reference</th>
                                                    <th style="width: 20%;">Primary description</th>
                                                    <th style="width: 20%;">Secondary description</th>
                                                    <th style="width: 10%;">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.ExpensePayableEntryDTOs != null)
                                                {
                                                    foreach (var expensePayableEntries in ViewBag.ExpensePayableEntryDTOs)
                                                    {
                                                        <tr>
                                                            <td>@expensePayableEntries.BranchDescription</td>
                                                            <td>@expensePayableEntries.ChartOfAccountAccountName</td>
                                                            <td>@expensePayableEntries.Reference</td>
                                                            <td>@expensePayableEntries.PrimaryDescription</td>
                                                            <td>@expensePayableEntries.SecondaryDescription</td>
                                                            <td>@expensePayableEntries.Value</td>
                                                            <td><!-- Action Buttons --></td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="7" class="text-center">No entries available.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "ExpensePayable", new { id = Model.Id, Area = "FrontOffice" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "ExpensePayable", new { Area = "FrontOffice" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
