@{
    ViewBag.Title = "Expense Payable";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Expense Payable </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-title">
                    @Html.ActionLink("Create Expense Payable", "Create", "ExpensePayable", new { Area = "FrontOffice" }, new { @class = "btn btn-primary" })

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success !</strong> @TempData["SuccessMessage"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>}
                    

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="ExpensePayablesGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ExpensePayablesGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "ExpensePayable", new { Area = "FrontOffice"}))",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);
                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var valueDate = new Date(parseInt(aData.ValueDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + valueDate.getHours()).slice(-2);
                    var m = ("0" + valueDate.getMinutes()).slice(-2);
                    var s = ("0" + valueDate.getSeconds()).slice(-2);

                    var dt_Valued = $.datepicker.formatDate('dd/mm/yy', valueDate) + " " + h + ":" + m + ":" + s;
                    aData.ValueDate = dt_Valued;

                    var dropdownHtml = `
                        <div class="dropdown">
                            <button style="width: 150px;" class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">`;

                    var viewButton = `<a class="dropdown-item" href="/FrontOffice/ExpensePayable/Details/${aData.Id}">View</a>`;
                    var editButton = `<a class="dropdown-item" href="/FrontOffice/ExpensePayable/Edit/${aData.Id}">Edit</a>`;
                    var verifyButton = `<a class="dropdown-item" href="/FrontOffice/ExpensePayable/verify/${aData.Id}">Verify</a>`;
                    var approveButton = `<a class="dropdown-item" href="/FrontOffice/ExpensePayable/approve/${aData.Id}">Approve</a>`;
                   

                    switch (aData.Status) {
                        case 1: // Pending
                            dropdownHtml += viewButton + editButton + verifyButton + approveButton;
                            break;
                        case 8: // Audited
                            dropdownHtml += viewButton + approveButton;
                            break;
                        case 2: // Posted
                            dropdownHtml += viewButton;
                            break;
                        default:
                            dropdownHtml += viewButton;
                            break;
                    }

                    dropdownHtml += `</div></div>`;

                    $('td:eq(6)', nRow).html(dt_Created);
                    $('td:eq(7)', nRow).html(dropdownHtml);
                    $('td:eq(2)', nRow).html(dt_Valued);


                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "10%" },
                    { "mDataProp": "TotalValue", "sTitle": "Total Value", "sWidth": "8%" },
                    { "mDataProp": "ValueDate", "sTitle": "Value Date", "sWidth": "10%" },
                    { "mDataProp": "ChartOfAccountAccountName", "sTitle": "G/L Account Name", "sWidth": "10%" },
                    { "mDataProp": "Remarks", "sTitle": "Remarks", "sWidth": "10%" },
                    { "mDataProp": "StatusDescription", "sTitle": "Status", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "8%", "bSortable": false },
                    { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }
                ],
                "aaSorting": [[0, "desc"]]
            });
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>


   
}
