﻿@model Application.MainBoundedContext.DTO.FrontOfficeModule.ExpensePayableDTO

@{
    ViewBag.Title = "Verify Expense Payable";
    var loanInterestCalculationModes = ViewBag.LoanInterestCalculationModeSelectList as List<SelectListItem>;
    var loanRegistrationLoanProductSections = ViewBag.LoanRegistrationLoanProductSectionSelectList as List<SelectListItem>;
    var expensePayableStatuses = ViewBag.ExpensePayableAuthOptionTypeSelectList as List<SelectListItem>;

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Verify Expense Payable</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "ExpensePayable", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Verify</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Verify", "ExpensePayable", new { Area = "FrontOffice" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PostingPeriodId)



                        <h1>Verify</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", placeholder = "......", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", placeholder = "......", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.ValueDate, new { htmlAttributes = new { @class = "form-control", @placeholder = ".....", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.ValueDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.BranchDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.BranchId)
                                        @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "....", disabled = "" } })
                                        @Html.ValidationMessageFor(model => model.BranchDescription, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ChartOfAccountAccountName, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Branch Description", disabled = "" } })
                                        @Html.ValidationMessageFor(model => model.ChartOfAccountAccountName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", placeholder = "Remarks", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.StatusDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.StatusDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Audit remarks", disabled = "" } })
                                        @Html.ValidationMessageFor(model => model.StatusDescription, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.AuditRemarks, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AuditRemarks, new { htmlAttributes = new { @class = "form-control", placeholder = "Audit remarks" } })
                                        @Html.ValidationMessageFor(model => model.AuditRemarks, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-4">


                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.Type, expensePayableStatuses, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.Type)
                                        </div>
                                    </div>



                                </div>


                            </div>







                            <!-- Container with Tabs -->
                            <div class="row mt-4">

                                <!-- Tab Navigation -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="entries-tab" data-toggle="tab" href="#entries" role="tab" aria-controls="entries" aria-selected="true">Expense Payable Entry Details</a>
                                    </li>
                                </ul>

                                <!-- Tab Content -->
                                <div class="tab-content mt-2">
                                    <div class="tab-pane fade show active" id="entries" role="tabpanel" aria-labelledby="entries-tab">
                                        <table id="ExpensePayableEntries" class="table table-bordered table-striped mt-2">
                                            <thead>
                                                <tr>
                                                    <th>Branch</th>
                                                    <th>G/L Account</th>
                                                    <th>Reference</th>
                                                    <th>Primary Description</th>
                                                    <th>Secondary Description</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.ExpensePayableEntryDTOs != null)
                                                {
                                                    foreach (var entry in ViewBag.ExpensePayableEntryDTOs)
                                                    {
                                                        <tr id="row-@entry.Id">
                                                            <td style="border: 1px solid #ddd;">@entry.BranchDescription</td>
                                                            <td style="border: 1px solid #ddd;">@entry.ChartOfAccountName</td>
                                                            <td style="border: 1px solid #ddd;">@entry.Reference</td>
                                                            <td style="border: 1px solid #ddd;">@entry.PrimaryDescription</td>
                                                            <td style="border: 1px solid #ddd;">@entry.SecondaryDescription</td>
                                                            <td style="border: 1px solid #ddd;">@String.Format("{0:C}", entry.Value)</td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Custom CSS -->
                            <style>
                                .card {
                                    margin-bottom: 20px;
                                }

                                .nav-tabs .nav-link.active {
                                    background-color: #007bff;
                                    color: white;
                                }

                                .form-group-lg {
                                    margin-bottom: 1.5rem;
                                }

                                .form-control {
                                    border-radius: .25rem;
                                }
                            </style>
                        </fieldset>


                        <div class="form-group form-group-sm text-right">
                            <input type="submit" value="Verify" class="btn btn-primary" />
                        </div>

                    }




                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script>
        $(document).ready(function () {

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });


            $(document).ready(function () {
                $('#data_3 .input-group.date').datepicker({
                    startView: 2,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                });
            });


        });

    </script>
    <style>
        .container1 {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        .summary-table {
            width: 100%;
            border-collapse: collapse;
        }

            .summary-table td {
                padding: 10px;
                border: 1px solid #ddd;
            }

            .summary-table label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .summary-table input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #f9f9f9;
            }

        .tab-content {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        .tab-pane {
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 50px;
        }

        thead {
            background-color: #f5f5f5;
        }

            thead th {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: center;
                font-style: italic;
                color: cadetblue;
            }

        tbody td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        /* Ensure no border between tabs and tab content */
        .nav-tabs {
            border-bottom: none; /* Remove bottom border from tab navigation */
        }

            .nav-tabs .nav-link {
                border: none; /* Remove borders from tab links */
                border-radius: 0; /* Remove border radius for a cleaner look */
            }

        .tab-content {
            border-top: 1px solid #ddd; /* Add a subtle border if needed */
            padding: 15px; /* Optional: Add padding for spacing */
        }

        /* Optional: Add spacing between tab navigation and content */
        .container {
            margin-top: 20px; /* Adjust top margin as needed */
        }
    </style>
}