@model  Application.MainBoundedContext.DTO.AccountsModule.CommissionDTO
@model  Application.MainBoundedContext.DTO.AccountsModule.DynamicChargeDTO

@{
    /**/

    ViewBag.Title = "Alternate Channels";
    var queuePriorities = ViewBag.QueuePrioritySelectList as List<SelectListItem>;   
    var Charge = ViewBag.ChargeBenefactor as List<SelectListItem>;
    var trans = ViewBag.SystemTransactionType as List<SelectListItem>;
    var Alternate = ViewBag.AlternateChannelType as List<SelectListItem>;
    var h = ViewBag.Chargetype as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Alternate Channels</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AlternateChannels", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "AlternateChannels", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                    <h1>Alternate Channelss</h1>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-6">
                                @*<div class="form-group form-group-sm">
                                        @Html.LabelFor(model => model.DebitTypeId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.DebitTypeId)
                                        @Html.ValidationMessageFor(model => model.DebitTypeId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.DebitTypeDescription, new { htmlAttributes = new { @class = "DebitTypesLookup form-control required", placeholder = "Description.." } })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.ChargeBenefactor, new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.ChargeBenefactor, trans, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.ChargeBenefactor)
                                        </div>
                                    </div>
                                        @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.BranchId)
                                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Description.." } })
                                </div>


                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ComplementType, new { @class = "control-label" })
                                        @Html.LabelFor(model => model.Priority, new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.ComplementType, h, new { @class = "form-control input-md" })
                                        @Html.ValidationMessageFor(model => model.ComplementType)
                                    </div>
                                            @Html.DropDownListFor(model => model.Priority, queuePriorities, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(model => model.Priority)
                                </div>

                                    </div>*@
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-group-sm">
                                    <div class="col-md-offset-2">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")

    <script>

     //DebitType typehead starts here
            $('.DebitTypesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetDebitTypesAsync", "DebitType", new { Area = "Accounts" })',
                        { query: query },
                        function (DebitTypes) {
                            var newDebitTypesData = [];
                            DebitTypesMap = {};
                            $.each(DebitTypes, function (i, DebitType) {
                                newDebitTypesData.push(DebitType.Description);
                                DebitTypesMap[DebitType.Description] = DebitType;
                            });
                            process(newDebitTypesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var debitTypeId = "";
                    DebitTypeId = DebitTypesMap[item].Id;
                    $('#DebitTypeId').val(DebitTypeId);
                    //console.log(DebitTypeId)
                    return item;
                }
            });



        $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

        });

                 //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }

            }); </script>
}