@model  Application.MainBoundedContext.DTO.HumanResourcesModule.LeaveTypeDTO
@{ ViewBag.Title = "Leave Types Details"; }
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Leave Types</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LeaveType", new { Area = "HumanResource" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <fieldset>
                        <div class="card mb-4">
                            <div class="card-body text-dark">
                                <div class="row">

                                    <div class="col-lg-6">
                                        @Html.LabelFor(model => model.UnitTypeDescription, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.UnitTypeDescription, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.UnitTypeDescription, new { htmlAttributes = new { @class = "Description Name required", placeholder = "Enter Text....", @readonly = "" } })

                                    </div>

                                    <div class="col-lg-6">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Description Name required", placeholder = "Enter Text....", @readonly = "" } })
                                    </div>




                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Entitlement, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Entitlement, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entitlement Days.", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.Entitlement, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group form-group-lg">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.TargetGenderDescription, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.TargetGenderDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entitlement Days.", @required = "", @readonly = "" } })
                                                @Html.ValidationMessageFor(model => model.TargetGenderDescription, "", new { @class = "text-danger" })
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-button row mt-3" style="display: flex; justify-content: flex-end; padding-right:50px; margin-top:20px;">
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.ExcludeWeekends)

                                        @Html.LabelFor(model => model.ExcludeWeekends, htmlAttributes: new { @class = "", @readonly = "" })
                                        @Html.ValidationMessageFor(model => model.ExcludeWeekends, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.ExcludeHolidays)

                                        @Html.LabelFor(model => model.ExcludeHolidays, htmlAttributes: new { @class = "", @readonly = "" })
                                        @Html.ValidationMessageFor(model => model.ExcludeHolidays, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?", @readonly = "" } })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                    <p>
                                        @Html.ActionLink("Edit", "Edit", "LeaveType", new { id = Model.Id, Area = "HumanResource" }, new { @class = "btn btn-success" })
                                        @Html.ActionLink("Back to List", "Index", "LeaveType", new { Area = "HumanResource" }, new { @class = "btn btn-success" })
                                    </p>

                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </fieldset>


                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        margin-bottom: 20px;
    }



    .col-lg-2 {
        display: flex;
        align-items: center; /* Center the title vertically */
        justify-content: center; /* Center the title horizontally if needed */
        padding: 0; /* Remove default padding if necessary */
        border-radius: 4px; /* Rounded corners */
    }

    .bottom-button {
        border: 2px solid gray; /* Border color set to gray */
        padding: 10px; /* Padding inside the border */
        border-radius: 5px; /* Rounded corners (optional) */
        font-size: 16px;
        font-weight: bold;
        background-color: #e0f0ff;
    }
</style>

