@model  Application.MainBoundedContext.DTO.RegistryModule.CustomerBindingModel
@{ ViewBag.Title = "Create User"; }

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>User Registration</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Customer", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-secondary text-info">
                    @using (Html.BeginForm("Create", "Customer", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonFirstName, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonFirstName, new { htmlAttributes = new { @class = "form-control required", placeholder = "First Name", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonFirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonOtherNames, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonOtherNames, new { htmlAttributes = new { @class = "form-control required", placeholder = "Other Names", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonOtherNames, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonIdentityNumber, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonIdentityNumber, new { htmlAttributes = new { @class = "form-control required", placeholder = "Identity Number", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonIdentityNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonEmail, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonEmail, new { htmlAttributes = new { @class = "form-control required", placeholder = "Email", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonEmail, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonMobileLine, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonMobileLine, new { htmlAttributes = new { @class = "form-control required", placeholder = "Mobile Line", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonMobileLine, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonDesignation, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonDesignation, new { htmlAttributes = new { @class = "form-control required", placeholder = "Designation", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonDesignation, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-lg-8">
                                                    <div class="form-group form-group-lg">
                                                        @Html.LabelFor(model => model.ContactPersonStation, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ContactPersonStation, new { htmlAttributes = new { @class = "form-control required", placeholder = "Station", colspan = "10" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonStation, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="form-group">
                                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")

    <script>
        $(document).ready(function () {
        });

    </script>
}