@model  Application.MainBoundedContext.DTO.FrontOfficeModule.FiscalCountDTO

@{
    /**/

    ViewBag.Title = "Create CashManagement";

    var withdrawalNotificationCategories = ViewBag.WithdrawalNotificationCategorySelectList as List<SelectListItem>;

    var treasuryTransactionTypes = ViewBag.TreasuryTransactionTypeSelectList as List<SelectListItem>;


}

@*@using (Html.BeginForm("Search", "CashManagement", new { Area = "FrontOffice" }, FormMethod.Get))
    {
        TempData["Remarks"] = "HAM";
    }*@

<head>
    <style>

        /* Inner Tabs */

        /* General styling for all .inner-nav-tabs */
        .inner-nav-tabs .inner-nav-link {
            display: block;
            padding: 0.5rem 1rem;
            color: #007bff;
            background-color: transparent;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
            text-decoration: none;
        }

            .inner-nav-tabs .inner-nav-link:hover {
                color: #0056b3;
                background-color: #e9ecef;
            }

            .inner-nav-tabs .inner-nav-link.active {
                color: #495057;
                background-color: #fff;
                border: 1px solid #dee2e6;
                border-bottom-color: transparent; /* To match the Bootstrap look */
            }


        /*.inner-nav-pills .inner-nav-link.active {
            color: #fff;*/ /* White text for active pill */
        /*background-color: #007bff;*/ /* Primary color background for active pill */
        /*}*/



        /* Tab Content */
        .tab-content > .tab-pane,
        .inner-tab-content > .inner-tab-pane {
            display: none;
        }

            .tab-content > .tab-pane.active,
            .inner-tab-content > .inner-tab-pane.active {
                display: block;
            }
    </style>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cash Management</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "CashManagement", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content bg-white text-info" style="border: 1px solid #ddd; border-radius: 4px; padding: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("Create", "CashManagement", new { Area = "FrontOffice" }, FormMethod.Post, new { @id = "cashManagementForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <!-- Main Tabs -->
                            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#cashManagement">Cash Management</a>
                                </li>
                                @*<li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#cashWithdrawalRequest">Cash Withdrawal Request</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#fiscalCatalog">Fiscal Catalog</a>
                                    </li>*@
                            </ul>

                            <div class="tab-content">
                                <!-- Cash Management Tab -->
                                <div id="cashManagement" class="tab-pane active">
                                    <!-- Inner Tabs for Cash Management -->
                                    <ul class="nav inner-nav-tabs" style="margin-bottom: 20px;">
                                        <li class="nav-item">
                                            <a class="inner-nav-link active" data-toggle="tab" href="#transaction">Transaction</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="inner-nav-link" data-toggle="tab" href="#treasuryGLAccountStatement">Treasury G/L Account Statement</a>
                                        </li>
                                    </ul>

                                    <div class="inner-tab-content">
                                        <div id="transaction" class="inner-tab-pane active">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-bars fa-fw"></i></span>
                                                        </div>
                                                        @Html.DropDownListFor(model => model.TransactionType, treasuryTransactionTypes, new { @id = "TransactionType", @class = "form-control input-md" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.TransactionType)
                                                </div>

                                                <label class="col-sm-2 col-form-label">Destination:</label>
                                                <div class="col-sm-4">
                                                    @*<div class="form-group">*@
                                                    @Html.HiddenFor(model => model.Id, new { @id = "Id" })
                                                    @Html.HiddenFor(model => model.DestinationBranchId, new { @id = "DestinationBranchId" })

                                                    <div class="input-group" data-autoclose="true">
                                                        @Html.TextBoxFor(model => model.Description, new { @id = "DestinationDescription", @class = "form-control", @readonly = "readonly" })
                                                        <span class="input-group-addon">
                                                            <a id="searchButton" data-toggle="modal" data-target="#">
                                                                <span class="fa fa-search"></span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    @*</div>*@
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Total Value:</label>
                                                <div class="col-sm-4">
                                                    @Html.TextBoxFor(model => model.TotalValue, new { @id = "TotalValue", @class = "form-control" })
                                                </div>

                                                <label class="col-sm-2 col-form-label">Reference:</label>
                                                <div class="col-sm-4">
                                                    @Html.TextBoxFor(model => model.Reference, new { @id = "Reference", @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>


                                        <!-- Teller G/L Account Statement Tab -->
                                        <div id="treasuryGLAccountStatement" class="inner-tab-pane">
                                            <div class="table-responsive">
                                                <table id="tellerGlTable" class="table table-striped table-bordered table-hover" style="width:100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="dataTables_empty">
                                                                Loading data from server
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                            <div class="row mt-3">
                                                <div class="col-md-3">
                                                    <label for="AvailableBalanceBroughtForward">Balance B/F:</label>
                                                    <input type="text" id="AvailableBalanceBroughtForward" class="form-control" readonly>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="TotalDebits">Total Debits:</label>
                                                    <input type="text" id="TotalDebits" class="form-control" readonly>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="TotalCredits">Total Credits:</label>
                                                    <input type="text" id="TotalCredits" class="form-control" readonly>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="AvailableBalanceCarrriedForward">Balance C/F:</label>
                                                    <input type="text" id="AvailableBalanceCarriedForward" class="form-control" readonly>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Fiscal Catalog Tab -->
                                <!--<div id="fiscalCatalog" class="tab-pane">-->
                                <!-- Content for Fiscal Catalog tab -->
                                <!--</div> -->
                            </div>

                            <div class="form-group row" style="margin-top: 20px;">
                                <div class="col-sm-12 text-right">
                                    <button id ="submitButton" type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="EmployeeLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Tellers Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="EmployeesGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="TresuriesLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Treasuries Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="TresuriessGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal  fade" id="BankssLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Banks Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="BankssGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>
    $(document).ready(function () {
        var searchButton = $('#searchButton');
        var selectedValue = $('#TransactionType').val(); // Get the initial value of the dropdown

        function updateSearchButtonTarget() {
            // Reset data-target
            searchButton.attr('data-target', '#');

            // Set data-target based on the selected value
            switch (selectedValue) {
                case '1':
                    searchButton.attr('data-target', '#TresuriesLookupModal');
                    break;
                case '2':
                case '4':
                    searchButton.attr('data-target', '#BankssLookupModal');
                    break;
                case '8':
                    searchButton.attr('data-target', '#EmployeeLookupModal');
                    break;
                default:
                    searchButton.attr('data-target', '#TresuriesLookupModal');
                    break;
            }
        }

      
        updateSearchButtonTarget();

        $('#TransactionType').change(function () {
            selectedValue = $(this).val();
            updateSearchButtonTarget();
        });

        if (selectedValue) {
            $('#TransactionType').val(selectedValue).change();
        }
    });






 $('#tellerGlTable').DataTable({
    "sPaginationType": "full_numbers",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "@Url.Action("Index", "CashManagement", new { Area = "FrontOffice" })",
    "sServerMethod": "POST",
    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        var createdDate = new Date(parseInt(aData.JournalCreatedDate.replace("/Date(", "").replace(")/", ""), 10));
        var h = ("0" + createdDate.getHours()).slice(-2);
        var m = ("0" + createdDate.getMinutes()).slice(-2);
        var s = ("0" + createdDate.getSeconds()).slice(-2);
        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
        aData.JournalCreatedDate = dt_Created;
        $('td:eq(1)', nRow).html(dt_Created);
        return nRow;
    },
    "aoColumns": [
        { "mDataProp": "BranchDescription", "sTitle": "Branch", "sWidth": "15%" },
        { "mDataProp": "JournalCreatedDate", "sTitle": "Txn Date", "sWidth": "15%" },
        { "mDataProp": "JournalPrimaryDescription", "sTitle": "Primary Description", "sWidth": "25%" },
        { "mDataProp": "Debit", "sTitle": "Debit", "sWidth": "10%" },
        { "mDataProp": "Credit", "sTitle": "Credit", "sWidth": "10%" },
        { "mDataProp": "RunningBalance", "sTitle": "Running Balance", "sWidth": "10%" },
        { "mDataProp": "ContraGLAccountName", "sTitle": "Contra G/L Account", "sWidth": "15%" }
    ],
    "aaSorting": [[1, "desc"]], // Default sorting, adjust index as needed
    "fnDrawCallback": function (settings) {
        // Access the JSON response
        var jsonResponse = settings.json;

        // Update the summary data
        $('#AvailableBalanceBroughtForward').val(jsonResponse.summary.AvailableBalanceBroughtForward);
        $('#TotalCredits').val(jsonResponse.summary.TotalCredits);
        $('#TotalDebits').val(jsonResponse.summary.TotalDebits);
        $('#AvailableBalanceCarriedForward').val(jsonResponse.summary.AvailableBalanceCarriedForward);
    }
});


        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });
             //Station typehead starts here

     
        $('#EmployeesGrid').DataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("Index", "Teller", new { Area = "FrontOffice" }))",
            "sServerMethod": "POST",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "tellerType", "value": 0 }

                )
            },
    // Callback settings
    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

        //console.log("Row data:", aData);

        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
        var h = ("0" + createdDate.getHours()).slice(-2);
        var m = ("0" + createdDate.getMinutes()).slice(-2);
        var s = ("0" + createdDate.getSeconds()).slice(-2);
        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
        aData.CreatedDate = dt_Created;

        var selectUrl = '<button data-id="' + aData.Id + '" data-description="' + aData.Description +'" data-full-name="' + aData.Description + '" data-destination-branch-id="' + aData.EmployeeBranchId + '" data-teller-chart-of-account-id="' + aData.ChartOfAccountId + '" class="btn btn-outline-info select-btn">Select</button>';

        $('td:eq(4)', nRow).html(dt_Created);
        $('td:eq(5)', nRow).html(selectUrl);

        return nRow;
    },
    // Display settings
    "aoColumns": [
        { "mDataProp": "Description", "sTitle": "Name", "sWidth": "15%" },
        { "mDataProp": "TypeDescription", "sTitle": "Type", "sWidth": "10%" },
        { "mDataProp": "Reference", "sTitle": "Reference", "sWidth": "10%" },
        { "mDataProp": "ChartOfAccountAccountName", "sTitle": "ChartOfAccountAccountName", "sWidth": "15%" },
        { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
        { "mDataProp": null, "sTitle": "", "sWidth": "10%", "bSortable": false }
    ],
    "aaSorting": [[0, "desc"]]
});

// Event delegation for dynamically added select buttons
$("#EmployeesGrid tbody").on("click", ".select-btn", function() {
    var id = $(this).data('id');
    var fullName = $(this).data('full-name');
    var destinationBranchId = $(this).data('destination-branch-id');
    var tellerChartOfAccountId = $(this).data('teller-chart-of-account-id');
    var description = $(this).data('description');

    console.log($(this).data());


    
    $('#Id').val(id);
    $('input[name=Id]').val(id);
    $('#DestinationBranchId').val(destinationBranchId);
    $('#DestinationDescription').val(description);

    // Close the modal
    $('#EmployeeLookupModal').modal('hide');
});


    $(document).ready(function () {
        $('#data_3 .input-group.date').datepicker({
            startView: 2,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
        });
    });



$('#TresuriessGrid').DataTable({
    // Ajax settings
    "sPaginationType": "full_numbers",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "@(Url.Action("Index", "Treasury", new { Area = "FrontOffice" }))",
    "sServerMethod": "POST",
    // Callback settings
    "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
        var h = ("0" + createdDate.getHours()).slice(-2);
        var m = ("0" + createdDate.getMinutes()).slice(-2);
        var s = ("0" + createdDate.getSeconds()).slice(-2);
        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
        aData.CreatedDate = dt_Created;

        console.log(aData);

        var selectUrl = '<button data-branchid="' + aData.BranchId + '" data-id="' + aData.Id + '" data-description="' + aData.Description + '" class="btn btn-outline-info select-btn">Select</button>';

        $('td:eq(3)', nRow).html(dt_Created);
        $('td:eq(4)', nRow).html(selectUrl);

        return nRow;
    },
    // Display settings
    "aoColumns": [
        { "mDataProp": "Description", "sTitle": "Treasury Name", "sWidth": "15%" },
        { "mDataProp": "ChartOfAccountAccountName", "sTitle": "COA Name", "sWidth": "15%" },
        { "mDataProp": "BranchDescription", "sTitle": "Branch Name", "sWidth": "15%" },
        { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
        { "mDataProp": null, "sTitle": "", "sWidth": "10%", "bSortable": false }
    ],
    "aaSorting": [[0, "desc"]]
});

$("#TresuriessGrid tbody").on("click", ".select-btn", function() {
    var id = $(this).data('id');
    var description = $(this).data('description');
    var branchId = $(this).data('branchid');

    console.log(id);

    console.log("branchid is " + branchId);

    // Set values based on selected data
    $('#Id').val(id);
    $('#DestinationBranchId').val(branchId);
    $('#DestinationDescription').val(description);

    // Close the modal permanently
    $('#TresuriesLookupModal').modal('hide');
});

// Add click event for lookup buttons to mimic the behavior of select button
//$("#TresuriessGrid tbody").on("click", ".lookup-btn", function() {
//    var id = $(this).data('id');
//    var description = $(this).data('description');
//    var branchId = $(this).data('branchId');

//    // Set values based on selected data
//    $('#Id').val(id);
//    $('#DestinationBranchId').val(branchId);
//    $('#DestinationDescription').val(description);

//    // Close the modal permanently
//    $('#TresuriesLookupModal').modal('hide');
//});




$('#BankssGrid').DataTable({
    // Ajax settings
    "sPaginationType": "full_numbers",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "@(Url.Action("Index", "Bank", new { Area = "Admin" }))",
    "sServerMethod": "POST",
    // Callback settings
    "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
        var h = ("0" + createdDate.getHours()).slice(-2);
        var m = ("0" + createdDate.getMinutes()).slice(-2);
        var s = ("0" + createdDate.getSeconds()).slice(-2);
        var dt_Created = ("0" + createdDate.getDate()).slice(-2) + "/" + ("0" + (createdDate.getMonth() + 1)).slice(-2) + "/" + createdDate.getFullYear() + " " + h + ":" + m + ":" + s;
        aData.CreatedDate = dt_Created;

        var selectUrl = '<button data-id="' + aData.Id + '" data-description="' + aData.Description + '" class="btn btn-outline-info select-btn">Select</button>';



        $('td:eq(2)', nRow).html(dt_Created);
        $('td:eq(3)', nRow).html(selectUrl);

        return nRow;
    },
    // Display settings
    "aoColumns": [
        { "mDataProp": "Description", "sTitle": "Bank", "sWidth": "15%" },
        { "mDataProp": "Code", "sTitle": "Code", "sWidth": "10%" },
        { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
        { "mDataProp": null, "sTitle": "", "sWidth": "10%", "bSortable": false }
    ],
    "aaSorting": [[0, "desc"]]
});

$("#BankssGrid tbody").on("click", ".select-btn", function() {
    var id = $(this).data('id');
    var description = $(this).data('description');

    // Set values based on selected data
    $('#Id').val(id);
  /*  $('input[name=BranchId]').val(id);*/
 /*   $('#DestinationBranchId').val(branchId);*/
    $('#DestinationDescription').val(description);

    // Close the modal
    $('#BankssLookupModal').modal('hide');
});

// Behavior for lookup buttons
//$(".lookup-btn").click(function() {
//    var id = $(this).data('id');
//    var description = $(this).data('description');

//    // Set values based on selected data
//    $('#Id').val(id);
//    $('input[name=BranchId]').val(id);
//    $('#DestinationDescription').val(description);

//    // Close the modal
//    $('#BankssLookupModal').modal('hide');
//});







    </script>

    <script>

        function resetAllFields() {
            /*            $('#CustomerAccountNewAvailableBalance').val('');*/
            $('#TotalValue').val('');
            $('#Reference').val('');
            $('#TransactionType').val('');
            $('#DestinationBranchId').val('');
            $('#DestinationDescription').val('');

       
        }

        $(document).ready(function () {
            $('#submitButton').click(function (e) {

                e.preventDefault();
                $.ajax({
                    url: $('#cashManagementForm').attr('action'),
                    type: 'POST',
                    data: $('#cashManagementForm').serialize(),
                    dataType: 'json',
                    success: function (response) {
                        if (response.redirect) {

                            resetAllFields();
                        } else if (response.success) {

                            //alert('Customer Receipts: Operation Success');
                            resetAllFields();
                        } else {

                            //alert('Customer Receipts: Operation Failed\n\n' + (response.errorMessages ? response.errorMessages.join('\n') : 'Unknown error'));
                            //resetAllFields();
                        }
                    },
                    error: function (xhr, status, error) {

                        //alert('An error occurred while submitting the form. Please try again.');
                        //resetAllFields();
                        console.error(error);
                    }
                });
            });
        });

    </script>
}


