@model  Application.MainBoundedContext.DTO.AccountsModule.JournalVoucherDTO

@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Journal Voucher Authorization";
    var journalVoucherTypes = ViewBag.JournalVoucherTypeSelectList as List<SelectListItem>;
    var journalVoucherAuthOptions = ViewBag.JournalVoucherAuthOptionSelectList as List<SelectListItem>;
}
<style>
    .blue-section {
        margin-top: 20px;
        background-color: #e0f0ff;
        padding: 15px;
        border-radius: 8px;
    }



    #dataTableEntries {
        width: 100%;
        border-collapse: collapse;
    }

        #dataTableEntries th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            transition: background 0.3s, transform 0.3s;
        }

        #dataTableEntries th {
            background: linear-gradient(to bottom, #4a90e2, #003366);
            color: white;
            text-transform: uppercase;
            font-size: 1.1em;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #dataTableEntries tr:hover td {
            background: rgba(74, 144, 226, 0.2);
            transform: translateY(-2px);
        }

        #dataTableEntries td {
            background: #f9f9f9;
            color: #333;
        }

        #dataTableEntries tr:nth-child(even) td {
            background: #f2f2f2;
        }

        #dataTableEntries tr:nth-child(odd) td {
            background: #ffffff;
        }

        #dataTableEntries tr:last-child td {
            border-bottom: none;
        }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BatchOrigination_Voucher", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Authorize</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h2>Journal Voucher Authorization</h2>

                @if (TempData["Fail"] != null)
                {
                    <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: "error",
                                    title: "Error!",
                                    text: "@TempData["Fail"]",
                                    confirmButtonColor: "#007bff"
                                });
                            });
                    </script>
                }
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content bg-white text-dark">
                @using (Html.BeginForm("Authorize", "BatchAuthorization_Voucher", new { Area = "Accounts" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="big-box">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.TypeDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.TypeDescription, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.TypeDescription, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Description..", @Disabled = "" } })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ChartOfAccountId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.ChartOfAccountId)
                                    @Html.ValidationMessageFor(model => model.ChartOfAccountId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "ChartOfAccountsLookup form-control required", placeholder = "Description..", @Disabled = "" } })
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.BranchId)
                                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Branch Name", @Disabled = "" } })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.PostingPeriodId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.PostingPeriodId)
                                    @Html.ValidationMessageFor(model => model.PostingPeriodId, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required", @Disabled = "" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ValueDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "ValueDate", @Disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.ValueDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @Disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.StatusDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.StatusDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference", @Disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.StatusDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Principal", @Disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.PrimaryDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PrimaryDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Principal", @Disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.PrimaryDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.SecondaryDescription, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SecondaryDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Principal", @Disabled = "" } })
                                    @Html.ValidationMessageFor(model => model.SecondaryDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <br />
                        <div style="border: 1px solid gray; padding: 20px; margin: 20px; position: relative; border-radius:12px;">
                            <h2 style="position: absolute; top: -20px; left: 20px; background: white; padding: 0 10px; color: #333;font-weight:bold;">Journal Voucher Entries</h2>

                            <div class="table-container">
                                <table id="dataTableEntries" class="footable table table-striped toggle-arrow-tiny grey-table">
                                    <thead style="font-style: italic; color: #333; text-align: center;">
                                        <tr>
                                            <th style="width: 10%;">Type</th>
                                            <th style="width: 5%;">ChartofAccount Name</th>
                                            <th style="width: 10%;">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: #007bff;">
                                        @if (ViewBag.JournalVoucherEntryDTOs != null)
                                        {
                                            foreach (var journalVoucherEntries in ViewBag.JournalVoucherEntryDTOs)
                                            {
                                                <tr data-id="@journalVoucherEntries.JournalVoucherId">
                                                    <td>@journalVoucherEntries.TypeDescription</td>
                                                    <td>@journalVoucherEntries.ChartOfAccountName</td>
                                                    <td>@journalVoucherEntries.Amount</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="blue-section">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-label" } })
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter text...", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-2" style="margin-top: 20px;">
                                    <div class="form-group form-group-lg">
                                        <div class="custom-dropdown">
                                            @Html.DropDownListFor(model => model.AuthOption, journalVoucherAuthOptions, new { @class = "custom-select" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2" style="margin-top: 20px;">
                                    <div class="style-button" style="text-align: right;">
                                        <input type="submit" value="Authorize" style="width: 150px;" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


}



