@model  Application.MainBoundedContext.DTO.HumanResourcesModule.TrainingPeriodDTO

@{
    /**/

    ViewBag.Title = "Create Training Period";
}

<div class="row wrapper border-bottom bg-white page-heading">
    <div class="col-lg-10">
        <h2>Training Periods</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "TrainingPeriod", new { Area = "HumanResource" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "TrainingPeriod", new { Area = "HumanResource" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>TrainingPeriod</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-sm">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Training", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Venue, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Venue", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Number", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" id="data_3">
                                            @Html.LabelFor(model => model.DurationStartDate, htmlAttributes: new { @class = "" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" name="startDate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" id="data_3">
                                            @Html.LabelFor(model => model.DurationEndDate, htmlAttributes: new { @class = "" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" name="endDate" class="form-control" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </fieldset>

                        <h1>File Info</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.DocumentNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Number", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.DocumentNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control", @placeholder = "File Name", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.FileTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.FileTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "File Title", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.FileTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.FileDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.FileDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "File Description", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.FileDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.FileMIMEType, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.FileMIMEType, new { htmlAttributes = new { @class = "form-control", @placeholder = "File MIME Type", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.FileMIMEType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <script>
        $(document).ready(function () {
            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
            });
        });

    </script>
}