@model Fedhaplus.DashboardApplication.Models.ForgotPasswordViewModel
@{ Layout = null; }
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password</title>

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")

</head>

<!DOCTYPE html>
<html>

<body class=" bg-transparent ">

    <div class="middle-box panel-body center-orientation text-center animated fadeInDown">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
        {

<div class="widget-head-color-box navy-bg p-lg text-center">
    <img alt="image" class="rounded-circle" src="~/Images/bank.jpg">
    <h3><b>Digital Asset Management System</b></h3>
    <h2 class="font-bold">Forgot password?</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group form-group-lg">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address", @required = "" })
    </div>

    <div class="form-group form-group-lg">
        <input type="submit" class="btn btn-rounded btn-pinterest link-block full-width m-b" value="Email Link" />
    </div>
    <p class="font-weight-bold  "> <small>Copyright  &copy; 2020 | Inventory Master.</small> </p>
</div>}

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
</body>
</html>     