
@model  Application.MainBoundedContext.DTO.AccountsModule.BankLinkageDTO

@{
    /**/

    ViewBag.Title = "Bank Linkage Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "BankLinkage", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Bank Linkage Details</h2>
                    <hr />
                    @Html.ActionLink("Back to List", "index", "BankLinkage", new { Area = "Accounts" }, new { @class = "btn btn-primary" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BankBranchName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.BankBranchName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ChartOfAccountAccountName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.ChartOfAccountAccountName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.ChartOfAccountCostCenterDescription, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.ChartOfAccountCostCenterDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BankBranchName, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.BankBranchName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.BankAccountNumber, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            
                            <div class="col-lg-3">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2" style="margin-top: 30px;">
                                @Html.DisplayFor(model => model.IsLocked)
                                @Html.DisplayNameFor(model => model.IsLocked)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


