@model Application.MainBoundedContext.DTO.RegistryModule.CustomerBindingModel
@{


    ViewBag.Title = "Customer";
    var customerTypes = ViewBag.CustomerTypeSelectList as List<SelectListItem>;
    var individualTypes = ViewBag.IndividualTypeSelectList as List<SelectListItem>;
    var identityCardTypes = ViewBag.IdentityCardSelectList as List<SelectListItem>;
    var salutations = ViewBag.SalutationSelectList as List<SelectListItem>;
    var genders = ViewBag.GenderSelectList as List<SelectListItem>;
    var maritalStatuses = ViewBag.MaritalStatusSelectList as List<SelectListItem>;
    var nationalities = ViewBag.IndividualNationalitySelectList as List<SelectListItem>;
    var termsOfServices = ViewBag.IndividualEmploymentTermsOfServiceSelectList as List<SelectListItem>;
    var individualClassifications = ViewBag.IndividualClassificationSelectList as List<SelectListItem>;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Customer</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Customer", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}


@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        alert('@TempData["SuccessMessage"]');
    </script>
}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">

                    <h2>Customers</h2>

                    @if (TempData["DefaultError"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Attempt Failed !</strong> @TempData["DefaultError"]
                        </div>
                    }

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Create", "Customer", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "documentForm", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.TypeDescription, htmlAttributes: new { @class = "" })
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                        @Html.DropDownListFor(model => model.TypeDescription,
                                            new SelectList(new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "Select Type", Value = "" },
                                                new SelectListItem { Text = "Individual-Particulars", Value = "IndividualParticulars" },
                                                new SelectListItem { Text = "Partnership-Particulars", Value = "Partnership" },
                                                new SelectListItem { Text = "Corporation-Particulars", Value = "Corporation" },
                                                new SelectListItem { Text = "Micro-credit-Particulars", Value = "MicroCredit" }
                                            }, "Value", "Text"),
                                            new { @class = "form-control input-md", @id = "customerTypeDropdown" })
                                        @Html.ValidationMessageFor(model => model.TypeDescription)
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.StationId, htmlAttributes: new { @class = "control-label" })
                                    @Html.HiddenFor(model => model.StationId)
                                    @Html.EditorFor(model => model.StationDescription, new { htmlAttributes = new { @class = "StationsLookup form-control required", placeholder = "Description.." } })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reference1, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Reference1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Reference1, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="col-4">

                                <div class="form-group" id="data_3">
                                    @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "" })
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="registrationdate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                    </div>
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.StationZoneDescription, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.StationZoneDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zone", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.StationZoneDescription, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reference3, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Reference3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Reference3, "", new { @class = "text-danger" })
                                </div>


                            </div>

                            <div class="col-4">
                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.IndividualPayrollNumbers, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.IndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Individual Payroll Numbers" } })
                                    @Html.ValidationMessageFor(model => model.IndividualPayrollNumbers, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-group-lg">

                                    @Html.LabelFor(model => model.StationZoneDivisionDescription, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.StationZoneDivisionDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Division", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.StationZoneDivisionDescription, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group form-group-lg">
                                    @Html.LabelFor(model => model.Reference2, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Reference2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Reference2, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                        <br />


                        <ul class="nav nav-tabs flex-nowrap" style="margin-bottom: 20px; overflow-x: auto; white-space: nowrap;" id="myTab">
                            <!-- Dynamic Navigation Links -->
                            <li class="nav-item dynamic-tab" id="link-IndividualParticulars" style="display: none;">
                                <a class="nav-link tab-pane" href="#IndividualParticulars" data-toggle="tab">Individual-Particulars</a>
                            </li>
                            <li class="nav-item dynamic-tab" id="link-Partnership" style="display: none;">
                                <a class="nav-link tab-pane" href="#Partnership" data-toggle="tab">Partnership-Particulars</a>
                            </li>
                            <li class="nav-item dynamic-tab" id="link-Corporation" style="display: none;">
                                <a class="nav-link tab-pane" href="#Corporation" data-toggle="tab">Corporation-Particulars</a>
                            </li>
                            <li class="nav-item dynamic-tab" id="link-MicroCredit" style="display: none;">
                                <a class="nav-link tab-pane" href="#MicroCredit" data-toggle="tab">Micro-credit-Particulars</a>
                            </li>

                            <!-- Always Visible Navigation Links -->
                            <li class="nav-item">
                                <a class="nav-link tab-pane" href="#address" data-toggle="tab">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tab-pane" href="#SpecimenCapture" data-toggle="tab">Specimen Capture</a>
                            </li>
                        </ul> <!-- Tab Content -->

                        <div class="tab-content">


                            <div id="address" class="tab-pane" role="tabpanel">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressAddressLine1, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 1" } })
                                                @Html.ValidationMessageFor(model => model.AddressAddressLine1, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressAddressLine2, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressAddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 2" } })
                                                @Html.ValidationMessageFor(model => model.AddressAddressLine2, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressCity, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address city" } })
                                                @Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressEmail, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.AddressEmail, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressMobileLine, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressMobileLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile line" } })
                                                @Html.ValidationMessageFor(model => model.AddressMobileLine, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressLandLine, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressLandLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Land line" } })
                                                @Html.ValidationMessageFor(model => model.AddressLandLine, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressStreet, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street" } })
                                                @Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.AddressPostalCode, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postal code" } })
                                                @Html.ValidationMessageFor(model => model.AddressPostalCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div id="IndividualParticulars" class="tab-pane">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualSalutation, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualSalutation, salutations, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualSalutation)
                                            </div>
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualIdentityCardNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.IndividualIdentityCardNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Identity Card Number" } })
                                            @Html.ValidationMessageFor(model => model.IndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualNationality, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualNationality, nationalities, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualNationality)
                                            </div>
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualType, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualType, individualTypes, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualType)
                                            </div>
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualEmploymentDesignation, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.IndividualEmploymentDesignation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Individual Employment Designation" } })
                                            @Html.ValidationMessageFor(model => model.IndividualEmploymentDesignation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualGender, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualGender, genders, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualGender)
                                            </div>
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualFirstName, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.IndividualFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                            @Html.ValidationMessageFor(model => model.IndividualFirstName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.PersonalIdentificationNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.PersonalIdentificationNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "PIN" } })
                                            @Html.ValidationMessageFor(model => model.PersonalIdentificationNumber, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualMaritalStatus, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualMaritalStatus, maritalStatuses, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualMaritalStatus)
                                            </div>
                                        </div>

                                        <div class="form-group" id="data_3">
                                            @Html.LabelFor(model => model.IndividualEmploymentDate, htmlAttributes: new { @class = "" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" name="employmentdate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualIdentityCardType, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualIdentityCardType, identityCardTypes, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualIdentityCardType)
                                            </div>
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualLastName, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.IndividualLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.IndividualLastName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group" id="data_3">
                                            @Html.LabelFor(model => model.IndividualBirthDate, htmlAttributes: new { @class = "" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" name="birthdate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>

                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualEmploymentTermsOfService, htmlAttributes: new { @class = "" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.IndividualEmploymentTermsOfService, termsOfServices, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.IndividualEmploymentTermsOfService)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="SpecimenCapture" class="tab-pane" role="tabpanel">
                                <link href="~/Scripts/css/WebCam.css" rel="stylesheet" />

                                <!-- Passport Photo Section -->
                                <div class="form-group row mb-5">
                                    <div class="col-md-6">
                                        <div class="passport-photo-container p-3 text-center">
                                            <label for="passportPhoto" class="mb-2">Passport Photo (via Webcam)</label>
                                            <video id="webcam" autoplay style="width: 100%; border: 2px solid #007bff; border-radius: 15px; box-shadow: 0 15px 30px rgba(0,0,0,0.2);"></video>
                                            <button type="button" class="btn btn-primary mt-3" onclick="captureImage()">Capture Passport Photo</button>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="capturedImage" class="mb-2">Captured Passport Photo</label>
                                        <div class="passport-photo-preview">
                                            <img id="capturedImage" src="" alt="Captured Image" style="width: 80%; border: 2px solid #007bff; border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.2);" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="passportPhotoDataUrl" id="passportPhotoDataUrl" />
                                </div>

                                <!-- Signature and ID Photos Section -->
                                <div class="form-group row" style="margin-top: 100px;">
                                    <!-- Signature Photo -->
                                    <div class="col-md-3" style="margin-right: 100px;">
                                        <div class="image-placeholder">
                                            <img id="signaturePhotoPreview" src="" alt="Signature Preview" style="width: 100%; border: 2px solid #007bff; border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.2);" />
                                        </div>
                                        <label for="signaturePhoto" class="mt-3 mb-2">Signature Photo</label>
                                        <input type="file" name="signaturePhoto" class="form-control" id="signaturePhotoInput" accept="image/*" onchange="previewImage(event, 'signaturePhotoPreview')" />
                                    </div>

                                    <!-- ID Card Front Photo -->
                                    <div class="col-md-3" style="margin-right: 100px;">
                                        <div class="image-placeholder">
                                            <img id="idCardFrontPreview" src="" alt="ID Card Front Preview" style="width: 100%; border: 2px solid #007bff; border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.2);" />
                                        </div>
                                        <label for="idCardFrontPhoto" class="mt-3 mb-2">Identity Card Front Photo</label>
                                        <input type="file" name="idCardFrontPhoto" class="form-control" id="idCardFrontPhotoInput" accept="image/*" onchange="previewImage(event, 'idCardFrontPreview')" />
                                    </div>

                                    <!-- ID Card Back Photo -->
                                    <div class="col-md-3">
                                        <div class="image-placeholder">
                                            <img id="idCardBackPreview" src="" alt="ID Card Back Preview" style="width: 100%; border: 2px solid #007bff; border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.2);" />
                                        </div>
                                        <label for="idCardBackPhoto" class="mt-3 mb-2">Identity Card Back Photo</label>
                                        <input type="file" name="idCardBackPhoto" class="form-control" id="idCardBackPhotoInput" accept="image/*" onchange="previewImage(event, 'idCardBackPreview')" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            @using (Html.BeginForm("Create", "Customer", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                            {
                                <input type="submit" value="Create" class="btn btn-primary" style="width: 150px;" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal  fade" id="customerLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Customers Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>
            <table id="customersGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script>
        $(document).ready(function () {



            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "dd/mm/yyyy"  // Set the date format
            });

            //roles typehead starts here
            $('.rolesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetRoles", "Role", new { Area = "Admin" })',
                        { query: query },
                        function (roles) {
                            var newRolesData = [];
                            rolesMap = {};
                            $.each(roles, function (i,role) {
                                newRolesData.push(role.Name);
                                rolesMap[role.Name] = role;
                            });
                            process(newRolesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var roleId = "";
                    roleId = rolesMap[item].Id;
                    $('#RoleId').val(roleId);
                    //console.log(roleId)
                    return item;
                }
            });

            //Station typehead starts here
            $('.StationsLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetStationsAsync", "Station", new { Area = "Registry" })',
                        { query: query },
                        function (Stations) {
                            var newStationsData = [];
                            StationsMap = {};
                            $.each(Stations, function (i, Station) {
                                newStationsData.push(Station.Description);
                                StationsMap[Station.Description] = Station;
                            });
                            process(newStationsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var stationId = "";
                    StationId = StationsMap[item].Id;
                    $('#StationId').val(StationId);
                    $('#StationZoneDivisionEmployerDescription').val(StationsMap[item].ZoneDivisionEmployerDescription);
                    $('#StationZoneDescription').val(StationsMap[item].ZoneDescription);
                    $('#StationZoneDivisionDescription').val(StationsMap[item].ZoneDivisionDescription);
                    //console.log(StationId)
                    return item;
                }
            });

            //Branch typehead starts here
            $('.BranchesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                        { query: query },
                        function (Branches) {
                            var newBranchesData = [];
                            BranchesMap = {};
                            $.each(Branches, function (i, Branch) {
                                newBranchesData.push(Branch.Description);
                                BranchesMap[Branch.Description] = Branch;
                            });
                            process(newBranchesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var branchId = "";
                    BranchId = BranchesMap[item].Id;
                    $('#BranchId').val(BranchId);
                    //console.log(BranchId)
                    return item;
                }
            });
        });
    </script>
}


<script>
    // JavaScript code to handle webcam capture for passport photo
    function captureImage() {
        const canvas = document.createElement('canvas');
        const video = document.getElementById('webcam');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        const dataUrl = canvas.toDataURL('image/jpeg');
        document.getElementById('passportPhotoDataUrl').value = dataUrl;
        document.getElementById('capturedImage').src = dataUrl;
    }

    // Start webcam
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            document.getElementById('webcam').srcObject = stream;
        })
        .catch(error => {
            console.error('Error accessing webcam: ', error);
        });
</script>

<script>
    function previewImage(event, previewElementId) {
        const input = event.target;
        const reader = new FileReader();
        reader.onload = function () {
            const previewImage = document.getElementById(previewElementId);
            previewImage.src = reader.result;
        };
        reader.readAsDataURL(input.files[0]);
    }

    function captureImage() {
        const video = document.getElementById('webcam');
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        const dataUrl = canvas.toDataURL();
        document.getElementById('capturedImage').src = dataUrl;
        document.getElementById('passportPhotoDataUrl').value = dataUrl;
    }
</script>


<!-- jQuery Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var activeTabId = ''; // Variable to store the ID of the active tab

        // Handle dropdown change
        $('#customerTypeDropdown').change(function () {
            var selectedValue = $(this).val(); // Get selected value

            if (selectedValue) {
                // Hide the currently active tab link
                if (activeTabId) {
                    $('#' + activeTabId).hide();
                }

                // Show the new selected tab link
                activeTabId = 'link-' + selectedValue; // Update the active tab ID
                $('#' + activeTabId).show();
                // Activate the selected tab
                $('#' + activeTabId + ' a').tab('show');
            }
        });
    });
</script>