@*@model SwiftFinancials.Web.Areas.Registry.DocumentsModel.Document*@

@model List<SwiftFinancials.Web.Areas.Registry.DocumentsModel.Document>

@{
    ViewBag.Title = "Customer Details";
    var customerTypes = ViewBag.CustomerTypeSelectList as List<SelectListItem>;
    var individualTypes = ViewBag.IndividualTypeSelectList as List<SelectListItem>;
    var identityCardTypes = ViewBag.IdentityCardSelectList as List<SelectListItem>;
    var salutations = ViewBag.SalutationSelectList as List<SelectListItem>;
    var genders = ViewBag.GenderSelectList as List<SelectListItem>;
    var maritalStatuses = ViewBag.MaritalStatusSelectList as List<SelectListItem>;
    var nationalities = ViewBag.IndividualNationalitySelectList as List<SelectListItem>;
    var termsOfServices = ViewBag.IndividualEmploymentTermsOfServiceSelectList as List<SelectListItem>;
    var individualClassifications = ViewBag.IndividualClassificationSelectList as List<SelectListItem>;


    var documents = ViewBag.Documents as List<SwiftFinancials.Web.Areas.Registry.DocumentsModel.Document>;
}


@*<style>
        .document-gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }

        .document-card {
            position: relative;
            width: 250px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background: #f9f9f9;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
            transform-style: preserve-3d;
            perspective: 1000px;
        }

            .document-card:hover {
                transform: scale(1.05) rotateY(5deg);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            }

        .document-image {
            margin-bottom: 10px;
            text-align: center;
        }

            .document-image img {
                width: 100%; /* Adjust as needed */
                height: auto;
                border-radius: 8px;
                transition: transform 0.3s ease;
                display: block; /* Ensures the image is displayed */
                opacity: 1; /* Ensures full visibility */
            }

            .document-image p {
                margin-top: 5px;
                font-weight: bold;
                color: #333;
            }

        .document-card:hover .document-image img {
            transform: scale(1.05);
        }
    </style>*@



<div class="row wrapper border-bottom bg-white page-heading">
    <div class="col-lg-10">
        <h2>Customer Details</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Customer", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Details", "Customer", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @*<fieldset>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.TypeDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.IndividualTypeDescription, new { htmlAttributes = new { @class = "form-control col-md-12", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.TypeDescription, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.StationId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.StationId)
                                            @Html.ValidationMessageFor(model => model.StationId, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.StationDescription, new { htmlAttributes = new { @class = "StationsLookup form-control required", placeholder = "Description..", disabled = "disabled" } })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.BranchId)
                                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.BranchDescription, new { htmlAttributes = new { @class = "BranchesLookup form-control required", placeholder = "Branch Name", disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group" id="data_3">
                                            @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" name="registrationdate" class="form-control" value="@DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy")">
                                            </div>
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.StationZoneDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.StationZoneDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zone", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.StationZoneDescription, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.RecordStatus, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.RecordStatusDescription, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Individual Payroll Numbers", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.RecordStatusDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.IndividualPayrollNumbers, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.IndividualPayrollNumbers, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Individual Payroll Numbers", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.IndividualPayrollNumbers, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.StationZoneDivisionDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.StationZoneDivisionDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Division", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.StationZoneDivisionDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.PersonalIdentificationNumber, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.PersonalIdentificationNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "PIN", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.PersonalIdentificationNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.StationZoneDivisionEmployerDescription, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.StationZoneDivisionEmployerDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Employer", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.StationZoneDivisionEmployerDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>*@

                        <ul class="nav nav-tabs flex-nowrap" style="margin-bottom: 20px; overflow-x: auto; white-space: nowrap;" id="myTab">
                            <li class="nav-item">
                                <a class="nav-link" href="#IndividualParticulars" data-toggle="tab">Individual Particulars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#address" data-toggle="tab">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Referees" data-toggle="tab">Referees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#CreditTypes" data-toggle="tab">Credit Types</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#DebitTypes" data-toggle="tab">Debit Types</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#InvestmentProducts" data-toggle="tab">Investment Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#SavingsProducts" data-toggle="tab"> Savings Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Specimen" data-toggle="tab">Specimen</a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            @*<div id="address" class="tab-pane " role="tabpanel">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressAddressLine1, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 1", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressAddressLine1, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressAddressLine2, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressAddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address line 2", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressAddressLine2, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressCity, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address city", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressStreet, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressEmail, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @required = "", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressEmail, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressMobileLine, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressMobileLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile line", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressMobileLine, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressLandLine, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressLandLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Addres line", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressLandLine, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.AddressPostalCode, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postal code", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.AddressPostalCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div id="IndividualParticulars" class="tab-pane" role="tabpanel">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualSalutationDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualSalutationDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualSalutationDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualNationalityDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualNationalityDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualNationalityDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualIdentityCardTypeDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualIdentityCardTypeDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualIdentityCardTypeDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualEmploymentDesignation, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualEmploymentDesignation, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualEmploymentDesignation, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualTypeDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualTypeDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualTypeDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualGenderDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualGenderDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualGenderDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualFirstName, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualFirstName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualIdentityCardNumber, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualIdentityCardNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Identity Card Number", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualIdentityCardNumber, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualEmploymentDate, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualEmploymentDate, new { htmlAttributes = new { @class = "form-control col-md-12", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualEmploymentDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualIdentityCardSerialNumber, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualIdentityCardSerialNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Individual Identity Card Serial Number", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualIdentityCardSerialNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualMaritalStatusDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualMaritalStatusDescription, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualMaritalStatusDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualLastName, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualLastName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualLastName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualBirthDate, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualBirthDate, new { htmlAttributes = new { @class = "form-control col-md-12", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualBirthDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IndividualEmploymentTermsOfServiceDescription, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.IndividualEmploymentTermsOfServiceDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @required = "", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.IndividualEmploymentTermsOfServiceDescription, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "Remarks", @required = "", disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                                <div id="Referees" class="tab-pane fade" role="tabpanel">

                                    <h2>Referees</h2>


                                    <div class="row">
                                        <div class="col-6">
                                            <div class="col-md-13 form-group">
                                                @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
                                                <div class="input-group" data-autoclose="true">
                                                    @Html.HiddenFor(model => model.Id)
                                                    @Html.TextBoxFor(model => model.IndividualFirstName, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly" })
                                                    <span class="input-group-addon">
                                                        <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group form-group-lg">
                                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
                                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="CreditTypes" class="tab-pane fade" role="tabpanel">


                                </div>

                                <div id="DebitTypes" class="tab-pane fade" role="tabpanel">


                                </div>

                                <div id="InvestmentProducts" class="tab-pane fade" role="tabpanel">


                                </div>

                                <div id="SavingsProducts" class="tab-pane fade" role="tabpanel">


                                </div>*@

                            <div id="Specimen" class="tab-pane fade" role="tabpanel">

                                @foreach (var document in Model)
                                {
                                    <div class="document-section card shadow-sm mb-4">
                                        <div class="card-body">
                                            <h4 class="card-title text-secondary">Document Set</h4>
                                            <div class="row">
                                                @if (document.PassportPhoto != null)
                                                {
                                                    <div class="col-md-3 text-center">
                                                        <h5>Passport Photo</h5>
                                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(document.PassportPhoto)" alt="Passport Photo" class="img-thumbnail mb-2" width="200" />
                                                    </div>
                                                }

                                                @if (document.SignaturePhoto != null)
                                                {
                                                    <div class="col-md-3 text-center">
                                                        <h5>Signature Photo</h5>
                                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(document.SignaturePhoto)" alt="Signature Photo" class="img-thumbnail mb-2" width="200" />
                                                    </div>
                                                }

                                                @if (document.IDCardFrontPhoto != null)
                                                {
                                                    <div class="col-md-3 text-center">
                                                        <h5>ID Card Front</h5>
                                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(document.IDCardFrontPhoto)" alt="ID Card Front" class="img-thumbnail mb-2" width="200" />
                                                    </div>
                                                }

                                                @if (document.IDCardBackPhoto != null)
                                                {
                                                    <div class="col-md-3 text-center">
                                                        <h5>ID Card Back</h5>
                                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(document.IDCardBackPhoto)" alt="ID Card Back" class="img-thumbnail mb-2" width="200" />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                                <style>
                                    body {
                                        background-color: #f4f6f9;
                                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    }

                                    h2 {
                                        margin-bottom: 30px;
                                    }

                                    .card {
                                        border-radius: 10px;
                                        background-color: white;
                                        transition: all 0.3s ease;
                                    }

                                        .card:hover {
                                            transform: translateY(-10px);
                                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
                                        }

                                    .card-title {
                                        font-size: 1.25rem;
                                        font-weight: 600;
                                    }

                                    h5 {
                                        margin-top: 10px;
                                        color: #007bff;
                                    }

                                    img {
                                        border: 2px solid #007bff;
                                        border-radius: 10px;
                                        transition: transform 0.3s ease;
                                    }

                                        img:hover {
                                            transform: scale(1.05);
                                        }

                                    .row {
                                        margin-bottom: 10px;
                                    }
                                </style>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/navlink.js"></script>

    @section Styles{
        @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
        @Styles.Render("~/plugins/wizardStepsStyles")
        @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
        @Styles.Render("~/plugins/awesomeCheckboxStyles")
        @Styles.Render("~/plugins/clockpickerStyles")
        @Styles.Render("~/plugins/dateRangeStyles")
        @Styles.Render("~/Content/plugins/chosen/chosenStyles")
        @Styles.Render("~/plugins/switcheryStyles")
        @Styles.Render("~/plugins/jasnyBootstrapStyles")
        @Styles.Render("~/plugins/nouiSliderStyles")
        @Styles.Render("~/plugins/dataPickerStyles")
        @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
        @Styles.Render("~/plugins/imagecropperStyles")
        @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
        @Styles.Render("~/plugins/select2Styles")
        @Styles.Render("~/plugins/touchSpinStyles")
        @Styles.Render("~/plugins/tagInputsStyles")
        @Styles.Render("~/plugins/duallistStyles")
    }

    @section Scripts{
        @Scripts.Render("~/plugins/wizardSteps")
        @Scripts.Render("~/plugins/validate")
        @Scripts.Render("~/plugins/typehead")
        @Scripts.Render("~/plugins/dataTables")
        @Scripts.Render("~/plugins/iCheck")
        @Scripts.Render("~/plugins/dataPicker")
        @Scripts.Render("~/plugins/ionRange")
        @Scripts.Render("~/plugins/nouiSlider")
        @Scripts.Render("~/plugins/jasnyBootstrap")
        @Scripts.Render("~/plugins/switchery")
        @Scripts.Render("~/plugins/chosen")
        @Scripts.Render("~/plugins/knob")
        @Scripts.Render("~/plugins/imagecropper")
        @Scripts.Render("~/plugins/colorpicker")
        @Scripts.Render("~/plugins/clockpicker")
        @Scripts.Render("~/plugins/dateRange")
        @Scripts.Render("~/plugins/select2")
        @Scripts.Render("~/plugins/touchSpin")
        @Scripts.Render("~/plugins/tagInputs")
        @Scripts.Render("~/plugins/duallist")


        <script>
                $(document).ready(function () {

                    $("#wizard").steps();
                    $("#form").steps({
                        bodyTag: "fieldset",
                        onStepChanging: function (event, currentIndex, newIndex) {
                            // Always allow going backward even if the current step contains invalid fields!
                            if (currentIndex > newIndex) {
                                return true;
                            }

                            // Forbid suppressing "Warning" step if the user is to young
                            if (newIndex === 3 && Number($("#age").val()) < 18) {
                                return false;
                            }

                            var form = $(this);

                            // Clean up if user went backward before
                            if (currentIndex < newIndex) {
                                // To remove error styles
                                $(".body:eq(" + newIndex + ") label.error", form).remove();
                                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                            }

                            // Disable validation on fields that are disabled or hidden.
                            form.validate().settings.ignore = ":disabled,:hidden";

                            // Start validation; Prevent going forward if false
                            return form.valid();
                        },
                        onStepChanged: function (event, currentIndex, priorIndex) {
                            // Suppress (skip) "Warning" step if the user is old enough.
                            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                                $(this).steps("next");
                            }

                            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                            if (currentIndex === 2 && priorIndex === 3) {
                                $(this).steps("previous");
                            }
                        },
                        onFinishing: function (event, currentIndex) {
                            var form = $(this);

                            // Disable validation on fields that are disabled.
                            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                            form.validate().settings.ignore = ":disabled";

                            // Start validation; Prevent form submission if false
                            return form.valid();
                        },
                        onFinished: function (event, currentIndex) {
                            var form = $(this);

                            // Submit form input
                            form.submit();
                        }
                    }).validate({
                        errorPlacement: function (error, element) {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });

                    $('#data_3 .input-group.date').datepicker({
                        startView: 2,
                        todayBtn: "linked",
                        keyboardNavigation: false,
                        forceParse: false,
                        autoclose: true,
                    });
                    //roles typehead starts here
                    $('.rolesLookup').typeahead({
                        source: function (query, process) {
                            return $.getJSON(
                                '@Url.Action("GetRoles", "Role", new { Area = "Admin" })',
                                { query: query },
                                function (roles) {
                                    var newRolesData = [];
                                    rolesMap = {};
                                    $.each(roles, function (i,role) {
                                        newRolesData.push(role.Name);
                                        rolesMap[role.Name] = role;
                                    });
                                    process(newRolesData); return;
                                });
                        },
                        matcher: function (item) {
                            if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                                return true;
                            }
                        },
                        sorter: function (items) {
                            return items.sort();
                        },
                        highlighter: function (item) {
                            var regex = new RegExp('(' + this.query + ')', 'gi');
                            return item.replace(regex, "<strong>$1</strong>");
                        },
                        updater: function (item) {
                            var roleId = "";
                            roleId = rolesMap[item].Id;
                            $('#RoleId').val(roleId);
                            //console.log(roleId)
                            return item;
                        }
                    });

                    //Station typehead starts here
                    $('.StationsLookup').typeahead({
                        source: function (query, process) {
                            return $.getJSON(
                                '@Url.Action("GetStationsAsync", "Station", new { Area = "Registry" })',
                                { query: query },
                                function (Stations) {
                                    var newStationsData = [];
                                    StationsMap = {};
                                    $.each(Stations, function (i, Station) {
                                        newStationsData.push(Station.Description);
                                        StationsMap[Station.Description] = Station;
                                    });
                                    process(newStationsData); return;
                                });
                        },
                        matcher: function (item) {
                            if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                                return true;
                            }
                        },
                        sorter: function (items) {
                            return items.sort();
                        },
                        highlighter: function (item) {
                            var regex = new RegExp('(' + this.query + ')', 'gi');
                            return item.replace(regex, "<strong>$1</strong>");
                        },
                        updater: function (item) {
                            var stationId = "";
                            StationId = StationsMap[item].Id;
                            $('#StationId').val(StationId);
                            $('#StationZoneDivisionEmployerDescription').val(StationsMap[item].ZoneDivisionEmployerDescription);
                            $('#StationZoneDescription').val(StationsMap[item].ZoneDescription);
                            $('#StationZoneDivisionDescription').val(StationsMap[item].ZoneDivisionDescription);
                            //console.log(StationId)
                            return item;
                        }
                    });

                    //Branch typehead starts here
                    $('.BranchesLookup').typeahead({
                        source: function (query, process) {
                            return $.getJSON(
                                '@Url.Action("GetBranchesAsync", "Branch", new { Area = "Admin" })',
                                { query: query },
                                function (Branches) {
                                    var newBranchesData = [];
                                    BranchesMap = {};
                                    $.each(Branches, function (i, Branch) {
                                        newBranchesData.push(Branch.Description);
                                        BranchesMap[Branch.Description] = Branch;
                                    });
                                    process(newBranchesData); return;
                                });
                        },
                        matcher: function (item) {
                            if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                                return true;
                            }
                        },
                        sorter: function (items) {
                            return items.sort();
                        },
                        highlighter: function (item) {
                            var regex = new RegExp('(' + this.query + ')', 'gi');
                            return item.replace(regex, "<strong>$1</strong>");
                        },
                        updater: function (item) {
                            var branchId = "";
                            BranchId = BranchesMap[item].Id;
                            $('#BranchId').val(BranchId);
                            //console.log(BranchId)
                            return item;
                        }
                    });
                });

        </script>
    }
