@model Application.MainBoundedContext.DTO.TransactionsModule.AssetAllocationBindingModel

@{ ViewBag.Title = "Create"; }

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Asset Approval</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AssetReturn", new { Area = "Inventory" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="col-md-12">
        <div class="ibox-title">
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content bg-secondary text-info">
            @using (Html.BeginForm("Return", "AssetReturn", new { Area = "Inventory" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
            {
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerFullNames, new { htmlAttributes = new { @class = "CustomersLookup form-control Required" } })
                                    @Html.HiddenFor(model => model.CustomerId)
                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AssetRegisterId, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.AssetRegisterFullDescription, new { htmlAttributes = new { @class = "AssetRegistersLookup form-control Required" } })
                                @Html.HiddenFor(model => model.AssetRegisterId)
                                @Html.ValidationMessageFor(model => model.AssetRegisterId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Station, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Station, new { htmlAttributes = new { @class = "form-control Required" } })
                                @Html.ValidationMessageFor(model => model.Station, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AuthorizationRemarks, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.AuthorizationRemarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AuthorizationRemarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-group">
                                <input type="submit" value="Approve" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/footable")

    <script>
        $(document).ready(function () {

            //Customer typehead starts here
            $('.CustomersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCustomersAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Customers) {
                            var newCustomersData = [];
                            CustomersMap = {};
                            $.each(Customers, function (i, Customer) {
                                newCustomersData.push(Customer.FullNames);
                                CustomersMap[Customer.FullNames] = Customer;
                            });
                            process(newCustomersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CustomerId = "";
                    CustomerId = CustomersMap[item].Id;
                    $('#CustomerId').val(CustomerId);
                    //console.log(CustomerId)
                    return item;
                }
            });

            //AssetRegister typehead starts here
            $('.AssetRegistersLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetAssetRegistersAsync", "AssetRegister", new { Area = "Registry" })',
                        { query: query },
                        function (AssetRegisters) {
                            var newAssetRegistersData = [];
                            AssetRegistersMap = {};
                            $.each(AssetRegisters, function (i, AssetRegister) {
                                newAssetRegistersData.push(AssetRegister.Description);
                               AssetRegistersMap[AssetRegister.Description] = AssetRegister;
                            });
                            process(newAssetRegistersData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var AssetRegisterId = "";
                    AssetRegisterId = AssetRegistersMap[item].Id;
                    $('#AssetRegisterId').val(AssetRegisterId);
                    //console.log(AssetRegisterId)
                    return item;
                }
            });

             $('.footable').footable();
        });

    </script>
}
