@model  Application.MainBoundedContext.DTO.AccountsModule.DebitTypeDTO

@{
    /**/

    ViewBag.Title = "Create Debit Type";

    var productCode = ViewBag.ProductCode as List<SelectListItem>;
    var loanProductSection = ViewBag.LoanProductSection as List<SelectListItem>;

}


<style>
    #ApplicableChargesTable {
        width: 100%;
        border-collapse: collapse;
    }

    #ApplicableChargesTable, th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        transition: background 0.3s, transform 0.3s;
    }

    #ApplicableChargesTable, th {
        background: linear-gradient(to bottom, #4a90e2, #003366);
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #ApplicableChargesTable, tr:hover td {
        background: rgba(74, 144, 226, 0.2);
        transform: translateY(-2px);
    }

    #ApplicableChargesTable, td {
        background: #f9f9f9;
        color: #333;
    }

    #ApplicableChargesTable, tr:nth-child(even) td {
        background: #f2f2f2;
    }

    #ApplicableChargesTable, tr:nth-child(odd) td {
        background: #ffffff;
    }

    #ApplicableChargesTable, tr:last-child td {
        border-bottom: none;
    }
</style>



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "DebitType", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Debit Type</h2>

                    @if (TempData["ErrorMsg"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: '@TempData["ErrorMsg"]',
                                    confirmButtonColor: '#FF0000',
                                });
                            });
                        </script>
                    }

                    @if (TempData["CreateError"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: '@TempData["CreateError"]',
                                    confirmButtonColor: '#FF0000',
                                });
                            });
                        </script>
                    }


                    @if (TempData["emptyProduct"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: '@TempData["emptyProduct"]',
                                    confirmButtonColor: '#FF0000',
                                });
                            });
                        </script>
                    }


                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Edit", "DebitType", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Debit Type name...", @required = "" } })
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountTypeProductCode, new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                            @Html.DropDownListFor(model => model.CustomerAccountTypeProductCode, productCode, new { @class = "form-control input-md", @id = "productDropdown" })
                                            @Html.ValidationMessageFor(model => model.CustomerAccountTypeProductCode)
                                        </div>
                                    </div>
                                </div>

                                <div id="savingsProductSection" class="col-lg-6" style="display:block; text-align: left;">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.CustomerAccountTypeTargetProductId, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.CustomerAccountTypeTargetProductId)
                                            @Html.TextBoxFor(model => model.CustomerAccountTypeTargetProductDescription, new
                                            {
                                                @class = "form-control input-md alpha alphaspace required",
                                                @readonly = "readonly",
                                                @placeholder = "Search Savings Product..."
                                            })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#savingsProductLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div id="loansProductSection" class="col-lg-6" style="display:none; text-align: left;">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.LoanCustomerAccountTypeTargetProductId, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.LoanCustomerAccountTypeTargetProductId)
                                            @Html.TextBoxFor(model => model.LoanCustomerAccountTypeTargetProductDescription, new
                                           {
                                               @class = "form-control input-md alpha alphaspace required",
                                               @readonly = "readonly",
                                               @placeholder = "Search Loan Product..."
                                           })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#loansProductLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div id="investmentsProductSection" class="col-lg-6" style="display:none; text-align: left;">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.InvestmentCustomerAccountTypeTargetProductId, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.HiddenFor(model => model.InvestmentCustomerAccountTypeTargetProductId)
                                            @Html.TextBoxFor(model => model.InvestmentCustomerAccountTypeTargetProductDescription, new
                                            {
                                                @class = "form-control input-md alpha alphaspace required",
                                                @readonly = "readonly",
                                                @placeholder = "Search Investment Product..."
                                            })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#investmentsProductLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <ul class="nav nav-tabs" style="margin-bottom: 20px; font-size: large; margin-top: 30px;">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#ApplicableCharges"><i class="fa fa-table" aria-hidden="true"></i> Applicable Charges</a>
                                </li>
                            </ul>

                            <input type="hidden" id="SelectedIds" name="SelectedIds" value="" />
                            <div class="tab-content">
                                <div id="ApplicableCharges" class="tab-pane active">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div style="text-align: left; margin-left: 15px;">
                                                <input type="checkbox" id="headerCheckbox" style="transform: scale(1); color: blue;">
                                                <label for="headerCheckbox" style="font-weight: bold;">Select All</label>
                                            </div>

                                            <div class="table-responsive">
                                                <table id="ApplicableChargesGrid" class="table table-hover" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="7" class="dataTables_empty">
                                                                Loading data from server
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="table-container">
                                                <h3 style="font-size: 1.9rem; text-align: center;">Applied Charges</h3>
                                                <table id="#ApplicableChargesTable" class="footable table table-striped toggle-arrow-tiny grey-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Charge Name</th>
                                                            <th>Maximum Charge</th>
                                                            <th>Charge Basis Value</th>
                                                            <th>Benefactor</th>
                                                            <th>RoundingType</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.ApplicableCharges != null)
                                                        {
                                                            foreach (var item in ViewBag.ApplicableCharges)
                                                            {
                                                                <tr>
                                                                    <td>@item.Description</td>
                                                                    <td style="text-align: right;">@item.MaximumCharge</td>
                                                                    <td>@item.ChargeBasisValueDescription</td>
                                                                    <td>@item.ChargeBenefactorDescription</td>
                                                                    <td>@item.RoundingTypeDescription</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-3">
                                    <button type="submit" id="submit-btn" class="btn btn-primary" value="Create" style="width: 150px;">Update</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal  fade" id="savingsProductLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Savings Products Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>

            <style>
                #SavingsProductsGrid thead {
                    background-color: #007bff;
                    color: white;
                }
            </style>
            <table id="SavingsProductsGrid" class="table table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="loansProductLookupModal" role="dialog" aria-hidden="true" style="width: auto;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Loan Products Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>

            <div class="blue-section">
                <form id="loanProductfilterForm">
                    <div class="row" style="display: flex; justify-content: flex-start; align-content:center;">
                        <div class="col-lg-3">
                            <div class="form-group form-group-lg">
                                <label for="filterType">Section</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    @Html.DropDownListFor(model => model.LoanRegistrationLoanProductSection, loanProductSection,
                                    new { @class = "form-control input-md", @id = "section" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6" style="margin-top: 27px;">
                            <div class="form-group spacing-form-group">
                                <div class="input-group text-box">
                                    @Html.TextBox("sectionValue", null, new { @class = "form-control", @placeholder = "Enter filter value...", @id = "sectionValue" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1" style="margin-top:20px;">
                            <div class="form-group form-group-sm">
                                <input type="submit" value="Refresh" id="loanProductapplyFilter" class="btn btn-primary" style="width: 80px; height: auto; " />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br />


            <style>
                #loanProductsGrid thead {
                    background-color: #007bff;
                    color: white;
                }
            </style>

            <table id="loanProductsGrid" class="table table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="investmentsProductLookupModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="font-bold">Investment Products Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
            </div>

            <style>
                #investmentProductsGrid thead {
                    background-color: #007bff;
                    color: white;
                }
            </style>
            <table id="investmentProductsGrid" class="table table-hover" style="width:100%;">
                <tbody>
                    <tr>
                        <td class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />
    <script src="~/Scripts/your-script.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            function saveCheckboxState(key, state) {
                localStorage.setItem(key, state);
            }

            function loadCheckboxState(key) {
                return localStorage.getItem(key) === 'true';
            }

            $('#headerCheckbox').on('change', function () {
                $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function () {
                    var checkboxKey = $(this).attr('id');
                    saveCheckboxState(checkboxKey, $(this).prop('checked'));
                });
                saveCheckboxState('headerCheckbox', $(this).prop('checked'));
            });

            $('#ApplicableChargesGrid').on('change', '.rowCheckbox', function () {
                var checkboxKey = $(this).attr('id');
                saveCheckboxState(checkboxKey, $(this).prop('checked'));

                if (!$(this).prop('checked')) {
                    $('#headerCheckbox').prop('checked', false);
                    saveCheckboxState('headerCheckbox', false);
                } else {
                    var allChecked = $('.rowCheckbox:checked').length === $('.rowCheckbox').length;
                    $('#headerCheckbox').prop('checked', allChecked);
                    saveCheckboxState('headerCheckbox', allChecked);
                }
            });

            var table = $('#ApplicableChargesGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("CommissionsIndex", "UnpayReason", new { Area = "Accounts" })",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var checkboxHTML = '<input type="checkbox" class="rowCheckbox" data-id="' + aData.Id + '"';
                    if (aData.AutomateLedgerFeeCalculation === true) {
                        checkboxHTML += ' checked';
                    }
                    checkboxHTML += '>';
                    $('td:eq(0)', nRow).html(checkboxHTML);
                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "Id", "sTitle": "Select", "sWidth": "0.09%" },
                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "10%", "bSortable": false }
                ],
                "aaSorting": [[0, "desc"]],
                "initComplete": function (settings, json) {
                    $('#headerCheckbox').prop('checked', false);
                }
            });


            $(document).ready(function () {
                $('#headerCheckbox').on('change', function () {
                    $('.rowCheckbox').prop('checked', $(this).prop('checked'));
                });

                $('#submit-btn').on('click', function (e) {
                    var selectedIds = [];
                    $('.rowCheckbox:checked').each(function () {
                        selectedIds.push($(this).data('id'));
                    });
                    $('#SelectedIds').val(selectedIds.join(','));
                });
            });

        });
    </script>

    <script>
        document.getElementById('submit-btn').addEventListener('click', function (event) {
            const inputs = document.querySelectorAll('.form-control[required]');
            let isValid = true;
            inputs.forEach(input => {
                if (!input.value.trim()) {
                    isValid = false;
                    input.classList.add('is-invalid');
                } else {
                    input.classList.remove('is-invalid');
                }
            });
            if (!isValid) {
                event.preventDefault();
                alert('Please fill in all required fields.');
            }
        });
    </script>

    <script>
         $('#SavingsProductsGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "SavingsProduct", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<button class="btn btn-outline-info" onclick="selectSavingsProduct(\'' + aData.Id + '\')">Select</button>';

                    $('td:eq(5)', nRow).html(dt_Created);
                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "PaddedCode", "sTitle": "Code", "sWidth": "5%" },
                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "10%" },
                    { "mDataProp": "MinimumBalance", "sTitle": "Minimum Balance", "sWidth": "5%" },
                    { "mDataProp": "OperatingBalance", "sTitle": "Operating Balance", "sWidth": "5%" },
                    { "mDataProp": "MaximumAllowedWithdrawal", "sTitle": "Maximum Withdrawal", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });

         function selectSavingsProduct(id) {
            console.log("Selected ID:", id);
            $.ajax({
                url: '/Accounts/DebitType/SavingsProduct',
                type: 'POST',
                data: { Id: id },
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        $('#CustomerAccountTypeTargetProductId').val(response.data.CustomerAccountTypeTargetProductId);
                        $('#CustomerAccountTypeTargetProductDescription').val(response.data.CustomerAccountTypeTargetProductDescription);
                        $('#CustomerAccountTypeProductCode').val(response.data.CustomerAccountTypeProductCode);

                        $('#savingsProductLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
    </script>

    <script>
        var defaultSection = $('#section').val();
        var defaultSectionText = $('#sectionValue').val();

        $('#loanProductsGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("LoanProductIndex", "LoanRegistration", new { Area = "Loaning"}))",
                "sServerMethod": "POST",
                "fnServerParams": function (aoData) {
                    aoData.push(
                        { "name": "section", "value": $('#section').val() || defaultSection },
                        { "name": "sectionValue", "value": $('#sectionValue').val() || defaultSectionText }
                    );
                },

                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<button class="btn btn-outline-info" onclick="selectLoanProduct(\'' + aData.Id + '\')">Select</button>';

                    $('td:eq(4)', nRow).html(dt_Created);
                    $('td:eq(5)', nRow).html(selectUrl);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "LoanRegistrationLoanProductSectionDescription", "sTitle": "Section", "sWidth": "5%" },
                    { "mDataProp": "LoanRegistrationLoanProductCategoryDescription", "sTitle": "Category", "sWidth": "5%" },
                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "10%" },
                    { "mDataProp": "LoanRegistrationTermInMonths", "sTitle": "Term(Months)", "sWidth": "2%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });

        $('#loanProductfilterForm').on('submit', function (e) {
                    e.preventDefault();
                    $('#loanProductsGrid').DataTable().ajax.reload();
                });
        function selectLoanProduct(id) {
            console.log("Selected ID:", id);
            $.ajax({
                url: '/Accounts/DebitType/LoansProduct',
                type: 'POST',
                data: { Id: id },
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        $('#LoanCustomerAccountTypeTargetProductId').val(response.data.LoanCustomerAccountTypeTargetProductId);
                        $('#LoanCustomerAccountTypeTargetProductDescription').val(response.data.LoanCustomerAccountTypeTargetProductDescription);
                        $('#CustomerAccountTypeProductCode').val(response.data.LoanCustomerAccountTypeProductCode);
                        $('#loansProductLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
    </script>

    <script>
        $('#investmentProductsGrid').DataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "InvestmentProduct", new { Area = "Accounts"}))",
                "sServerMethod": "POST",
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<button class="btn btn-outline-info" onclick="selectInvestmentProduct(\'' + aData.Id + '\')">Select</button>';

                    $('td:eq(5)', nRow).html(dt_Created);
                    $('td:eq(6)', nRow).html(selectUrl);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "Description", "sTitle": "Name", "sWidth": "5%" },
                    { "mDataProp": "MinimumBalance", "sTitle": "Minimum Balance", "sWidth": "10%" },
                    { "mDataProp": "MaximumBalance", "sTitle": "Maximum Balance", "sWidth": "5%" },
                    { "mDataProp": "MaturityPeriod", "sTitle": "Maturity Period (Days)", "sWidth": "5%" },
                    { "mDataProp": "AnnualPercentageYield", "sTitle": "Annual Percentage Yield", "sWidth": "5%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
            });

        function selectInvestmentProduct(id) {
            console.log("Selected ID:", id);
            $.ajax({
                url: '/Accounts/DebitType/InvestmentProduct',
                type: 'POST',
                data: { Id: id },
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        $('#InvestmentCustomerAccountTypeTargetProductId').val(response.data.InvestmentCustomerAccountTypeTargetProductId);
                        $('#InvestmentCustomerAccountTypeTargetProductDescription').val(response.data.InvestmentCustomerAccountTypeTargetProductDescription);
                        $('#CustomerAccountTypeProductCode').val(response.data.InvestmentCustomerAccountTypeProductCode);
                        $('#investmentsProductLookupModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
    </script>

    <script>
        //Dropdown chage Charge Type
        document.addEventListener('DOMContentLoaded', function () {
            var dropdown = document.getElementById('chargeTypeDropdown');
            var percentageSection = document.getElementById('percentageSection');
            var fixedAmountSection = document.getElementById('fixedAmountSection');

            dropdown.addEventListener('change', function () {
                if (dropdown.value === '0') {
                    percentageSection.style.display = 'block';
                    fixedAmountSection.style.display = 'none';
                } else if (dropdown.value === '1') {
                    percentageSection.style.display = 'block';
                    fixedAmountSection.style.display = 'none';
                } else if (dropdown.value === '2') {
                    percentageSection.style.display = 'none';
                    fixedAmountSection.style.display = 'block';
                } else {
                    percentageSection.style.display = 'none';
                    fixedAmountSection.style.display = 'none';
                }
            });
        });


        //Dropdown chage Product
        document.addEventListener('DOMContentLoaded', function () {
            var dropdown = document.getElementById('productDropdown');
            var savingsProductSection = document.getElementById('savingsProductSection');
            var loansProductSection = document.getElementById('loansProductSection');
            var investmentProductSection = document.getElementById('investmentsProductSection');

            var savingsFields = [
                document.querySelector('[name="CustomerAccountTypeTargetProductId"]'),
                document.querySelector('[name="CustomerAccountTypeTargetProductDescription"]')
            ];
            var loanFields = [
                document.querySelector('[name="LoanCustomerAccountTypeTargetProductId"]'),
                document.querySelector('[name="LoanCustomerAccountTypeTargetProductDescription"]')
            ];
            var investmentFields = [
                document.querySelector('[name="InvestmentCustomerAccountTypeTargetProductId"]'),
                document.querySelector('[name="InvestmentCustomerAccountTypeTargetProductDescription"]')
            ];

            function clearFields(fields) {
                fields.forEach(function (field) {
                    if (field) field.value = '';
                });
            }

            dropdown.addEventListener('change', function () {
                if (dropdown.value === '0') {
                    percentageSection.style.display = 'block';
                    fixedAmountSection.style.display = 'none';

                } else if (dropdown.value === '1') {
                    savingsProductSection.style.display = 'block';
                    loansProductSection.style.display = 'none';
                    investmentProductSection.style.display = 'none';

                    clearFields(loanFields);
                    clearFields(investmentFields);
                } else if (dropdown.value === '2') {
                    loansProductSection.style.display = 'block';
                    savingsProductSection.style.display = 'none';
                    investmentProductSection.style.display = 'none';

                    clearFields(savingsFields);
                    clearFields(investmentFields);
                } else if (dropdown.value === '3') {
                    investmentProductSection.style.display = 'block';
                    loansProductSection.style.display = 'none';
                    savingsProductSection.style.display = 'none';

                    clearFields(savingsFields);
                    clearFields(loanFields);
                } else {
                    percentageSection.style.display = 'none';
                    fixedAmountSection.style.display = 'none';

                    clearFields(savingsFields);
                    clearFields(loanFields);
                    clearFields(investmentFields);
                }
            });
        });

    </script>


}
