@model Application.MainBoundedContext.DTO.AccountsModule.ChartOfAccountDTO

@{
    ViewBag.Title = "Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>ChartOfAccounts</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "ChartOfAccount", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountName)<br></strong>

                                @Html.DisplayFor(model => model.AccountName)<br>
                            </p>

                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Parent)<br></strong>

                                @Html.DisplayFor(model => model.Parent)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountCode)<br></strong>

                                @Html.DisplayFor(model => model.AccountCode)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountCategory)<br></strong>

                                @Html.DisplayFor(model => model.AccountCategory)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.AccountType)<br></strong>

                                @Html.DisplayFor(model => model.AccountType)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Depth)<br></strong>

                                @Html.DisplayFor(model => model.Depth)<br>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsControlAccount)<br></strong>

                                @Html.DisplayFor(model => model.IsControlAccount)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsReconciliationAccount)<br></strong>

                                @Html.DisplayFor(model => model.IsReconciliationAccount)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.PostAutomaticallyOnly)<br></strong>

                                @Html.DisplayFor(model => model.PostAutomaticallyOnly)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.IsLocked)<br></strong>

                                @Html.DisplayFor(model => model.IsLocked)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CreatedDate)<br></strong>

                                @Html.DisplayFor(model => model.CreatedDate)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CreatedBy)<br></strong>

                                @Html.DisplayFor(model => model.CreatedBy)<br>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "ChartOfAccount", new { id = Model.Id, Area = "Accounts" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "ChartOfAccount", new { Area = "Accounts" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>