@model Application.MainBoundedContext.DTO.AccountsModule.RecurringBatchDTO
@{
    var QueuePriority = ViewBag.QueuePriorityTypeSelectList as List<SelectListItem>;
    var chargeTypes = ViewBag.ChargeTypeSelectList as List<SelectListItem>;
    var Months = ViewBag.MonthsSelectList as List<SelectListItem>;
    var ChargeType = ViewBag.ChargeTypeSelectList as List<SelectListItem>;
    var ConcessionType = ViewBag.ConcessionTypeSelectList as List<SelectListItem>;

    ViewBag.Title = "SavingsDynamicFees";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Savings Dynamic Fees</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-whit">
                    @using (Html.BeginForm("Create", "SavingsDynamicFees", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div style="border: 2px solid cadetblue; padding: 20px; border-radius: 10px; background-color: white;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg" style="color:cadetblue">
                                            @Html.LabelFor(model => model.PostingPeriodId, htmlAttributes: new { @class = "control-label" })
                                            @Html.HiddenFor(model => model.PostingPeriodId)
                                            @Html.ValidationMessageFor(model => model.PostingPeriodId, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.PostingPeriodDescription, new { htmlAttributes = new { @class = "PostingPeriodsLookup form-control required ", placeholder = "posting period Name" } })
                                        </div>

                                        <div class="form-group form-group-lg" style="color:cadetblue">
                                            @Html.LabelFor(model => model.MonthDescription, new { @class = "control-label" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.Month, Months, new { @class = "form-control input-md" })
                                                @Html.ValidationMessageFor(model => model.Month)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg" style="color:cadetblue">
                                            @Html.LabelFor(model => model.Priority, new { @class = "control-label" })
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                                @Html.DropDownListFor(model => model.Priority, QueuePriority, new { @class = "form-control input-md vibrant-color-input" })
                                                @Html.ValidationMessageFor(model => model.Priority)
                                            </div>
                                        </div>
                                        <div class="form-group form-group-lg" style="color:cadetblue">
                                            @Html.CheckBoxFor(model => model.EnforceMonthValueDate, htmlAttributes: new { @class = "" })
                                            @Html.LabelFor(model => model.EnforceMonthValueDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "EnforceMonthValueDate?" } })
                                            @Html.ValidationMessageFor(model => model.EnforceMonthValueDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group form-group-sm">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="button" value="Create" class="btn btn-primary" id="createButton" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="ibox-content">
                                <div class="ibox-content">
                                    <div class="sk-spinner sk-spinner-double-bounce">
                                        <div class="sk-double-bounce1"></div>
                                        <div class="sk-double-bounce2"></div>
                                    </div>

                                    <div class="table-responsive">
                                        <input type="checkbox" id="headerCheckbox" style="transform: scale(1); color: blue;">
                                        <label for="headerCheckbox" style="font-weight: bold; color: blue;">Toggle</label>

                                        <table id="savingsProductsGrid" class="table table-striped table-bordered table-hover" width="100%">

                                            <tbody>

                                                <tr>
                                                    <td colspan="7" class="dataTables_empty">
                                                        Loading data from server
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>



                            <style>
                                .vibrant-color-input::placeholder {
                                    color: #FF5733; /* Adjust the color code to your preferred vibrant color */
                                }

                                .vibrant-color-input {
                                    color: cadetblue; /* Adjust the color code to your preferred vibrant color */
                                }
                            </style>



                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script type="text/javascript">
        // Function to save the state of the header checkbox to local storage
        function saveCheckboxState(key, state) {
            // Implementation for saving checkbox state goes here
        }

        // Function to load the state of the header checkbox from local storage
        function loadCheckboxState(key) {
            // Implementation for loading checkbox state goes here
        }

        $(document).ready(function () {
            // Event listener for header checkbox
            $('#headerCheckbox').on('change', function () {
                // Check or uncheck all row checkboxes based on the header checkbox state
                $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function () {
                    var checkboxKey = $(this).attr('id');
                    // Save the state of the checkbox to local storage
                    saveCheckboxState(checkboxKey, $(this).prop('checked'));
                });
                // Save the state of the header checkbox to local storage
                saveCheckboxState('headerCheckbox', $(this).prop('checked'));
            });

            // Event listener for individual row checkboxes
            $('#savingsProductsGrid').on('change', '.rowCheckbox', function () {
                // Save the state of the checkbox to local storage
                var checkboxKey = $(this).attr('id');
                saveCheckboxState(checkboxKey, $(this).prop('checked'));

                // Uncheck header checkbox if any row checkbox is unchecked
                if (!$(this).prop('checked')) {
                    $('#headerCheckbox').prop('checked', false);
                    // Save the state of the header checkbox to local storage
                    saveCheckboxState('headerCheckbox', false);
                } else
                {
                    // Check if all row checkboxes are checked and check the header checkbox accordingly
                    var allChecked = $('.rowCheckbox:checked').length === $('.rowCheckbox').length;
                    $('#headerCheckbox').prop('checked', allChecked);
                    // Save the state of the header checkbox to local storage
                    saveCheckboxState('headerCheckbox', allChecked);
                }
            });

            // Load the state of the header checkbox from local storage after the page is loaded
            $('#headerCheckbox').prop('checked', loadCheckboxState('headerCheckbox'));
        });

        // Initialize the DataTable for Savings Products
        $('#savingsProductsGrid').DataTable({
            // Ajax settings
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@(Url.Action("Index", "SavingsProduct", new { Area = "Accounts"}))",
            "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);
                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                aData.CreatedDate = dt_Created;

                var checkboxHTML = '<input type="checkbox" class="rowCheckbox" data-id="' + aData.Id + '"';
                if (aData.AutomateLedgerFeeCalculation == true) {
                    checkboxHTML += ' checked';
                }
                checkboxHTML += '>';

                $('td:eq(0)', nRow).html(checkboxHTML);

                $('td:eq(6)', nRow).html(dt_Created);

                return nRow;
            },
            // Display settings
            "aoColumns": [
                { "mDataProp": "Id", "sTitle": "Select", "visible": true },
                { "mDataProp": "Id", "sTitle": "", "visible": false },
                { "mDataProp": "Description", "sTitle": "Description" },
                { "mDataProp": "OperatingBalance", "sTitle": "OperatingBalance" },
                { "mDataProp": "MaximumAllowedWithdrawal", "sTitle": "MaximumAllowedWithdrawal" },
                { "mDataProp": "MinimumBalance", "sTitle": "MinimumBalance" },
                { "mDataProp": "AnnualPercentageYield", "sTitle": "AnnualPercentageYield" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date",  "bSortable": true }
            ],
            "aaSorting": [[0, "desc"]],
            "initComplete": function (settings, json) {
                // Load the state of the header checkbox from local storage after DataTable initialization is complete
                $('#headerCheckbox').prop('checked', loadCheckboxState('headerCheckbox'));
            }
        });

        // Place the header checkbox anywhere on the grid
        $('#savingsProductsGrid .dataTables_scroll').prepend('<div><input type="checkbox" id="headerCheckbox"> Select $ Deselect All</div>');

        // Event listener for header checkbox
        $('#headerCheckbox').on('change', function () {
            // Check or uncheck all row checkboxes based on the header checkbox state
            $('.rowCheckbox').prop('checked', $(this).prop('checked')).each(function () {
                var checkboxKey = $(this).attr('id');
                // Save the state of the checkbox to local storage
                saveCheckboxState(checkboxKey, $(this).prop('checked'));
            });
            // Save the state of the header checkbox to local storage
            saveCheckboxState('headerCheckbox', $(this).prop('checked'));
        });

        // Event listener for individual row checkboxes
        $('#savingsProductsGrid').on('change', '.rowCheckbox', function () {
            // Save the state of the checkbox to local storage
            var checkboxKey = $(this).attr('id');
            saveCheckboxState(checkboxKey, $(this).prop('checked'));

            // Uncheck header checkbox if any row checkbox is unchecked
            if (!$(this).prop('checked')) {
                $('#headerCheckbox').prop('checked', false);
                // Save the state of the header checkbox to local storage
                saveCheckboxState('headerCheckbox', false);
            }
        });

        //PostingPeriod typehead starts here
        $('.PostingPeriodsLookup').typeahead({
            source: function (query, process) {
                return $.getJSON(
                    '@Url.Action("GetPostingPeriodsAsync", "PostingPeriod", new { Area = "Accounts" })',
                    { query: query },
                    function (PostingPeriods) {
                        var newPostingPeriodsData = [];
                        PostingPeriodsMap = {};
                        $.each(PostingPeriods, function (i, PostingPeriod) {
                            newPostingPeriodsData.push(PostingPeriod.Description);
                            PostingPeriodsMap[PostingPeriod.Description] = PostingPeriod;
                        });
                        process(newPostingPeriodsData); return;
                    });
            },
            matcher: function (item) {
                if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                    return true;
                }
            },
            sorter: function (items) {
                return items.sort();
            },
            highlighter: function (item) {
                var regex = new RegExp('(' + this.query + ')', 'gi');
                return item.replace(regex, "<strong>$1</strong>");
            },
            updater: function (item) {
                var postingPeriodId = "";
                PostingPeriodId = PostingPeriodsMap[item].Id;
                $('#PostingPeriodId').val(PostingPeriodId);
                //console.log(PostingPeriodId)
                return item;
            }
        });
        $('#createButton').click(function () {
            var selectedRowsData = [];
            $('.rowCheckbox:checked').each(function () {
                var rowData = {
                    Id: $(this).data('id'),
                    // Add other properties you want to include
                };
                selectedRowsData.push(rowData);
            });

            // Send the selected rows data to the backend using AJAX
            $.ajax({
                url: '/Accounts/SavingsDynamicFees/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedRowsData),
                success: function (response) {
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    // Handle error response
                }
            });
        });



        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
    </script>
}
