@model Application.MainBoundedContext.DTO.RegistryModule.AssetRegisterBindingModel

@{ ViewBag.Title = "Create"; }

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Asset Register</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "AssetRegister", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-secondary text-info">
                    @using (Html.BeginForm("Create", "AssetRegister", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">
                                            <div class="col-lg-6 col-md-offset-2 col-md-10">

                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ItemCategoryId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.HiddenFor(model => model.ItemCategoryId)
                                                    @Html.ValidationMessageFor(model => model.ItemCategoryId, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(model => model.ItemCategoryFullDescription, new { htmlAttributes = new { @class = "ItemCategorysLookup form-control required", placeholder = "Category.." } })
                                                </div>

                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.TagNumber, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.TagNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.TagNumber, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group form-group-lg">
                                                    <input type="submit" value="Create" class="btn btn-primary" />
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.ModelDescription, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ModelDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ModelDescription, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group form-group-lg">
                                                    @Html.LabelFor(model => model.IsLocked, htmlAttributes: new { @class = "control-label" })
                                                    <div class="checkbox">
                                                        @Html.EditorFor(model => model.IsLocked)
                                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")

    <script>
        $(document).ready(function () {

            //ItemCategory typehead starts here
            $('.ItemCategorysLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetItemCategoriesAsync", "AssetRegister", new { Area = "Registry" })',
                        { query: query },
                        function (ItemCategorys) {
                            var newItemCategorysData = [];
                            ItemCategorysMap = {};
                            $.each(ItemCategorys, function (i, ItemCategory) {
                                newItemCategorysData.push(ItemCategory.Description);
                                ItemCategorysMap[ItemCategory.Description] = ItemCategory;
                            });
                            process(newItemCategorysData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ItemCategoryId = "";
                    ItemCategoryId = ItemCategorysMap[item].Id;
                    $('#ItemCategoryId').val(ItemCategoryId);
                    //console.log(ItemCategoryId)
                    return item;
                }
            });

             //ItemCategory typehead starts here
            $('.ItemSubCategoryLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetItemSubCategoriesAsync", "AssetRegister", new { Area = "Registry" })',
                        { query: query },
                        function (ItemCategorys) {
                            var newItemCategorysData = [];
                            ItemCategorysMap = {};
                            $.each(ItemCategorys, function (i, ItemCategory) {
                                newItemCategorysData.push(ItemCategory.Description);
                                ItemCategorysMap[ItemCategory.Description] = ItemCategory;
                            });
                            process(newItemCategorysData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var ItemSubCategoryId = "";
                    ItemSubCategoryId = ItemCategorysMap[item].Id;
                    $('#ItemSubCategoryId').val(ItemSubCategoryId);
                    //console.log(ItemCategoryId)
                    return item;
                }
            });

              //UnitOfMeasure typehead starts here
            $('.UnitOfMeasureLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetUnitOfMeasuresAsync", "UnitOfMeasure", new { Area = "Registry" })',
                        { query: query },
                        function (UnitOfMeasures) {
                            var newUnitOfMeasuresData = [];
                            UnitOfMeasuresMap = {};
                            $.each(UnitOfMeasures, function (i, UnitOfMeasure) {
                                newUnitOfMeasuresData.push(UnitOfMeasure.Description);
                                UnitOfMeasuresMap[UnitOfMeasure.Description] = UnitOfMeasure;
                            });
                            process(newUnitOfMeasuresData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var UnitOfMeasureId = "";
                    UnitOfMeasureId = UnitOfMeasuresMap[item].Id;
                    $('#UnitOfMeasureId').val(UnitOfMeasureId);
                    //console.log(UnitOfMeasureId)
                    return item;
                }
            });

               //AssetChartOfAccount typehead starts here
            $('.AssetChartOfAccountLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var AssetChartOfAccountId = "";
                    AssetChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#AssetChartOfAccountId').val(AssetChartOfAccountId);
                    //console.log(AssetChartOfAccountId)
                    return item;
                }
            });

             //CostOfGoodsSoldChartOfAccount typehead starts here
            $('.CostOfGoodsSoldChartOfAccountLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CostOfGoodsSoldChartOfAccountId = "";
                    CostOfGoodsSoldChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#CostOfGoodsSoldChartOfAccountId').val(CostOfGoodsSoldChartOfAccountId);
                    //console.log(CostOfGoodsSoldChartOfAccountId)
                    return item;
                }
            });

             //IncomeChartOfAccount typehead starts here
            $('.IncomeChartOfAccountLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetChartOfAccountsAsync", "ChartOfAccount", new { Area = "Accounts" })',
                        { query: query },
                        function (ChartOfAccounts) {
                            var newChartOfAccountsData = [];
                            ChartOfAccountsMap = {};
                            $.each(ChartOfAccounts, function (i, ChartOfAccount) {
                                newChartOfAccountsData.push(ChartOfAccount.AccountName);
                                ChartOfAccountsMap[ChartOfAccount.AccountName] = ChartOfAccount;
                            });
                            process(newChartOfAccountsData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var IncomeChartOfAccountId = "";
                    IncomeChartOfAccountId = ChartOfAccountsMap[item].Id;
                    $('#IncomeChartOfAccountId').val(IncomeChartOfAccountId);
                    //console.log(IncomeChartOfAccountId)
                    return item;
                }
            });

             //Levy typehead starts here
            $('.LevyLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetLeviesAsync", "Levy", new { Area = "Accounts" })',
                        { query: query },
                        function (Levys) {
                            var newLevysData = [];
                            LevysMap = {};
                            $.each(Levys, function (i, Levy) {
                                newLevysData.push(Levy.Description);
                                LevysMap[Levy.Description] = Levy;
                            });
                            process(newLevysData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var LevyId = "";
                    LevyId = LevysMap[item].Id;
                    $('#LevyId').val(LevyId);
                    //console.log(LevyId)
                    return item;
                }
            });
        });

    </script>
}