
@{
    ViewBag.Title = "Micro-Credit Groups";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>MicroCredit</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Micro-Credit Groups</h2>

                    @if (TempData["create"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success !</strong> @TempData["create"]
                        </div>
                    }
                    <hr />
                    @Html.ActionLink("Create", "Create", "Apportionment", new { Area = "MicroCredit" }, new { @class = "btn btn-primary" })
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="microCreditGroupsGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/Content/plugins/jqueryValidationStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/jquery")
    @Scripts.Render("~/plugins/jqueryValidate")
    @Scripts.Render("~/plugins/jqueryValidateUnobtrusive")


    <script type="text/javascript">

        $(document).ready(function () {
            $('#microCreditGroupsGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "MicroCreditGroups", new { Area = "MicroCredit"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var dropdownHtml = `
                        <div class="dropdown">
                            <button style="width: 150px;" class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/MicroCredit/MicroCreditGroups/details/${aData.Id}">View</a>
                                <a class="dropdown-item" href="/MicroCredit/MicroCreditGroups/edit/${aData.Id}">Edit</a>
                            </div>
                        </div>`;

                    $('td:eq(13)', nRow).html(dt_Created);
                    $('td:eq(14)', nRow).html(dropdownHtml);

                    return nRow;
                },
                // Display settings
                "aoColumns": [
                    { "mDataProp": "CustomerNonIndividualDescription", "sTitle": "Name", "sWidth": "10%" },
                    { "mDataProp": "CustomerStationDescription", "sTitle": "Station", "sWidth": "15%" },
                    { "mDataProp": "TypeDescription", "sTitle": "Type", "sWidth": "15%" },
                    { "mDataProp": "Purpose", "sTitle": "Purpose", "sWidth": "10%" },
                    { "mDataProp": "Activities", "sTitle": "Activities", "sWidth": "15%" },
                    { "mDataProp": "MeetingFrequencyDescription", "sTitle": "Meeting Frequency", "sWidth": "10%" },
                    { "mDataProp": "MeetingDayOfWeekDescription", "sTitle": "Meeting Day Of Week", "sWidth": "10%" },
                    { "mDataProp": "MeetingPlace", "sTitle": "Meeting Place", "sWidth": "10%" },
                    { "mDataProp": "MinimumMembers", "sTitle": "Minimum Members", "sWidth": "10%" },
                    { "mDataProp": "MaximumMembers", "sTitle": "Maximum Members", "sWidth": "10%" },
                    { "mDataProp": "Remarks", "sTitle": "Remarks", "sWidth": "10%" },
                    { "mDataProp": "MicroCreditOfficerEmployeeCustomerFullName", "sTitle": "Credit Officer", "sWidth": "10%" },
                    { "mDataProp": "CustomerNonIndividualRegistrationNumber", "sTitle": "Registration Number", "sWidth": "10%" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%"},
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
                "aaSorting": [[0, "desc"]]
        });
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>

}


