@model Application.MainBoundedContext.DTO.AccountsModule.PostingPeriodDTO

@{
    ViewBag.Title = "Posting Period";
}
<div class="row wrapper border-bottom bg-muted page-heading">
    <div class="col-lg-10">
        <h2>Posting Periods</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "PostingPeriod", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "PostingPeriod", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h2>Posting Period</h2>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Posting Period name.", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group-lg" id="data_5">
                                        @Html.LabelFor(model => model.DurationStartDate, htmlAttributes: new { @class = "" })
                                        <div class="input-daterange input-group" id="datepicker">
                                            <span class="input-group-addon">Start Date</span>
                                            @Html.TextBox("startDate", DateTime.Today.AddDays(-30).ToString("dd/MM/yyyy"), new { @class = "form-control-lg form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-group-lg" id="data_5">
                                        @Html.LabelFor(model => model.DurationEndDate, htmlAttributes: new { @class = "" })
                                        <div class="input-daterange input-group" id="datepicker">
                                            <span class="input-group-addon">End Date</span>
                                            @Html.TextBox("endDate", DateTime.Today.ToString("dd/MM/yyyy"), new { @class = "form-control-lg form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-md-offset-2">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </fieldset>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
