@model  Application.MainBoundedContext.DTO.BackOfficeModule.LoanGuarantorAttachmentHistoryDTO
@{
    ViewBag.Title = "Register Loan";
}

<style>
    #GuarantorsdataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #GuarantorsdataTable, th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        transition: background 0.3s, transform 0.3s;
    }

    #GuarantorsdataTable, th {
        background: linear-gradient(to bottom, #4a90e2, #003366);
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #GuarantorsdataTable, tr:hover td {
        background: rgba(74, 144, 226, 0.2);
        transform: translateY(-2px);
    }

    #GuarantorsdataTable, td {
        background: #f9f9f9;
        color: #333;
    }

    #GuarantorsdataTable, tr:nth-child(even) td {
        background: #f2f2f2;
    }

    #GuarantorsdataTable, tr:nth-child(odd) td {
        background: #ffffff;
    }

    #GuarantorsdataTable, tr:last-child td {
        border-bottom: none;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Back Office</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "LoanRegistration", new { Area = "Loaning" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Guarantor Relieving</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white">
                    @using (Html.BeginForm("Create", "GuarantorRelieving", new { Area = "Loaning" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="table-container">
                            <h3 style="font-size: 1.9rem; text-align: center;">Guarantors</h3>
                            <div id="noDataStandingOrdersMessage" class="no-dataStandingOrders-message mt-2">No Data Available!.</div>
                            <table id="GuarantorsdataTable" class="footable table table-striped toggle-arrow-tiny grey-table">
                                <thead>
                                    <tr>
                                        <th>Trigger</th>
                                        <th>Beneficiary Product Name</th>
                                        <th>Loan Amount</th>
                                        <th>Payment Per Period</th>
                                        <th>Principal</th>
                                        <th>Interest</th>
                                        <th>Charge Type</th>
                                        <th>Fixed Amount</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")

    <link href="~/Scripts/css/ViewbagTable.css" rel="stylesheet" />

}