@model IEnumerable<Application.MainBoundedContext.DTO.HumanResourcesModule.PaySlipDTO>

@{
    ViewBag.Title = "Salary PayRoll";
}

<h2>Salary PayRoll</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Card Number</th>
            <th>Posting Period</th>
            <th>Month</th>
            <th>Status</th>
            <th>Nationality</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Salary Group</th>
            <th>Net Pay</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payslip in Model)
        {
            <tr>
                <td>@payslip.PaddedSalaryCardCardNumber</td>
                <td>@payslip.SalaryPeriodPostingPeriodDescription</td>
                <td>@payslip.SalaryPeriodMonthDescription</td>
                <td>@payslip.SalaryPeriodStatusDescription</td>
                <td>@payslip.SalaryCardEmployeeCustomerIndividualNationalityDescription</td>
                <td>@payslip.SalaryCardEmployeeCustomerFullName</td>
                <td>@payslip.SalaryCardEmployeeCustomerAddressEmail</td>
                <td>@payslip.SalaryCardEmployeeCustomerAddressMobileLine</td>
                <td>@payslip.SalaryCardSalaryGroupDescription</td>
                <td>@payslip.NetPay.ToString("N2")</td>
                <td>
                    <a href="@Url.Action("ViewPayslipEntries", "Payslips", new { payslipId = payslip.Id })" class="btn btn-primary btn-sm">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(".clickable-row").click(function () {
        var payslipId = $(this).data("payslip-id");
        loadPaySlipEntries(payslipId);
    });

    function loadPaySlipEntries(payslipId) {
        $.ajax({
            url: "@Url.Action("GetPaySlipEntries", "Payslips")",
            data: { payslipId: payslipId },
            success: function (data) {
                $("#pay-slip-entries").html(data);
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <partial name="_PaySlipEntries" model="Model.SelectMany(p => p.PaySlipEntries)" />
    </div>
</div>
