@model Application.MainBoundedContext.DTO.RegistryModule.ZoneDTO

@{
    ViewBag.Title = "View";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Zones</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Zone", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>
<style>
    .equal-btn {
        min-width: 150px; /* Ensures consistent width */
        padding: 10px 20px; /* Adjust padding for desired size */
        font-size: 16px; /* Adjust font size */
        text-align: center;
    }
</style>
<style>
    .equal-btn {
        min-width: 150px; /* Ensures consistent width */
        text-align: center;
        padding: 10px 20px; /* Adjust padding for desired size */
        font-size: 16px; /* Adjust font size */
    }
</style>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-6">
                           <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "",@disabled="disabled" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>

                           <div class="form-group form-group-lg">
                               @Html.LabelFor(model => model.DivisionDescription, htmlAttributes: new { @class = "" })
                               @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                               @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                           </div>
                           <div class="form-group form-group-lg">
                               @Html.LabelFor(model => model.DivisionEmployerDescription, htmlAttributes: new { @class = "" })
                               @Html.EditorFor(model => model.DivisionEmployerDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                               @Html.ValidationMessageFor(model => model.DivisionEmployerDescription, "", new { @class = "text-danger" })
                           </div>
                           <div class="form-group form-group-lg">
                               @Html.LabelFor(model => model.Stations[0].Description, htmlAttributes: new { @class = "" })
                               @Html.EditorFor(model => model.Stations[0].Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                               @Html.ValidationMessageFor(model => model.Stations[0].Description, "", new { @class = "text-danger" })
                           </div>
                           <div class="form-group form-group-lg">
                               @Html.LabelFor(model => model.Stations[0].AddressEmail, htmlAttributes: new { @class = "" })
                               @Html.EditorFor(model => model.Stations[0].AddressEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                               @Html.ValidationMessageFor(model => model.Stations[0].AddressEmail, "", new { @class = "text-danger" })
                           </div>
                           <div class="form-group form-group-lg">
                               @Html.LabelFor(model => model.Stations[0].ZoneDescription, htmlAttributes: new { @class = "" })
                               @Html.EditorFor(model => model.Stations[0].ZoneDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                               @Html.ValidationMessageFor(model => model.Stations[0].ZoneDescription, "", new { @class = "text-danger" })
                           </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Stations[0].AddressAddressLine1, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Stations[0].AddressAddressLine1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Stations[0].AddressAddressLine1, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Stations[0].AddressAddressLine2, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Stations[0].AddressAddressLine2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Stations[0].AddressAddressLine2, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Stations[0].AddressMobileLine, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Stations[0].AddressMobileLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Stations[0].Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Stations[0].AddressStreet, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Stations[0].AddressStreet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Stations[0].AddressStreet, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Stations[0].AddressPostalCode, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Stations[0].AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Stations[0].AddressPostalCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-group-lg">
                                @Html.LabelFor(model => model.Stations[0].CreatedDate, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Stations[0].CreatedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Station name.", @required = "", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Stations[0].CreatedDate, "", new { @class = "text-danger" })
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Edit", "Edit", "Zone", new { id = Model.Id, Area = "Registry" }, new { @class = "btn btn-success btn-lg" })
                                @Html.ActionLink("Back to List", "Index", "Zone", new { Area = "Registry" }, new { @class = "btn btn-success btn-lg" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>