@model  Application.MainBoundedContext.DTO.AccountsModule.CommissionDTO

@{
    /**/

    ViewBag.Title = "Create Charge";

}

<style>
    /* Resetting default margins/padding */
    body, ul {
        margin: 0;
        padding: 0;
    }

    /* Style for tabs */
    .tabs {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #f2f2f2;
        display: flex;
        border-bottom: 2px solid #ccc;
    }

    .tab {
        flex-grow: 1;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

        .tab.active {
            background-color: darkgrey;
            color: #fff; /* Change text color when active */
            border-bottom: 2px solid #333;
        }

    /* Style for tab content */
    .tab-content {
        display: none;
        padding: 20px;
        border-top: 2px solid #ccc;
    }

        .tab-content.active {
            display: block;
        }


    /*data table*/
    /*body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;*/
    /*background-color: #f4f4f4;*/
    /*}

    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333;
    }*/

    #example {
        width: 100%;
        border-collapse: collapse;
    }

        #example th,
        #example td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        #example th {
            background-color: #f2f2f2;
        }

        #example tbody tr:hover {
            background-color: #f5f5f5;
        }

    /*data table*/

    .vertical-lines-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch; /* Make sure both lines are the same height */
        width: 100%; /* Make the container full width */
        height: 50vh; /* Adjust as needed */
    }

    .vertical-line {
        width: 2px; /* Adjust width as needed */
        background-color: #333; /* Adjust color as needed */
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1>Accounts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Charge", new { Area = "Accounts" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Create Charge</h2>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>Failed !</strong> @TempData["Error"]

                            <button type="button" class="close" data-dismiss="alert">
                                <span>
                                    &times;
                                </span>
                            </button>
                        </div>
                    }

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content bg-white text-info">
                    @using (Html.BeginForm("Create", "Charge", new { Area = "Accounts" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="tabs">
                            <li class="tab active" onclick="showTab('tab1')">Charge Splitting</li>
                            <li class="tab" onclick="showTab('tab2')">Tiers</li>
                            <li class="tab" onclick="showTab('tab3')">Levies</li>
                        </ul>


                        <div id="tab1" class="tab-content active">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.MaximumCharge, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.MaximumCharge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kshs.0.00" } })
                                            @Html.ValidationMessageFor(model => model.MaximumCharge, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <hr />

                            <br />

                            <fieldset>
                                <legend>Charge Details</legend>
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(model => model.CommissionSplit.ChartOfAccountName, new { @class = "control-label" })
                                        <div class="input-group" data-autoclose="true">
                                            @Html.TextBoxFor(model => model.CommissionSplit.ChartOfAccountId, new { @class = "form-control input-md alpha alphaspace required", @readonly = "readonly", @placeholder = "Link G/L Account..." })
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#companyLookupModal"><span class="fa fa-search"></span></a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Charge name" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group form-group-lg">
                                            @Html.LabelFor(model => model.CommissionSplit.Percentage, htmlAttributes: new { @class = "" })
                                            @Html.EditorFor(model => model.CommissionSplit.Percentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Percentage" } })
                                            @Html.ValidationMessageFor(model => model.CommissionSplit.Percentage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:skyblue; border-radius:5px; height:50px; align-items:center;">
                                    <div class="col-lg-4">
                                        @*Nothing here...*@
                                    </div>

                                    <div class="col-lg-4">
                                        @*Nothing here...*@
                                    </div>

                                    <div class="col-lg-2" style="color:white;">
                                        @Html.CheckBoxFor(model => model.Leviable, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.Leviable, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.Leviable, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-lg-2">
                                        <input type="submit" value="Add" class="btn btn-primary" />
                                    </div>
                                </div>

                                <br />
                                <center><h3>Charge Splitting</h3></center>
                                <div class="vertical-lines-container">
                                    <div class="vertical-line"></div>

                                    <br />
                                    <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>G/L Account Name</th>
                                                <th>G/L Account Cost center</th>
                                                <th>Name</th>
                                                <th>Percentage</th>
                                                <th>Leviable?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Column1</td>
                                                        <td>@item.Column2</td>
                                                        <td>@item.Column3</td>
                                                        <td>@item.Column4</td>
                                                        <td>@item.Column5</td>
                                                    </tr>
                                                }*@
                                        </tbody>
                                    </table>

                                    <div class="vertical-line"></div>
                                </div>
                                <hr />

                                <div class="row" style="align-items:center;">
                                    <div class="col-lg-2">
                                        <input type="submit" value="Remove Selected" class="btn btn-outline-danger" />
                                    </div>

                                    <div class="col-lg-6">

                                    </div>

                                    <div class="col-lg-2">
                                        @Html.CheckBoxFor(model => model.IsLocked, htmlAttributes: new { @class = "" })
                                        @Html.LabelFor(model => model.IsLocked, new { htmlAttributes = new { @class = "form-control", @placeholder = "Is Locked?" } })
                                        @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-lg-2">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>

                                </div>

                            </fieldset>
                        </div>


                        <div id="tab2" class="tab-content">
                            Content for Tab 2
                        </div>


                        <div id="tab3" class="tab-content">
                            Content for Tab 3
                        </div>

                        <div class="modal  fade" id="companyLookupModal" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h3 class="font-bold">G/L Account Lookup<button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button></h3>
                                    </div>
                                    <table id="companiesGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td class="dataTables_empty">
                                                    Loading data from server
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/typehead")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script>
 $(document).ready(function () {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {

                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

            $('#companiesGrid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Index", "ChartOfAccount", new { Area = "Accounts" }))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                   var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var selectUrl = '<a  href="/accounts/charge/create/' + aData.Id + '" class = "btn btn-outline-info"">' + 'Select</a>';

                    $('td:eq(3)', nRow).html(dt_Created);
                    $('td:eq(4)', nRow).html(selectUrl);

                    return nRow;
                },
        // Display settings
        "aoColumns": [
            { "mDataProp": "FullName", "sTitle": "Name", "sWidth": "20%" },
            { "mDataProp": "Reference1", "sTitle": "Account Number", "sWidth": "15%" },
            { "mDataProp": "Reference2", "sTitle": "Membership  Number", "sWidth": "4%" },
            { "mDataProp": "CreatedDate", "sTitle": "Created Date", "sWidth": "10%" },
            { "mDataProp": "CreatedDate", "sTitle": "Action", "sWidth": "10%", "bSortable": false }],
        "aaSorting": [[0, "desc"]]
    });

    $("#s tbody").on("click", "tr", function () {
        var data = companiesGrid.row(this).data();

        $('#CustomerId').val(data.Id);
        $('input[name=CustomerId]').val(data.Id);
        $('input[name=CustomerFullName]').val(data.FullName);
        //$('input[name=ChartOfAccountAccountCode]').val(data.AccountCode);
        $('#CustomerStationZoneDivisionEmployerDescription').val(CustomersMap[item].StationZoneDivisionEmployerDescription);
        $('#CustomerStationDescription').val(CustomersMap[item].StationDescription);
        $('#CustomerSerialNumber').val(CustomersMap[item].SerialNumber);


        $('#CustomerIndividualIdentityCardNumber').val(CustomersMap[item].IndividualIdentityCardNumber);
        $('#CustomerIndividualPayrollNumbers').val(CustomersMap[item].IndividualPayrollNumbers);
        $('#CompaniesLookup').modal('hide');
    });


            //Company typehead starts here
            $('.CompaniesLookup').typeahead({
                source: function (query, process) {
                    return $.getJSON(
                        '@Url.Action("GetCompaniesAsync", "Customer", new { Area = "Registry" })',
                        { query: query },
                        function (Companies) {
                            var newCompaniesData = [];
                            CompaniesMap = {};
                            $.each(Companies, function (i, Company) {
                                newCompaniesData.push(Company.Description);
                                CompaniesMap[Company.Description] = Company;
                            });
                            process(newCompaniesData); return;
                        });
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                sorter: function (items) {
                    return items.sort();
                },
                highlighter: function (item) {
                    var regex = new RegExp('(' + this.query + ')', 'gi');
                    return item.replace(regex, "<strong>$1</strong>");
                },
                updater: function (item) {
                    var CompanyId = "";
                    CompanyId = CompaniesMap[item].Id;
                    $('#CompanyId').val(CompanyId);

                    return item;
                }
            });
    </script>



    <script>
        function showTab(tabId) {
            // Hide all tab contents
            var tabContents = document.querySelectorAll('.tab-content');
            tabContents.forEach(function (content) {
                content.classList.remove('active');
            });

            // Show the selected tab content
            document.getElementById(tabId).classList.add('active');

            // Remove 'active' class from all tabs
            var tabs = document.querySelectorAll('.tab');
            tabs.forEach(function (tab) {
                tab.classList.remove('active');
            });

            // Add 'active' class to the clicked tab
            document.querySelector('.tabs [onclick="showTab(\'' + tabId + '\')"]').classList.add('active');
        }
    </script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollY": "400px", // Adjust the height as needed
                "scrollCollapse": true,
                "paging": true
            });
        });
    </script>



}
