@model Application.MainBoundedContext.DTO.RegistryModule.WithdrawalNotificationDTO

@{
    ViewBag.Title = "View";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customers</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Customer", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-info">
                    <div class="row">
                        <div class="col-lg-4">

                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerId)<br></strong>

                                @Html.DisplayFor(model => model.CustomerId)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerStationZoneDivisionEmployerDescription)<br></strong>

                                @Html.DisplayFor(model => model.CustomerStationZoneDivisionEmployerDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerStationDescription)<br></strong>

                                @Html.DisplayFor(model => model.CustomerStationDescription)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Category)<br></strong>

                                @Html.DisplayFor(model => model.Category)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerSerialNumber)<br></strong>

                                @Html.DisplayFor(model => model.CustomerSerialNumber)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerIndividualIdentityCardNumber)<br></strong>

                                @Html.DisplayFor(model => model.CustomerIndividualIdentityCardNumber)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.CustomerIndividualPayrollNumbers)<br></strong>

                                @Html.DisplayFor(model => model.CustomerIndividualPayrollNumbers)<br>
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Remarks)<br></strong>

                                @Html.DisplayFor(model => model.Remarks)<br>
                            </p>

                        </div>
                           
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                @Html.ActionLink("Edit", "Edit", "Customer", new { id = Model.Id, Area = "Registry" }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Back to List", "Index", "Customer", new { Area = "Registry" }, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
